/**
 * @file
 * Mime Mail Styling
 */


/* Client-specific Styles */
#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */

/* Reset Styles */
body{margin:0; padding:0;}
img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
table td{border-collapse:collapse;}
#backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}

/* Template Styles */

/* STANDARD STYLING: COMMON PAGE ELEMENTS  */

/**
* @tab Page
* @section email border
* @tip Set the border for your email.
*/
#templateContainer{
  border:0;
}

/**
* @tab Page
* @section heading 1
* @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
* @style heading 1
*/
h1, .h1{
  color:#202020;
  display:block;
  font-family:sans-serif;
  font-size:40px;
  font-weight:bold;
  line-height:100%;
  margin-top:2%;
  margin-right:0;
  margin-bottom:1%;
  margin-left:0;
  text-align:left;
}

/**
* @tab Page
* @section heading 2
* @tip Set the styling for all second-level headings in your emails.
* @style heading 2
*/
h2, .h2{
  color:#404040;
  display:block;
  font-family:sans-serif;
  font-size:18px;
  font-weight:bold;
  line-height:100%;
  margin-top:2%;
  margin-right:0;
  margin-bottom:1%;
  margin-left:0;
  text-align:left;
}

/**
* @tab Page
* @section heading 3
* @tip Set the styling for all third-level headings in your emails.
* @style heading 3
*/
h3, .h3{
  color:#606060;
  display:block;
  font-family:sans-serif;
  font-size:16px;
  font-weight:bold;
  line-height:100%;
  margin-top:2%;
  margin-right:0;
  margin-bottom:1%;
  margin-left:0;
  text-align:left;
}

/**
* @tab Page
* @section heading 4
* @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
* @style heading 4
*/
h4, .h4{
  color:#808080;
  display:block;
  font-family:sans-serif;
  font-size:14px;
  font-weight:bold;
  line-height:100%;
  margin-top:2%;
  margin-right:0;
  margin-bottom:1%;
  margin-left:0;
  text-align:left;
}

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: PREHEADER /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Header
* @section preheader style
* @tip Set the background color for your email's preheader area.
* @theme page
*/
#templatePreheader{
  background-color:#FFFFFF;
}

/**
* @tab Header
* @section preheader text
* @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
*/
.preheaderContent div{
  color:#707070;
  font-family:sans-serif;
  font-size:10px;
  line-height:100%;
  text-align:left;
}

/**
* @tab Header
* @section preheader link
* @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
*/
.preheaderContent div a:link, .preheaderContent div a:visited, /* Yahoo! Mail Override */ .preheaderContent div a .yshortcuts /* Yahoo! Mail Override */{
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
}

/**
* @tab Header
* @section social bar style
* @tip Set the background color and border for your email's footer social bar.
*/
#social div{
  text-align:right;
}

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: HEADER /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Header
* @section header style
* @tip Set the background color and border for your email's header area.
* @theme header
*/
#templateHeader{
  background-color:#FFFFFF;
  border-bottom:5px solid #CCCCCC;
}

/**
* @tab Header
* @section header text
* @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
*/
.headerContent{
  color:#202020;
  font-family:sans-serif;
  font-size:34px;
  font-weight:bold;
  line-height:100%;
  padding:10px;
  text-align:right;
  vertical-align:middle;
}

/**
* @tab Header
* @section header link
* @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
*/
.headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
}

#headerImage{
  height:auto;
  max-width:600px !important;
}

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: MAIN BODY /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Body
* @section body style
* @tip Set the background color for your email's body area.
*/
#templateContainer, .bodyContent{
  background-color:#FDFDFD;
}

/**
* @tab Body
* @section body text
* @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
* @theme main
*/
.bodyContent div{
  color:#505050;
  font-family:sans-serif;
  font-size:10pt;
  line-height:150%;
  text-align:justify;
}

/**
* @tab Body
* @section body link
* @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
*/
.bodyContent div a:link, .bodyContent div a:visited, /* Yahoo! Mail Override */ .bodyContent div a .yshortcuts /* Yahoo! Mail Override */{
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
}

.bodyContent img{
  display:inline;
  height:auto;
}

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: SIDEBAR /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Sidebar
* @section sidebar style
* @tip Set the background color and border for your email's sidebar area.
*/
#templateSidebar{
  background-color:#FDFDFD;
}

/**
* @tab Sidebar
* @section sidebar style
* @tip Set the background color and border for your email's sidebar area.
*/
.sidebarContent{
  border-right:1px solid #DDDDDD;
}

/**
* @tab Sidebar
* @section sidebar text
* @tip Set the styling for your email's sidebar text. Choose a size and color that is easy to read.
*/
.sidebarContent div{
  color:#505050;
  font-family:sans-serif;
  font-size:10px;
  line-height:150%;
  text-align:left;
}

/**
* @tab Sidebar
* @section sidebar link
* @tip Set the styling for your email's sidebar links. Choose a color that helps them stand out from your text.
*/
.sidebarContent div a:link, .sidebarContent div a:visited, /* Yahoo! Mail Override */ .sidebarContent div a .yshortcuts /* Yahoo! Mail Override */{
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
}

.sidebarContent img{
  display:inline;
  height:auto;
}

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: FOOTER /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Footer
* @section footer style
* @tip Set the background color and top border for your email's footer area.
* @theme footer
*/
#templateFooter{
  background-color:#FAFAFA;
  border-top:3px solid #CCCCCC;
}

/**
* @tab Footer
* @section footer text
* @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
* @theme footer
*/
.footerContent div{
  color:#707070;
  font-family:sans-serif;
  font-size:11px;
  line-height:125%;
  text-align:left;
}

/**
* @tab Footer
* @section footer link
* @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
*/
.footerContent div a:link, .footerContent div a:visited, /* Yahoo! Mail Override */ .footerContent div a .yshortcuts /* Yahoo! Mail Override */{
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
}

.footerContent img{
  display:inline;
}

/**
* @tab Footer
* @section social bar style
* @tip Set the background color and border for your email's footer social bar.
* @theme footer
*/
#social{
  background-color:#FFFFFF;
  border:0;
}

/**
* @tab Footer
* @section social bar style
* @tip Set the background color and border for your email's footer social bar.
*/
#social div{
  text-align:left;
}

/**
* @tab Footer
* @section utility bar style
* @tip Set the background color and border for your email's footer utility bar.
* @theme footer
*/
#utility{
  background-color:#FAFAFA;
  border-top:0;
}

/**
* @tab Footer
* @section utility bar style
* @tip Set the background color and border for your email's footer utility bar.
*/
#utility div{
  text-align:left;
}

#monkeyRewards img{
  max-width:170px !important;
}

table.avisos td {
  padding: 5px;
}