@import url(http://fonts.googleapis.com/css?family=Roboto);

h3 {
  color: #323943;
  font-size: 25px;
  font-weight: normal;
  margin: 15px 0;
}

/* NODE TEASER para ADMINISTRAR MIS AVISOS*/
.CD .Espacio-1009 .foto, .CT .Espacio-1009 .foto, .CD .Espacio-308834 .foto, .CT .Espacio-308834 .foto,
.CD .Espacio-2497001 .foto, .CT .Espacio-2497001 .foto,
.CD .Espacio-2497002 .foto, .CT .Espacio-2497002 .foto,
.CD .Espacio-2497003 .foto, .CT .Espacio-2497003 .foto,
.CD .Espacio-2497004 .foto, .CT .Espacio-2497004 .foto
{position:relative; min-width: 120px; min-height: 90px;}
.CT .BoxResultado .Right .avatar {display: none;}
.CT .ListadoAdministrador .AvisoItem .NodeTeaser {width: 594px; height: 130px;}
.CT .ListadoAdministrador .AvisoItem .Espacio-1009, .CT .ListadoAdministrador .AvisoItem .Espacio-308834,
.CT .ListadoAdministrador .AvisoItem .Espacio-2497001, .CT .ListadoAdministrador .AvisoItem .Espacio-2497002,
.CT .ListadoAdministrador .AvisoItem .Espacio-2497003, .CT .ListadoAdministrador .AvisoItem .Espacio-2497004
{ min-height: 100px;}
.CT .ListadoAdministrador .AvisoItem .Espacio-2497001, .CT .ListadoAdministrador .AvisoItem .Espacio-2497002,
.CT .ListadoAdministrador .AvisoItem .Espacio-2497003, .CT .ListadoAdministrador .AvisoItem .Espacio-2497004 
{ background-color: #FFFFFF; }
.CT .ListadoAdministrador .AvisoItem .Espacio-2497015, .CT .ListadoAdministrador .AvisoItem .Espacio-2497016,
.CT .ListadoAdministrador .AvisoItem .Espacio-2497017, .CT .ListadoAdministrador .AvisoItem .Espacio-2497018 
{ background-color: #FFFFFF; }
.CT .BoxResultado .Info, .CT .BoxResultado .Info {height: 140px;}
.CT .BoxResultado .ItemGeneral div.Modelo {float: none; width: inherit;}
.CT .BoxResultado .ItemGeneral div.Modelo h2 {margin-bottom: 5px; padding-bottom: 0px; display: block; height: 18px; overflow: hidden; text-overflow: ellipsis; width: 390px; }
.CT .BoxResultado .Info .Left {width: 442px;}
.CT .BoxResultado .ItemGeneral .km {font-weight: bold; width: 90px; margin-right: 10px; overflow: hidden; white-space: nowrap; }
.CT .BoxResultado .ItemGeneral .anio, .CT .BoxResultado .ItemGeneral .combustible {font-weight: bold;}
.CT .BoxResultado .ItemGeneral .anio {width: 45px;}
.CT .BoxResultado .ItemGeneral {width: 150px;}
.CT .BoxResultado .ItemGeneral .cifra {line-height: inherit; width:132px; padding-right: 5px; text-align: right;}
.CT .BoxResultado .Info .Descripcion {width: 443px; height: 53px; }
.CT .Espacio-1009 .Info .Descripcion {width: 443px}
.CT .BoxResultado .Info .Descripcion .DescripcionLeft {float: left; width: 200px; color: black;}
.CT .BoxResultado .Info .Descripcion p,
.CT .BoxResultado .Left .DescripcionLeft p {overflow: initial; text-overflow: initial; white-space: initial; color: black; font-size: 1em;}
.CT .BoxResultado .Left .DescripcionLeft { margin-right: 18px; }
.CT .ListadoAdministrador .AvisoItem.aviso_moderado{width: 724px !important;}
.CT .ListadoAdministrador .AvisoItem.aviso_rechazado{width: 724px !important;}

/*-- ADMINISTRAR MIS AVISOS --*/
.views-exposed-form .views-exposed-widget .form-submit {margin-top: 10px;}
.views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-item .form-select {width: 135px;}
.views-exposed-form .views-exposed-widget { padding:0 1em 0 0}
#views-bulk-operations-select #views-bulk-operations-submit .form-submit{height:33px; line-height: inherit; margin-top: 3px;}
.CT .Borde {height: 130px;}
.CT .pie-aviso-teaser {font-size:11px; width: 579px; padding-left: 0px; margin-bottom: 5px; font-weight: initial;}
.CT .ListadoAdministrador .AvisoItem .Informacion a.VerContactosDelAviso{font-weight:bold;}
.CT .views-bulk-operations-form .dialogo{background:url(../img/sprite.png) no-repeat 0 -241px; width:28px; height:15px; position:absolute; top:-15px; right:244px}
.CT .ListadoAdministrador .ContactosDelAviso .acciones{text-align:center; margin-bottom:5px; border-top:1px solid #E7E6E4; padding-top:5px;}
.CT .ListadoAdministrador .ContactosDelAviso .acciones a{margin:0px;font-size:12px; background: none repeat scroll 0 0 #323943; border: medium none; color: #FFFFFF; cursor: pointer; font-family: Arial,Helvetica,sans-serif; font-weight: bold; height: 22px; line-height: 26px; text-align: center; border-radius: 2px; padding:4px 6px; margin-right:5px;}
.CT .views-bulk-operations-table thead th{ border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px 0;}
.CT .ContactosDelAviso .view-contactos-recibidos table.views-table{width:718px}
.CT .ContactosDelAviso .view-contactos-recibidos thead{border-bottom:1px solid #E7E6E4; }
.CT .ContactosDelAviso .view-contactos-recibidos thead th {border-bottom:1px; padding:5px 0;}
.CT .ContactosDelAviso .view-contactos-recibidos thead th.views-field-body, .CT .ListadoAdministrador .ContactosDelAviso tbody tr td.views-field-body{padding-left:15px}
.CT .ContactosDelAviso .view-contactos-recibidos{padding:0 0;}
.CT .ContactosDelAviso .view-contactos-recibidos .view-content{float: left;}
.CT .ContactosDelAviso .view-contactos-recibidos tr.even, .CT .ContactosDelAviso .view-contactos-recibidos tr.odd{background:#F9F9F9;border-bottom:0 none; }
.CT .ContactosDelAviso .view-contactos-recibidos tr.even td, .CT .ContactosDelAviso .view-contactos-recibidos tr.odd td{padding:10px 0;}
.view-id-listado_avisos_admin .view-content{width: 725px; display: block; float: right;}
ul.sin-resultado {background-attachment: scroll; background-color: #D7E6FD; background-image: none; background-position: 0 0; background-repeat: repeat; color: #000; font-size: 14px; padding: 10px; position: relative; text-align: left; margin-top: 20px;}
ul.sin-resultado li {background-color: #D7E6FD; }
ul.sin-resultado a {color: #000;}
.CT .ListadoAdministrador {width:100%}
.CT .ListadoAdministrador .AvisoItem {margin-top: 5px;}
.CT .ListadoAdministrador .AvisoItem .SelectBulk {width: 20px; height: 150px; float: left; border: 1px solid #D1D0CE; border-right: none;}
.CT .ListadoAdministrador .AvisoItem .Informacion {width: 211px; height: 128px; float: left; border:1px solid #D1D0CE; border-left: none; padding-top: 2px; padding-left:5px; line-height: 18px; font-weight:bold;}
.CT .ListadoAdministrador .AvisoItem .Informacion strong{font-weight:normal;}
.CT .ListadoAdministrador .AvisoItem .Acciones {width: 102px; height: 150px; float: left; border:1px solid #D1D0CE; border-left: none; padding-top: 0px; padding-left: 5px; background:#F9F9F9;}
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones  a{color:#323943; font-weight:bold; font-family: arial;}
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones  a.deshabilitado {text-decoration: none; cursor: default; color: #BCBCBC;}
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones  a:hover {text-decoration: underline;}
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones div{margin-right:5px; padding:0.35em 0;}
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .BotonEditar, 
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .BotonClonar,
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .BotonMejoras, 
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .BotonDespublicar,
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .BotonPublicar,
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .BotonRepublicacion
{border-bottom:1px solid #E6E4E3;}
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .BotonEliminar a{color:#CC0000;}
.CT .ContactosDelAviso {width:718px; border:1px solid #D1D0CE; padding-top: 5px; padding-left: 5px; margin-bottom: 5px; position:relative; border-top:0 none; background:#F9F9F9;}
.CT .ContactosDelAviso .views-row label {display: none;}
.CT .ContactosDelAviso .views-row .views-field-body .field-content {width: 595px; float: left; height: 20px; padding-top: 5px; padding-left: 5px;}
.CT .ContactosDelAviso .views-row .views-field-field-contacto-nombre-value .field-content {width: 200px; height: 20px; padding-top: 5px; float: left;}
.CT .ContactosDelAviso .views-row .views-field-created .field-content {width: 120px; height: 20px; padding-top: 5px; float: left;}

.CT .ListadoAdministrador .BoxResultado.Espacio-Superpremium .Left .cifra {
  margin-right: 55px;
}

.CT .AvisoItem .search-precio-uva {
  float: right;  
  margin-top: -116px;
  font-weight: 800;
  font-size: 14px;
  color: #6F2DA8;
}

.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .msg-nevo{display: block; position: absolute; margin-left: 107px; color: #000; padding: 4px 10px; font-weight: bolder; background: #E2A625;	border: 2px solid #A64C00;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
}
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .msg-nevo:before, .CT .ListadoAdministrador .AvisoItem .Acciones .Botones .msg-nevo:after {
  right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .msg-nevo:after {
  border-color: rgba(11, 213, 17, 0);
	border-right-color: #E2A625;
	border-width: 11px;
	margin-top: -11px;
 }
.CT .ListadoAdministrador .AvisoItem .Acciones .Botones .msg-nevo:before {
  border-color: rgba(17, 166, 0, 0);
	border-right-color: #A64C00;
	border-width: 14px;
	margin-top: -14px;
 }


/* Mis Avisos Filtros */
.view-id-listado_avisos_admin .view-filters{width: 230px; display: block; float: left;}
.view-filters .block-apachesolr_search{padding: 10px 0px; margin-bottom: 5px; float: left; width: 230px;}
.view-filters .block-apachesolr_search h2.title, .titulo-vista{font-size: 14px; color: #323943; font-weight: bold;}
.titulo-vista {margin-bottom: 20px; font-size: 20px;}
.view-filters .block-apachesolr_search ul{list-style-type: none; padding: 0px; margin: 0px;}
.view-filters .block-apachesolr_search ul li{list-style-type: none; list-style-image: none; font-size: 13px;}
.view-filters .block-apachesolr_search ul li a{display: block; color: #073E8E; font-size: 13px; font-weight: lighter; margin-bottom: 0px;}
.view-filters .block-apachesolr_search ul li a.apachesolr-unclick{background-image: url(../img/sprite.png); background-repeat: no-repeat; background-position: -76px -218px; padding-left: 10px; width: 14px; height: 16px; overflow: hidden; display: block; float: left; text-indent: -999em;}
.view-filters .block-apachesolr_search .form-item{float: left;}
.view-filters .block-apachesolr_search .form-item label{font-weight: bold; width: 45px; text-align: initial; padding-right: 0px;}
.view-filters .block-apachesolr_search .form-item  input[type=text] {height: 25px; background-color: #FFF; margin-right: 5px;}
.view-filters .block-apachesolr_search  input.form-submit {display: initial; margin-top: 5px; margin-right: 5px;}
.view-filters .block-apachesolr_search ul.expanded-facet li a {padding-left: 30px}
.view-filters #edit-submit-listado-avisos-admin {display:none;}

.box-filtros-aplicados{background-color: #E9E9E9; display: inline-block; width: 230px;}
.box-filtros-aplicados .title-filtros-aplicados {font-weight: bold; margin: 5px; padding-top: 5px;}
.box-filtros-aplicados .filtro-aplicado {border: 1px solid #DADADA; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;padding: 3px; font-size: 12px; font-weight: normal; background: #ffffff; background-image: url(../img/sprite.png); background-repeat: no-repeat; background-position: -73px -215px; padding-left: 20px; overflow: hidden; display: block; margin: 5px;}
.box-filtros-aplicados .quitar-filtro-aplicado {padding: 3px; background-image: url(../img/sprite.png); background-repeat: no-repeat; background-position: -73px -215px; display: block; float: right; margin-bottom: 5px; width: 12px; height: 12px; margin-top: -4px;}
.box-filtros-aplicados .link-quitar-filtros{text-align: center; border-top: 1px solid #DADADA; padding-top: 5px;     padding-bottom: 5px; font-size: 1em; font-weight: bold;}

/* - Contctos recibidos - */
.contacto-vendedor {width: 780px; float: left;}
.contacto-vendedor .aviso-titulo a{font-weight:bold;}
.contacto-vendedor div {padding: 3px; font-size: 13px;}
.contacto-vendedor div span{margin-right:2px;font-weight:bold; color:#333;}
.contacto-vendedor .nombre, .contacto-vendedor .fecha, .contacto-vendedor .telefono {width: 343px; float: left;}
.contacto-vendedor .aviso-foto {width: 76px; height: 57px; float: left; border: none;}
.contacto-vendedor .email {width: 344px; float: left;}
.contacto-vendedor .consulta {clear: both; border: none; padding-left:85px;}
.contacto-vendedor .consulta span.mini{float:left; width:66px;}
.contacto-vendedor .consulta p{float:left; width:590px;}
.view-contactos-recibidos .rowclick,  .view-compras .odd {float: left; background-color: #ffffff; padding:10px 0;}
.view-compras .even { margin-bottom: 5px; float: left; /*background-color: #FFFFEE;*/}

.view-contactos-recibidos .no-leido {background-color: #F2F2F2;}

.view-contactos-recibidos .rowclick.sms,
.view-contactos-recibidos .rowclick.mail,
.view-contactos-recibidos .rowclick.whatsapp,
.view-contactos-recibidos .rowclick.telefono {color: #9e9e9e;}

.view-contactos-recibidos .rowclick.sms .contacto-vendedor div span,
.view-contactos-recibidos .rowclick.mail .contacto-vendedor div span,
.view-contactos-recibidos .rowclick.whatsapp .contacto-vendedor div span,
.view-contactos-recibidos .rowclick.telefono .contacto-vendedor div span {color: #9e9e9e;}

.view-contactos-recibidos .rowclick.sms .contacto-vendedor .aviso-titulo a,
.view-contactos-recibidos .rowclick.mail .contacto-vendedor .aviso-titulo a,
.view-contactos-recibidos .rowclick.whatsapp .contacto-vendedor .aviso-titulo a,
.view-contactos-recibidos .rowclick.telefono .contacto-vendedor .aviso-titulo a {color: #7b8491;}

.view-compras .odd, .view-compras .even {float: none;}
.view-contactos-recibidos .rowclick{background-image:url(../img/pixel.png) ; background-repeat:repeat-y; background-position: 797px 0 }
.view-contactos-recibidos .rowclick .views-field {float: left; width: 30px; clear: both;}
.view-contactos-recibidos .node-type-contacto-vendedor {float: left; width:769px;}
.view-contactos-recibidos .acciones {float: left; width: 128px; padding: 5px;}
.CT .MiCuenta .rowclick .acciones{width:140px;}
.view-contactos-recibidos .views-bulk-operations-table {width: 948px;}
.view-contactos-recibidos .views-bulk-operations-table .select { width: 10px;}
.view-contactos-recibidos .views-bulk-operations-table .header-mensajes {width: 400px; text-align: left;}
.view-contactos-recibidos .views-bulk-operations-table .header-acciones {width: 140px; text-align: left; padding-left:10px; border-left:1px solid #E6E4E3;}
#views-bulk-operations-dropdown #edit-operation-wrapper{margin: 0px;}
#views-bulk-operations-submit {padding: 0px;}
.view-contactos-recibidos .views-exposed-widgets .views-exposed-widgets {float: left;}
.view-contactos-recibidos .views-exposed-widgets label, .view-contactos-recibidos .views-widget{ margin-right: 5px;}
.view-contactos-recibidos .view-filters {float: right;}
.view-contactos-recibidos a.contacto-accion-edit {background: url("../img/gtk-edit.png") no-repeat scroll 0 0 transparent; width: 152px; height: 17px; padding-left: 22px;}

.view-contactos-recibidos .fa,
.view-contactos-recibidos .fab,
.view-contactos-recibidos .far {
  font-size: 18px;
  position: absolute;
  right: 415px;
  color: #e00018;
}

#f2f0cd
#fdffc4


/* Estado de cuenta */
.MiCuenta h3 {color: #008ACF; font-size: 16px; font-weight: bold; padding-bottom: 20px;}

.MiCuenta h3.TitleMejoras {padding: 10px; cursor: pointer; background-color: #eeeeee; margin-bottom: 10px;}

.node-type-compra .teaser div.compra{float: left; padding: 4px; font-size: 14px;}
.node-type-compra .teaser div.compra-dineromail {text-align: left;  width: 84px;margin-right: 2px; padding-left: 3px;}
.node-type-compra .teaser div.compra-total {text-align: left;  width: 62px;margin-right: 2px; padding-left: 2px;}
.node-type-compra .teaser div.compra-procesado {text-align: left;  width: 75px;}
.node-type-compra .teaser div.compra-detalle {width: 147px;}
.node-type-compra .teaser div.compra-aviso {width: 303px;}
.node-type-compra .teaser div.compra-aviso a, .node-type-compra .teaser div.compra-link a{color: #323943;}
.node-type-compra .teaser div.compra-texto {width: 438px;}
.node-type-compra .teaser div.compra-link {width: 108px;}
.node-type-compra .teaser div.compra-detalle, .node-type-compra .teaser div.compra-detalle div {padding: 0;}
.node-type-compra .teaser div.node-type-detalle-compra .teaser div {padding: 4px;}
.teaser div.detalle-compra-producto {width: 136px; float: left; overflow: hidden;}
.teaser div.detalle-compra-cant {width: 20px; float: left; text-align: right;}
.view-compras .compras {float: left; padding: 4px; background-color: #EFEFEF;}
.view-compras .compras-header-fecha {width: 80px;}
.view-compras .compras-header-producto {width: 136px;}
.view-compras .compras-header-cantidad {width: 40px;}
.view-compras .compras-header-codigo {width: 82px;}
.view-compras .compras-header-precio {text-align: left; width: 62px;}
.view-compras .compras-header-procesado {width: 75px;}
.view-compras .compras-header-aviso {width: 300px; overflow: hidden;}
.view-compras .compras-header-texto {width: 430px;}
.view-compras .compras-header-link {width: 119px;}
.view-compras .espacios {background-color: #EFEFEF; float: left; margin-left: 2px; padding: 4px; width: 97px;}
.view-compras .header-left, .view-compras .header {background-color: #EFEFEF;}
.view-compras .header-left {width: 180px;}
.view-compras .row {width: 538px;}
.view-compras .espacios-disponible, .view-compras .espacios-total {text-align: center;}
.view-compras .espacios-disponible .msg-espacio {background: #FFFFCC; width: 97px; height: 15px; display: block;}
.view-compras .compra-dineromail, .view-compras .compra-total {text-align: right;}
.view-compras .compra-procesado {text-align: center;}
.view-compras .bloque-left {width: 538px; float: left; margin-bottom: 20px;}
.view-compras .bloque-right {width: 430px; float: left;}
.view-compras .oculto {display: none;}
.separador {height: 10px; clear: both;}
.Estado .bloque-left .VerMas a {background: url("../img/sprite.png") no-repeat scroll 0 -553px transparent; border: medium none; cursor: pointer; display: block; float: left; height: 24px; width: 26px;}
.Estado .bloque-left .VerMas a:hover {background: url("../img/sprite.png") no-repeat scroll 0 -577px transparent; border: medium none; cursor: pointer; display: block;   float: left; height: 24px; width: 26px;}
.BoxTit .compras{font-size:14px; font-weight: bold; color: #333; margin-right: 2px;}
.BoxComprasRealizadas {border: 1px solid #CCCCCC;}
.BoxComprasRealizadas .module-lista { padding:0;}
/* Contadores web papel */
.view-compras .bloque-left.webpapel {width: 609px;}
.view-compras .webpapel .row {width: 547px;}
.view-compras .webpapel .espacios {width: 109px;}
.view-compras .webpapel .espacios.espacios-nombre {width: 180px;}
.view-compras .webpapel .espacios.espacios-usados-mes {width: 133px; text-align: center;}

/* Listado avisos papel */
#listadoAvisosPapel table, #listadoVentasPedidos table {font-size: 13px; border-color: #ccc #ddd #eee; border-style: solid; border-width: 1px;}
#listadoVentasPedidos table {font-size: 12px;}
#listadoAvisosPapel table thead tr, #listadoVentasPedidos table thead tr{font-size: 14px;}
#listadoAvisosPapel table thead th, #listadoVentasPedidos table thead th{border-top-color: #ccc; background: #eee none repeat scroll 0 0; border-right: 3px solid #FFF;}
#listadoAvisosPapel table tbody td, #listadoVentasPedidos table tbody td{border-color: #ddd; border-style: solid; border-width: 1px 0; padding: 5px; vertical-align: top;}
#clasificados-web-papel-lista-avisos fieldset, #ventas-pedidos fieldset, #ventas-compras-consultas fieldset {margin: 0 0 10px; border-color: #ccc #ddd #eee; border-style: solid; border-width: 1px; padding: 10px;}
#clasificados-web-papel-lista-avisos fieldset legend, #ventas-pedidos fieldset legend, #ventas-compras-consultas fieldset legend{font-size: 14px; font-weight: bolder; margin: 0px; padding: 0px 10px;}
#clasificados-web-papel-lista-avisos .form-item, #ventas-pedidos .form-item, #ventas-compras-consultas .form-item {color: #999; font-size: 10px; font-weight: bold; margin: 0; padding: 0; text-transform: uppercase; float: left; margin-right: 10px;}

#ventas-pedidos .form-item  label, #ventas-compras-consultas .form-item  label {float: none; font-weight: bold; text-align: initial; width: 0px;}
#clasificados-web-papel-lista-avisos input[type='text'], #clasificados-web-papel-lista-avisos .form-select , #ventas-pedidos .form-select, #ventas-compras-consultas .form-select  {background: #fff none repeat scroll 0 0; border-color: #e8e8e8 #f0f0f0 #f8f8f8; border-style: solid; border-width: 2px; color: #666;   max-width: 100%; padding: 2px;}
#clasificados-web-papel-lista-avisos input[type='submit'], #ventas-pedidos input[type='submit'], #ventas-compras-consultas input[type='submit'] {margin: 5px 0px; font-size: 12px; padding-bottom: 5px; padding-top: 5px;}
#ventas-pedidos input[type='submit'], #ventas-compras-consultas input[type='submit']  {float: none;}
#ventas-pedidos input#edit-filtro-submit, #ventas-compras-consultas input#edit-filtro-submit  {margin-top: 26px;}
#listadoCompras {margin-bottom: 20px;}

.Estado .compra-fecha {width:80px;}
.Estado .node-type-compra {border-bottom: 1px solid #CCC;}
.Estado .row {padding:0;}
.bloque-right .GloboDetalle {}
.bloque-right .Gris {background: none repeat scroll 0 0 #F0F0F0; border-radius: 3px 3px 3px 3px; font-size: 14px; margin-left: 19px; margin-top: 33px; min-height: 100px; padding: 10px; top: 0; width: 300px;}
	
.bloque-right .punta {background: url("../img/sprite.png") no-repeat scroll 0 -266px transparent; display: block; float: left; height: 38px; left: 0; margin-top: 14px;  overflow: hidden; width: 19px;}
.bloque-right .odd { background:none;}
.bloque-right h3 { padding-bottom:0; line-height: 1.1;}

.msg-estado-cuenta {background: #FFFFCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
 padding: 10px; color: #666; font-size: 12px; margin: 10px 0; position: absolute; left: 771px; width: 411px; z-index: -900;}
.msg-estado-cuenta  h3 {color: #666;}

.msg-publicacion-aviso {background: #FFFFCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
 padding: 10px; color: #666; font-size: 12px; margin: 10px 0; font-weight: bold; margin-bottom: 20px;}
.msg-publicacion-aviso span.msg-red{color: red;}
 
/* Confirmación Pagar por DineroMail*/
#dineromail-autos-form-confirmar-dineromail {margin: 10px;}
#dineromail-autos-form-confirmar-dineromail .container-inline .form-submit {margin-top: 30px;}

/* Mis Avisos Select All*/
#edit-objects-selector-wrapper {display: none;}
#objects-selector-wrapper-new {float: left; padding: 4px; width: 100px; font-weight: bold;}
#objects-selector-wrapper-new, #views-bulk-operations-select {padding: 0 2em 0 0; float: left;}
#views-bulk-operations-select {width: 275px; padding-bottom: 20px;}
#views-bulk-operations-select legend {font-weight: bold;}

/* Crear anuncio sin loguin*/
.CT .CrearAnuncio .Borde { height: auto;}
.section-contactos-recibidos .CT .MiCuenta .rowclick{border-bottom:1px solid #cccccc;}

/* Exportacion excel */
.export-exel {margin-bottom: 10px; height: 20px; display: flex;}
.export-exel a{font-weight: bold; margin-left: 6px;font-size: 14px;}
.export-exel img{margin-top: -3px;}

.acciones {padding-left: 5px;}
.acciones .boton, .acciones .boton-eliminar {border-bottom: 1px solid #E6E4E3; margin-right: 5px; padding: 0.35em 0;}
.acciones .boton-eliminar {border:none;}
.acciones .boton a{color: #323943; font-weight: bold;}
.acciones .boton-eliminar a{color: #CC0000; font-weight: bold;}
tr.even, tr.odd {background-color: #F9F9F9;}
thead th {border-bottom: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; padding: 5px;}
table td {padding: 5px;}

/* Estilos moderacion */
.CT .ListadoAdministrador .AvisoItem.aviso_moderado {background-color: #D9E28E; display: block; height: 151px; width: 957px;}
.CT .ListadoAdministrador .AvisoItem.aviso_rechazado {background-color: #EDD8D5; display: block; height: 151px; width: 957px;}
.CT .ayuda-moderado {color: #000000; font-size: 14px; margin-right: 28px; float: left;}
.CT .ayuda-moderado span{background-color: #D9E28E; width: 40px; height: 25px; display: block; float: left; margin-top: -4px; margin-right: 3px;}
.CT .ayuda-rechazado {color: #000000; font-size: 14px; height: 30px;}
.CT .ayuda-rechazado span{background-color: #EDD8D5; width: 40px; height: 25px; display: block; float: left; margin-top: -4px; margin-right: 3px;}

/* Mi sitio */
.etiqueta_destacado{display: block; width: 110px; position: absolute; margin-left: 490px; margin-top: 128px; z-index: 1; color: #fff; padding: 4px; font-size: 11px; background-color: #26AD5F; color: #fff; padding: 7px; font-weight: 300; font-family: 'Roboto', sans-serif;}
.etiqueta_destacado.form{position: relative; left: 0px; font-size: 13px; float: right; margin-top: -59px;}

.section-administrar .form-item textarea {border: 1px solid #cccccc; padding: 5px;}
.section-administrar .form-item input[type=text], .section-administrar .form-item select {border: 1px solid #cccccc; height: 34px; line-height: 26px; margin-bottom: 0; padding-left: 5px; padding-right: 5px;}
.section-administrar .form-item label {padding-top: 10px; display: block; float: left; font-weight: normal; padding-right: 14px; padding-top: 4px; text-align: right; width: 231px; padding-top: 10px !important;}
.section-administrar .SelectBulk .form-item label {width: inherit; text-align: inherit;}
.section-administrar .form-item input[readonly],
.section-administrar .form-item input[readonly="readonly"] { background-color: #EEEEEE;}
.section-administrar .form-item .description{margin-left: 245px;}
.section-administrar .container-inline {height: 36px;}
.section-administrar input.form-submit {display: block; float: none; margin: 0 auto; float: left;}
.section-administrar .buttons input.form-submit { margin-right: 10px; }
.section-administrar .container-inline a {display: block; margin-left: 119px; padding-top: 10px;}
.section-administrar form p, .section-administrar form .description {color: #666666;}
.section-administrar .ayuda { float:left; width: 700px; border: 0px solid #CCCCCC; border-radius: 4px; background-color: #F0F0F0; padding: 10px; margin: 10px; line-height:20px; text-align: justify; }
.section-administrar .form-item input.error,
.section-administrar .form-item textarea.error { border: 1px solid #e55;}
.section-administrar .form-checkboxes .form-item label { width: inherit; float: none; text-align: left; }
.section-administrar .grippie {display: none;}
.section-administrar .sticky-table td {padding: 10px;}
.section-administrar .faqs .titulo { clear:both; padding: 20px 0 10px; }
.section-administrar .faqs .pregunta { padding: 6px 0 2px 0; font-weight:bold; display:block; }
.section-administrar .faqs .respuesta { padding: 2px 8px; display:block; text-align: justify; }
.page-administrar-creditos .titulo { padding: 10px 0; }
.section-administrar .buttons { margin-top: 10px; }

.disponible_venta {background-color: #ffe659; border-radius: 2px; color: #3d3d3d; margin: 10px auto 0 244px; padding: 4px; display:inline-block;}
#ventas-detalle-pedido .form-item {font-size: 14px; line-height: 30px; min-height: 30px;}
#ventas-detalle-pedido .form-item label {padding-top: 0 !important;}

/*Nuevo Menu*/
.MiCuenta .menuSolapas{
	background: #008acf; /* Old browsers */
background: -moz-linear-gradient(top,  #323943 0%, #4c5766 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323943), color-stop(100%,#4c5766)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #323943 0%,#4c5766 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #323943 0%,#4c5766 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #323943 0%,#4c5766 100%); /* IE10+ */
background: linear-gradient(to bottom,  #323943 0%,#4c5766 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008acf', endColorstr='#3fa7db',GradientType=0 ); /* IE6-9 */
padding:0; margin:0; margin-bottom: 20px; z-index: 9999;
	}
.MiCuenta .menuSolapas ul.accesos{list-style:none; padding-top: 8px;}	
.MiCuenta .menuSolapas ul.accesos li{font-size:15px; font-weight:bold; float:left; margin-right:5px; background:none; line-height:1.1; text-align:center;}
.MiCuenta .menuSolapas ul.accesos li a{color:#fff; font-size:15px; display:block; cursor:pointer; padding: 10px;
padding-bottom: 0;}	
.MiCuenta .menuSolapas ul.accesos li a:hover{color:#959aa0;}
.MiCuenta .menuSolapas ul.accesos li.active{background:#fff; -webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;}
.MiCuenta .menuSolapas ul.accesos li.active a{color:#000;}

.MiCuenta .menuSolapas ul.accesos li.more{/*float:right; padding-bottom: 8px;*/ }
.MiCuenta .menuSolapas ul.accesos li.more a{/*font-size:26px; font-weight:normal; padding:0 15px; margin: 0;*/ }
.MiCuenta .menuSolapas ul.accesos li.more .more-links{position:absolute; top:44px; /*right:0;*/ font-size:14px; background:#4c5766; z-index:800; width: 157px;}
.MiCuenta .menuSolapas ul.accesos li.more .more-links li{float:none; border-bottom:1px solid #7b8491; font-size:14px; }
.MiCuenta .menuSolapas ul.accesos li.more .more-links li:last-child{border-bottom:0 none;}
.MiCuenta .menuSolapas ul.accesos li.more .more-links li a{font-size:14px;padding:10px 0; color:#fff;}
.MiCuenta .menuSolapas ul.accesos li.more .more-links li a:hover{color:#959aa0;}

.MiCuenta .menuSolapas ul.accesos li.seguros {background-color: #e10019; border-radius: 3px; color: #ffffff; height: 30px;  margin: 0 4px;}
.MiCuenta .menuSolapas ul.accesos li.seguros a:hover {color:#C4E3F4;}
.MiCuenta .menuSolapas ul.accesos li.active.seguros {background:#fff; border-radius: inherit; -webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px; height: inherit;}

.MiCuenta .menuSolapas .alerta {
  position: absolute;
  font-size: 10px;
  vertical-align: middle;
  border-radius: 50%;
  background: #e00018;
  margin-top: -16px;
  padding: 6px;
  font-weight: 600;
  color: #FFF;
  margin-left: 30px;
  border: solid 2px #fff;
}
.MiCuenta .menuSolapas .alerta.int {
  margin-left: 58px;
}

/*Panel consultas*/
.panel-block.banner{margin-bottom: 15px;}
.MiCuentaAdmin h2{color:#323943; font-size:25px; font-weight:normal; margin:10px 0;}
.MiCuentaAdmin h3{color:#666666; font-size:15px; font-weight:bold; padding: 0;
margin-bottom: 10px;}
.MiCuentaAdmin h3 span{color:#999999; font-size:12px; font-weight:normal;}
.MiCuentaAdmin h3.destaques {margin-top: 20px;}
.MiCuentaAdmin .panel-block.separador{margin-bottom:20px; height: auto;}
.MiCuentaAdmin .panel-block.conBorde{border:1px solid #ccc; padding:10px; margin-bottom:20px; float: left;}
.MiCuentaAdmin .panel-block .consultasResumen{font-size:13px;font-weight:normal;color:#333}
.MiCuentaAdmin .panel-block .consultasResumen tr:nth-child(even){background:#EAF1F5;}
.MiCuentaAdmin .panel-block .consultasResumen th{color:#999; font-weight:normal; padding:5px ; }
.MiCuentaAdmin .panel-block .consultasResumen td{border-bottom:1px solid #E1E1E1; padding:10px 7px ; vertical-align:top;}
.MiCuentaAdmin .panel-block .consultasResumen td.contacto{font-weight:bold; width:25%; }
.MiCuentaAdmin .panel-block .consultasResumen td.consulta{font-weight:normal; width:60%; }
.MiCuentaAdmin .panel-block .consultasResumen td.acciones a{display:block; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; background:#BCBCBC; color:#fff; font-weight:bold; font-size:12px; padding:3px 5px; margin-bottom:3px; min-width:106px; text-align:center; }
.MiCuentaAdmin .panel-block .consultasResumen td.acciones a.contacto-respuesta-ajax{background:#797979;}
.MiCuentaAdmin .panel-block .consultasResumen.Destaques td.tipo{color:#323943; font-size:14px;}
.MiCuentaAdmin .panel-block .consultasResumen.Destaques td{font-size:16px; color:#333;}
.MiCuentaAdmin .consultasSinLeer h2{/*float:left;*/width: 70%;}
.MiCuentaAdmin .consultasSinLeer .botonAccion{float:right; margin-top: -38px;}
.recomendacion{background:#FFFFCC; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; padding:10px; color:#666; font-size:13px; margin:10px 0; }
.recomendacion.destacada {
  background: #ffecec;
  border: 2px solid #f5aca6;
  font-size: 13px;
}
.recomendacion.destacada strong {
  color: #e00018;
}

.MiCuentaAdmin .recomendacion.globales{
  float: left;
  width: 97%;
  cursor: pointer;
}
.MiCuentaAdmin .recomendacion.globales.right{
  width: 92%;
}
.MiCuentaAdmin .recomendacion.globales p{/*display:none;*/ margin-top: 5px;}
.MiCuentaAdmin .recomendacion.globales strong:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  float: right;
}
.MiCuentaAdmin .recomendacion.globales.close strong:after {
  border-color: #666 transparent transparent transparent;
  margin-top: 4px;
}
.MiCuentaAdmin .recomendacion.globales.open strong:after {
  border-color: transparent transparent #666 transparent;
  margin-top: 0px;
}

.MiCuentaAdmin .panel-block .contentAvisos .CajaAviso.new{width:150px; }
.MiCuentaAdmin .panel-block .contentAvisos .CajaAviso.new.last{margin-right:0;}
.MiCuentaAdmin .panel-block .contentAvisos .CajaAviso.new .imgAviso{height:100px;}
.MiCuentaAdmin .panel-block .contentAvisos .CajaAviso.new .AvisoDescripcion{width:150px; position:relative; padding:5px 0; }
.MiCuentaAdmin .panel-block .contentAvisos .CajaAviso.new .AvisoDescripcion h4{font-weight:normal; color:#666; font-size:12px;}
.MiCuentaAdmin .panel-block .contentAvisos .CajaAviso.new .AvisoDescripcion .numero{font-size:12px; color:#323943;}
.MiCuentaAdmin .panel-block .datos ul, .MiCuentaAdmin .panel-block.listadoLinks ul{list-style:none;}
.MiCuentaAdmin .panel-block .datos ul li{ color:#666666;  clear:both;  border-bottom:1px solid #e5e5e5; padding:10px 0;font-size:39px;line-height:1;}
.MiCuentaAdmin .panel-block .datos ul li strong{ color:#323943; float:left; font-weight:normal; margin:0 10px;}
.MiCuentaAdmin .panel-block .datos ul li span{ float:left;font-size:16px;}
.MiCuentaAdmin .panel-block.promoWidget p{color:#999; font-size:15px; }
.MiCuentaAdmin .panel-block.promoWidget .clearfix p{float:left; margin-right:10px; width:140px;}
.MiCuentaAdmin .panel-block.promoWidget .clearfix .icono{float:right; width:125px;}
.MiCuentaAdmin .consulta-loading{width: 100%; margin: 5px; color: #008ACD; margin-top: 45px;}
.MiCuentaAdmin #legendDiv ul li {color: #999999; font-size: 12px; font-weight: normal; margin-bottom: 5px;}
.MiCuentaAdmin #legendDiv ul li span{float: left; margin-right: 8px; width: 15px; height: 15px; display:block;}
.MiCuentaAdmin .panel-block .datos ul li span.cant-dias{color:#999999; font-size:12px; font-weight:normal; float: right;}
.MiCuentaAdmin .panel-block .grafico-torta{width: 315px; margin-top: 15px;}
.MiCuentaAdmin .panel-block .grafico-torta.left{float: left;}
.MiCuentaAdmin .panel-block .grafico-torta.right{float: right;}
/*boton accion*/
.botonAccion{background:#323943; color:#fff; padding:8px 15px;  text-align:center; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; font-weight:bold; display: inline-block;}
.MiCuentaAdmin .panel-block.listadoLinks ul li {border-bottom:1px solid #e5e5e5; padding:10px 0; }
.MiCuentaAdmin .panel-block.listadoLinks ul li a { color:#333333; font-size:15px;  font-weight:normal;}

/* ESTADISTICAS GLOBALES */
.solapa-estadisticas {height: 55px;}
.solapa-estadisticas a,
.MiCuentaAdmin .filtros_dias a
 {
  margin-right: 10px;
  padding: 11px 15px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background-clip: padding-box;
  display: inline-block;
  color: #666;
  border: 1px solid #e6e6e6;
  float: left;
}

.solapa-estadisticas .nueva-estadistica {
  display: block;
  height: 41px;
  background-color: #F7464A;
  width: 370px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  color: #FFF;
  float: left;
  margin-top: -3px;
}
.solapa-estadisticas .nueva-estadistica a {
  background-color: #fff;
  margin: 1px;
}
.solapa-estadisticas .nueva-estadistica .flecha-up {
  width:0px;
  height:0px;
  border-top:8px solid transparent; /* izquierda flecha */
  border-right:8px solid #FFF; /* derecha flecha */
  border-bottom:8px solid transparent; /* base flecha y color*/
  font-size:0px;
  line-height:0px;
  margin-right: 8px;
  vertical-align: text-bottom;
  margin-left: 7px;
}
.solapa-estadisticas .nueva-estadistica .nueva-texto {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 9px;
}

.MiCuentaAdmin .panel-block.conBorde.visitasTotales{ background: #FFFFCC;}
.MiCuentaAdmin .filtros_dias.totales {float: none;}
.MiCuentaAdmin .filtros_dias.totales a {padding: 5px 10px;}
.MiCuentaAdmin .filtros_dias.totales a.end {margin-right: 0px;}
.visitasTotales .textoTotal {
  color: #666;
  font-size: 13px;
  font-weight: 800;
  text-align: center;
  width: 280px;
}
.visitasTotales .contadorTotal {
  color: #323943;
  font-size: 25px;
  text-align: center;
  margin: 15px 0px;
}

.solapa-estadisticas a.int,
.MiCuentaAdmin .filtros_dias a.int {background: #f1f1f1;}
.solapa-estadisticas a:hover,
.MiCuentaAdmin .filtros_dias a:hover {background: #f1f1f1;}
.MiCuentaAdmin .masVistas h2 {float: left;}
.MiCuentaAdmin .filtros_dias {
  float: right;
  margin: 10px 0;
}
.MiCuentaAdmin .filtros_dias a {padding: 5px 15px;}
.MiCuentaAdmin .filtros_selects {
  margin: 10px 0px;
  float: left;
}
.MiCuentaAdmin .filtros_selects.reportePrecios {width: 955px;}
.MiCuentaAdmin .panel-block .consultasResumen tr.first {font-size: 16px;}
.MiCuentaAdmin .panel-block .consultasResumen tr.second {font-size: 15px;}
#contentGrafico {margin-top: 50px;}
.MiCuentaAdmin .sin-datos {
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px;
}

.MiCuentaAdmin .acciones_footer {margin: 10px 0px; height: 10px;}
.MiCuentaAdmin .acciones_footer .select_cantidad {float: left;}
.MiCuentaAdmin .acciones_footer .link_exportacion {float: right;}

.linkFiltro {
  height: 27px;
  width: 35px;
  float: left;
  font-size: 17px;
  text-align: center;
  background-color: #b2d3f4;
  border: 1px solid #008ACF;
  border-radius: 5px;
  color: #008ACF;
}
.linkFiltro:hover {color: #FFF;}
.linkFiltro i {
  margin-top: 4px; 
}

#estadisticas-globales-reporte .CT {
  float: left;
  width: 100%;
}

.dropdown {
  float: left;
  margin-right: 5px;
}
.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}
.dropdown ul {
  margin: -1px 0 0 0;
}
.dropdown dd {
  position: relative;
}
.dropdown a,
.dropdown a:visited {
  color: #666;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}
.dropdown dt a {
  background-color: #f1f1f1;
  display: block;
  padding: 5px;
  overflow: hidden;
  width: 120px;
  border: 1px solid #e6e6e6;
}
.dropdown dt a:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-color: #666 transparent transparent transparent;
  position: absolute;
  top: 11px;
  right: 10px;
}
.dropdown dt a#multiLocalidadMasVisto, 
.dropdown dt a#multiLocalidadMasDestacada,
.dropdown dt a#multiMarcaMasVisto,
.dropdown dt a#multiAnioMasVisto,
.dropdown dt a#multiMarcaMasDestacada,
.dropdown dt a#multiAnioMasDestacada,
.dropdown dt a#multiMarcaPrecios,
.dropdown dt a#multiAnioPrecios {width: 152px;}

.dropdown dt a#multiBarrioMasVisto, 
.dropdown dt a#multiBarrioMasDestacada {width: 125px;}

.dropdown dt a#multiTipologiaMasVisto, 
.dropdown dt a#multiTipologiaMasDestacada {width: 140px;}

.dropdown dt a#multiOperacionMasVisto, 
.dropdown dt a#multiOperacionMasDestacada {width: 111px;}

.dropdown dt a#multiBarrioPrecios {width: 158px;}

.dropdown dt a#multiTipologiaPrecios,
.dropdown dt a#multiLocalidadPrecios {width: 238px;}

.dropdown dt a#multiTipologiaPublicadas,
.dropdown dt a#multiOperacionPublicadas {width: 103px;}

.dropdown dt a#multiAnioPublicadas {width: 88px;}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}
.dropdown dd ul {
  background-color: #797979;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 0px;
  position: absolute;
  top: 2px;
  width: 145px;
  list-style: none;
  height: 145px;
  overflow: auto;
  z-index: 99999;
}
#selectZonaMasVisto dd ul,
#selectZonaMasDestacada dd ul {height: 165px;}

#selectLocalidadMasVisto dd ul,
#selectLocalidadMasDestacada dd ul {width: 230px; height: 400px;}
#selectLocalidadPrecios dd ul {width: 250px; height: 400px;}

#selectBarrioMasVisto dd ul, 
#selectBarrioMasDestacada dd ul,
#selectBarrioPrecios dd ul {width: 190px; height: 400px;}

#selectTipologiaMasVisto dd ul, 
#selectTipologiaPublicadas dd ul, 
#selectTipologiaMasDestacada dd ul, 
#selectTipologiaPrecios dd ul {width: 290px; height: 400px;}

#selectOperacionMasVisto dd ul, 
#selectOperacionPublicadas dd ul, 
#selectOperacionMasDestacada dd ul {width: 185px;}

#selectMarcaMasVisto dd ul, 
#selectAnioMasVisto dd ul,
#selectMarcaPublicadas dd ul, 
#selectAnioPublicadas dd ul,
#selectMarcaMasDestacada dd ul, 
#selectAnioMasDestacada dd ul,
#selectMarcaPrecios dd ul, 
#selectAnioPrecios dd ul {width: 206px; height: 400px;}

#selectLocalidadMasVisto li.barriosCordoba,
#selectLocalidadMasDestacada li.barriosCordoba,
#selectLocalidadPrecios li.barriosCordoba,
#selectMarcaMasVisto li.modelos,
#selectMarcaPublicadas li.modelos,
#selectMarcaMasDestacada li.modelos,
#selectMarcaPrecios li.modelos {margin-left: 25px; display:none;}

.dropdown span.value {display: none;}
.dropdown dd ul li {
  padding: 2px 0px;
  height: 24px;
}
.dropdown dd ul li:hover {background-color: #BCBCBC;}
.dropdown dd ul li a {
  padding: 5px;
  display: block;
}
.dropdown dd ul li a:hover {background-color: #fff;}
.dropdown dd ul li label {font-size: 14px;}
.dropdown dd ul li.quitarAll {padding: 5px; height: 15px;}

.dropdown a.filterSelected {
  background-color: #008ACF;
  color: #FFF;
}
.dropdown a.filterSelected:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-color: #FFF transparent transparent transparent;
  position: absolute;
  top: 11px;
  right: 10px;
}
.section-administrar form p.multiSel {color: #FFF;}
.messageSinDatos {
  width: 100%;
  height: 100px;
  background-color: #f1f1f1;
  padding-top: 15px;
  text-align: center;
  color: #666;
  float: left;
}

.globalLoading, .globalLoadingDestacada, .globalLoadingPrecios {
  display: none;
  width: 100%;
  height: 100px;
  background-color: #f1f1f1;
  margin-top: 95px;
}
.globalLoading img, .globalLoadingDestacada img, .globalLoadingPrecios img {margin: 10px;}

.precio_cards h3 {
  font-size: 25px;
  font-weight: normal;
  margin: 10px;
}
.precio_cards{
  background: #f1f1f1;
  width: 100%;
  float: left;
  padding: 0;
  margin-top: 15px;
}
.tc_card {
  float: left;
  list-style: none;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background: #E5E8ED;
  margin: 1%;
  width: 172px;
}
.tc_card:nth-child(1n+1) .tc_inner_card {
  /*border-bottom: 3px solid #1345ED;*/
  min-height: 90px;
}
.tc_inner_card {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform: perspective(2200px) translate(0, 0);
  -moz-transform: perspective(2200px) translate(0, 0);
  -ms-transform: perspective(2200px) translate(0, 0);
  -o-transform: perspective(2200px) translate(0, 0);
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -moz-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -o-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
}
.tc_inner_card .tc_shadow {
  background-image: -moz-linear-gradient(right, rgba(0,0,0,0.16) 0%, rgba(0,0,0,0.01) 100%);
  background-image: -o-linear-gradient(right, rgba(0,0,0,0.16) 0%, rgba(0,0,0,0.01) 100%);
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.01) 100%);
  background-image: linear,right,rgba(0,0,0,0.16) 0%,rgba(0,0,0,0.01) 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.tc_click_target {
  font-size: 1.1em;
  color: #888;
  line-height: 15px;
  font-weight: 300;
  text-align: left;
  padding: 6px 20px;
}
.MiCuenta li .tc_click_target p {
  font-size: 17px;
  line-height: 15px;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
.link_exportacion.right {
  float: right;
  margin-right: 5px;
}

/* REPUBLICACION DE AVISOS */
.republicaciones {margin: 20px 0px; border-top: solid 2px #D1D0D0; padding-top: 20px;}
.republicaciones .republicacion-masiva {margin: 0px; font-size: 14px; border: medium none; color: #FFFFFF; cursor: pointer; font-family: 'openSans', Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; border-radius: 2px; background-color: #E11920; padding-left: 20px; padding-right: 20px; padding-bottom: 10px; padding-top: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.republicaciones .republicacion-masiva.deshabilitado {cursor: default; background-color: #BCBCBC;}
.republicaciones span {font-size: 14px; font-weight: bold; color: #E11920; margin-left: 10px;}
.republicaciones .republicacion-mensajes {float: right; margin-right: 40px;   margin-top: 8px;}
.republicaciones .republicacion-mensajes.deshabilitado {margin-right: 263px; margin-top: -8px;}
.republicaciones .republicacion-ayuda {margin-left: 10px;}

/* TABLA LISTADO REGISTROS */
.sticky-table tr.odd.ok, .sticky-table tr.even.ok {background: #DFD none repeat scroll 0% 0%; color: #200;}
.sticky-table tr.odd.warning, .sticky-table tr.even.warning {background: #FFD none repeat scroll 0% 0%; color: #200;}
.sticky-table tr.odd.error, .sticky-table tr.even.error {background: #FCC none repeat scroll 0% 0%; color: #200;}

/* AGENDA */
.CT .tooltip {padding: 12px; display: none; background: none repeat scroll 0 0 #FAEF72; position: absolute; color: #333; border: 1px solid #DECE07;}
#agenda-contactos-propietario-form .resizable-textarea, #agenda-contactos-vendedor-form .resizable-textarea, #agenda-contactos-inversor-form .resizable-textarea {margin-left: 244px; width: 50%; margin-top: 0px;}
#agenda-contactos-propietario-form input.form-submit, #agenda-contactos-vendedor-form input.form-submit, #agenda-contactos-inversor-form  input.form-submit {margin-left: 244px;}
#agenda-contactos-inversor-form #edit-tipos-avisos-wrapper.form-item select, #agenda-contactos-inversor-form #edit-provincias-avisos-wrapper.form-item select, #agenda-contactos-inversor-form #edit-ciudades-avisos-wrapper.form-item select, #agenda-contactos-inversor-form #edit-barrios-avisos-wrapper.form-item select {height: 140px;}
#agenda-contactos-inversor-form #edit-cantidad-dormitorios-wrapper.form-item select, #agenda-contactos-inversor-form #edit-operaciones-wrapper.form-item select, #agenda-contactos-inversor-form #edit-tipos-barrios-wrapper.form-item select {height: 97px;}
#agenda-contactos-inversor-form #edit-monedas-2-wrapper {margin-top: -35px; margin-left: 295px;}
#agenda-contactos-inversor-form fieldset, #usuarios-colaboradores-log-colabordores fieldset{border: groove; width: 580px;}
#agenda-contactos-inversor-form fieldset legend, #usuarios-colaboradores-log-colabordores fieldset legend {font-weight: bold; margin: 5px; padding: 10px; color: #008ACF;}

/* USUARIOS COLABORADORES */
.botones-colaboradores {margin-bottom: 10px;}
.botones-colaboradores a {margin-right: 10px;}
#usuarios-colaboradores-log-colabordores fieldset{width: 100%; padding: 10px;}
#usuarios-colaboradores-log-colabordores #edit-accion-wrapper {width: 20%; float: left; margin: 0px;}
#usuarios-colaboradores-log-colabordores .acciones {float: right; margin-top: -46px; margin-right: 620px;}

.page-add-colaborador .form-item label, #usuarios-colaboradores-crear-colaborador label {padding-top: 10px; display: block; float: left; font-weight: normal; padding-right: 14px; padding-top: 4px; text-align: right; width: 231px; padding-top: 10px !important;}
.page-add-colaborador .form-item input[type=text], 
.page-add-colaborador .form-item select, 
.page-add-colaborador .form-item input[type=password],
#usuarios-colaboradores-crear-colaborador input[type=text], 
#usuarios-colaboradores-crear-colaborador select, 
#usuarios-colaboradores-crear-colaborador input[type=password]
{border: 1px solid #cccccc; height: 34px; line-height: 26px; margin-bottom: 0; padding-left: 5px; padding-right: 5px;}
.page-add-colaborador .form-radios .form-item label, 
.page-add-colaborador .form-checkboxes .form-item label,
#usuarios-colaboradores-crear-colaborador .form-radios .form-item label, 
#usuarios-colaboradores-crear-colaborador .form-checkboxes .form-item label  
{ width: inherit; float: none; text-align: left; }
.page-add-colaborador .form-radios #edit-sexo-1-wrapper, #usuarios-colaboradores-crear-colaborador .form-radios #edit-sexo-1-wrapper {margin-top: -35px; margin-left: 340px;}
.page-add-colaborador .form-checkboxes, #usuarios-colaboradores-crear-colaborador  .form-checkboxes {float: left; width: 700px;}
.page-add-colaborador .form-checkboxes input, #usuarios-colaboradores-crear-colaborador .form-checkboxes input {width: 20px; height: 14px; margin-top: 0px; float: left;}
.page-add-colaborador input.form-submit, #usuarios-colaboradores-crear-colaborador  input.form-submit {float: none; margin-left: 252px; margin-right: 10px;}

/* LISTADO AVISOS ALOJAMIENTOS */
.dsCountDown, .dsCountDown .ds-element{float: left; margin-right: 5px;}
.links-alojamiento .link-reservas {float: left; margin-right: 87px;}
.links-alojamiento .link-calendario {float: right; }

/* FORM ALOJAMIENTOS */
.form-alojamientos i.lv {
	font-family: 'lavoz-new-icons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	color: #0089cf;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.form-alojamientos.mt-20 {margin-top: 20px;}
.form-alojamientos .mt-20 {margin-top: 20px;}
.form-alojamientos.col-full {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
.form-alojamientos .col-full {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
.form-alojamientos .fl-left {float: left;}
.form-alojamientos .ml-50 {margin-left: 50px;}
.form-alojamientos .mt-30 {margin-top: 30px;}
.form-alojamientos.main-content p.sizesmall {font-size: 10px;}
.form-alojamientos .main-content p.sizesmall {font-size: 10px;}
.form-alojamientos .display-in-block {display: inline-block;}
.form-alojamientos.main-content strong, 
.form-alojamientos.main-content .bold {font-weight: bold;}
.form-alojamientos .main-content strong, 
.form-alojamientos.main-content .bold {font-weight: bold;}
.form-alojamientos .main-content .bold {font-weight: bold;}
.form-alojamientos.main-content p {font-size: 13px; line-height: 140%;}
.form-alojamientos .main-content p {font-size: 13px; line-height: 140%;}
.form-alojamientos .edition-tabs .inline-wrapper:before, 
.form-alojamientos .edition-tabs .inline-wrapper:after {
  display: table;
  content: '';
  clear: both;
}
.form-alojamientos .ui-tabs {
  position: relative;
  padding: .2em;
}
.form-alojamientos .mt-40 {margin-top: 40px;}
.form-alojamientos .mt-10 {margin-top: 10px;}
.form-alojamientos .fa {
  margin-right: 3px;
  color: #0089cf;
}
.form-alojamientos .btn {
  margin: 0 5px;
  padding: 11px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background-clip: padding-box;
}
.form-alojamientos .btn-secondary {
  display: inline-block;
  color: #666;
  border: 1px solid #e6e6e6;
}
.form-alojamientos.main-content{color: #666; font-family: Arial, Helvetica, sans-serif;}
.form-alojamientos .main-content{color: #666; font-family: Arial, Helvetica, sans-serif;}
.form-alojamientos .tools-top {padding: 0 20px;}
.form-alojamientos .tools-top p {line-height: 37px;}
.form-alojamientos .tools-top .top-name {
  width: 400px;
  height: 100%;
  padding: 0 10px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  background-clip: padding-box;
}
.edition-tabs.ui-tabs-vertical.ui-widget.ui-widget-content {border: 0;}
.edition-tabs.ui-tabs-vertical .ui-tabs-nav {
  width: 20%;
  padding: 0;
  float: left;
  border: 0;
  background: transparent;
}
.form-alojamientos .ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li {
  box-sizing: border-box;
  list-style: none;
  float: left;  
  width: 100%;
  margin: 0;
  padding: 12px 10px;
  clear: left;
  white-space: normal;
  color: #666;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  background: transparent;
}
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  color: #fff;
  background: #0089cf;
}
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li a {
  width: 100%;
  padding: 0;
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 14px;
  color: #666;
  margin: 0px;
}
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
  color: #fff;
  cursor: text;
}
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li .fa,
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li .far {
  margin-right: 9px;
  float: left;
  color: #666;
}
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li .fa-list {font-size: 15px;}
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li .fa-calendar {font-size: 18px;}
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li .fa-image {font-size: 19px;}
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .fa,
.edition-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .far {color: #fff;}

.edition-tabs.ui-tabs-vertical .ui-tabs-panel {
  box-sizing: border-box;
  width: 80%;
  padding: 12px 35px 12px 12px;
  float: right;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-clip: padding-box;
}
.edition-tabs .edit-section {
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-clip: padding-box;
}
.edition-tabs .edit-section .title {
  font-size: 16px;
  padding: 17px 14px 50px 14px;
  font-weight: bold;
  color: #323943;
  border-bottom: 1px solid #e4e4e4;
  background: #f1f1f1;
}

.edition-tabs .edit-section .title h4 {
  float: left;
}
.edition-tabs .edit-section .title .total {
  color: #A92319;
  font-weight: bold;
  font-size: 17px;
  float: left;
  margin-top: 20px;
  margin-left: -345px;
}

.edition-tabs .edit-section .title .export {
  float: right;
}

.edition-tabs .edit-section .edit-inner {padding: 13px;}
.edition-tabs .calendar-wrapper {width: 705px; margin-bottom: 15px;}
.form-alojamientos .calendar-wrapper .fa {color: #999;}
.edition-tabs .calendar-box {
  padding-bottom: 25px;  
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.edition-tabs .calendar-box label,
.edition-tabs .dopbcp-inputs-wrapper label {
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.dopbcp-input-wrapper .fa.fa-calendar{
  position: absolute;
  right: 254px;
  margin-top: 16px;
  font-size: 18px;
  color: #666;
}
.dopbcp-sidebar-content .select-book-group {
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-clip: padding-box;
}
.dopbcp-sidebar-content .select-book-group i {
  position: relative;
  width: 37px;
  height: 29px;
  margin: 0;
  padding: 7px 10px;
  float: left;
  text-align: center;
  border-right: 1px solid #e6e6e6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #fff;
  box-sizing: border-box;
  font-size: 16px;
}
.form-alojamientos .calendar-wrapper .fa.fa-avai {color: #5ac393;}
.form-alojamientos .calendar-wrapper .fa.fa-book {color: #ff6c7b;}
.form-alojamientos .calendar-wrapper .fa.fa-unav {color: #ccc;}

.dopbcp-input-wrapper .input-box input[type=text] {
  padding: 10px 15px;
  font-size: 13px;
  color: #666;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-clip: padding-box;
  width: 156px;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.label-inline, 
.edition-tabs .label-inline {
  width: 135px;
  margin-right: 15px;
  padding-top: 10px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  line-height: 15px;
  text-align: right;
}
.form-alojamientos .input-box {
  position: relative;
  margin: 5px 0 10px;
  display: table;
}
.form-alojamientos .input-box .input-box-addon {
  width: 1%;
  padding: 6px 12px;
  display: table-cell;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #666;
  border: 1px solid #e4e4e4;
  border-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #eee;
  font-size: 13px;
}
.form-alojamientos .form-item {margin: 0px;}
.form-alojamientos .form-item label {display: none;}
.form-alojamientos .form-radios .form-item label,
.form-alojamientos .form-checkboxes .form-item label {
  display: block; 
  font-size: 13px;
  margin-right: 10px;
}
.form-alojamientos.main-content input,
.form-alojamientos.main-content select {
  padding: 9px 15px;
  font-size: 13px;
  color: #666;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-clip: padding-box;
}
.form-alojamientos.main-content input#DOPBCP-submit {color: #FFF;}
.form-alojamientos .input-box input {
  max-width: 95%;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-alojamientos .capa-disabled {
  position: absolute;
  margin-left: 182px;
  margin-top: -48px;
  padding: 18px 15px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 92px;
  background-color: #e4e4e4;
  display: none;
}
.chk-group {line-height: 35px;}
.form-alojamientos .form-radios .form-item,
.form-alojamientos .form-checkboxes .form-item {float: left;}

.form-alojamientos .form-radios .form-item input,
.form-alojamientos .form-checkboxes .form-item input {
  width: 19px;
  height: 19px;
  margin: 0;
}

.select-inline, .edition-tabs .select-inline {
  width: 200px;
  margin: 0;
}
.bg-box {
  width: 45px;
  height: 36px;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  color: #666;
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #eee;
}
.bg-box.estadia {height: 38px; margin-right: 30px;}
.form-alojamientos #edit-field-aviso-estadia-minima-value,
.form-alojamientos #edit-field-aviso-checkin-0-value,
.form-alojamientos #edit-field-aviso-checkout-0-value {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-alojamientos #edit-field-aviso-estadia-minima-value {width: 95px;}
.form-alojamientos #edit-field-aviso-norma-casa-0-value {
  margin: 9px 0;
  padding: 10px 15px;
  font-size: 13px;
  color: #666;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-clip: padding-box;
  width: 400px;
}
.resizable-textarea .grippie {
  width: 429px;
  margin-top: -9px;
  margin-left: 151px;
}
.form-alojamientos #edit-field-aviso-garantia-monto-0-value-wrapper, 
.form-alojamientos #edit-field-aviso-limpieza-monto-0-value-wrapper,
.form-alojamientos #edit-field-aviso-desayuno-monto-0-value-wrapper,
.form-alojamientos #edit-field-aviso-cochera-monto-0-value-wrapper,
.form-alojamientos #edit-field-aviso-precio-0-value-wrapper {
  width: 150px;
  float: left;
}
.form-alojamientos .fa-question-circle,
.form-alojamientos .fa-info-circle {
  margin-left: 8px;
  font-size: 16px;
  margin-top: 10px;
}
.fa.fa-warn {color: #aa0017;}
.form-alojamientos .chk-group.forma-pago .form-checkboxes {padding-top: 8px;}
.form-alojamientos .inline-wrapper .aclara {
  margin-left: 150px;
  font-size: 10px;
  color: #ccc;
}
#edit-submit {color: #fff; background-color: #323943;}
.form-alojamientos .icon-eye {
  height: 24px;
  padding: 6px 8px;
  border: 1px solid #e4e4e4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#tabs-info .input-box input {
  margin: 0;
}
.form-alojamientos .input-show input {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-alojamientos #edit-field-aviso-tel-vendedor-0-value-wrapper,
.form-alojamientos #edit-field-aviso-mail-vendedor-0-value-wrapper,
.form-alojamientos #edit-title-wrapper,
.form-alojamientos #edit-field-aviso-calle-0-value-wrapper {
  width: 405px;
  float: left;
  height: 37px;
}
.form-alojamientos .fa.fa-phone {color: #333333;}
.form-alojamientos #tabs-info .input-box .fa.fa-lock {
  color: #333333;
  margin-top: 4px;
  font-size: 19px;
  margin-right: 5px;
}
.form-alojamientos .input-box .input-box-addon.font-big {font-size: 17px;}
#tabs-info .maw {
  max-width: 460px; 
  height: 24px;
}
#tabs-info .fa-lock {
  margin-right: 10px;
  font-size: 22px;
}
.form-alojamientos .inline-wrapper p.hightlited {
  color: #0089cf;
}
.form-alojamientos #edit-title,
.form-alojamientos #edit-field-aviso-calle-0-value,
.form-alojamientos #edit-field-aviso-superficie-total-0-value,
.form-alojamientos #edit-field-aviso-superficie-cubierta-0-value {width: 370px;}
.form-alojamientos #edit-body_tbl {
  float: none;
  margin: 0;
  clear: none;
  padding: 5px 5px;
  font-size: 13px;
  color: #666;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-clip: padding-box;
  width: 402px !important;
}
.form-alojamientos .defaultSkin table.mceLayout tr.mceFirst td {border-top: none;}
.form-alojamientos #edit-field-aviso-calle-altura-0-value,
.form-alojamientos #edit-field-aviso-cantidad-dormitorios-value,
.form-alojamientos #edit-field-aviso-cantidad-banios-value,
.form-alojamientos #edit-field-aviso-cantidad-cama-mat-value,
.form-alojamientos #edit-field-aviso-cantidad-cama-sim-value,
.form-alojamientos #edit-field-aviso-cantidad-cama-mar-value,
.form-alojamientos #edit-field-aviso-cantidad-cama-cuc-value,
.form-alojamientos #edit-field-aviso-cantidad-cama-sof-value,
.MiCuenta .form-alojamientos .readonly-text {width: 160px;}
.form-alojamientos #edit-field-aviso-tipo-barrio-value,
.form-alojamientos #edit-field-aviso-tipo-unidad-tmp-value,
.form-alojamientos #edit-field-aviso-cantidad-plantas-value,
.form-alojamientos #edit-field-aviso-cantidad-cocheras-value {width: 190px;}
.MiCuenta .form-alojamientos .readonly-text {height: 17px;}
.form-alojamientos .map-address {
  max-width: 300px;
  margin-left: 150px;
}
.form-alojamientos .map-address .recomendacion {float: left;}
.form-alojamientos .map-address .mensaje-direccion {margin-left: 1px; float: left;}
.form-alojamientos .Boton {margin-bottom: 10px;}
.form-alojamientos .opciones-geomap {
  padding-left: 0px;
  margin-top: 0px;
  float: left;
}
.form-alojamientos .opciones-geomap div {
  font-size: 13px;
  width: 511px;
}

.features-group {
  max-width: 530px;
  margin: 30px 0 30px 60px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-clip: padding-box;
  height: 106px;
}
.features-group.camas {height: 330px;}
.features-group:before, .features-group:after {
  display: table;
  content: '';
}
.features-group .feature-item {
  width: 155px;
  padding: 12px 10px 10px;
  text-align: center;
  border-right: 1px solid #e4e4e4;
}
.features-group .fa, .features-group .lv {
  margin: 0 0 13px;
  display: inline-block;
  font-size: 32px;
}
.features-group .fa.fa-bed {
  margin-left: 150px;
  margin-top: 20px;
}
.features-group .feature-item:last-child {border-right: 0;}
.lv-rooms::before {content: '\e900';}
.lv-bath::before {content: '\e901';}
.form-alojamientos #edit-field-aviso-capacidad-value {
  float: left;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-alojamientos .fl-left.label-huesped {
  height: 37px;
  width: 86px;
}
.form-alojamientos .taxonomy-super-select-checkboxes .option input {
  width: 19px;
  height: 19px;
}
.form-alojamientos .taxonomy-super-select-checkboxes label {display: block;}
.form-alojamientos .taxonomy-super-select-checkboxes .form-item label.option{width: 165px;}
.form-alojamientos .largo .taxonomy-super-select-checkboxes .form-item label.option{width: 240px;}
.form-alojamientos .list-term {margin-left: 150px;}

.medias-content {padding: 20px 25px;}
.medias-content .medias-wrapper {
  position: relative;
  /*overflow: auto;*/
  text-align: center;
  border: 2px dashed #e4e4e4;
  border-radius: 5px;
  background-clip: padding-box;
}
.form-alojamientos #edit-field-aviso-fotos .description {display: none;}
.form-alojamientos #edit-field-aviso-fotos img {
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  background-clip: padding-box;
  border: 2px dashed #e4e4e4;
  padding: 10px;
}
.form-alojamientos .plup-list li.main .plup-preview-wrapper .plup-main-item,
.form-alojamientos .plup-list li .plup-preview-wrapper .plup-remove-item {
  z-index: 10;
  top: 10px;
  min-width: 17px;
  height: 17px;
  padding: 0 4px;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  color: #666;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-color: #fff;
  background-clip: padding-box;
  left: 15px;
  width: 72px;
}
.form-alojamientos .plup-list li .plup-preview-wrapper .plup-remove-item {
  width: 45px;
  margin-left: 106px;
  margin-top: 4px;
}
.form-alojamientos .plup-list {width: 100%;}
.form-alojamientos .plup-list li {
  background: none;
  width: 180px;
  border-bottom: none;
  padding: 0px;
  position: relative;
  width: 168px;
  height: 166px;
  margin-top: 25px;
  /*margin-right: 40px;*/
  margin-left: 33px;
  display: inline-block;
  border-radius: 5px;
  background-clip: padding-box;
}
.form-alojamientos .con-imagenes #edit-field-aviso-fotos-plup-select {
  z-index: 0;
  width: 188px;
  height: 149px;
  margin-top: 0px;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  background: none;
  background-clip: padding-box;
  position: relative;
  text-align: center;
  color: #666;
  border: 2px dashed #e4e4e4;
  line-height: 170px;
  margin-left: -3px;
}
.form-alojamientos .con-imagenes #edit-field-aviso-fotos-plup-select:hover {
  border-color: #0089cf;
  background: rgba(0, 137, 207, .1);
}
.form-alojamientos .con-imagenes #edit-field-aviso-fotos-plup-select:before {
  display: block;
  font-size: 53px;
  line-height: 40px;
  content: '+';
  margin-top: 50px;
}
.form-alojamientos .con-imagenes #edit-field-aviso-fotos-plup-select:after {
  content: 'Añadir mas';
  top: -74px;
  position: relative;
}
.form-alojamientos .sin-imagenes #edit-field-aviso-fotos-plup-select {
  border: 0;
  margin: 9px 0;
  padding: 10px 15px;
  font-size: 13px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-clip: padding-box;
  color: #fff;
  background-color: #0089cf;
}
.form-alojamientos .sin-imagenes #edit-field-aviso-fotos-plup-select:after {content: 'cargar fotos';}
.form-alojamientos .medias-content .medias-wrapper .media-cta .fa {
  display: block;
  font-size: 33px;
  margin-top: 60px;
}
.form-alojamientos .sin-imagenes .plup-list li {
  height: 115px;
  margin-top: 0px;
  margin-left: 236px;
}
.form-alojamientos .hierarchical-select select {float:none; margin-right: 151px;}
.form-alojamientos .hierarchical-select-wrapper .hierarchical-select .selects {float:none;}
.form-alojamientos #edit-taxonomy-5-hierarchical-select-selects-1,
.form-alojamientos #edit-taxonomy-5-hierarchical-select-selects-2 {margin-left: 150px;}
.form-alojamientos #edit-taxonomy-5-hierarchical-select-selects-1.ciudad {margin-left: 0px;}
.form-alojamientos.main-content input.boton-mapa {
  cursor: pointer;
   background-color: #0089cf;
   color: #FFF;
}
.form-alojamientos #edit-submit {cursor: pointer;}
.form-alojamientos #edit-field-aviso-ocultar-tel-value-1-wrapper {display: none;}
.form-alojamientos #edit-field-aviso-ocultar-mail-value-1-wrapper {display: none;}

/* LISTADO Y DETALLE DE RESERVAS */
.border-wrapper.reservas-list {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-clip: padding-box;
  margin-top: 20px;
  padding: 10px 17px;
}
.reservas-list .fa {margin-right: 3px;}
.reservas-list .border-wrapper {
  padding: 12px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-clip: padding-box;
  margin: 3px 5px;
  height: 23px;
}
.reservas-list .cols-wrap:before, .reservas-list .cols-wrap:after {
  display: table;
  content: '';
}
.reservas-list .edit-section:before, .reservas-list .edit-section:after {
  display: table;
  content: '';
}
.reservas-list .col-small, .reservas-list .col-medium, .reservas-list .col-regular, .reservas-list .col-large {
  margin-right: 25px;
  font-size: 12px;
  word-wrap: break-word;
}
.reservas-list .col-small {width: 66px;}
.reservas-list .col-medium {width: 87px;}
.reservas-list .col-large {width: 320px;}
.reservas-list .col-regular {width: 108px;}
.reservas-list p {
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 140%;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}
.reservas-list strong, .reservas-list .bold {font-weight: bold;}
.reservas-list .row {
  margin-bottom: 25px;
  display: inline-block;
}
.reservas-list p.status-pending {color: #f29107;}
.reservas-list p.status-confirm {color: #648114;}
.reservas-list p.status-reject {color: #e00018;}
.reservas-list p.status-expired {color: #666;}
.reservas-list .row span:last-child {margin-right: 0;}
.reservas-list .sizesmall {font-size: 11px;}
.reservas-list .ad-info img {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-clip: padding-box;
  width: 68px;
  height: 50px;
  margin-right: 5px;
  float: left;
}
.reservas-list .sizesmall.dsCountDown {float: right;}
.reservas-list .dsCountDown .ds-element {margin-right: 2px;}
.reservas-list .btn-primary {
  color: #fff;
  background-color: #0089cf;
  margin: 0 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 7px 15px;
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
}
.view-reservas .views-exposed-widgets {padding: 0 20px;}
.view-reservas label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
}
.view-reservas .views-widget-filter-title label,
.view-reservas .views-widget-filter-status label {
  width: auto;
  padding: 0;
  line-height: 30px;
  float: left;
  margin-right: 15px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
}
.view-reservas .views-widget-filter-status label {margin-left: 50px;}
.view-reservas .views-widget {float: left;}
.view-reservas #edit-title-wrapper{
  float: left;
  max-width: 100px;
  margin: 0;
  position: relative;
  display: table;
}
.view-reservas .form-item input[type=text]#edit-title {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;  
  padding: 10px 15px;
  font-size: 13px;
  color: #666;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-clip: padding-box;
  max-width: 95%;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}
.view-reservas .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-item .form-select {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  font-size: 13px;
  color: #666;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding-left: 45px;
  background: #fff;
  float: left;
  width: 200px;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 30px;
  margin: 0 30px;
}
.view-reservas .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0px;
  padding: 7px 15px;
  font-size: 13px;
}

.view-reservas .pager {
  width: 100%;
  margin: 20px 0 0;
  display: inline-block;
  text-align: center;
}
.view-reservas .pager p {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}
.view-reservas .pager li {
  display: inline-block;
  margin: 0px;
}
.view-reservas .pager li.pager-current {
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 15px;
  padding: 10px 10px 12px 10px;
}
.view-reservas .pager li a {
  color: #0089cf;
  font-size: 15px;
  margin-bottom: 0px;
}

.reservas-content.mt-20 {margin-top: 20px;}
.reservas-content div {box-sizing: border-box;}
.reservas-content.col-full {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
.reservas-content .btn-back {
  font-size: 13px;
  font-weight: bold;
}
.reservas-content .btn-back .fa {font-size: 21px;}
.reservas-content .border-wrapper {
  padding: 12px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-clip: padding-box;
}

#contactar-vendedor-listado-interesados .reservas-content .border-wrapper {
  padding: 0px;
  border: none;
}

.reservas-content .mt-20 {margin-top: 20px;}
.reservas-content .fa {margin-right: 3px;}
.reservas-content .edition-tabs .edit-section .edit-inner:before, 
.reservas-content .edition-tabs .edit-section .edit-inner:after {
  display: table;
  content: '';
}
.reservas-content .edition-tabs .edit-section .edit-inner {padding: 13px;}
.reservas-content p {
  margin-bottom: 5px; 
  font-size: 13px;
  line-height: 140%;
}
.reservas-content strong, .reservas-content .bold {font-weight: bold;}
.reservas-content p.status-pending {color: #f29107;}
.reservas-content p.status-confirm {color: #648114;}
.reservas-content p.status-reject {color: #e00018;}
.reservas-content p.status-expired {color: #666;}
.reservas-content .dsCountDown {
  float: right;
  margin-left: 5px;
}
.reservas-content .dsCountDown .ds-element {margin-right: 2px;}
.reservas-content .reserva-details {
  width: 100%;
  padding: 0 13px;
  display: inline-block;
  border-top: 1px solid #e4e4e4;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details {
  padding: 0 0 0 13px;
}
.reservas-content .reserva-details .col-left {
  width: 250px;
  padding: 14px 40px 14px 0;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-left {
  width: 215px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-left .cantidad-aviso {
  position: absolute;
  left: 403px;
  font-size: 15px;
  vertical-align: middle;
  border-radius: 25%;
  background: #A92319;
  margin-top: -10px;
  padding: 6px;
  font-weight: 600;
  color: #FFF;
}

.reservas-content .reserva-details .col-right {
  width: calc(100% - 250px);
  padding: 14px 25px;
  border-left: 1px solid #e4e4e4;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right {
  min-height: 230px;
  padding: 0;
  width: calc(100% - 215px);
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .top-table {
  background-color: #999;
  padding: 8px 5px;
  color: #FFF;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .top-table span {
  margin-right: 70px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .top-table span.large {
  margin-right: 203px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .top-table span.middle {
  margin-right: 110px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table {
  padding: 10px 5px;
  font-weight: 600;
  border-bottom: 1px solid #e4e4e4;
  height: 33px;
}

#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table.Visto {
  background-color: #FDF1A6;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table.Eliminar {
  background-color: #ED9B9B;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table.Contactado {
  background-color: #A0ED9B;
}

#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table span {
  width: 110px;
  display: block;
  float: left;
  height: 17px;
  overflow: hidden;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table span.large {
  width: 249px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table span.middle {
  width: 160px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table span.fonts-middle {
  font-size: 11px;
  color: #b3b3b3;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table.Eliminar span.fonts-middle {
  color: #FFF;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table.Contactado span.fonts-middle {
  color: #747e9c;
}

#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table span.img-select {
  cursor: pointer;
  position: absolute;
  right: 150px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table span.img-select img{
  width: 12px;
  height: 12px;
  border: none;
  margin: 0px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .col-right .row-table .estado-interesado{
  display: none;
  margin-top: -3px;
}  
  
.reservas-content .reserva-details h5 {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #b3b3b3;
}

#contactar-vendedor-listado-interesados .reservas-content .reserva-details h5 {
  margin-bottom: 0px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .reserva-rubro {
  margin-left: 29px;
  font-weight: bold;
  color: #A92319;
}

#contactar-vendedor-listado-interesados .colapsar-interesados {
  float: right;
  margin-top: -9px;
}
#contactar-vendedor-listado-interesados .colapsed-menos {
  width: 22px;
  border: none;
}

#contactar-vendedor-listado-interesados .colapsed {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 2px;
}
#contactar-vendedor-listado-interesados .colapsed h5 {
  float: left;
}
#contactar-vendedor-listado-interesados .colapsed .colapsed-mas {
  width: 22px;
  float: right;
  margin-right: 5px;
  margin-top: -2px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .colapsed .reserva-rubro {
  float: left;
  font-size: 13px;
  margin-left: 10px;
}
#contactar-vendedor-listado-interesados .reservas-content .reserva-details .colapsed .cantidad-aviso {
  font-weight: 800;
  float: right;
  margin-right: 10%;
}

.reservas-content .reserva-details i {color: #ccc;}
.reservas-content .reserva-details h5 i {
  margin-right: 8px;
  font-size: 21px;
  vertical-align: sub;
}
.reservas-content a {
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 140%;
  color: #323943;
}
.reservas-content img {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-clip: padding-box;
}
.reservas-content .reserva-details img {
  width: 163px;
  height: auto;
  margin-top: 5px;
}
.reservas-content .reserva-details .col-middle {width: 235px;}
.reservas-content .btn.btn-destacado, 
.reservas-content .btn.btn-primary {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: .5em 1em;
  background: #007fff;
  font-family: Arial,Helvetica,sans-serif;
  border-radius: 3px;
}
#tabs-booking.ui-widget.ui-widget-content {
  border: 0;
  background: none;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
#tabs-booking .ui-widget-header {
  padding: 0;
  border: 0;
  background: transparent;
}
#tabs-booking .ui-tabs-panel {
  border-radius: 5px;
  background-clip: padding-box;
}
#tabs-booking #tabs-confirm.ui-tabs-panel {
  border: 1px solid #0089cf;
  border-top-left-radius: 0;
  background: rgba(0, 137, 207, .03);
  height: 60px;
}
#tabs-booking #tabs-reject.ui-tabs-panel {
  border: 1px solid #e00018;
  background: rgba(224, 0, 24, .03);
  padding: 1em 1.4em;
  height: 249px;
}
#tabs-booking .ui-tabs-nav li {
  margin-right: 10px;
  border: 0;
  border-radius: 3px;
  background-clip: padding-box;
  float: left;
}
#tabs-booking .ui-tabs-nav li.tab-confirm {
  background: #0089cf;
}
#tabs-booking .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0;
  padding-bottom: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#tabs-booking .ui-tabs-nav li a {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  width: 115px;
  text-align: center;
  padding-top: 9px;
}
#tabs-booking .ui-tabs-nav li.tab-reject {background: #e00018;}
.ui-helper-clearfix:after {clear: both;}
#tabs-booking  .display-in-block {display: inline-block;}
#tabs-booking .label-inline {width: auto;}
#tabs-booking .form-item select {
  padding: 8px 15px;
  font-size: 13px;
  color: #666;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-clip: padding-box;
  font-family: Arial,Helvetica,sans-serif;
}
#tabs-booking #edit-opciones-wrapper{
    float: left;
    margin-top: 0px;
}
#tabs-booking label {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}
#tabs-booking #edit-mensaje {
  margin: 9px 0;
  padding: 10px 15px;
  font-size: 13px;
  color: #666;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-clip: padding-box;
}

#tabs-booking #edit-submit {
  letter-spacing: .03em;
  color: #fff;
  background-color: #e00018;
  display: inline-block;
  color: #fff;
  padding: 7px 15px;
  font-size: 13px;
}
#tabs-booking .btn-confirmar {
  margin-left: 15px;
  margin-top: 15px;
}
.CT .CalendariosDelAviso {
    width: 723px;
    border: 1px solid #D1D0CE;
    padding-top: 5px;
    margin-bottom: 5px;
    position: relative;
    border: 0 none;
    background: #F9F9F9;
}
.CT .CalendariosDelAviso .Borde{height: 180px;}

.BoxResultado p.status-pending {
  font-size: 13px;
  color: #f29107;
  float: left;
  margin-top: 3px;
}
.BoxResultado .fa-clock-o {margin-right: 3px;}
.BoxResultado .countdown {
  float: right;
  margin-left: 5px;
}
.BoxResultado .countdown .ds-element {margin-right: 2px;}
.BoxResultado .link-reservas {
  color: #E11920;
  font-weight: bold;
}
.BoxResultado .fa-circle {color: #E11920;}
.BoxResultado .link-calendario {
  position: absolute;
  top: 91px;
  left: 326px;
  padding: 6px 12px;
  display: table-cell;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #666;
  border: 1px solid #e4e4e4;
  border-right: 0;
  border-radius: 4px;
  background-color: #eee;
  cursor: pointer;
  z-index: 9999;
}
.BoxResultado .links-reservas {
  margin-left: 170px;
  margin-top: 0px;
}
.BoxResultado .fa-calendar-check-o {
  font-size: 18px;
  color: #666;
}
.CT .views-bulk-operations-form .CalendariosDelAviso .dialogo {right: 164px;}
.CT .views-bulk-operations-form .contactosAlojamiento .dialogo {background: none;}
p.mensaje-videos {
  font-size: 14px;
  padding: 6px 0px;
  font-weight: bold;
  color: #666;
}
p.mensaje-videos a {color: #008ACF;}

/* TOOLTIPS */
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
  -webkit-box-shadow: 0px 0px 5px #666666;
	box-shadow: 0px 0px 5px #666666;
}
body .ui-tooltip {
	border-width: 2px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 3px;
}
.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.CrearAnuncio .g-recaptcha {
  margin: 0 auto;
  width: 50%;
  display: block;
}

#ventas-lugar-entrega-form #autocomplete {margin-left: 245px; padding-left: 5px; line-height: 26px;}

#edit-profile-telefono-whatsapp-wrapper {display: none;}
#telefono-whatsapp-wrapper input#codigo_area_whatsapp {
  width: 45px;
}
#telefono-whatsapp-wrapper input#telefono_whatsapp {
  width: 90px;
}
#telefono-whatsapp-wrapper .whatsapp_bandera {
  background: url(../img/flagarg.png) no-repeat;
  height: 15px;
  width: 21px;
  float: left;
  margin-top: 16px; 
  margin-right: 5px;
}

/* Avisos historial */
#content-historial .search-item {
  float: left; 
  margin-right: 10px;
  width: 230px;
}
#content-historial .search-item .sc-img img {width: 230px;}
#content-historial .search-item .sc-price {
  position: absolute;     
  padding: 10px 14px;
  text-align: center;
  background: rgba(255, 255, 255, .9);
  margin-top: -38px;
}
#content-historial .search-item .sc-price div {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
#content-historial .search-item .sc-content {padding: 5px;}
#content-historial .search-item .sc-content h2 {
  max-width: 220px;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  color: #008ACF;
  font-size: 18px;
  font-weight: 400;
  line-height: inherit;
  margin-bottom: 0px;
}
#content-historial .search-item .sc-content .sc-features .sizemed {
  display: block;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  color: #545454;
  margin-bottom: 3px;
}
#content-historial .search-item .sc-content .sc-features .sizemed a {
  color: #545454;
  font-size: 12px;
}
#content-historial .search-item .sc-content .sc-features .sizemed i {
  font-size: 10px;
  color: #545454;
  margin-right: 3px;
}
#content-historial .search-item .sc-content .sc-features .tiempo {
  font-size: 11px;
  font-weight: 600;
}
#content-historial .search-item .sc-content .sc-features .tiempo .fa {
  font-size: 13px;
  color: #545454;
  margin-right: 3px;
}