@charset "UTF-8";
/* AVISO TEASER: Estilos relacionados al Teaser del Aviso */

.CD .Borde, .CT .Borde {border:1px solid #D1D0CE;padding:10px;}

.CD .BoxResultado, .CT .BoxResultado { margin-bottom:10px; position:relative;}
.CD .BoxResultado h2, .CT .BoxResultado h2,
.CD .BoxResultado h4, .CT .BoxResultado h4 { font-size:14px; font-weight:bold; color:#073E8E; line-height:18px; margin-bottom:5px;}
.CD .BoxResultado h2 a, .CT .BoxResultado h2 a,
.CD .BoxResultado a h4, .CT .BoxResultado a h4  {color:#000;}
.CD .BoxResultado p, .CT .BoxResultado p { font-size:12px; color:#3D3D3D; line-height:16px; height: 17px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.CD .BoxResultado .Info, .CT .BoxResultado .Info { position:relative; /*height:90px;*/
  overflow:hidden; 
  min-height: 110px;
}
.CD .Espacio-1009 .Info, .CT .Espacio-1009 .Info,
.CD .Espacio-Superpremium .Info, .CT .Espacio-Superpremium .Info,
.CD .Espacio-308834 .Info, .CT .Espacio-308834 .Info
{ position:relative;/*height:115px;*/ overflow:hidden; min-height: 115px;}
.CD .BoxResultado .Info .Right, .CT .BoxResultado .Info .Right {margin-left:10px;text-align:right;width:71px;}
.CD .BoxResultado .Info .Left, .CT .BoxResultado .Info .Left { width:500px; padding-left:10px; position:relative;}
.CD .Espacio-1009 .Info .Left, .CT .Espacio-1009 .Info .Left,
.CD .Espacio-Superpremium .Info .Left, .CT .Espacio-Superpremium .Info .Left,
.CD .Espacio-308834 .Info .Left, .CT .Espacio-308834 .Info .Left
{ width:447px; padding-left:10px; position:relative;}
.CD .Espacio-All .Info .Descripcion, .CT .Espacio-All .Info .Descripcion
{width:425px;}
.CD .Espacio-1009 .Info .Descripcion, .CT .Espacio-1009 .Info .Descripcion,
.CD .Espacio-Superpremium .Info .Descripcion, .CT .Espacio-Superpremium .Info .Descripcion,
.CD .Espacio-308834 .Info .Descripcion, .CT .Espacio-308834 .Info .Descripcion
{width:370px;}

.CD .BoxResultado .cifra, .CT .BoxResultado .cifra { font-size:15px; font-weight:bold; color:#A92319; line-height:19px;}
.CD .BoxResultado .avatar, .CT .BoxResultado .avatar { text-align:center;/* position:absolute; */bottom:0; width:73px; right:0;top: 50px; position:absolute; margin-right: 8px; z-index: 900; height: 52px;}
.concesionar-sin-avatar {display: block; width: 66px; height: 48px;}
.CD .BoxResultado .avatar p, .CT .BoxResultado .avatar p { font-size:11px; line-height:normal; color:#5D5D5D; margin-top:6px; width: 74px; position: absolute; right: 85px;}
.CD .BoxResultado .utilidades, .CT .BoxResultado .utilidades { color:#073E8E; font-size:12px; margin-top:5px; position:absolute; bottom:0;}
.CD .BoxResultado .utilidades .Vistaprevia, .CT .BoxResultado .utilidades .Vistaprevia {margin-left:8px;background-image: url(../img/ico_fleabajo.gif);background-repeat: no-repeat;background-position: left top;padding-left:18px;}
.CD .BoxResultado .utilidades Input, .CT .BoxResultado .utilidades Input { margin:0; padding:0;}

.BoxResultado h2.result-descripcion,
.BoxResultado h3,
.BoxResultado h5.result-descripcion
{font-size: 11px; color: #3D3D3D; padding-left: 10px; margin-bottom: 2px;}
.BoxResultado .pie-aviso-teaser{font-size: 11px; color: #3D3D3D; display: block; float: left; padding-left: 10px; width: 335px; position:absolute; /*ie7*/*position:relative; bottom:0;}


.apachesolr_search-results .BoxResultado{position:relative;}
.BoxResultado .etiqueta{ background-image:url(../img/sprite.png); background-repeat:no-repeat; background-position:600px 600px; width:90px; height:81px; display:block; position:absolute; top:-6px; left:-8px; z-index:1500; overflow:hidden; }
.BoxResultado .imperdible{background-position:0 -119px;}
.BoxResultado .comoNuevo{ background-position:-101px -119px }
.BoxResultado .unico{background-position:-207px -119px}
.BoxResultado .aEstrenar{background-position:-301px -120px}
.BoxResultado .categoria{background-position:-301px -224px}

.CD .Espacio-8, .CT .Espacio-8,
.CD .Espacio-Premium, .CT .Espacio-Premium
{ background-color:#FFF8A5; }
.CD .Espacio-8:hover, .CT .Espacio-8:hover,
.CD .Espacio-Premium:hover, .CT .Espacio-Premium:hover
{ background-color:#FFE659;}
.CD .Espacio-All .foto, .CT .Espacio-All .foto { position:relative; min-width: 120px; min-height: 90px; text-align: center; }
.CD .Espacio-1009 .foto, .CT .Espacio-1009 .foto,
.CD .Espacio-Superpremium .foto, .CT .Espacio-Superpremium .foto,
.CD .Espacio-308834 .foto, .CT .Espacio-308834 .foto
{ position:relative; min-width: 173px; min-height: 115px;}
.CD .Espacio-All .foto .cintillo, .CT .Espacio-All .foto .cintillo
{background-image:url(../img/sprite.png);background-position:0 -215px;background-repeat:no-repeat;font-size:12px;font-weight:bold;height:18px;right:0;line-height:18px;position:absolute;text-align:right;bottom:0;width:40px; color:#fff; overflow:hidden; padding-right:5px;}
.CD .Espacio-All .foto .DisponibleVenta, .CT .Espacio-All .foto .DisponibleVenta{	
	right: 0;	
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("../img/img_carrito_rojo.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 59px;
    width: 58px;
    position: absolute;
    z-index: 5;
    top: 0;}
.CD .Espacio-1009, .CT .Espacio-1009,
.CD .Espacio-Superpremium, .CT .Espacio-Superpremium,
.CD .Espacio-308834, .CT .Espacio-308834
{ background-color:#D7E6FD; min-height: 115px;}
.CD .Espacio-Superpremium:hover, .CT .Espacio-Superpremium:hover,
.CD .Espacio-308834:hover, .CT .Espacio-308834:hover
{background-color:#9CC1FA; min-height: 115px;}
.CD .Espacio-7, .CT .Espacio-7,
.CD .Espacio-Estandar, .CT .Espacio-Estandar
{ background-color:#EEEEEE;}
.CD .Espacio-7:hover, .CT .Espacio-7:hover,
.CD .Espacio-Estandar:hover, .CT .Espacio-Estandar:hover
 { background-color:#CCCCCC;}
.CD .Espacio-6, .CT .Espacio-6 { background-color:#FFF;}
.CD .Espacio-5 h3, .CT .Espacio-5 h3 { font-weight:normal;}
.CD .Espacio-6 .Info .Left, .CT .Espacio-6 .Info .Left {/*height:90px;*/}
.CD .destacado_color, .CT .destacado_color {border-style:solid; border-width:medium; border-color:#FFCD8E; padding: 8px;}
.CT .Espacio-All .foto img { vertical-align: middle; }
.CD .Espacio-All .foto a, .CT .Espacio-All .foto a { display: block; height: 90px; }
.CD .Espacio-All .foto a span, .CT .Espacio-All .foto a span { display: inline-block; height: 100%; vertical-align: middle; }
.CD .Espacio-All .foto a img, .CT .Espacio-All .foto a img { vertical-align: middle; }


.CD .Espacio-All .foto, .CT .Espacio-All .foto { background-color:#FFFFFF; margin-top: 10px; width: 120px;}
.CD .Espacio-All.Espacio-1009 .foto, .CT .Espacio-All.Espacio-1009 .foto,
.CD .Espacio-All.Espacio-Superpremium .foto, .CT .Espacio-All.Espacio-Superpremium .foto,  
.CD .Espacio-All.Espacio-308834 .foto, .CT .Espacio-All.Espacio-308834 .foto { margin-top: 0px; width: 173px;}
.CT .views-node-selector .Espacio-All.Espacio-Superpremium .foto,
.CT .views-node-selector .Espacio-All.Espacio-1009 .foto,
.CT .views_view .Espacio-All.Espacio-Superpremium .foto,
.CT .Espacio-All.Espacio-308834 .foto { width: initial;}

.CD .Espacio-1009 .foto a, 
.CD .Espacio-Superpremium .foto a, 
.CD .Espacio-308834 .foto a { height: 115px; }

.CD .BoxResultado .ItemGeneral div, .CT .BoxResultado .ItemGeneral div {float:left;}
.CD .BoxResultado .ItemGeneral, .CT .BoxResultado .ItemGeneral {width:604px}
.CD .BoxResultado .ItemGeneral .Modelo, .CT .BoxResultado .ItemGeneral .Modelo { padding-right: 5px; width: 235px;}
.CD .BoxResultado .ItemGeneral .ModeloFull, .CT .BoxResultado .ItemGeneral .ModeloFull { padding-right: 15px; width: 325px;}
.CD .BoxResultado .ItemGeneral .anio, .CT .BoxResultado .ItemGeneral .anio {width:46px;}
.CD .Espacio-1009  .ItemGeneral .anio, 
.CD .Espacio-Superpremium  .ItemGeneral .anio, 
.CD .Espacio-308834  .ItemGeneral .anio {width:199px; text-align:right; margin-right:34px;}
.CD .BoxResultado .ItemGeneral .km, .CT .BoxResultado .ItemGeneral .km {width:77px;}
.CD .BoxResultado .ItemGeneral .combustible, .CT .BoxResultado .ItemGeneral .combustible {width:49px;}
.CD .BoxResultado .ItemGeneral .cifra, .CT .BoxResultado .ItemGeneral .cifra { float: right; min-width: 86px; text-align: center; margin-top: -16px;}
.CD .BoxResultado .ColModelos .Detalles, .CT .BoxResultado .ColModelos .Detalles {width:360px;}
.CD .BoxResultado .Descripcion, .CT .BoxResultado .Descripcion {float:left; width:392px; display:block; padding-left:10px; color:#3D3D3D; height: 18px; }
.CD .Espacio-1009 .Modelo, 
.CD .Espacio-Superpremium .Modelo, 
.CD .Espacio-308834 .Modelo {width:328px; padding-left: 10px; position: relative; overflow:hidden;}
.CD .Espacio-1009 .Modelo h2, 
.CD .Espacio-Superpremium .Modelo h2, 
.CD .Espacio-308834 .Modelo h2,
.CD .Espacio-1009 .Modelo h4, 
.CD .Espacio-Superpremium .Modelo h4, 
.CD .Espacio-308834 .Modelo h4
{font-size:18px; color:#000; font-weight: normal;}
.CD .Espacio-1009 .Modelo h2 a, 
.CD .Espacio-Superpremium .Modelo h2 a, 
.CD .Espacio-308834 .Modelo h2 a {color:#000;}
.CD .Espacio-1009 .ItemGeneral .cifra, 
.CD .Espacio-Superpremium .ItemGeneral .cifra, 
.CD .Espacio-308834 .ItemGeneral .cifra
{margin-top: -17px;}
.CD .Espacio-All .Info h2.result-descripcion, .CT .Espacio-All .Info h2.result-descripcion,
.CD .Espacio-All .Info h3, .CT .Espacio-All .Info h3,
.CD .Espacio-All .Info h5.result-descripcion, .CT .Espacio-All .Info h5.result-descripcion {
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 430px;
}
.CD .Espacio-All .Info h2.result-descripcion, .CT .Espacio-All .Info h2.result-descripcion,
.CD .Espacio-All .Info h2.result-descripcion, .CT .Espacio-All .Info h2.result-descripcion {
  font-weight: normal
}
.CD .Espacio-1009 .Info h3, .CT .Espacio-1009 .Info h3,
.CD .Espacio-Superpremium .Info h3, .CT .Espacio-Superpremium .Info h3,
.CD .Espacio-308834 .Info h3, .CT .Espacio-308834 .Info h3
{
  width: 360px;
}

/* ajustes para 652px */
.CT .BoxResultado .Info .Right {margin-left:0px;width:auto;}
.CT .BoxResultado .avatar {width:auto;}
.CT .BoxResultado .avatar .Banner {width:80px;height:48px;padding-left:10px;}
.CT .BoxResultado .avatar p {margin-top:0px;}

/* Teaser en Mis Avisos */
.CT .ListadoAdministrador .NodeTeaser {
  width: 560px;
  float: left;
}
/* ajustes para listado mis avisos */
.CT .ListadoAdministrador .NodeTeaser .BoxResultado .Info .Right {display:none;}

/* Precios UVA */
.CD .BoxResultado .search-precio-uva {
  float: right;
  margin-top: -89px;
  /*margin-right: 78px;*/
  font-weight: 800;
  font-size: 14px;
  color: #6F2DA8;
}
.CD .BoxResultado.Espacio-1009 .search-precio-uva,
.CD .BoxResultado.Espacio-Superpremium .search-precio-uva,
.CD .BoxResultado.Espacio-308834 .search-precio-uva {
  margin-top: -94px;
}
