#block-contactar_vendedor-formulario_contacto {
    background-color: #FFFFFF;
  background-image: url(http://staticcl1.lavozdelinterior.com.ar/sites/clasificadoslavoz.com.ar/themes/principal/img/Sombra_CajaL.jpg);
  background-position: center bottom;
  background-repeat: repeat-x;
  padding: 15px;
  border: 1px solid #D1D0CE;
  padding: 15px;
  top: 33px;
  clear:both;
}

#block-contactar_vendedor-formulario_contacto .form-text {
  font-size: 12px;
  height: auto;
  margin-top: 10px;
  height: 30px;
  border: 1px solid #CCCCCC;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  /*float: left;*/
  margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
	line-height: 30px;
}

#block-contactar_vendedor-formulario_contacto .form-textarea {
  font-size: 13px;
  height: auto;
  margin-top: 10px;
  border: 1px solid #CCCCCC;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  /*float: left;*/
  margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
	padding-top: 5px;
}

#block-contactar_vendedor-formulario_contacto .body-field-wrapper {
  margin-top: 10px;
  clear: both;
}

#block-contactar_vendedor-formulario_contacto .title {
  clear: both;
  color: #666666;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#block-contactar_vendedor-formulario_contacto .form-description, #block-contactar_vendedor-formulario_contacto p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #333333;
  text-align:left;
  clear:both;
  
}
#block-contactar_vendedor-formulario_contacto .node-form{text-align:center;}
#block-contactar_vendedor-formulario_contacto .form-submit {
  font-size: 14px;
  background: none repeat scroll 0 0 #A92319;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'OpenSansBold', Arial, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-weight: initial;
}

#block-contactar_vendedor-formulario_contacto label {display: none;}
#block-contactar_vendedor-formulario_contacto label.option {display: block;}

#block-contactar_vendedor-formulario_contacto h3 {
  color: #333333;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}

#block-contactar_vendedor-formulario_contacto .form-datos-vendedor {
  margin-top: 10px;
  text-align:left;
}

#block-contactar_vendedor-formulario_contacto .form-datos-vendedor img {
    margin-bottom: 15px;
    margin-top: 15px;
  height: auto;
  border: 1px solid #BEBEBE;
  float:left;

}

#block-contactar_vendedor-formulario_contacto .form-datos-vendedor .particular {
    background-image: url("../img/ico_particular.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 27px;
    line-height: 19px;
    padding-left: 33px;
}
#block-contactar_vendedor-formulario_contacto .datos-contacto-vendedor{margin-top: 10px;border-bottom:1px solid #E4E4E4;float:left;width:100%;margin-bottom:10px;padding-bottom:10px; font-size:14px;   color: #666;
  line-height: 1.5;}
#block-contactar_vendedor-formulario_contacto .datos-contacto-vendedor h2{font-size:16px; color:#A92319; font-weight:bold; margin-bottom:5px;padding-bottom:10px;float:left;width:100%;}
#block-contactar_vendedor-formulario_contacto p a.otrosAutos{padding-left:15px;  background:url(../img/sprite.png) no-repeat 0 2px; }

#block-contactar_vendedor-formulario_contacto #edit-contactar-vendedor-name {
  display: none;
}

<!-- Para Productos y rurales-->
.node-type-aviso-producto .block block-contactar_vendedor .title, .node-type-aviso-rural .block block-contactar_vendedor .title, .node-type-aviso-servicio .block block-contactar_vendedor .title{
  width: 446px;
}
.node-type-aviso-producto #block-contactar_vendedor-formulario_contacto .form-text, .node-type-aviso-rural #block-contactar_vendedor-formulario_contacto .form-text, .node-type-aviso-servicio #block-contactar_vendedor-formulario_contacto .form-text{
  width: 400px;
}
.node-type-aviso-producto #block-contactar_vendedor-formulario_contacto .form-textarea, .node-type-aviso-rural #block-contactar_vendedor-formulario_contacto .form-textarea, .node-type-aviso-servicio #block-contactar_vendedor-formulario_contacto .form-textarea{
  width: 400px;
}
#block-contactar_vendedor-formulario_contacto .captcha img{
  margin-left: 128px;
}
.node-type-aviso-producto #block-contactar_vendedor-formulario_contacto .captcha img, .node-type-aviso-rural #block-contactar_vendedor-formulario_contacto .captcha img, .node-type-aviso-servicio #block-contactar_vendedor-formulario_contacto .captcha img{
 margin-left: 0; 
}
#block-contactar_vendedor-formulario_contacto .form-text.error, #block-contactar_vendedor-formulario_contacto .form-textarea.error {border-color: #b03535; box-shadow: 0 0 5px #d45252;}
.form-mensaje {margin-bottom: 5px; width: 210px; display: none;}
.form-mensaje.ok {border-color: #28921f; background-color: #5cd053;  color: #000000;}
/*.form-mensaje.error {border-color: #b03535; background-color: #d45252; color: #000000;}*/
.node-type-aviso-producto .form-mensaje, .node-type-aviso-rural .form-mensaje, .node-type-aviso-servicio .form-mensaje{width: 367px;}

#block-contactar_vendedor-formulario_contacto #edit-captcha-response {
  width: 120px;
  margin-top: -50px;
}
#edit-captcha-response-wrapper .description {
  text-align: left;
}

#block-contactar_vendedor-formulario_contacto .g-recaptcha {
  transform: scale(0.88);
  margin-left: -18px;
}

#block-contactar_vendedor-formulario_contacto .botonC {
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 13px 0px 20px 60px;
  width: 120px;
  height: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  float: left;
  margin-right: 4px;
  line-height: 2;
  font-weight: 400;
  font-size: 13px;
  margin-top: 5px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  letter-spacing: .03em;
}

#block-contactar_vendedor-formulario_contacto .botonC.whatsapp  {
  background-color: #25D366;
  background-image: url(../img/ico-ws.png);
}
#block-contactar_vendedor-formulario_contacto .botonC.whatsapp:hover {background-color: #19AF51;}
#block-contactar_vendedor-formulario_contacto .botonC.mail  {
  background-color: #e00018;
  background-image: url(../img/ico-mail.png);
}
#block-contactar_vendedor-formulario_contacto .botonC.mail:hover {background-color: #F9031A;}
#block-contactar_vendedor-formulario_contacto .botonC.verTelefono  {
  background-color: #008ACF;
  background-image: url(../img/ico-llamar.png);
}
#block-contactar_vendedor-formulario_contacto .botonC.verTelefono:hover {background-color: #0BA9FB;}

#block-contactar_vendedor-formulario_contacto .botonC.telefono  {
  /*background-color: #F7F7F7;
  border: 1px solid #008ACF;*/
  padding-left: 0px;
  width: 100%;
  color: #666666;
  font-weight: 600;
}
#block-contactar_vendedor-formulario_contacto .botonC.telefono span {
  border: 2px solid #008ACF;
  padding: 7px;
}

#edit-contactar-vendedor-ofertas-similares-wrapper {height: 35px;}
#block-contactar_vendedor-formulario_contacto .form-checkbox  {
  width: 18px;
  height: 18px;
  float: left;
  margin-top: 10px;
}
#block-contactar_vendedor-formulario_contacto .form-item label span  {
  margin-top: 4px;
  float: right;
  top: 13px;
  font-weight: 600;
  width: 231px;
  margin-bottom: 15px;
  font-size: 11px;
  text-align: left;
  margin-left: 5px;
}