.block-facetapi, .block-clasificados_apachesolr, .block-inmuebles_apachesolr, .block-autos_apachesolr  {padding: 10px; margin-bottom: 5px;}
.section-search .region-page-columna-izquierda h2, .section-rubro .region-page-columna-izquierda h2{background-image: url("../img/CajaAviso_sombra.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 4px; margin-bottom: 3px;}
#search-block-form .container-inline {position:relative; display:block; margin-bottom:10px; /*ie7*/ *height:30px;}
#search-block-form .container-inline:after{clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;  }
#search-block-form .container-inline #edit-search-block-form-1-wrapper{}
#search-block-form .container-inline .IcoBuscar{position:absolute; top:0; right:0; text-indent:-99999em;}
.block-facetapi .title, .block-clasificados_apachesolr .title, .block-inmuebles_apachesolr .title, .block-autos_apachesolr .title{
  font-size: 14px;
  height: 28px;
  color: #333;
  font-weight: bold;
}

.block-facetapi ul, .block-clasificados_apachesolr ul, .block-inmuebles_apachesolr ul, .block-autos_apachesolr ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.block-facetapi ul li, .block-clasificados_apachesolr ul li, .block-inmuebles_apachesolr ul li, .block-autos_apachesolr ul li{
  list-style-type: none;
  list-style-image: none;
  margin: 0 0 0.5em 10px;
  font-size:13px; 
}
.block-facetapi ul li a.facetapi-inactive, .block-inmuebles_apachesolr ul li a{
  padding-left: 20px;
  display: block;
}
.block-inmuebles_apachesolr ul.filtros-barrios li a {padding-left: 0px;}

.block-facetapi  ul li a:hover {text-decoration: underline;}
.block-facetapi div.content div.item-list ul li.expanded div.item-list{margin-top:5px;}
.block-facetapi ul li a.facetapi-active, .block-inmuebles_apachesolr ul li a.facetapi-active{
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -76px -218px;
  padding-left: 10px;
  width: 14px;
  height:16px; overflow:hidden;
  display: block;
  float:left;
  text-indent: -999em; /*will stop the h2 text sitting on top of the image*/
}
.apachesolr-showhide {margin-left: 30px; font-weight: bold;}
.facetapi-checkbox {float: left;}

/* Filtro por Precios */
#block-clasificados_apachesolr-filter_precio {height: 100px;}
#edit-precio-desde-wrapper, #edit-precio-hasta-wrapper {
  width: 115px;
  float: left;
}
#edit-precio-desde-wrapper .form-text, #edit-precio-hasta-wrapper .form-text {padding-left: 5px;}
#edit-precio-moneda-wrapper .form-radios {
  width: 150px;
  float: left;
  margin: auto;
}
#edit-precio-moneda-wrapper .form-radios div.form-item {
  width: 45px;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
#edit-precio-moneda-wrapper label {
  width: 80px;
  float: left;
  padding-top: 5px;
}

#edit-precio-moneda-wrapper label[for="edit-precio-moneda-3"] {
  color: #6F2DA8;
  font-weight: 800;
}

.rango_precios {height: 82px; margin-left: 25px;  }
.rango_precios ul li {margin-top: -4px;}
.rango_precios ul li a{font-size: 1em;}
#block-clasificados_apachesolr-filter_precio #edit-submit.form-submit.con-rangos{margin-bottom: 40px;}
#block-clasificados_apachesolr-filter_precio #edit-reset.form-submit.con-rangos{margin-left: -25px;}

/* Filtro por Kilometros */
#edit-km-desde-wrapper, #edit-km-hasta-wrapper {
  width: 120px;
  float: left;
}

/* Filtro por Años */
#edit-anio-desde-wrapper, #edit-anio-hasta-wrapper {
  width: 120px;
  float: left;
}
/* Filtro por Superficie */
#edit-sup-desde-wrapper, #edit-sup-hasta-wrapper {
  width: 120px;
  float: left;
}
.side-publicar-gratis {
	width: 100%;
	height: 75px;
	background-image: url(../img/Busqueda_publicar_gratis.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	margin-bottom: 15px;
}
/* Filtros Aplicados */
#block-clasificados_apachesolr-filtros_aplicados {background-color: #E9E9E9;}
#block-clasificados_apachesolr-filtros_aplicados h2 {background: none; height: initial;}
#block-clasificados_apachesolr-filtros_aplicados li {margin: 0 0 2px 5px;}
#block-clasificados_apachesolr-filtros_aplicados li a {border: 1px solid #DADADA; -webkit-border-radius: 5px;   -moz-border-radius: 5px; border-radius: 5px; padding: 3px; font-size: 12px; font-weight: normal; background: #ffffff;  background-image: url(../img/sprite.png); background-repeat: no-repeat; background-position: -73px -215px;  padding-left: 25px; overflow: hidden; display: block;}
#block-clasificados_apachesolr-filtros_aplicados .link-quitar-filtros {text-align: center; border-top: 1px solid #DADADA; padding-top: 5px; margin-top: 10px; font-size: 1em; font-weight: bold;}

/* ESTILOS FILTROS DE PRODUCTOS */
.filters-tiendas .block-facetapi, .filters-tiendas .block-apachesolr_search, .filters-tiendas .block-autoslavoz, .filters-tiendas .block-clasificados_apachesolr, .filters-tiendas .block-autos_apachesolr, .filters-tiendas .block-inmuebles_apachesolr  {margin-bottom: 0px; padding: 7px 10px;}
.filters-tiendas .block-facetapi ul li, .filters-tiendas .block-apachesolr_search ul li, .filters-tiendas .block-autoslavoz ul li, .filters-tiendas .block-clasificados_apachesolr ul li, .filters-tiendas .block-autos_apachesolr ul li, .filters-tiendas .block-inmuebles_apachesolr ul li{ 
  margin: 0px;
  line-height: 17px;
  font-size: 12px;
}
.filters-tiendas .block-facetapi .title, .filters-tiendas .block-apachesolr_search .title, .filters-tiendas .block-autoslavoz .title, .filters-tiendas .block-clasificados_apachesolr .title, .filters-tiendas .block-autos_apachesolr .title, .filters-tiendas .block-inmuebles_apachesolr .title{
  font-size: 12px;
  background: none;
  padding: 0px;
  margin: 0px;
  height: 16px;
}
.filters-tiendas .block-facetapi ul li a.facetapi-inactive{
  padding-left: 25px;
  display: block;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 180px; */
}
.filters-tiendas .apachesolr-showhide {margin-left: 25px; font-weight: bold; font-size: 11px;}
.filters-tiendas .block-facetapi div.content div.item-list ul li.expanded div.item-list{margin-top:0px;}

/* BLOQUE LINK A ALOJAMIENTOS */
#block-clasificados_apachesolr-link_alojamientos,
#block-clasificados_apachesolr-link_alojamientos_tipo_rubro {
  padding-top: 0px;
}
#block-clasificados_apachesolr-link_alojamientos_tipo_rubro {
  margin-top: -22px;
  margin-left: 10px;
}
#block-clasificados_apachesolr-link_alojamientos li,
#block-clasificados_apachesolr-link_alojamientos_tipo_rubro li {
  list-style: inherit;
  margin-left: 30px;
  margin-top: -19px;
  font-size: 13px;
}
#block-clasificados_apachesolr-link_alojamientos_tipo_rubro li {
  margin-top: 0px;
  padding-bottom: 2px;
}
#block-clasificados_apachesolr-link_alojamientos li a:hover,
#block-clasificados_apachesolr-link_alojamientos_tipo_rubro li a:hover {text-decoration: underline;}