@charset "UTF-8";
/* FICHA ALOJAMIENTO */

.node-type-aviso-alquiler-temporario .CD .FichaAuto {
  padding: 0px;    
  margin-bottom: 15px;
}
.node-type-aviso-alquiler-temporario .CR .Columnas.clearfix {width: 0px;}

p {
	font-size: 15px;
	line-height: 140%;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  color: #545454;
}
p.sizemed {
	font-size: 13px;
}
p.sizesmall {
	font-size: 12px;
}

h3 {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #0089cf;
}

ul li {
	/* display: inline-block; */
}

strong,
.bold {
	font-family: 'OpenSansBold', Arial, sans-serif;
}

.col-full {
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.pos-rel {
	position: relative;
}

.pos-ab {
	position: absolute;
}

.ficha-col-left {
	width: 63.1%;
	float: left;
}

.ficha-col-right {
	width: calc(100% - 63.1%);
	padding-left: 30px; 
	float: right;
}

.col-2 {
	width: calc(100% /2);
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-90 {
	margin-top: 90px;
}

.mb-5 {
	margin-bottom: 5px;
}

.display-block {
	display: block;
}

.display-in-block {
	display: inline-block;
}

.clear-both {
	clear: both;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.fa {
	margin-right: 3px; 
	color: #0089cf;
}
.fa.fa-calendar {
	font-size: 18px;
	color: #666;
}

i.lv {
	font-family: 'lavoz-new-icons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	color: #0089cf;

	speak: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lv-rooms::before {
	content: '\e900';
}

.lv-bath::before {
	content: '\e901';
}

.btn {
	padding: 7px 13px;
	text-align: center; 
	text-transform: uppercase;
	border-radius: 5px;
	background-clip: padding-box;
}
.btn .fa {
	margin: 0 5px 0 0; 
	color: #fff;
}

.btn-destacado {
	font-family: 'OpenSansBold', Arial, sans-serif;
	letter-spacing: .03em; 
	color: #fff;
	background-color: #e00018;
}

.btn-primary {
	color: #fff;
	background-color: #0089cf;
}

.btn-secondary {
	padding: 12px 17px;
	display: inline-block;
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-size: 14px;
	color: #333;
	border: 1px solid #e6e6e6;
	background-color: #eef2f3;
}

input,
textarea,
select,
button,
label {
	box-sizing: border-box;
	padding: 0;
	font-family: 'OpenSansRegular', Arial, sans-serif;
	border: 0;
}

input,
textarea,
select {
	margin: 9px 0;
	padding: 10px 15px;
	font-size: 15px;
	color: #666; 
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	background-clip: padding-box;
}

input[type='checkbox'] {
	width: 19px;
	height: 19px; 
	margin: 0;
}

input[type='submit'] {
	cursor: pointer;
	border: 0;
}

textarea {
	resize: none;
}

label {
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

select {
	height: 42px;
	padding-left: 45px;
	background: #fff;
}

.select-group {
	position: relative;
}
.select-group select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.select-group .fa {
	position: absolute;
	top: 20px; 
	left: 10px;
}

.bread-crumb {
	margin-bottom: 25px; 
	font-size: 13px;
	color: #0089cf;
}

.section {
	width: 100%;
}
.section h2, .section h3, .section h4 {
	margin-bottom: 25px; 
	padding-bottom: 13px;
	border-bottom: 1px solid #e6e6e6;
  font-size: 22px;
  color: #333;
  text-transform: initial;
}
.section .list li {
	margin-bottom: 15px;
	display: block;
	font-size: 15px; 
	line-height: 20px;
}
.section .list li .fa {
	margin-right: 30px;
}

.place {
	color: #999;
}

.value:before,
.value:after {
	display: table; 
	content: '';
}
.value:after {
	clear: both;
}
.value p {
	color: #666;
}
.value .rating {
	margin: 0 14px; 
	line-height: 21px;
}
.value .rating .fa {
	margin: 0 1px;
	font-size: 18px;
}

.features {
	height: 130px;
	border: 1px solid #e1e1e1;
}
.features:before,
.features:after {
	display: table; 
	content: '';
}
.features:after {
	clear: both;
}
.features .box {
	width: 160px;
	height: 91px;
	padding: 20px 0; 
	text-align: center;
	border-right: 1px solid #e1e1e1;
}
.features .box:last-child {
	border: 0 none;
}
.features .box .fa,
.features .box .lv {
	font-size: 37px;
}
.features .box.seccion-camas {
  cursor: pointer;
}
.features .box.tooltips-camas {
  position: absolute;
  margin-top: 106px;
  margin-left: 490px;
  border: 1px solid #e1e1e1;
  width: 151px;
  background-color: #FFF;
  height: initial;
}
.features .box.tooltips-camas p {
  border-bottom: 1px solid #e1e1e1;
  width: 95%;
  margin-left: 5px;
  margin-bottom: 5px;
}

.data-item {
	margin: 7px 0;
	padding-bottom: 7px;
	font-size: 15px; 
	border-bottom: 1px solid #eef2f3;
}
.data-item:before,
.data-item:after {
	display: table; 
	content: '';
}
.data-item:after {
	clear: both;
}

.terms .group {
	margin: 7px 0;
	margin-bottom: 20px; 
	padding-bottom: 7px;
	padding-bottom: 20px;
	font-size: 15px;
	border-bottom: 1px solid #e6e6e6;
}
.terms .group:before,
.terms .group:after {
	display: table; 
	content: '';
}
.terms .group:after {
	clear: both;
}
.terms .group .fa {
	margin-right: 15px; 
	font-size: 21px;
	vertical-align: top;
	color: #333;
}
.terms .group p {
	text-align: center;
	color: #333;
}
.terms .bold {
	color: #333;
}
.terms .group p.formas-pago {
  max-width: 270px;
}

.content-expandible .expand-more-content {
	display: none;
	transition: .2s;
}
.content-expandible .controls {
	font-size: 15px; 
	cursor: pointer;
	text-align: center;
	color: #0089cf;
}
.content-expandible .exp-less {
	display: none;
}
.content-expandible.expanded .expand-more-content {
	display: block;
}
.content-expandible.expanded .exp-more {
	display: none;
}
.content-expandible.expanded .exp-less {
	display: block;
}

.location .fa {
	font-size: 21px;
	color: #333;
}

.btn-mapa {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px 25px;
  font-size: 15px;
}
.btn-mapa .fa {
	font-size: 23px;
	vertical-align: text-bottom;
}

.info-vendedor {
	padding: 23px 27px;
	background-color: #ebebeb;
}
.info-vendedor:before,
.info-vendedor:after {
	display: table; 
	content: '';
}
.info-vendedor:after {
	clear: both;
}
.info-vendedor h2, .info-vendedor h4 {
	margin-bottom: 35px; 
	font-size: 24px;
  text-transform: uppercase;
  line-height: 100%;
  color: #333;
}
.info-vendedor h3, .info-vendedor h5 {
	font-size: 19px;
	color: #666;
}
.info-vendedor .btn-secondary {
	margin: 17px 0;
	padding: 12px 37px;
	background-color: #fff;
}
.info-vendedor .avatar {
	max-width: 130px;
	margin-right: 23px;
}
.info-vendedor .sizemed .fa {
	font-size: 15px; 
	color: #666;
}
.info-vendedor a.avatar {
	font-size: 69px;
  margin-left: 35px;
  margin-right: 35px;
}

/* .reviews-container .review-item { */
#comment-form-content, .comment {
	margin: 20px 0;
}
.review-item:before,
.review-item:after {
	display: table; 
	content: '';
}
.review-item:after {
	clear: both;
}
.rev-avatar {
  max-width: 90px;
  margin: 0 18px 0 10px;
}
#comment-form-content img, .comment img {
	max-width: 90px;
	margin: 0 10px;
  float: left;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  background-clip: padding-box;
  margin-right: 34px;
}
.rev-avatar a {
	display: inline-block;
	text-align: center;
}
.rev-avatar a img,
.rev-avatar a .fa {
	width: 90px;
	height: 90px; 
	overflow: hidden;
	border-radius: 50%;
	background-clip: padding-box;
}
.rev-avatar a.av-default .fa {
	font-size: 57px; 
	line-height: 90px;
	text-align: center;
	color: #999;
	border: 1px solid #e6e6e6;
}
.rev-avatar p {
  color: #0089cf;
}
#comment-form-content .commentAuthor {
	margin-top: 89px;
  position: absolute;
  color: #0089cf;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  max-width: 90px;
  margin-left: -124px;
}
.rev-content {
	position: relative;
	width: calc(100% - 193px);
	margin-left: 15px;
	padding: 18px 27px; 
	border: 1px solid #0089cf;
	border-radius: 8px;
	background-clip: padding-box;
}
.rev-content h3, .rev-content h5 {
	font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 18px;
}
.rev-content p {
	font-size: 14px;
}
.rev-content .btn-secondary {
	margin-top: 30px;
}
.rev-content .btn-secondary .fa {
	color: #333;
}
.rev-content::before,
.rev-content::after {
	position: absolute;
	top: 35px;
	right: 100%;
	width: 0;
	height: 0;
	content: ' ';
	pointer-events: none; 
	border: solid transparent;
}
.rev-content::after {
	margin-top: -15px; 
	border-width: 15px;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
}
.rev-content::before {
	margin-top: -16px; 
	border-width: 16px;
	border-color: rgba(51, 51, 51, 0);
	border-right-color: #0089cf;
}
.rev-answer {
	border: 1px solid #0089cf;
  border-radius: 8px;
  padding: 12px 22px;
}
.rev-answer:before,
.rev-answer:after {
	display: table; 
	content: '';
}
.rev-answer:after {
	clear: both;
}
.rev-answer .rev-avatar {
	max-width: 55px;
	margin: 0 20px 0 0;
}
.rev-answer .rev-avatar p {
	font-size: 13px;
}
.rev-answer .rev-avatar a img,
.rev-answer .rev-avatar a .fa {
	width: 48px;
	height: 48px;
}
.rev-answer .rev-avatar a.av-default .fa {
	font-size: 30px; 
	line-height: 48px;
}
.rev-answer .rev-resp {
	width: calc(100% - 75px);
}
.rev-answer .rev-resp p {
	font-size: 14px;
}

#comment-form-content fieldset {
  position: relative;
  width: calc(100% - 197px);
  padding: 18px 27px;
  border: 1px solid #0089cf;
  border-radius: 8px;
  background-clip: padding-box;
}
#comment-form-content fieldset::before {
    margin-top: -16px;
    border-width: 16px;
    border-color: rgba(51, 51, 51, 0);
    border-right-color: #0089cf;
}
#comment-form-content .tituloComentario{font-size: 16px; color: #333;}
#edit-fivestar-rating-wrapper {margin-top: 20px;}

#edit-fivestar-rating-wrapper label {font-size: 14px; color: #666; float: left;}

#edit-fivestar-rating-wrapper .fa-long-arrow-right {
  margin-left: 8px;
  font-size: 32px;
  vertical-align: middle;
}

#comment-form-content #edit-subject-wrapper {margin-top: 40px;}
#comment-form-content #edit-subject {width: 443px;}
#edit-comment {width: 443px;}


#comments .indented {margin-left: 67px;}
#comments ul.links {margin-top: 30px;}
#comments ul.links a {    
    padding: 12px 17px;
    display: inline-block;
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-size: 14px;
    color: #333;
    border: 1px solid #e6e6e6;
    background-color: #eef2f3;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background-clip: padding-box;
}

#comments .respuesta.indented {margin-left: 145px;}
#comments .respuesta img {  
  max-width: 55px;
  margin: 0 20px 0 0;
  width: 48px;
  height: 48px;
}
#comments .respuesta .commentAuthor {
  margin-top: 48px;
  position: absolute;
  color: #0089cf;
  font-size: 13px;
  line-height: 140%;
  text-align: center;
  max-width: 90px;
  margin-left: -89px;
}
#comments .respuesta .resizable-textarea {float: right; width: 86%;}
#comments .respuesta .form-submit {
  padding: 12px 17px;
  display: inline-block;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 14px;
  color: #333;
  border: 1px solid #e6e6e6;
  background-color: #eef2f3;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 69px;
  margin-top: 5px;
}

.reviews-container .review-item .content-expandible .controls {
	font-size: 13px;
	text-align: left;
}
.reviews-container .review-item .rev-form {
	color: #666;
}
.reviews-container .review-item .rev-form input,
.reviews-container .review-item .rev-form textarea {
	width: 100%;
}
.reviews-container .review-item .rev-form input[type='checkbox'] {
	width: auto;
}
.reviews-container .review-item .rev-form p.tit {
	font-size: 16px;
	color: #333;
}
.reviews-container .review-item .rev-form p.sizesmall {
	width: calc(100% - 30px); 
	font-size: 12px;
}
.reviews-container .review-item .rev-form .value .fa {
	margin-left: 8px;
	font-size: 32px;
	vertical-align: middle;
}
.reviews-container .review-item .rev-form .value .rating {
	margin: 0 0 0 8px;
}
.reviews-container .review-item .rev-form .value .rating li {
	cursor: pointer;
}
.reviews-container .review-item .rev-form .value .rating .fa {
	margin-left: 2px; 
	font-size: 30px;
}
.reviews-container .review-item .rev-form .btn {
	width: 100%;
	max-width: 210px;
	margin-top: 30px; 
	padding: 13px 30px;
}
.reviews-container .review-item .rev-form .btn-secondary {
	font-family: 'OpenSansSemibold', Arial, sans-serif;
}

.booking-section {
	/* position: fixed; */
  padding: 30px 0 20px;
	border: 1px solid #e6e6e6;
  z-index: -999999;
}
.booking-section:before,
.booking-section:after {
	display: table; 
	content: '';
}
.booking-section:after {
	clear: both;
}
.booking-section .inner {
	padding: 0 15px;
}
.booking-section .inner.confirmacion {
	margin-top: 10px;
}
.booking-section select {
	width: 100%;
	color: #0089cf;
}
.booking-section input {
	color: #0089cf;
}
.booking-section .fa {
	font-size: 18px; 
	color: #666;
}
.booking-section .btn {
	margin-bottom: 13px; 
	display: block;
}
.booking-section .btn.btn-primary {
	padding: 12px 17px;
	font-family: 'OpenSansBold', Arial, sans-serif; 
	font-size: 16px;
}
.booking-section h3 {
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-size: 35px;
	text-align: center; 
	color: #333;
  height: 25px;
}
.booking-section h5 {
	margin-top: 5px;
	font-size: 20px;
	text-align: center; 
	text-decoration: line-through;
	color: #666;
}
.booking-section p.aclara {
	font-size: 14px;
	text-align: center; 
	color: #333;
}
.booking-section p.text {
	margin-top: 25px;
	font-size: 14px;
	color: #666;
  width: 270px;
}
.booking-section p.text strong {
	color: #648114;
}
.booking-section p.text strong.error {
	color: #e00018;
}

.total-price {
	width: 100%; 
	margin: 20px 0;
	padding: 20px 45px 20px 40px;
	display: inline-block;
	font-family: 'OpenSansBold', Arial, sans-serif;
	line-height: 100%;
	color: #fff;
	background-color: #333;
}
.total-price .num {
	font-size: 25px;
}

.calendar-box input {
	width: 100%;
	padding-left: 35px;
}
.calendar-box button.ui-datepicker-trigger {
	position: absolute;
	top: 20px;
	left: 10px;
	background: transparent;
}
.calendar-box span:first-child {
	padding-right: 5px;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	height: auto; 
	padding: 0;
}

.slider-main .slider-photos {
	/* max-height: 420px; */
	height: 420px;
  overflow: hidden;
}
.slider-main .accessible_news_slider {
	position: relative;
	padding: 15px 0; 
	text-align: center;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
}
.slider-main .accessible_news_slider .btn-next,
.slider-main .accessible_news_slider .btn-prev {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	transform: translateY(-50%);
  cursor: pointer;
}
.slider-main .accessible_news_slider .btn-next .fa,
.slider-main .accessible_news_slider .btn-prev .fa {
	color: #666;
}
.slider-main .accessible_news_slider .btn-next {
	right: 31px; 
	left: auto;
}
.slider-main .accessible_news_slider .btn-prev {
	right: auto;
	left: 31px;
}
.slider-main .Listado {
	position: relative; 
	width: 491px;
	height: 57px;
	margin: auto;
	overflow: hidden;
}
.slider-main .Slider {
	position: relative;
	left: 0;
	width: 491px;
	overflow: hidden;
}
.slider-main .Slider li {
	margin: 0 11px;
	float: left;
}

.tools {
	/* width: 100%; */
	padding: 13px 19px;
	display: inline-block;
	clear: both;
	border: 1px solid #eef2f3;
}
.tools p {
	font-size: 14px; 
	line-height: 42px;
}

.social-share .btn {
	margin-right: 12px;
	padding: 10px 17px; 
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-size: 14px;
	letter-spacing: .04em;
}
.social-share .btn .fa {
	font-size: 21px;
	line-height: 20px;
	vertical-align: middle; 
	color: #666;
}
.social-share .btn.btn-fb-share {
	padding: 11px 17px; 
	color: #fff;
	background: #3b5997;
}
.social-share .btn.btn-fb-share .fa {
	color: #fff;
}

.login-box {
	width: 100%;
	margin-bottom: 50px; 
	padding: 30px;
	background: #e6e6e6;
}
.login-box input {
	width: 100%; 
	max-width: 250px;
	padding: 6px 15px;
}
.login-box p {
	margin-bottom: 25px;
}
.login-box .btn-destacado {
	width: auto; 
	padding: 10px 13px;
}
.login-box .req-pass {
	margin-left: 15px; 
	font-size: 13px;
}

.search-main {
	width: 66%;
	padding-left: 20px;
}

.search-sidebar {
	width: calc(100% - 66%);
}

p.sizesmall {
	margin-bottom: 10px; 
	color: #666;
}
p.sizesmall .fa {
	font-size: 13px; 
	color: #666;
}

#cboxOverlay {
	background: #000;
}

#cboxClose {
	/*bottom: 20px;
	left: 0;
	width: 100%;
	max-width: 110px;
	margin: auto;
	padding: 10px 25px;
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-size: 17px;
	text-transform: uppercase; 
	color: #fff;
	border-radius: 5px;
	background: #0089cf;
	background-clip: padding-box;*/
}

.v-modal .modal-title {
	padding: 37px;
	font-family: 'OpenSansLight', Arial, sans-serif; 
	text-align: center;
	background: #0089cf;
}
.v-modal .modal-title h2 {
	font-size: 20px; 
	color: #fff;
}
.v-modal .modal-content {
	padding: 35px;
	text-align: center;
}
.v-modal .modal-content p.aclaro {
	color: #999;
}
.v-modal .modal-content h3 {
	margin: 30px 0;
	padding: 20px 0; 
	font-size: 20px;
	line-height: 23px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
.v-modal.modal-confirm .modal-content {
	padding: 50px 100px;
}
.v-modal.modal-confirm .modal-content p {
	margin: 20px 0;
}
.v-modal.modal-confirm .modal-content p.aclaro {
	margin-top: 0;
}
.v-modal.modal-book .modal-title h2 {
	font-size: 17px;
}
.v-modal.modal-book .modal-content {
	font-size: 11px; 
	text-align: left;
}
.v-modal.modal-book .modal-content p {
	margin-bottom: 15px;
	font-size: 11px;
	color: #666;
}
.v-modal.modal-book .modal-content label {
	font-size: 11px;
	color: #666;
}
.v-modal.modal-book .modal-content input,
.v-modal.modal-book .modal-content textarea {
	margin-bottom: 10px; 
	padding: 6px 15px;
	font-size: 12px;
}
.v-modal.modal-book .modal-content #modal-submit {
	width: auto;
	margin: auto;
	padding: 6px 20px;
	display: inherit; 
	font-size: 13px;
	border-radius: 3px;
	background-clip: padding-box;
}
.v-modal.modal-book .modal-content .calendar-box input {
	padding-left: 15px;
}
.v-modal.modal-book .modal-content .calendar-box button.ui-datepicker-trigger {
	display: none;
}
.v-modal.modal-book .modal-content .calendar-box .col-2 {
	padding: 0 3px;
}
.v-modal.modal-book .modal-content .inputData {
	padding-left: 10px;
}
.v-modal.modal-book .modal-content .inputData input,
.v-modal.modal-book .modal-content .inputData textarea {
	width: 100%;
}
.v-modal.modal-book .modal-content .inputData label {
	font-family: 'OpenSansRegular', Arial, sans-serif;
}
.v-modal.modal-book .modal-content .inputData input[type='checkbox'] {
	width: auto;
}
.v-modal.modal-book .modal-content .inputBook {
	padding-right: 10px;
}
.v-modal.modal-book .modal-content .check-cont p {
	max-width: 90%;
}
.v-modal.modal-book .modal-content .extras .lines {
	font-size: 11px;
}
.v-modal.modal-book .modal-content .extras .lines:first-child {
	padding-top: 7px; 
	border-top: 1px solid #e6e6e6;
}
.v-modal.modal-book .modal-content .extras .lines .item {
	width: auto;
	margin: 0 5px;
	font-size: 11px;
}
.v-modal.modal-book .modal-content .extras .lines input[type='checkbox'] {
	margin-bottom: 0;
}
.v-modal.modal-book .modal-content .extras .lines .fa {
	color: #666;
}
.v-modal.modal-book .modal-content .total-price {
	margin: 0;
	padding: 15px;
}
.v-modal.modal-book .modal-content .total-price .num {
	font-size: 18px;
}

.clf-home {
	position: relative; 
	width: 100%;
}
.clf-home .clf-back-img {
	max-width: 100%;
}
.clf-home .clf-search-content {
	position: absolute;
	z-index: 10;
	top: 50%;
	right: 0;
	left: 0;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	transform: translateY(-50%); 
	text-align: center;
}
.clf-home .clf-search-content h1 {
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-size: 46px;
	text-transform: uppercase; 
	color: #fff;
}
.clf-home .clf-searchbox {
	margin-top: 35px;
	padding: 13px 15px;
	display: inline-block;
	color: #666; 
	border-radius: 6px;
	background: rgba(0, 0, 0, .5);
	background-clip: padding-box;
}
.clf-home .clf-searchbox .btn-search,
.clf-home .clf-searchbox .btn-search-cat {
	margin: 0; 
	font-family: 'OpenSansRegular', Arial, sans-serif;
	font-size: 16px;
	border: 0;
}
.clf-home .clf-searchbox .btn-search {
	width: 500px;
}
.clf-home .clf-searchbox .btn-search-cat {
	width: 220px;
	margin: 0 12px;
}
.clf-home .clf-searchbox .btn-primary {
	height: 42px;
	margin: 0;
	font-family: 'OpenSansBold', Arial, sans-serif;
}

h2.breadcrumb {margin-bottom: 25px; font-size: 13px; color: #0089cf;}

#content .Content.FichaAuto h1 {font-size: 26px; color: #333; text-transform: uppercase; line-height: 100%;font-weight: initial; margin-bottom: 0px; margin-top: 0px;}

/* Ocultar datos de formulario de contacto */
#modal-contacto-vendedor .form-datos-vendedor h3 {display:none;}
#modal-contacto-vendedor .form-datos-vendedor p a {display:none;}

/* Ficha Alojamientos */
.DOPBCPCalendar-sidebar.dopbcp-style1-medium {position: absolute; top: 305px; /*right: 14.5%;*/ width: 309px; margin-left: 681px;}
#DOPBCPCalendar-sidebar-column-wrapper-2-0 {display:none;}
#block-contactar_vendedor-formulario_contacto {display:none;}
.DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper label {
  font-size: 13px;
  font-family: 'OpenSans', Arial, sans-serif;
}
.DOPBCPCalendar-sidebar .dopbcp-module .dopbcp-input-wrapper label a {
  font-size: 13px;
  color: #008ACF;
}

.btn-vendedor {
  padding: 12px 17px;
  display: inline-block;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 14px;
  color: #333;
  border: 1px solid #e6e6e6;
  background-color: #eef2f3;
  text-transform: uppercase;
  border-radius: 5px;
  background-clip: padding-box;
  margin-left: 10px;
  width: 243px;
  text-align: center;
}

.solicitud-reserva-confirmar{
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-clip: padding-box;
  color: #fff;
  background-color: #0089cf;
  padding: 12px 17px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 16px;
  display: block;
  margin-left: 10px;
  width: 243px;
  margin-bottom: 13px;
  margin-top: 13px;
}

.FichaAuto .iconos {
    line-height: 25px;
    margin-right: 10px;
}
.FichaAuto .iconos a {
    background-position: left top;
    background-repeat: no-repeat;
    color: #008ACF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    padding-left: 40px;
}
.FichaAuto .abuso {
    background-image: url(/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-abuso.png);
}
.linkFotoChica {cursor:pointer;}

#abuso-reporte-form legend {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    position: relative;
}
#abuso-reporte-form .description {
    color: #E10019;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 2px;
}
#abuso-reporte-form .form-item .description {
    color: #8C8C8C;
    font-size: 11px;
    padding-bottom: 5px;
    font-weight: lighter;
}
#abuso-reporte-form input[type="text"], #abuso-reporte-form textarea, #abuso-reporte-form select {
    padding: 5px 0px;
    font-size: 12px;
    margin: 0px;
}
#abuso-reporte-form select {
    padding-left: 0px;
}

.fivestar-widget {
  padding-top: 6px;
  padding-left: 227px;
}

.bloqueo-transparencia {
  display: none;
  visibility: visible;
  left: 356px;
  position: absolute;
  width: 330px;
  height: 431px;
  z-index: 999999;
}
.finalizado {
  position: absolute;
  width: 621px;
  height: 390px;
  overflow: hidden;
  background: transparent;
  zoom: 1;
  background-color: rgba(0,0,0,0.8);
  z-index: 998;
  top: 299px;
  padding: 15px;
}
.finalizado .leyenda {
  color: #FFF;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.finalizado .links {
  color: #FFF;
  font-size: 25px;
  margin-top: 20px;
}