@charset "UTF-8";
/* FICHA AUTO */

h1.breadcrumbh2, .breadcrumb {font: 12px/15px Arial, Helvetica, sans-serif; color: #323943; font-weight: bold;}
.FichaAuto h1 {color:#000;float:left;font-size:22px;font-weight:bold;line-height:22px;width:750px;}
.FichaAuto h2.titulo-ficha, .FichaAuto h1.titulo-ficha, #content h1.titulo-ficha {
  color:#333333;
  font-size:26px;
  font-weight:400;
  line-height:26px;
  margin-bottom: 20px;
  float: initial;
  width: initial;
}
.FichaAuto .ContentPrecio {
	background-color: #EAEAEA; 
	padding-left: 25px; 
	padding-right: 25px; 
	padding-top: 40px; 
	padding-bottom: 40px;
	width: 250px;     
	display: inline-block;	
}
.FichaAuto .ContentPrecio .PrecioAnterior {
	text-decoration: line-through;
	float: left;
  margin-left: 10px;
  font-size: 15px;
  padding-top: 4px;
  color: #666;
  width: 50px;
	}
.FichaAuto .ContentPrecio .descuento { 
  width: 100%;
  float: left;
  line-height: 17px;
  color: #666666;
  font-size: 16px;
}  
.FichaAuto .ContentPrecio h3.precio-visible {float: left;}

.FichaAuto .ContentPrecio .precio-uva {
  width: 200px;
  font-weight: 800;
  font-size: 18px;
  color: #6F2DA8;
  margin-top: 33px;
}

.FichaAuto .ContentPrecio h3.emprendimiento {text-align: center;}
.FichaAuto .ContentPrecio .mensajePago {float: left; margin-top: -20px; color: #666666; font-size: 16px;}
.FichaAuto .ContentPrecio .comprar {float:right; }
.FichaAuto .ContentPrecio .comprar a { background-color: #333333; font-size:18px; font-weight:600; padding-left: 20px; padding-right: 20px; border-radius: 4px;}
.FichaAuto h3.precio-visible span {color: #A92319;  font-size: 30px;  font-weight: 900; line-height: 26px;}
.FichaAuto .Borde {padding:0 0px 10px;}
.FichaAuto .Left { margin-bottom:5px;}
.FichaAuto .Right { width:255px;float:left;padding-left:15px;}
.FichaAuto .Right .Sombra { padding-bottom:12px; background-image:url("../img/SombraS_fdblanco.gif"); margin-bottom:5px;}
.FichaAuto .Modelo ul { color:#000; font-size:14px;  }
.FichaAuto .Modelo li { line-height:24px; width: 100%; float: left;border-bottom: 1px solid #CCCCCC;
  padding-bottom: 15px;
  margin-bottom: 15px;}

.FichaAuto .Modelo li span.field { margin-left:5px; color:#666; width:145px; display:inline-block; }
.FichaAuto .Modelo li span.caract_direccion { width: 160px;}
.FichaAuto .Banner { text-align:center; margin-bottom: 10px; }
.FichaAuto .Marco { margin-top:13px; margin-left:0px; width: 630px; font-family:'openSans', Arial, Helvetica, sans-serif;}
.FichaAuto .Marco .Info {background-image: url("../img/CajaAviso_sombra.gif");
    background-position: center top;
    background-repeat: no-repeat;}
.FichaAuto .Titulo {
	clear: both;
  color: #666666;
  text-transform: uppercase;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 30px;
  margin-bottom: 15px;
	}

.FichaAuto .Marco .EspecificacionesA {width: 500px; display: inline-block; margin: 15px 0px 0px 10px; }
.FichaAuto .Marco  .denuncia{position:relative;}
.FichaAuto .Marco .denuncia .alerta{position:fixed; z-index:10; right:0; top:-30px;}
.FichaAuto .Marco .denuncia .alerta .punta{display:block; background: url(../img/sprite.png) no-repeat 0 -266px;
width: 14px;
height: 38px;
overflow: hidden;
position: absolute;
left:0;
top: 25px;}
.FichaAuto .Marco .denuncia .alerta .mensaje{background: #F0F0F0; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; padding:10px; font-size:11px; position:absolute; top:0; left:14px; width: 308px;}
.FichaAuto .Marco .denunciar{display:block; text-align:center; background:#008ACF; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; cursor:pointer; color:#fff; font-size:12px; padding: 5px; font-weight:bold; margin: 10px 0; }
.FichaAuto .Marco .denunciar:hover{background:#333; color:#fff;}
.FichaAuto .Marco .Modelo {display: inline-block; }
.FichaAuto .Info .list {width: 50%; float: left;}
.FichaAuto .FeaturesList .Titulo {padding-bottom: 10px;}

/* DESCRUPCION FICHA */
.FichaAuto .Marco #aviso-descripcion {line-height: normal; margin: 0 auto; margin-top:15px; margin-bottom:20px; font-size: 14px; color: #666666;}
.FichaAuto .Marco #aviso-descripcion ul {padding-left: 40px;}
.FichaAuto .Marco #aviso-descripcion li {padding-bottom: 0px;}
.FichaAuto .Marco #aviso-descripcion p{line-height: normal; margin: inherit;}

/*.FichaAuto .Info p { line-height:16px; margin-top:15px; margin-bottom:20px;}*/
.FichaAuto .Otros { border-bottom:1px solid #D1D0CE; border-top:1px solid #D1D0CE; padding:15px 0px;}
.FichaAuto .Otros span { color:#666666; font-size: 14px;}
.FichaAuto .Herramientas { margin-left:auto; margin-right:auto; padding-top:20px; float:left;}
.FichaAuto .HerramientasCompartir{float:left; width:370px;  padding-top: 20px;}
.FichaAuto .HerramientasCompartir  .iconos{color:#E11920; float:left;}
.FichaAuto .HerramientasCompartir  .iconos div{float:right;}
.FichaAuto .HerramientasCompartir  .iconos div.fb_iframe_widget{margin-left: 18px; margin-top: -5px;}
.FichaAuto .HerramientasCompartir  .iconos div.tw{width:86px}
.FichaAuto .HerramientasCompartir  .iconos div.gmas{width:65px; margin-left:10px;}
.FichaAuto .iconos {float:left;line-height:25px;margin-right:10px;}
.FichaAuto .iconos a {background-position:left top;background-repeat:no-repeat;color:#323943;display:inline-block;font-size:14px; font-weight: bold; height:30px;padding-left:40px;}

.FichaAuto .favoritos {background-image: url(../img/ico_favoritos.gif);}
.FichaAuto .imprimir {background-image: url(/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-imprimir.png);}
.FichaAuto .enviar {background-image: url(../img/ico_enviar.gif);}
.FichaAuto .abuso {background-image: url(/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-abuso.png);}
.FichaAuto .compartir {background-image: url(../img/ico_compartir.gif);}
.FichaAuto .Cintillo {background-repeat: no-repeat;background-position: 0px 0px;float:left;position:absolute; height:42px; width:127px;}
.FichaAuto .CintilloPremium {background-image: url(../img/cintillo_destacadoFicha.png);}
.FichaAuto .Display {width: 628px; min-height: 418px; }
.FichaAuto .Display #AvisoFotoPrincipal img {width: 100%; height: auto;}

.AvisoTitulo {
    position: relative;
    width: 300px;
    z-index: 99;
	padding-bottom: 20px;
    padding-bottom: 7px;
	float: left;
}
/*Emprendimientos cabezal*/
.Emprendimiento .AvisoTitulo {
    position: relative;
    width: 980px;
    z-index: 99;
	padding-bottom: 20px;
    padding-bottom: 7px;
	float: left;
}
.Emprendimiento .emprendimiento_logo {
	  width: 150px;
  height: 86px;
  float: left;
  border: 1px solid #CCCCCC;
  padding-top: 10px;
  text-align: center;
  margin-right: 16px;
	}
.Emprendimiento .emprendimiento_info {
  width: 760px;
  height: 56px;
  border: 1px solid #CCCCCC;
  float: left;
  padding: 20px;
	}
.Emprendimiento .emprendimiento_info h2.titulo-ficha {
	color: #008ACF;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 20px;
	}
/*.section-avisos .AvisoTitulo h2.titulo-ficha {width: 300px; color: #333333; float: left;  font-weight: 400;
  font-size: 26px; line-height: 1.1;}*/

/* Emprendimiento */
.emprendimiento_logo { float:left; margin-right:10px; width: 100px; }
.emprendimiento_titulo {font-size:20px;  color:#666; margin-bottom:5px; text-transform:uppercase;}
.TituloConLogo h2 {width:650px;}
.TituloConLogo .Borde {padding: 0px;}

.opciones .Left {float:left;}
.Titulos .Right {float:right;}
.CajaBorde .Publicar{padding:10px;}

.ContactoVendedor {}
.ContactoVendedor h2 {background-image:url(../img/tit_contactarVendedor.gif);background-position:left center;background-repeat:no-repeat;height:18px;margin-bottom:10px;width:243px;}
.ContactoVendedor h3 { color:#333333; font-size:16px; font-weight:bold; margin-top:8px; display:inline-block;}
.ContactoVendedor .Banner { margin-top:7px; margin-bottom:7px;}
.ContactoVendedor .CampoForm {font-size:14px;height:auto;margin-top:10px;width:240px;}
.ContactoVendedor .form { margin-top:20px;}
.ContactoVendedor .form p { color:#333333;}
.CR .ContactoVendedor .Fondo {background-image:url(../img/Sombra_CajaL.jpg);padding:15px;background-position: bottom;background-color: #FFFFFF;	background-repeat: repeat-x;}
.CR .ContactoVendedor .Boton {float:none;margin-left:auto;margin-right:auto;margin-top:14px;width:107px;}
.CR .ContactoVendedor .boton-naranja {font-size:14px;width:107px; text-transform:capitalize; _width:113px;}
.CR .ContactoVendedor .Sombra {background-image:url("../img/SombraS_fdgris.gif");background-position:center bottom;background-repeat:no-repeat;padding:0 0 20px;}
#telefono_vendedor { display:none; }

.CD .Ofertas { padding-bottom:0;}
.Ofertas .CajaAviso {
  height: 250px;
  padding: 9px;
  width: 200px;
  margin-bottom: 25px;
  margin-right: 25px;
}
.Ofertas .CajaAviso .imgAviso {
  height: auto;
}
.Ofertas .CajaAviso .imgAviso a {
  display: block;
  height: 133px;
  text-align: center;
}
.Ofertas .CajaAviso .imgAviso img{
  width: inherit;
  vertical-align: middle;
}
.Ofertas .AvisoDescripcion {
  width: 200px;
  bottom: inherit;
}
.Ofertas .AvisoDescripcion h5 {
  height: 39px;
  overflow: hidden;
}
.Ofertas .AvisoDescripcion h5 a {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}
.Ofertas .AvisoDescripcion .precio_anterior {
  color: #666;
  text-decoration: line-through;
  padding-left: 10px;
}
.Ofertas h1 {color:#008ACF;float:left;font-size:22px;font-weight:bold;line-height:22px;}
.Ofertas .Borde {padding:0 0px 10px;}
.Ofertas p.resultado { clear:both; padding-top:5px;}
.Ofertas span.modelo {color:#073E8E; font-weight:bold; font-size:16px;}
.Ofertas span.cifra { color:#666666;}
.Ofertas .Titulos { padding-top:10px;}
.Ofertas .Titulos h3 { color:#008ACF; font-size:12px; text-transform:uppercase; font-weight:bold; float:left;}
.Ofertas .Titulos .flecha {background-repeat: no-repeat;background-position: right center; padding-right:12px; margin-left:26px;}
.Ofertas .opciones { padding:10px 10px 0;}
.Ofertas .opciones .marca { color:#073E8E; font-weight:bold; font-size:13px; margin-left:10px; width:340px;}
.Ofertas .opciones .Autos .marca { width:180px; }
.Ofertas .opciones .marca a { color:#073E8E;}
.Ofertas .opciones .datos { float:left; color:#000000; text-align:center; width:85px;}
.Ofertas .opciones .color { color:#008ACF; font-weight:bold;}
.Ofertas .opciones .Borde { padding:0 0 10px;}
.Ofertas .opciones .info {color:#666666;display:inline-block;line-height:16px;margin-left:10px;margin-top:15px;width:520px; float:left;}
.Ofertas .opciones .last { border-bottom:0 none;}
.Ofertas .Paginacion { border-top:1px solid #D1D0CE;}

/*Player multimedia*/
.Multimedia .PlayerMultimedia {background:none repeat scroll 0 0 transparent;padding-bottom:2px;margin-bottom:2px;}
.PlayerMultimedia .accessible_news_slider {overflow:hidden;position:relative; width: 616px; padding-bottom: 5px;}
.PlayerMultimedia .accessible_news_slider, .PlayerMultimedia .accessible_news_slider .view_all {display:none;}
.node-type-aviso-producto .PlayerMultimedia .accessible_news_slider,
.node-type-aviso-rural .PlayerMultimedia .accessible_news_slider,
.node-type-aviso-servicio .PlayerMultimedia .accessible_news_slider { width: 489px; }
.Multimedia .Nota {margin:0;padding:0;}
.Multimedia .Botones {font-size:0;position:relative; top: 3px;}
.Multimedia .Botones span.slide-button {height:34px;width:34px;background-attachment: scroll;background-color: transparent;background-image: url(../img/fd_FlechasMultimedia.gif);	background-repeat: no-repeat;background-position: 0 0;}
.Multimedia .Botones .back span.slide-button {background-position:left top;left:0px;position:absolute;z-index:5;cursor:pointer;}
.Multimedia .Botones .back span.slide-button:hover { background-position:left bottom;}
.Multimedia .Botones .next span.slide-button {background-position:right top;position:absolute;right:0;z-index:5;cursor:pointer;}
.Multimedia .Botones .next span.slide-button:hover {background-position:right bottom;}
.PlayerMultimedia .accessible_news_slider .back span.slide-button, .PlayerMultimedia .accessible_news_slider .next span.DN {display:none;outline:medium none;  margin-top: 12px;  margin-left: 10px;}
.Multimedia .Listado {left:70px;overflow:hidden;position:relative;width:486px; top: 1px;}
.node-type-aviso-producto .Multimedia .Listado,
.node-type-aviso-servicio .Multimedia .Listado,
.node-type-aviso-rural .Multimedia .Listado { width: 404px; left:49px; }
.PlayerMultimedia .accessible_news_slider ul {left:0;overflow:hidden;position:relative;width:700px;z-index:1;}
.PlayerMultimedia .accessible_news_slider li {float:left;width:80px; margin-right:1px;}
.PlayerMultimedia .accessible_news_slider li a {cursor:pointer; border:2px solid #FFFFFF; display:block; white-space: 76px; height: 57px; text-align: center;}
.PlayerMultimedia .accessible_news_slider li a:hover { border:2px solid #E10019;}
.PlayerMultimedia .accessible_news_slider li a span {display: inline-block; height: 100%; vertical-align: middle;}
.PlayerMultimedia .accessible_news_slider li a img {vertical-align: middle;}
#multimedia_fotos a {display:block; text-align: center; height: 418px;}
#multimedia_fotos a span {display: inline-block; height: 100%; vertical-align: middle;}
#multimedia_fotos a img {vertical-align: middle;}

/* Youtube Video */
.Multimedia .Solapas {
  margin-bottom: 15px;
  padding-left: 10px;
  
}
.Multimedia .Solapas .Act {
	color: #008ACF;

}
.Multimedia .Solapas li {
  bottom: -1px;
  display: block;
  float: left;
  margin-right: 3px;
  position: relative;
  border-right: 1px solid #CCC;
  height: 38px;
  padding-left: 15px; 
  padding-top: 10px;
  
}
.Multimedia .Solapas li .Tl {
  background-position: left top;
  left: -1px;
  top: -1px;
}
.Multimedia .Solapas li .Cv {
  display: block;
  font-size: 0;
  height: 2px;
  line-height: 0;
  position: absolute;
  width: 2px;
}
.Multimedia .Solapas li .Tr {
  background-position: right top;
  right: -1px;
  top: -1px;
}
.Multimedia .Solapas li .Cv {
  display: block;
  font-size: 0;
  height: 2px;
  line-height: 0;
  position: absolute;
  width: 2px;
}
.Multimedia .Solapas .Act a {
  cursor: inherit;
  color: #323943!important;
}
.Multimedia .Solapas li.fotos a {
  color: #999999;
  display: block;
  font-weight: 900;
  font-size: 14px;
  padding: 0 20px 0 36px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  background-image:url("/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-fotos.png");background-position:0 0; 
  background-repeat:no-repeat;
  width:27px; 
  height: 20px; 
    line-height: 1.4;
  margin-right: 20px;; 
}
.Multimedia .Solapas li.videos a {
  color: #999999;
  display: block;
  font-weight: 900;
  font-size: 14px;
  padding: 0 20px 0 32px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  background-image:url("/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-videos.png");background-position:0 0; 
  background-repeat:no-repeat;
  width:27px; 
  height: 21px; 
    line-height: 1.4;
  margin-right: 20px;; 
}
.Multimedia .Solapas li.mapas a {
  color: #999999;
  display: block;
  font-weight: 900;
  font-size: 14px;
  padding: 0 20px 0 28px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  background-image:url("/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-mapa.png");background-position:0 0; 
  background-repeat:no-repeat;
  width:27px; 
  height: 20px; 
    line-height: 1.4;
  margin-right: 20px;; 
}
.Multimedia .Solapas li.renders a {
  color: #999999;
  display: block;
  font-weight: 900;
  font-size: 14px;
  padding: 1px 42px 0 29px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  background-image:url("/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-renders.png");background-position:0 0; 
  background-repeat:no-repeat;
  width:21px; 
  height: 21px; 
    line-height: 1.4;
  margin-right: 20px;; 
}
.Multimedia .Solapas li.planos a {
  color: #999999;
  display: block;
  font-weight: 900;
  font-size: 14px;
  padding: 0 20px 0 36px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  background-image:url("/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-planos.png");background-position:0 0; 
  background-repeat:no-repeat;
  width:21px; 
  height: 21px; 
    line-height: 1.4;
  margin-right: 20px;; 
}
.Multimedia .Solapas a span {
  padding-left: 3px;
  display: none;
}
/*Submenu*/
.Submenu { margin-bottom:13px;}
.Submenu li { float:left; color:#00509E; margin-right:5px;}
.Submenu li a { color:#00509E;}
.Submenu li.act { color:#000;}

/*Banner ver mas*/
.Ofertas .BannerMas h1 {color:#000000;font-size:18px;font-weight:bold;padding-top:14px; text-align:right; width:600px; _width:670px;}

/*-----POPUP Imagen Grande-----*/
#fade {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none;
	background: #fff;
	padding: 8px; 	
	border: 4px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 4px;
}
img.btn_close {
	float: right; 
	margin: -20px -20px 0 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}

/*-- SOCIAL NETWORKING --*/
.flotante-top {
  display:none;
  margin-left:286px;
  padding-top:33px;
  position:absolute;
  z-index:5000;
}
.compartir-social {
  width:200px;
  background-color:#fff;
  height:65px;
  background-repeat: no-repeat;
  background-position: center top;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #d3d3d3;
  border-bottom-color: #d3d3d3;
  border-left-color: #d3d3d3;
  .margin-top:-3px;
  _margin-top:-4px;
}
.compartir_cnt_iconos {
  float:left;
  margin-left:4px;
  clear:both;
  margin-top:4px;
  #width:172px;
  #margin-left:8px;
  #margin-top:9px
}
.compartir .compartir_cnt_iconos img {
  margin-right: 2px;
  margin-left: 6px;
}
.compartir_cnt_iconos img {
  margin-left:4px;
  margin-right:2px;
}
.compartir_cnt_cerrar {
  padding-right: 2px;
  padding-top: 2px;
  float:right
}
.mas_compartir {float:right; margin-left:9px;}

/*-- RECOMENDAR A UN AMIGO --*/
#recomendar-amigo-entry-form {
  /*display:none;*/
  margin: 15px;
}
#recomendar-amigo-entry-form legend {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  position: relative;
}
#recomendar-amigo-entry-form .description {
  color: #008ACF;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
}
#recomendar-amigo-entry-form .form-item .description {
  color: #8C8C8C;
  font-size: 11px;
  padding-bottom: 5px;
  font-weight: lighter;
  margin-left: 96px;
  width: 300px;
}
#recomendar-amigo-entry-form .form-submit {
  font-size: 13px;
  text-transform: none;
  background: none repeat scroll 0 0 #008ACF;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
}
#recomendar-amigo-entry-form label {
  width: 82px;
  display: block;
  float: left;
  padding-right: 14px;
  padding-top: 4px;
}
#recomendar-amigo-entry-form .form-text {
  width: 300px;
  background-color: #FFFFFF;
  border-color: #ADACB1 #E1E8EE #E1E8EE;
  border-radius: 1px 1px 1px 1px;
  border-style: solid;
  border-width: 1px;
  font: 12px Arial,Helvetica,sans-serif;
  height: 20px;
  outline: medium none;
}
#recomendar-amigo-entry-form .captcha input {
  width: 80px;
}
#recomendar-amigo-entry-form .captcha img {
  float: right;
  margin-right: 100px;
}
/*-- --*/


.FeaturesList {
  line-height: 16px;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
}
.FeaturesList ul {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
}
.FeaturesList ul li {
  padding-left: 15px;
  margin-left: 0;
  list-style-image: none;
  list-style-type: none;
  background: url("../img/icons/bullet-orange-12.gif") no-repeat;
  background-position: 0 3px;
  padding-bottom: 3px;
  width: 45%;
  float: left;
}
.FeaturesList ul li span {
  color:#666;
  font-size: 14px;
}
.FeaturesList ul li span.item-valor {
  color:#000;
}
/* Aviso Finalizado */
.section-avisos #content-area{position:relative;}
.section-propiedad #content-area{position:relative;}
.finalizado {
  position:absolute;
  width:598px;
  height:390px;
  overflow: hidden;
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000,endColorstr=#FF000000);
  zoom: 1;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  z-index:998; top:32px; left:0px;
  padding:15px;
}
.finalizado_solapa {
  height: 420px;
}
.finalizado .links {
  font-size: 25px; 
  color:#fff;
  margin-top: 20px;
  line-height: 25px;
}
.finalizado .leyenda{
  background:#E10019; 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
  color:#FFF; 
  font-size:20px; 
  font-weight:bold; 
  padding:8px; 
  margin-bottom:10px; 
  width: 190px;
}
.finalizado .links a {color:#008ACE;}
.node-type-aviso-producto .finalizado,
.node-type-aviso-servicio .finalizado,
.node-type-aviso-rural .finalizado {
  width: 470px;
}

/* FIX TITULO */

.node-type-aviso-auto .CD.Aviso {width: 970px !important;}

#abuso-reporte-form {
  margin: 15px;
}
#abuso-reporte-form legend {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  position: relative;
}
#abuso-reporte-form .description {
  color: #A92319;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 2px;
}
#abuso-reporte-form .form-item .description {
  color: #8C8C8C;
  font-size: 11px;
  padding-bottom: 5px;
  font-weight: lighter;
}

.emprendimientos_relacionados .Titulos h3, 
.emprendimientos_relacionados .Titulos h4{
  width: 20%; 
  float: left; 
  color: #008ACF; 
  font-size: 1.17em;
}
.emprendimientos_relacionados .Titulos{margin-bottom: 20px;}
.emprendimientos_relacionados .Titulos .precio {text-align: right; width: 20%}
.emprendimientos_relacionados .opciones .datos {width: 20%; float: left; margin-bottom: 10px;}
.emprendimientos_relacionados .opciones .precio {text-align: right; width: 20%}
.Relacionados {padding-top: 20px; clear: both;}
.section-avisos .block-views h2 {color:#008ACF;float:right;font-size:22px;font-weight:bold;line-height:22px; padding: 0 0px 10px; float: none;}
/*.section-avisos .block h2 {color:#008ACF;float:right;font-size:22px;font-weight:bold;line-height:22px; padding: 0 0px 10px; float: none;}*/
.section-avisos .block-views { padding: 20px 0 0; }
.CD .Ofertas { padding:0; }
#abuso-reporte-form .captcha img {float: right; margin-right: 160px;}


.social-wrap {
	margin-bottom: 30px;
	}
.social-wrap .facebook-square {
  background: #3b5998;
  padding: 15px 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  float: left;
  margin-right: 4px;
  line-height: 2;
  font-weight: 400;
  font-size: 13px;
}
.social-wrap .twitter-square {
  background: #55adee;
  padding: 15px 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  float: left;
  margin-right: 4px;
  font-size: 13px;
  font-weight:400;
  line-height: 2;
}
.social-wrap .enviar-mail {
  background: #333333;
  padding: 15px 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  float: left;
  margin-right: 4px;
    font-size: 13px;
  font-weight:400;
  line-height: 2;
}
.social-wrap .facebook-square .icon-fb {
  background: url(/sites/clasificadoslavoz.com.ar/themes/principal/img/ico_facebook.png) no-repeat 0 0;
  width: 20px;
  height: 24px;
  float: left;
  position: relative;
  margin-right: 10px;
  background-size: 11px 24px;
}

.social-wrap .twitter-square .icon-tw {
  background: url(/sites/clasificadoslavoz.com.ar/themes/principal/img/ico_twitter.png) no-repeat 0 0;
  width: 30px;
  height: 24px;
  float: left;
  position: relative;
  margin-right: 10px;
  background-size: 29px 24px;
}
.social-wrap .enviar-mail .icon-mensaje {
  background: url(/sites/clasificadoslavoz.com.ar/themes/principal/img/ico_mail_w.png) no-repeat 0 5px;
  width: 30px;
  height: 26px;
  float: left;
  background-size: 29px 21px;
    margin-right: 5px;
}

/* Social tienda */
.node-type-aviso-producto .content-social {border: 1px solid #EBEBEB; padding: 25px;}
.node-type-aviso-producto .content-social .social-wrap {margin: 0px;}
.node-type-aviso-producto .content-social .facebook-share{font-size: 13px; font-weight: 600; padding: 9px 12px;  border-radius: 4px;}
.node-type-aviso-producto .content-social .enviar-mail, .node-type-aviso-producto .content-social .imprimir {background-color: #EEEEEE; font-size: 14px; font-weight: 600; padding: 7px; border-radius: 4px; border: 1px solid #DFDFDF; text-transform: uppercase; color: #666666; width: 184px; text-align: center; display: block; margin-left: 10px;}
.node-type-aviso-producto .content-social .enviar-mail:hover, .node-type-aviso-producto .content-social .imprimir:hover {background-color: #DDDDDD;}
.node-type-aviso-producto .content-social .enviar-mail .icono-mensaje {background: url(../img/ico_mail_w2.png) no-repeat 0 0; width: 26px; height: 26px; display: block; float: left;}
.node-type-aviso-producto .content-social .Herramientas {padding-top: 0px;}
.node-type-aviso-producto .content-social .Herramientas a{background-image: none; padding: 13px; width: 112px;}
.node-type-aviso-producto .content-social .imprimir .icono-impresora {background: url(../img/ico_imprimir2.png) no-repeat 0 0; width: 26px; height: 26px; display: block; float: left; margin-top: -5px;}
.node-type-aviso-producto .content-social .Otros {border: none; float: right;}


/* Lateral derecho flotante */
.page .CR { /*margin-top: 284px;position: absolute; top: 0; */ width: 300px; /*margin-left: 670px; z-index: -9999;*/}
.page .CR .region-page-columna-derecha{ /*margin-left: 670px;*/ position: static; /*width: 300px;*/  margin-top: 30px;}

/*Sección Productos*/

.node-type-aviso-rural .CR, .node-type-aviso-servicio .CR, .node-type-aviso-producto .CR {/* margin-top: 241px; position: absolute; top: 0; */width: 446px;/* margin-left: 530px; /*z-index: -9999;*/}
.node-type-aviso-rural .CD, .node-type-aviso-servicio .CD, .node-type-aviso-producto .CD { float: left; width: 500px;}
.node-type-aviso-producto .ColTiendas .CD { width: 100%;}
.node-type-aviso-rural .FichaAuto .Display, .node-type-aviso-servicio .FichaAuto .Display, .node-type-aviso-producto .FichaAuto .Display {
  width: 498px;
  min-height: 418px;
}
.node-type-aviso-producto .FichaAuto.FichaTienda .Display {width: 538px;}

.node-type-aviso-producto .FichaAuto .Marco, .node-type-aviso-servicio .FichaAuto .Marco, .node-type-aviso-rural .FichaAuto .Marco { margin-top:13px; margin-left:0px; width: 500px; font-family:'openSans', Arial, Helvetica, sans-serif;}
.node-type-aviso-producto .FichaAuto.FichaTienda .Marco { width: 100%;}
.node-type-aviso-producto .FichaAuto.FichaTienda .Marco.Info {border: 1px solid #EBEBEB;}

.node-type-aviso-producto .FichaAuto.FichaTienda .Marco.Info .Titulo{border: none; padding: 20px 25px; text-transform:none; font-size: 20px; font-weight: normal;}
.node-type-aviso-producto .FichaAuto.FichaTienda .Marco.Info #aviso-descripcion{padding: 0px 25px;}

.node-type-aviso-producto .FichaAuto.FichaTienda .Marco .Multimedia { float: left; width: 55%; margin-right: 27px;}
.node-type-aviso-producto .FichaAuto.FichaTienda .Marco .node-type-aviso-producto { float: right; width: 42%;}

.node-type-aviso-producto .CD .Content .AvisoTitulo,  .node-type-aviso-rural .AvisoTitulo,  .node-type-aviso-servicio .AvisoTitulo{
  position: relative;
  width: 100%;
  z-index: 99;
  padding-bottom: 20px;
  padding-bottom: 7px;
  float: left;
}
.node-type-aviso-producto .section-avisos .AvisoTitulo h2.titulo-ficha, .node-type-aviso-rural  .section-avisos .AvisoTitulo h2.titulo-ficha, .node-type-aviso-servicio  .section-avisos .AvisoTitulo h2.titulo-ficha {
	width: 446px; 
	color: #333333; 
	float: left;  
	font-weight: 400;
    font-size: 26px; 
	line-height: 1.1;
	}
  
.node-type-aviso-producto .FichaAuto .ContentPrecio, .node-type-aviso-rural .FichaAuto .ContentPrecio, .node-type-aviso-servicio .FichaAuto .ContentPrecio{
	background-color: #EAEAEA; 
	padding-left: 25px; 
	padding-right: 25px; 
	padding-top: 40px; 
	padding-bottom: 40px;
	width: 395px;     
	display: inline-block;	
	}
.node-type-aviso-producto .FichaAuto.FichaTienda .ContentPrecio {background-color: #FFF; border-bottom: 1px solid #DFDFDF;padding-left: 20px; padding-right: 20px; width: 372px;}
.node-type-aviso-producto .FichaAuto.FichaTienda .ContentPrecio .comprar a {background-color: #008acf; text-transform: uppercase; display: block; margin-top: -10px; }
.node-type-aviso-producto .FichaAuto.FichaTienda .ContentPrecio .comprar a span {background-image: url(../img/btn-carrito.png);   background-position: 0 0; background-repeat: no-repeat; height: 24px; width: 22px; display: block; float: left;  margin-right: 5px; margin-top: 5px;}
.FichaAuto .Modelo .pago .medios_pagos {
border-bottom: 1px solid #DFDFDF; margin-bottom: 20px;  display: inline-block;width: 100%; }
.pago .medios_pagos .Link {display: inline-block; margin-top: -20px; float: right; margin-right: 38px; font-weight: bolder;}
.pago .medios_pagos .Link.linkTodoPago {float: left; margin-left: 92px; margin-right: 0px;}
.pago .medios_pagos .Link a{
	}
.pago .medios_pagos .MercadoPago { float: right; }
.pago .medios_pagos .DineroMail { float: right; }
.pago .medios_pagos .TodoPago { float: right; }
.pago .medios_pagos .PagoDomicilio {clear: both;}
.FichaAuto .Modelo .pago .medios_pagos .field {
	background-image: url("../img/ico-tarjeta2.png");
	background-repeat: no-repeat;
	width:56px;
	height: 35px;
	float: left;
  margin-right: 30px;
  margin-top: 5px;
  border-right: 1px solid #CCC;
	}
.pago .financiacion {color: #E10019; font-size: 18px;  margin-bottom: 20px; display: block; }
.pago .financiacion span{color: #666666; }
.pago .MercadoPago .Logo1 { 
background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/img-formas-pago.png");
background-position: 0 0;
background-repeat: no-repeat;
width: 83px;
height: 30px;
float:right;
margin-right: 18px; 
}
.pago .MercadoPago .Logo2 { 
background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/img-formas-pago.png");
background-position: -17px -32px;
background-repeat: no-repeat;
width: 51px;
height: 29px;
float:left;
margin-right: 12px;
}
.pago .MercadoPago .Logo3 { 
background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/img-formas-pago.png");
background-position: -21px -70px;
background-repeat: no-repeat;
width: 42px;
height: 31px;
float:left;
margin-right: 12px;
}
.pago .MercadoPago .Logo4 { 
background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/img-formas-pago.png");
background-position: -21px -107px;
background-repeat: no-repeat;
width: 42px;
height: 31px;
float:left;
margin-right: 12px;
}
.pago .DineroMail .Logo1 { 
background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/img-formas-pago.png");
background-position: -1px -146px;
background-repeat: no-repeat;
width: 91px;
height: 30px;
float:right;
}
.pago .DineroMail .Logo2 { 
background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/img-formas-pago.png");
background-position: -20px -186px;
background-repeat: no-repeat;
width: 42px;
height: 30px;
float:left;
margin-right: 12px;
}
.pago .DineroMail .Logo3 { 
background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/img-formas-pago.png");
background-position: -1px -223px;
background-repeat: no-repeat;
width: 91px;
height: 30px;
float:left;
margin-right: 12px;
}
.pago .TodoPago .Logo1 { 
background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/img-formas-pago.png");
background-position: 0 -300px;
background-repeat: no-repeat;
width: 90px;
height: 32px;
float:left;
margin-right: 12px;
}
.pago .PagoDomicilio span {	background-image: url("../img/ico-pago-domicilio2.png");
	background-repeat: no-repeat;
	width: 61px;
  height: 37px;
  float: left;
  margin-right: 32px;
  margin-top: 5px;
  border-right: 1px solid #CCC;}
.pago .PagoDomicilio p {font-size: 14px;  color: #666666; }
.pago .Envio {clear: both; border-bottom: 1px solid #DFDFDF; padding-bottom:20px; margin-bottom: 20px;  display: inline-block;width: 100%; }
.pago .Envio span{line-height:26px; color:#666666; }
.pago .Envio a {font-weight: bold;}
.FichaAuto .Modelo .pago .Envio .field {
  background-image: url("../img/ico-envio-domicilio2.png");
  background-repeat: no-repeat;
  width:45px;
  height: 100px;
  float: left;
  padding-right: 12px;
  margin-right: 32px;
  border-right: 1px solid #CCC;
}
.FichaAuto .Modelo .pago .Disponibilidad { font-size: 14px; color: #666666;clear: both; border-bottom: none; padding-bottom:20px; margin-bottom: 20px;  display: inline-block;width: 100%;}
.FichaAuto .Modelo .pago .Disponibilidad .field { 
	background-image: url("../img/ico-stock.png");
	background-repeat: no-repeat;
	height: 26px;
	float: left;
	border-right: 1px solid #CCC;
	padding-right: 20px;
	margin-right: 20px;
  padding-left: 35px;
  line-height: 2;
    margin-left: 20px;
	}
.FichaAuto .Modelo .pago .Disponibilidad .Cantidad {color: #DF0019;}

.FichaAuto .Modelo .pago .Talles { font-size: 14px; color: #666666;clear: both; border-bottom: none; padding-bottom:20px; margin-bottom: 15px;  display: inline-block; margin-top: 15px;}

.FichaAuto .Modelo .pago .Talles span {margin-right: 10px;}

.FichaAuto .Modelo .pago .Talles span.listaTalles span {
  background: #EEEEEE;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #666666;
  display: inline-block;
  line-height: 1.7em;
  margin-right: 10px;
  text-align: center;
  width: 1.6em; 
}

.pago .Seguridad .field{ 
	background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-seguridad.png");
	background-repeat: no-repeat;
	height: 26px;
	float: left;
	border-right: 1px solid #CCC;
	padding-right: 20px;
	margin-right: 20px;
  padding-left: 35px;
  line-height: 2;
	}
.pago .Seguridad {
	font-size: 13px; color: #666666;clear: both; border-bottom: 1px solid #DFDFDF; padding-bottom:20px; margin-bottom: 20px;  display: inline-block;width: 100%;
	}
.pago .Seguridad a {  line-height: 2;}
.pago a {
	  color: #008ACF;
  display: inline-block;
  font-size: 13px;
	}
  
#block-clasificados-datos_vendedor {
  height: 150px;
}
#block-clasificados-datos_vendedor .logo {
  width: 150px;
  height: 140px;
  float: left;
  border: 1px solid #CCCCCC;
  padding-top: 10px;
  text-align: center;
  margin-right: 16px;
}
.otros_avisos {
  width: 810px;
  height: 150px;
  border: 1px solid #CCCCCC;
  float: left;
}
.otros_avisos .mascara {
  width: 700px;
  margin-left: 66px;
  overflow: hidden;
}
.otros_avisos ul {

}
.otros_avisos li {
  width: 350px;
  float: left;
}
.otros_avisos .aviso {
  float: left;
  width: 330px;
  border: 1px solid #FF000;
  padding: 10px;
}
#block-clasificados-datos_vendedor ul {
  left: 0;
  overflow: hidden;
  position: relative;
  width: 1400px;
  z-index: 1;
  padding: 18px 0;
}
#block-clasificados-datos_vendedor .foto {
  width: 140px;
  height: 90px;
  float: left;
  text-align: center;
}
#block-clasificados-datos_vendedor .titulo {
  width: 190px;
  float: left;
  color: #333333;
  font-size: 14px;
}
#block-clasificados-datos_vendedor .precio {
  width: 190px;
  float: left;
  color: #e10019;
  font-size: 18px;
  padding-top: 10px;
  font-weight: 900;
}
#block-clasificados-datos_vendedor .Botones .back {
  left: 190px;
  top: 53px;
  position: relative;
}
#block-clasificados-datos_vendedor .Botones .next {
  right: 20px;
  top: 53px;
  position: relative;
}
#direccion_costo_envio {
  width: 338px;
  height: 36px;
  margin-top: 15px;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
  border: 1px solid #E5E5E5;
  font-size: 13px;
    padding-left: 10px;
}
.ContentCalcular {
	margin-bottom: 20px;
	}
.BuscadorDireccion {font-size: 16px; color: #E10019; margin-top: 10px;}
.FondoSucursales .Mapa {
  width: 440px;
  height: 315px;
  display: none;
}

.node-type-aviso-producto .FichaTienda hr {width: 31%; border: 1px solid #EBEBEB; height: 0;}
.node-type-aviso-producto .FichaTienda hr.red {border: 3px solid #E10019; width: 65px; margin-top: -10px;}
/* Info Vendedor */
#block-info-comercio-vendedor {clear: both; padding: 15px 0px; top: 33px;}
#block-info-comercio-vendedor .descripcion_vendedor {color: #333333; font-size: 14px; line-height: normal;}
#block-info-comercio-vendedor .nombre_vendedor, .title-interes {color: #666666; font-size: 34px; padding-bottom: 5px; text-align: center; font-weight: 100;}
#block-info-comercio-vendedor .datos_vendedor{width: 100%; margin: 20px 0px;}
#block-info-comercio-vendedor .datos_vendedor .logo_vendedor{width: 18%; float: left;}
#block-info-comercio-vendedor .datos_vendedor .logo_vendedor img{border: 1px solid #EBEBEB; padding: 5px;}
#block-info-comercio-vendedor .datos_vendedor ul{float: left; width: 50%; margin-top: 20px; border-right: 1px solid #CCC;}
#block-info-comercio-vendedor .datos_vendedor ul li{margin-bottom: 27px;}
#block-info-comercio-vendedor .datos_vendedor ul li span.logo_tienda{background-image: url("../img/ico-tiendas-oficiales2.png"); background-repeat: no-repeat; width: 27px; height: 27px; float: left;  padding-right: 20px; margin-right: 20px;}
#block-info-comercio-vendedor .datos_vendedor ul li span.logo_candado{background-image: url("../img/ico-seguridad-3.png"); background-repeat: no-repeat; width: 27px; height: 32px; float: left; padding-right: 20px; margin-right: 20px;}
#block-info-comercio-vendedor .datos_vendedor ul li span.strong{font-weight:bold;}
#block-info-comercio-vendedor .links_vendedor{float: right; width: 25%; padding-top: 23px;}
#block-info-comercio-vendedor .btn-vendedor, .info .btn-vendedor {
    background-color: #EEEEEE; font-size: 14px; font-weight: 600; padding: 9px 12px; border-radius: 4px; border: 1px solid #DFDFDF; text-transform: uppercase; color: #666666; width: 200px;   text-align: center; display: block; margin-bottom: 10px;}
#block-info-comercio-vendedor .btn-vendedor:hover, .info .btn-vendedor:hover {
    background-color: #DDDDDD;}
.info .btn-vendedor { margin-bottom: 0; float: left; width: 156px; margin: 10px; }

.title-interes {line-height: normal; margin-top: 5px;}
hr.interes {margin-bottom: 25px;}

/* Ocultar datos de formulario de contacto */
#modal-contacto-vendedor .form-datos-vendedor h3 {display:none;}
#modal-contacto-vendedor .form-datos-vendedor p a {display:none;}

.calculadora span.cargando { background-image: url("../img/ajax-loader.gif"); background-repeat: no-repeat; width: 16px; height: 16px; float: left; padding: 2px; }
.tarjetas li, .otros li { float: left; height: 30px; margin-right: 10px; }
.calculadora input { float: left; }
.calculadora select { font-size: 13px; border-radius: 4px; padding: 4px; }
.bancos-div { float:left; margin-top: 24px; margin-right: 20px;}
.cuotas-div { float:left; margin: 24px 0 10px; }
.calculadora .cargando { clear: both; }
.calculadora { padding: 0px 10px;}
.calculadora h3, .calculadora h4 { font-size: 34px; line-height: initial; font-weight: bold; color: #008ACF; border-bottom: 2px solid #EEEEEE; }
.metodos-pagos-div { background-color: #EEEEEE; border-radius: 5px; margin-top: 5px; padding: 10px; }
.calculadora .subtitulo { font-weight: 600; font-size: 13px; line-height: initial; }
.calculadora .bancos-div .subtitulo, .calculadora .cuotas-div .subtitulo { display: block; width: 60px; float: left; line-height: 30px; }
.calculadora .contenedor { background-color: #FFFFFF; margin: 10px 4px; padding: 6px; }
.calculadora .final { font-size: 34px; line-height: initial; font-weight: normal; color: #008ACF; }
.calculadora .destacado { font-weight: bold; }
.calculadora .acciones p { float: right; margin-top: -148px;}
.calculadora .acciones input { background-color: #008acf; display: block; font-size: 14px; font-weight: 600; padding: 6px 20px; border-radius: 4px; border: none; color: #FFFFFF; }
.financiacion .detalle { font-size: 14px; }
li.medios_pagos { width: 410px; }
.medios_pagos .cuotas { float: left; width: 300px; }

span.cargando { background-image: url("../img/ajax-loader.gif"); background-repeat: no-repeat; width: 16px; height: 16px; float: left; padding: 2px; }


.calculadora .cuotas .contado {float: left; padding: 10px 15px; background-color: #EEEEEE; margin: 10px 0px; text-align: center; text-transform: uppercase; border: 1px solid #666666; color:#666666}
.calculadora .cuotas .contado .label-contado{font-size: 18px; font-weight: 800; color: #008acf;}
.calculadora .cuotas .contado .label-pagos{font-size: 11px; margin-top: 8px; margin-bottom: 12px; width: 211px;}
.calculadora .cuotas .contado .precio-contado{font-size: 30px; font-weight: 800; color: #008acf;}


.calculadora .cuotas .tarjeta {float: left; padding: 11px 15px; margin: 10px; text-align: center; text-transform: uppercase; border: 1px solid #666666; color:#666666}
.calculadora .cuotas .tarjeta .label-cuotas{font-size: 11px; border-bottom: 1px solid #666666;}
.calculadora .cuotas .tarjeta .label-cuotas .cantidad-cuota{font-weight: 800; float: left; width: 82px;}
.calculadora .cuotas .tarjeta .label-cuotas .costo-cuota{font-size: 22px; font-weight: 800; color: #008acf; height: 30px; padding-bottom: 8px;}
.calculadora .cuotas .tarjeta .label-ptf{font-size: 11px; margin-top: 5px; width: 211px;}
.calculadora .cuotas .tarjeta .label-cft{font-size: 22px; margin-top: 8px; font-weight: 800;}
.calculadora .cuotas .tarjeta .label-costo{font-size: 10px; margin-top: 2px;}
