/* CSS crunched with Crunch - http://crunchapp.net/ */
@font-face{font-family:'openSans';font-style:normal;font-weight:100;src:url(../fonts/OSLight.eot);src:local('Open Sans Light'),local('Open Sans Light'),url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/OSLight.eot) format('embedded-opentype'),url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/OSLight.woff) format('woff');}@font-face{font-family:'openSans';font-style:normal;font-weight:400;src:url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansRegular.eot);src:local('Open Sans'),local('OpenSans'),url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansRegular.eot) format('embedded-opentype'),url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansRegular.woff) format('woff');}@font-face{font-family:'openSans';font-style:normal;font-weight:600;src:url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansSemiBold.eot);src:local('Open Sans Semibold'),local('OpenSans-Semibold'),url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansSemiBold.eot) format('embedded-opentype'),url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansSemiBold.woff) format('woff');}@font-face{font-family:'openSans';font-style:normal;font-weight:700;src:url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansBold.eot);src:local('Open Sans Bold'),local('OpenSans-Bold'),url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansBold.eot) format('embedded-opentype'),url(/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansBold.woff) format('woff');}

@font-face {
	font-family: 'OpenSansLight';
	src: url('/sites/clasificados.losandes.com.ar/themes/losandes/fonts/OpenSansLight.eot');
	src: url('/sites/clasificados.losandes.com.ar/themes/losandes/fonts/OpenSansLight.eot') format('embedded-opentype'), url('/sites/clasificados.losandes.com.ar/themes/losandes/fonts/OpenSansLight.woff') format('woff'), url('/sites/clasificados.losandes.com.ar/themes/losandes/fonts/OpenSansLight.ttf') format('truetype'), url('/sites/clasificados.losandes.com.ar/themes/losandes/fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansBold.eot');
	src: url('/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansBold.eot') format('embedded-opentype'), url('/sites/clasificados.losandes.com.ar/themes/losandes/fonts/openSansBold.woff') format('woff'), url('/sites/clasificados.losandes.com.ar/themes/losandes/fonts/OpenSansBold.ttf') format('truetype'), url('/sites/clasificados.losandes.com.ar/themes/losandes/fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}