/* FORMULARIOS CONTENT */
#content legend {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  position: relative;
}
#content .description {
  color: #F7841F;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
}
#content .form-item .description {
  color: #8C8C8C;
  font-size: 11px;
  padding-bottom: 5px;
  font-weight: lighter;
  margin-left: 84px;
}
#content .form-submit {
  font-size: 13px;
  text-transform: none;
  background: none repeat scroll 0 0 #E0191F;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  height: 28px;
  line-height: 26px;
  text-align: center;
}
#content .form-text {
  margin-bottom: 5px;
  background-color: #FFFFFF;
  border-color: #ADACB1 #E1E8EE #E1E8EE;
  border-radius: 1px 1px 1px 1px;
  border-style: solid;
  border-width: 1px;
  font: 12px Arial,Helvetica,sans-serif;
  height: 20px;
  outline: medium none;
  width:400px;
}
#content .form-textarea {
  background-color: #FFFFFF;
  border-color: #ADACB1 #E1E8EE #E1E8EE;
  border-radius: 1px 1px 1px 1px;
  border-style: solid;
  border-width: 1px;
  font: 12px Arial,Helvetica,sans-serif;
  outline: medium none;
  width:400px;
}
/*-- --*/
.page-contact .form-item label {
    text-align: left;
    color: #333333;
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: normal;
	}
.page-contact #content .form-text {
	    background-color: #FFFFFF!important;
    -webkit-box-shadow: 0 0 0 1000px white inset;
    border: 1px solid #CCCCCC;
    color: #666666 !important;    
    font-size: 14px;
    height: 40px;
    line-height: 30px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	}
.page-contact #content .form-submit {
	background-color: #E10019;
	    margin: 0px;
    font-size: 14px;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'openSans',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;    
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	height: 46px;
    text-transform: uppercase;
    margin-bottom: 40px;
	}
.page-contact #content .form-textarea {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	 height: 250px;
	}
.page-contact #content-area {
  font-size: 15px;
}

.page-contact .captcha img {
  position: absolute;
  margin-left: 140px;
  margin-top: 28px;
  float: left;
}

.page-contact #content .captcha input.form-text {
  width: 120px;  
}