.Paquetes .Borde {border-bottom: 1px solid #D1D0CE; padding: 0 20px 10px;}
.Paquetes .txt p {color: #222222; font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold;}
.Paquetes .mensaje-factura {padding: 10px; float: left; width: 480px; color: #373737; line-height: 22px; margin-top: 10px;}
.Paquetes .mensaje-factura a{color: #008ACE;}
.Paquetes .ContentProd {margin-left: auto; margin-right: auto; margin-top: 25px; width: 970px;}
.ContentProd .CajaProd { padding: 10px; width: 450px; margin-right:15px ; float:left; margin-bottom:20px ;}
.ContentProd .cod_5 {background:#F5F4F4;
		}

.ContentProd .CajaProd .productos {}
.ContentProd .CajaProd .productos .tipo {}
.ContentProd .CajaProd .productos .tipo .choose {float:left; background:#AAAAAA url(../img/fd_compra_check.png) no-repeat right center; width:41px; height:37px; padding:18px 20px 5px 5px;}
.ContentProd .CajaProd .productos .tipo .choose label{width:41px; float:none; padding:0;}
.ContentProd .CajaProd .productos .tipo .choose label input{width:30px ; background:#AAAAAA; border:0 none;}
.ContentProd .CajaProd .productos .tipo .paqueteNombre{float:left; background:#D4D4D4 url(../img/fd_compra_paquete.png) no-repeat right center; color: #000000; font-size: 22px; font-weight: normal; width:252px; padding:5px; line-height:24px; height:50px;} 
.ContentProd .CajaProd .productos .tipo .costo{float:left; color: #008ACE; font-size: 28px; font-weight: bold; padding:5px; height:32px; padding-top:23px; background: #FFFFFF url(../img/fd_compra_precio.png) no-repeat right center; padding-right: 20px;} 
.ContentProd .CajaProd .productos .tipo .form-item{margin-top: auto;}
.ContentProd .CajaProd .productos .costo strong {font-size: 16px;}
.FormRegistro .cerrarCompra{float: right; width: 300px;}
.FormRegistro .cerrarCompra .detalle-seleccion{border-bottom:0 none; float:right; text-align:right; margin:0; text-align: right;}
.FormRegistro .cerrarCompra .BotonComprar{float:right; padding-left:40px; padding-top:10px; }
.FormRegistro .cerrarCompra .BotonComprar input.form-submit{-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; background: #A92319; color:#fff; text-transform:uppercase; font-size:16px; border:0 none; outline:0 none; padding:3px; height:auto;  font-weight:bold; width:120px;}
.ContentProd .CajaProd ul {margin: 0; padding: 10px 0 0 26px; width: 210px;}
.ContentProd .CajaProd .p_txt {color: #444444; font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 140%; height: 72px;}
.ContentProd .CajaProd ul li {background: url(../img/cv_aviso.png) no-repeat scroll left 2px transparent; list-style: none outside none; padding-bottom: 7px;  padding-left: 22px; width: 166px;}
.ContentProd .CajaProd .lista-mejoras{float: right; margin-left: 222px; margin-top: -33px; position: absolute; margin-top: -83px;}
.ContentProd .CajaProd .disponible{font-size: 12px; width: 431px; color:#666666;}

.detalle-seleccion .Cajapagar .costo {right: 0;}
.detalle-seleccion .Cajapagar{padding-top:10px;}
.detalle-seleccion .Cajapagar .costo {color: #323943; /*float: right;*/ font-family: Arial,Helvetica,sans-serif; font-size: 27px;  padding-top: 2px; text-align: right;  margin: 5px 5px 10px 5px; font-weight: bold;}
 .detalle-seleccion .Cajapagar .costo label{font-weight: bold;}
.detalle-seleccion .Cajapagar .costo span {color: #333333; font-size: 22px; font-weight:bold;}

/* Compra paquetes */

#compra-paquete-form .Paquetes .txt p{font-size: 22px; color: #373737; font-weight: normal; padding-top: 10px;}
#compra-paquete-form .Paquetes .select-categoria {float: left; width: 100%; padding-bottom: 10px;}
#compra-paquete-form .Paquetes .select-categoria a {
	width: 945px;
	background-color: #F3F3F3;
	color: #333;
	font-size: 24px;
	font-weight: bold;
	float: left;
	padding: 17px 13px;
	background-image: url(../img/comprapaquetes_drop.png);
	background-repeat: no-repeat;
	background-position: 935px 17px;
}
#compra-paquete-form .Paquetes .select-categoria.autos a{color: #EE860F}
#compra-paquete-form .Paquetes .select-categoria.inmuebles a{color: #55AA26}
#compra-paquete-form .Paquetes .item {width: 100%; float: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #CCC; margin-bottom: 10px;}
#compra-paquete-form .Paquetes .item input {width: 15px; padding-top: 5px; margin-bottom: 7px; float: left; margin-right: 10px; margin-top: -5px; border: 0px;}
#compra-paquete-form .Paquetes .item label {}
#compra-paquete-form .Paquetes .item h3 {width: 46.1%; float: left; font-size: 20px; color: #373737; height: 30px; font-weight: normal;}
#compra-paquete-form .Paquetes .item .precio {width: 50%; float: right; text-align: right; font-size: 24px; color: #323943; font-weight: bold; height: 30px;}
#compra-paquete-form .Paquetes .item ul {float: left; clear: left;}
#compra-paquete-form .Paquetes .autos .item ul li {
	width: 50%;
	float: left;
	color: #373737;
	list-style-position: inside;
	list-style-image: url(../img/paquete-autos.png);
	padding-bottom: 5px;
}
#compra-paquete-form .Paquetes .inmuebles .item ul li {
	width: 50%;
	float: left;
	color: #373737;
	list-style-position: inside;
	list-style-image: url(../img/paquete-inmueb.png);
	padding-bottom: 5px;
}
#compra-paquete-form .Paquetes .productos .item ul li {
	width: 50%;
	float: left;
	color: #373737;
	list-style-position: inside;
	list-style-image: url(../img/paquete-productos.png);
	padding-bottom: 5px;
}
#compra-paquete-form .Paquetes .servicios .item ul li {
	width: 50%;
	float: left;
	color: #373737;
	list-style-position: inside;
	list-style-image: url(../img/paquete-servicios.png);
	padding-bottom: 5px;
}
#compra-paquete-form .Paquetes .item .descripcion {width: 475px; float: right; line-height: 20px; color: #373737; text-align: right}

#compra-paquete-form .msg-inmuebles-sdclass{font-size: 20px; margin-bottom: 20px; color: #55AA26;}
#compra-paquete-form .msg-inmuebles-sdclass a{text-decoration: underline;}
#compra-paquete-form .msg-inmuebles-sdclass a:hover{text-decoration: none;}