@import url(http://fonts.googleapis.com/css?family=Roboto);

/* General */
.CrearAnuncio .Sombra {padding: 20px 0;}
.pasosbreadcrumb .pasos {background: url(../img/fd_pasos.jpg) repeat-x scroll left top transparent; height: 30px; width: 285px; margin-top: 20px;}
.pasosbreadcrumb .pasos .paso1 {background: url(../img/fd_paso1.png) no-repeat scroll left top transparent; height: 30px; padding: 8px; color: #8B8C93;}
.pasosbreadcrumb .pasos .paso1.active {background: url(../img/fd_paso1_activo.png) no-repeat scroll left top transparent; color: #FFFFFF;}
.pasosbreadcrumb .pasos .paso2 {background: url(../img/fd_paso3.png) no-repeat scroll right top transparent; float: right; height: 30px; margin-top: -46px; padding-left: 10px; padding-top: 8px;  width: 167px; color: #8B8C93;}
.pasosbreadcrumb .pasos .paso2 label {padding-left: 20px;}
.pasosbreadcrumb .pasos .paso2.active {background: url(../img/fd_paso3_activo.png) no-repeat scroll left top transparent; color: #FFFFFF;}

/* Campos */
.Avisos .form-item input{width:320px;}
.Avisos .form-item input.corto{width:120px;}
.Avisos .form-item .form-checkboxes input {width:16px;}
.Avisos .form-item input.form-radio{width:16px; margin-right: 4px; border: 0px;}
.Avisos .form-item .form-checkbox {border: 0px; width: inherit;}
.Avisos .form-item input[type="checkbox"] { width: 16px; }
.Avisos #edit-body-wrapper textarea{width:250px !important; height: 250px}
.Avisos .form-item textarea{width:250px !important; height: 71px;}
.Avisos .form-item .grippie{margin-left: 246px;}
.Avisos .form-item .form-checkboxes label{width:40px;}
.CrearAnuncio .avisolegal{padding-bottom: 13px;}
.Avisos .form-item input.disabled{background-color: #EEEEEE;}
.Avisos .filefield-upload input.form-submit,.Avisos .content-add-more input.form-submit,.widget-edit input.form-submit{background: none repeat scroll 0 0 #E21A21; border: medium none; color: #FFFFFF; cursor: pointer; font-weight: bold; height: 28px; width: 90px; margin: 5px 5px 0 0; -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px; line-height: 28px;}
.Avisos .content-add-more input.form-submit{width: 130px;}

.widget-edit input.form-submit{margin-right: 140px;}

#edit-field-aviso-emprendimiento-logo-0-wrapper .widget-edit input.form-submit,
#field-aviso-renders-items .widget-edit input.form-submit,
#field-aviso-planos-items .widget-edit input.form-submit,
#field-aviso-renders-items .content-add-more input.form-submit,
#field-aviso-planos-items .content-add-more input.form-submit {
  line-height: 7px;
  font-size: 12px;
}
#field-aviso-renders-items .content-add-more input.form-submit,
#field-aviso-planos-items .content-add-more input.form-submit {width: 160px;}
.Avisos .form-item input[type="file"] {
  line-height: 0px;
  padding: 6px;
}
#edit-field-aviso-emprendimiento-logo-0-wrapper label {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  margin-left: -38px;
}
#edit-field-aviso-emprendimiento-logo-0-wrapper .widget-edit {
  margin-top: 32px;
  margin-left: -151px;
}
#edit-field-aviso-emprendimiento-logo-0-wrapper .widget-edit .description,
#field-aviso-renders-items .widget-edit .description,
#field-aviso-planos-items .widget-edit .description {padding-left: 0px;}
#field-aviso-renders-items thead th,
#field-aviso-planos-items thead th {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  border-top: none;
  padding-left: 0px;
}
#edit-field-aviso-emprendimiento-logo-0-wrapper .imagefield-preview {
  margin-top: 43px;
  margin-left: -167px;
  height: 70px;
}
#edit-field-aviso-emprendimiento-logo-0-filefield-remove {margin-left: 92px;}
#edit-field-aviso-emprendimiento-logo-0-wrapper .widget-preview {border: none;}

.Avisos .form-item .readonly-text{width: auto; background-color: #EEE;}
.Avisos .readonly-text{width: auto; background-color: #EEE;}
.Avisos .datos_agrupados {}

.CrearAnuncio .condiciones .form-item input, .CrearAnuncio .ofertas .form-item input { width: 20px; height: 14px; line-height: 14px; }
.CrearAnuncio .condiciones .form-item input, .CrearAnuncio .ofertas .form-item input { margin-right:10px;}
.CrearAnuncio .condiciones .form-item label, .CrearAnuncio .ofertas .form-item label { width: 700px; padding-left: 241px; padding-top:10px; line-height: 14px; }
.CrearAnuncio #edit-profile-condiciones { top: 0; }

#edit-field-aviso-mapa-0-delete-location-wrapper input.form-checkbox {margin-left: 243px; width: 16px;}
#edit-field-aviso-mapa-0-delete-location-wrapper div.description {padding-left: 265px; margin-top: -28px; color: #8C8C8C; font-size: 12px;}

.CrearAnuncio .form-item input.form-autocomplete {background-position: 100% 16px}
.CrearAnuncio .form-item input.throbbing {background-position: 100% -18px}
.CrearAnuncio .form-item #autocomplete {margin-left: 245px; margin-bottom: 0px; border: 1px solid #CCCCCC; line-height: 34px;}

.Avisos #edit-datos-privados-cartel-wrapper label {width: 13px;}
textarea#edit-datos-privados-comentario {width: 322px !important;}
#edit-datos-privados-comentario-wrapper.form-item .grippie {width: 331px;} 

/* Multimedia */
.Avisos #field-aviso-fotos-items table thead tr th{display: block; float: left; font-weight: normal; padding-right: 14px; padding-top: 4px; text-align: right; width: 35px; border: none;}
#field_aviso_fotos_values { width:582px; }
.CrearAnuncio .FormRegistro .Boton{margin-left: 245px; margin-bottom: 15px; float: none; position: static;}
.CrearAnuncio .FormRegistro .Boton input.boton-mapa{font-size:13px; background: none repeat scroll 0 0 #323943; border: medium none; color: #FFFFFF; cursor: pointer; font-family: Arial,Helvetica,sans-serif; font-weight: bold; height: 28px; line-height: 26px; text-align: center; width: 200px;}

.opciones-geomap {padding-left: 245px;}
.opciones-geomap div {
  color: #008ACE;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 800;
  border-bottom: 1px solid #CCCCCC;
  width: 531px;
}
.opciones-geomap li { 
  padding: 4px;
  background: url(../img/paquete-productos.png) no-repeat left;
}
.opciones-geomap li a { 
  color: #8C8C8C;
  font-size: 13px;
  margin-bottom: 0px;
  font-weight: 100;
  margin-left: 13px;
}
.opciones-geomap li a:hover { 
  color: #8C8C8C;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 800;
}
/* Precios UVA */
.CrearAnuncio .FormRegistro .Row.precio-uva {width: 670px;}
.CrearAnuncio .FormRegistro .Row.precio-uva > .form-item {
  border: 2px solid #6F2DA8;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 15px;
}
.CrearAnuncio .FormRegistro .Row.precio-uva label {
  color: #6F2DA8;
  font-weight: 800;
  width: 224px;
}
.CrearAnuncio .FormRegistro .Row.precio-uva label.option {width: 41px;}
.CrearAnuncio .FormRegistro .Row.precio-uva .mont-convertido-uva {
  position: absolute;
  margin-top: -76px;
  margin-left: 314px;
  font-weight: 800;
  font-size: 17px;
}
.CrearAnuncio .FormRegistro .Row.precio-uva .mont-convertido-uva .monto {
  color: #6F2DA8;
  font-size: 17px;
}
.CrearAnuncio .FormRegistro .Row.precio-uva .mont-convertido-uva .error {
  font-size: 12px;
}
.CrearAnuncio .FormRegistro .Row.precio-uva .mont-convertido-uva a {
  font-size: 13px;
  background: none repeat scroll 0 0 #008ACF;
  border: medium none;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}
.CrearAnuncio .FormRegistro .AyudaAlta.CotizacionUva .Texto {min-height: 58px;}
.AyudaAlta.CotizacionUva li strong {float: left; width: 100%; line-height: 18px;}
.AyudaAlta.CotizacionUva li span {
  /*float: left;*/
  margin-top: 10px;
  color: #6F2DA8;
  font-size: 17px;
  font-weight: 800;
}

/* Confort y Seguridad */
.taxonomy-super-select-checkboxes .option input{width:16px; height: 13px;}
.taxonomy-super-select-checkboxes label.option{text-align: justify; width: 283px; padding-top: 0px;}
.CrearAnuncio h3.closed {background: white url(../img/ayuda/ico_close.gif) no-repeat left top;}
.CrearAnuncio h3.opened {background: white url(../img/ayuda/ico_down.gif) no-repeat left top;}

/* multi telefono */
.Avisos .telefonoContacto .form-item input {width: 120px;}
.Avisos .telefonoContacto .form-item .separador {
  margin: 0px 3px;
  font-size: 18px;
  font-weight: 600;
}

/* Publicacion */
.CrearAnuncio.Publicacion .FormRegistro .Row {padding-bottom: 0px;}
.Publicacion .Row label {float: none; text-align: initial;}
.Publicacion .blanco {background: none repeat scroll 0 0 white; padding: 10px;}
.Publicacion .Row label {display: inline;}
.Publicacion .Row input {height: auto;}
.Publicacion .Row .form-item {float: left; width: 190px;}
.Publicacion .detalle-oculto {display:none;} 
.Publicacion .detalle { float: left; height: 46px; padding-bottom: 15px; width: 444px;}
/*.Publicacion .disponibilidad  {float: right;}*/
.Publicacion .mejoras .Row input {width: auto;}
.Publicacion .detalle-seleccion h4 {font-size: 15px; line-height: 22px; font-weight: 600; color: #333; margin-bottom: 0px; padding-top: 10px;}
.Publicacion .detalle-seleccion  .lista-detalle-espacios,  .Publicacion .detalle-seleccion  .lista-detalle-creditos{  font-size: 16px; font-weight: 900; color: #E10019; margin-bottom: 10px;}
.Publicacion .detalle-seleccion  .lista-seleccion {margin-bottom: 5px;}
.Publicacion .detalle-seleccion  .lista-seleccion a { background-image: url(../img/sprite.png); background-repeat: no-repeat; background-position: -76px -218px; padding-left: 10px; width: 25px; height: 16px; overflow: hidden;  display: block; float: left; text-indent: -999em; padding: 0px;}
.Publicacion .detalle-seleccion  .contentLeft {float:left;}
.Publicacion .detalle-seleccion  .contentRight {float:right; margin-right: 45%;}   
.Publicacion .lista-seleccion a {padding: 5px;}
.Publicacion .total {color: #323943; font-size: 22px; font-weight: bold; float: left;}
.Publicacion .alerta-compra { color: #000000; font-size: 12px; margin: 0px; padding: 0px; font-weight: bold;}
.Publicacion .alerta-compra li{ background-color: #D7E6FD; color: #000000; font-size: 14px;}
/*.Publicacion .comprado {background-color: #D7E6FD;  clear: both; display: block; min-height: 55px; padding-top: 10px;} */
/* .Publicacion .seleccionado {  background-color: #FFF8A5; margin-bottom: 10px; min-height: 36px; padding-bottom: 10px; padding-top: 10px;} */
.Publicacion .ayuda-aplicado{color: #000000; float: left; font-size: 14px; margin-right: 28px;}
.Publicacion .ayuda-aplicado span{background-color: #FFF8A5; width: 40px; height: 25px; display: block; float: left; margin-top: -4px; margin-right: 3px;}
.Publicacion .ayuda-pago{ color: #000000; font-size: 14px; height: 45px;}
.Publicacion .ayuda-pago span{background-color: #D7E6FD; width: 40px; height: 25px; display: block; float: left; margin-top: -4px; margin-right: 3px;}
.Publicacion .reusable {color: #008ACE; font-weight: bold;}
.Publicacion .no-reusable {color: #A92319; font-weight: bold;}
.Publicacion .info { background-color: #D7E6FD; color: #000000; font-size: 14px; margin: -40px 5px 0; padding: 10px; border-radius: 4px; float: right; width: 600px; line-height: 20px; }
.Publicacion .beta { background-color: #FFFFFF; color: #e0191f; font-size: 8px; border-radius: 2px; padding: 4px; }
.Publicacion .info_publicacion { float: left; clear: left; padding-top: 10px;}
.ContentEspacio {height: 50px;}
.ContentEspacio .VerMas a { margin-top: 5px; margin-right: 5px;}
.ContentEspacio .Gris {background: none repeat scroll 0 0 #F0F0F0; border-radius: 3px 3px 3px 3px; font-size: 12px;   padding: 10px; top: 34px; /* width: 460px; height: 320px; */ position: absolute; left: 478px; z-index: 999;}
.ContentEspacio .form-item, .ContentEspacio .PrecioDetalle { line-height: 32px; }
.grupo .ContentEspacio { height: 30px; padding-left: 20px; }
.grupo .ContentEspacio .VerEjemplo { display: none; }
.grupo { margin-bottom: 20px; }
.grupo .nombre { float:left; width: 120px; line-height: 32px; font-weight: bold; margin-bottom: 10px; }

.Publicacion .espacios .GloboDetalle .detalle-body {width: 110px; float: left; margin-right: 5px;}
.Publicacion .espacios .GloboDetalle img {width: 345px;}

.mejoras .FlechaMejoras {border: medium none; cursor: pointer; display: block; float: right; height: 24px; width: 26px;}
.mejoras .FlechaMejoras.asc {background: url("../img/arrow-asc.png") no-repeat scroll 0 0 transparent;}
.mejoras .FlechaMejoras.des {background: url("../img/arrow-desc.png") no-repeat scroll 0 0 transparent;}


/* Publicacion espacios clin */
.Publicacion h4.titleClin {font-size: 14px; font-weight: bold; color: #FFE800; background-color: #3d4b52; padding: 2px;width: 52px; margin-bottom: 5px;}
.Publicacion .espacios-clin .detalle {height: 0px;}
.Publicacion .espacios-clin .ContentEspacio .form-item {width: 120px;}

/* Publicacion Papel */
.Publicacion .papel-reco {  background: url("../img/btn_ver_recomendaciones.gif") no-repeat scroll left top white; display: block; float: left; font-size: 0; height: 26px; margin-top: 10px; width: 144px;}
.Publicacion .credito-papel{position:relative;}
.Publicacion .credito-papel .Row input {width: auto; }
.Publicacion .credito-papel .Row .form-item { width: auto; margin: 0 10px; margin-bottom: 10px;}
.Publicacion .credito-papel .CajaPapel{ width: 400px; float: left; margin: 0 10px; }
.Publicacion .detalle-seleccion h3{padding-bottom: 0px;}
.Publicacion .credito-papel #edit-text-papel-wrapper .resizable-textarea{}
.Publicacion .credito-papel .grippie {/*margin-left: 0; margin-right: 0; width: 250px;*/display:none;}
.Publicacion #content-papel span{font-weight: bold;}

#content-papel-clasifoto {
  float: left;
  width: 400px;
}
#content-papel-clasifoto .form-item {
  clear: both;
}
.Publicacion .credito-papel-clasifoto .papel-previsualizar,
.Publicacion .credito-papel-clasifoto .papel-previsualizar-clasifoto{
  float: left;
  margin-top: 0;
}
.Publicacion .credito-papel-clasifoto .papel-reco {
  margin-left: 10px;
}
#edit-label-clasifoto, #edit-titulo-clasifoto, #edit-pie-clasifoto {
  display: block;
}

.tabla_dias { border-collapse: collapse; }
.tabla_dias th, .tabla_dias td { border: solid #CCCCCC 1px; padding: 4px; text-align: center; font-weight: bold; }

/* Publicacion republicacion */
/*.Publicacion .deshabilitado {background-color: #FCABAB; margin-bottom: 10px; min-height: 36px; padding-bottom: 10px; padding-top: 10px;}*/
.Publicacion .deshabilitado {color: #BCBCBC;}
.Publicacion .deshabilitado .form-item {width: 162px; margin-left: 28px; margin-top: 7px;}

/* Rango de Precios para Plan de Ahorro */
#rangos-cuotas {display: inline-block; width: 380px;
}
#rangos-cuotas .rango-cuota {display: inline-block; margin: 2px 0px 2px 0px;}
#rangos-cuotas .rango-cuota .rango-desde, #rangos-cuotas .rango-cuota .rango-hasta, #rangos-cuotas .rango-cuota .rango-accion {width: 95px; float: left;}
#rangos-cuotas .rango-cuota .rango-accion {width: 60px; padding-top: 20px;}
#rango-desde-select, #rango-hasta-select {float: none; min-width: 60px;}
#rangos-cuotas .rango-cuota .rango-precio {width: 95px; float: left; padding-top: 6px;  margin-right: 10px;}
#rango-precio-text {width: 70px; clear: both;}

.ContentEspacio, .ContentEspacioseleccionado {display: block; clear: both;}
.ContentMejoras {display: block;	clear: both;}

.ContentMejorasFirst {clear: both; display: block; margin-bottom: 10px; min-height: 50px;}
.ContentMejorasFirst .detalleFirst{ float: left; padding-right: 20px; width: 252px;} 
.detalle { padding-right: 20px; width: 444px;} 
.credito-papel .detalle { padding: 0 10px; width: 657px; float: right; height: auto; margin-bottom: 5px;}
.credito-papel-clasifoto .detalle { width: 100%; }
.credito-papel .Row  {background-color: #EBEBEB; padding-top: 10px;}
.Publicacion #content-papel .detalle.credito span {font-weight: normal;}
.PrecioDetalle .ElPrecio { font-weight:bold; float: left; margin-right: 5px;}
#edit-select-credito-banderola-wrapper label { float: left; width: 30px;}
#edit-select-credito-banderola { float:left; min-width: 100px;}
/* .CrearAnuncio .espacios h3 {margin-top: 20px;} */
.ContentMejoras .ElPrecio, .ContentMejorasFirst .ElPrecio{float: left; font-weight: bold;
width: 150px;}
.ElPrecio.aplicado {color: #A92319;}
.credito-papel .ElPrecio { font-weight:bold; }
.VerEjemplo {background-color:#E6E4E3; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; float: left; height: 24px; cursor: pointer; padding-left: 20px; padding-top: 8px; width: 60px;}
.VerEjemplo a {color: #333333; font-weight: bold;cursor: pointer;}
.ContentMejoras .VerEjemplo {width: 92px;}
.PrecioDetalle {display: block; float: left; width: 200px;}
.ContentMejoras .PrecioDetalle {width: 190px;}
.credito-papel .PrecioDetalle { margin-left: 450px; height: 30px;}

#modal-confirmacion-publicacion-papel { color: #666666; font-size: 14px; }
#modal-confirmacion-publicacion-papel h3 { color: #008acf; font-size: 18px; font-weight: bold; padding: 4px; }
#modal-confirmacion-publicacion-papel .botones { text-align: center; }
#modal-confirmacion-publicacion-papel #confirmacion-texto { padding: 10px; text-align: center; color: #000000; }
#modal-confirmacion-publicacion-papel #confirmacion-texto strong { color: #e10019; }
#modal-confirmacion-publicacion-papel .form-submit { margin: 4px; }
#modal-confirmacion-publicacion-papel strong { color: #e10019; }
#modal-confirmacion-publicacion-papel .originalTextareaInfo { display: none; }
#modal-confirmacion-publicacion-papel .form-submit:disabled { background-color: #cccccc; cursor: auto; }
.Publicacion .credito-papel .preview { background: none repeat scroll 0 0 #323943; border: medium none; color: #FFFFFF; cursor: pointer; font-weight: bold; height: 28px; width: 90px; margin: 5px 5px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; line-height: 28px; }
.papel-previsualizar, .papel-previsualizar-clasifoto { margin-left: 10px; float: left; width: 280px; margin-top: -80px;}
.simulacion-papel img { float: none; }
	
.Publicacion input[type="checkbox"], .Publicacion input[type="radio"]{border:0 none; background:none;}
.CrearAnuncio .FormRegistro .Row .Ingresa.Mapa {padding-left: 243px; padding-top: 5px;}
/* Ocultar rubro padre */
#edit-taxonomy-34-hierarchical-select-selects-0{display:none;}
/* Ocultar rubro en edicion */
.edicion #edit-taxonomy-4-hierarchical-select-selects-0, .edicion #edit-taxonomy-1-hierarchical-select-selects-0, .edicion #edit-taxonomy-15-hierarchical-select-selects-0, .edicion #edit-taxonomy-14-hierarchical-select-selects-0, .edicion #edit-taxonomy-3-hierarchical-select-selects-0{display:none;}
.edicion #edit-taxonomy-4-hierarchical-select-selects-1, .edicion #edit-taxonomy-1-hierarchical-select-selects-1, .edicion #edit-taxonomy-15-hierarchical-select-selects-1, .edicion #edit-taxonomy-14-hierarchical-select-selects-1, .edicion #edit-taxonomy-3-hierarchical-select-selects-1{margin-top: -36px; margin-left: 435px;}

/* Ayuda Descripcion */
.CrearAnuncio .FormRegistro .AyudaAlta.Descripcion {margin-top: 191px;}
.CrearAnuncio .FormRegistro .AyudaAlta.DescripcionAuto {margin-top: 97px}
.CrearAnuncio .FormRegistro .AyudaAlta.DescripcionMix {margin-top: 140px;}
.CrearAnuncio .FormRegistro .alertaLegal {background: url(../img/alerta.png) #F0F0F0 no-repeat 0 0; margin: 1em; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #000; font-size: 12px; background-position: 5px 5px; padding: 10px 5px 5px 5px;}
.CrearAnuncio .FormRegistro .alertaLegal .Texto {padding-left: 40px;}

/* Detalle campos */
#edit-title-wrapper div.charleft {margin-left: 245px; color: #8C8C8C;}
.form-alojamientos #edit-title-wrapper div.charleft {margin-left: 235px;}

/* Estilos para SWFUploader */
.tabledrag-processed { width:500px; }
.sfwupload-list-mime { width:100px; height:75px; }
table.swfupload td {background: #FFFFFF;}
table.swfupload .border {background: #FFFFFF; width: 1px;}
.swfupload_button div.left, .swfupload_button div.center, .swfupload_button div.right {  background: none repeat scroll 0 0 #333333; border: medium none; height: 28px; line-height: 26px; color: #FFFFFF; cursor: pointer; font-family: Arial,Helvetica,sans-serif; font-size: 13px; font-weight: bold;}
.swfupload_button div.left  {border-radius: 2px 0px 0px 2px;}
.swfupload_button div.right {border-radius: 0px 2px 2px 0px;}
.sfwupload-list-cancel {background: none repeat scroll 0 0 #E21A21; border: medium none; border-radius: 2px 2px 2px 2px; color: #FFFFFF; cursor: pointer; font-weight: bold; height: 28px; line-height: 28px; margin: 5px 5px 0 0; width: 90px; text-align: center;}
table.swfupload td.last .wrapper, table.swfupload td.text.title .wrapper {display:none;}
table.swfupload td.checkbox, table.swfupload td.progress {width: 80%;}
table.swfupload th div.center {font-weight: bold; text-align: left; height: 25px;}
table.swfupload th {background: none; border-top: none;}
table.swfupload div.left {background:none;}
.sfwupload-list-progressbar-status {	background: url(../img/sfwupload-progress.png) 0px 0px repeat-x;}
.MiCuenta fieldset .Fotos {min-height: 200px;}
.sfwupload-list-progressbar-glow {background: none; line-height: normal; color:#FF0000;}
.sfwupload-list-progressbar.stopped {background: none; white-space:normal; border:none;}
.sfwupload-list-progressbar.stopped .sfwupload-list-progressbar-status {background: none;}
table.swfupload th.first {width: 20%;}
table.swfupload td.last, table.swfupload td.text.title {width: 0; padding: 0; min-width:0;}
table.swfupload td.icon {width: 100px;}
.MiCuenta fieldset .Fotos .especificaciones {float:left; padding-left: 10px; font-size: 0.85em;}
.swfupload.mensaje {width: 456px; color: #000000; background: url(../img/icons/messages-warning.png) 5px 5px #FFFFCC no-repeat; border: solid 2px #FFCC00; min-height: 21px; padding: 5px 5px 5px 35px;  text-align: left;}
.swfupload-messages {width: 500px;}

/* Estilos para plupload */
#edit-field-aviso-fotos label{width: 32px; font-weight: bold; text-transform: uppercase;}
.plup-list {width: 582px;}
.plup-list li{background: url("../img/mover_foto_off.png") no-repeat scroll 10px 42px rgba(0, 0, 0, 0); width: 300px; border-bottom: 1px solid #CCCCCC; padding: 10px 0 10px 40px;}
.plup-list li.ui-sortable-helper{/*background-position: 0 -20px;*/ background: url("../img/mover_foto_on.png") no-repeat scroll 10px 42px rgba(0, 0, 0, 0);}
.plup-list li .plup-preview-wrapper img {/*border-width: 0px;*/ border-color:#FFFFFF;}
.plup-list li.main .plup-preview-wrapper img {border-color: #008ACF;}
.plup-list li .plup-preview-wrapper .plup-main-item {background: none;}
.plup-list li.main .plup-preview-wrapper .plup-main-item {background: url("../img/foto_principal.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0); right: inherit; left: 110px; width: 100px; margin-top: 4px;}
.plup-remove-item:after {content: 'Borrar';}
.plup-list li .plup-preview-wrapper .plup-remove-item {background: none repeat scroll 0 0 #A92319; border: medium none; border-radius: 2px 2px 2px 2px; color: #FFFFFF; cursor: pointer; font-weight: bold; height: 28px; line-height: 28px; margin: 5px 5px 0 0; width: 90px; font-size: 12px; text-align: center; margin-top: 20px;}
.plup-list li.plup-select {border: none; padding: 0;}
.plup-list li.plup-active { background: url(../img/plupload_loading.gif) 235px 0px #FFFFFF no-repeat;}
#edit-field-aviso-fotos-plup-select {background: none repeat scroll 0 0 #333333; border: medium none; border-radius: 2px 2px 2px 2px; color: #FFFFFF; cursor: pointer; font-weight: bold; height: 28px; width: 130px; line-height: 28px; margin: 0 0 10px 10px; text-align: center;}
#edit-field-aviso-fotos-plup-select:after {content: 'Agregar imágenes';}
#edit-field-aviso-fotos.plupload .description {padding-left: 20px;}

/*Precio promocional*/
.promoContent{clear:both;}
.ElPrecio .descuento, .ElPrecio .precios{float:left;}
.ElPrecio .descuento{background:#FF0000; padding:6px 2px; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; margin-right:5px; color:#fff; font-size:12px; font-weight:bold; }
.ElPrecio .descuento strong{font-size:19px;}
.ElPrecio .precios .antes{color:#666; text-decoration:line-through; display:block;}

.captcha img {clear: both; float: left; margin-bottom: 10px; margin-left: 245px;}
.captcha .form-item {clear: both;}
.Avisos .captcha .form-item input {width: 100px;}
.FormRegistro .captcha .field-prefix {display: inline;}

/* Destaque mi sitio */
.contentSitioWeb {height: 60px;}
h4.titleSitioWeb {font-size: 14px; font-weight: bold; color: #FFF; padding: 2px; margin-bottom: 5px; background-color: #008ACF; width: 102px;}
.destaque-mi-sitio {float: left;}
.destaque-mi-sitio.row {padding-bottom: 5px;}
.destaque-mi-sitio.detalle {margin-left: 50px; font-weight: bolder; font-size: 1.2em; width: 500px; height: 0px;}
.destaque-mi-sitio #edit-destaque-sitio-wrapper label{cursor: pointer;}

/* Sitios Externos Publicacion */
h4.titleOtrosSitios {font-size: 14px; font-weight: bold; color: #008ACF; padding: 2px; margin-bottom: 5px;}
.Publicacion .Row .OtrosSitios  label {font-size: 0.01em; width: 17px;}
.Publicacion .Row .OtrosSitios .form-item {width: 178px;}
.Publicacion .OtrosSitios .form-checkboxes .form-item{width: 135px; height: 42px;}
.Publicacion .OtrosSitios #edit-sitios-externos-olx-wrapper{background: url(../img/sitios_externos/logo_olx.jpg) #FFFFFF no-repeat; background-position: 25px 0px;}
.Publicacion .OtrosSitios #edit-sitios-externos-mitula-wrapper{background: url(../img/sitios_externos/logo_mitula.png) #FFFFFF no-repeat; background-position: 25px 0px;}
.Publicacion .OtrosSitios #edit-sitios-externos-adoos {background: url(../img/sitios_externos/logo_adoos.png) #FFFFFF no-repeat; background-position: 25px 0px;}
.Publicacion .OtrosSitios #edit-sitios-externos-iwanti-wrapper{background: url(../img/sitios_externos/logo_iwanti.png) #FFFFFF no-repeat; background-position: 25px 0px;}
.Publicacion .OtrosSitios #edit-sitios-externos-bienesonline-wrapper{background: url(../img/sitios_externos/logo_bienesonline.jpg) #FFFFFF no-repeat; background-position: 25px 4px;}
.Publicacion .OtrosSitios #edit-sitios-externos-divendo-wrapper{background: url(../img/sitios_externos/logo_divendo.png) #FFFFFF no-repeat; background-position: 25px 0px;}
.Publicacion .OtrosSitios #edit-sitios-externos-yakaz-wrapper{background: url(../img/sitios_externos/logo_yakaz.png) #FFFFFF no-repeat; background-position: 25px -2px;}
.Publicacion .OtrosSitios #edit-sitios-externos-trovit-wrapper{background: url(../img/sitios_externos/logo_trovit.png) #FFFFFF no-repeat; background-position: 25px -2px;}
.Publicacion .OtrosSitios .info_publicacion {padding-top: 0px; margin-bottom: 5px;}
.Publicacion .OtrosSitios #edit-mercadolibre-0-wrapper{background: url(../img/sitios_externos/mercado_libre.jpg) #FFFFFF no-repeat; background-position: 25px -8px;}

.vinculacion {display: none;}
.oculto {display: none;}

.CrearAnuncio .FormRegistro fieldset.talle .form-item {
  float: left;
}
.CrearAnuncio .FormRegistro fieldset.talle label {
  width: 100px;
}
.CrearAnuncio .FormRegistro fieldset.talle .description {
  padding-left: 114px;
}
.CrearAnuncio .FormRegistro fieldset.talle .option label {
  margin-top: 10px;
  padding-top: 10px;
}
.CrearAnuncio .FormRegistro fieldset.talle .option input {
  height: inherit;
  width: 30px;
}
.FormRegistro fieldset.talle legend {
  padding-top: 10px;
}
.FormRegistro fieldset.talles legend:first-child {
  font-weight: bold;
}
.FormRegistro .talles .Boton .form-submit {
  font-size: 13px;
  height: 28px;
  padding: 0;
}
.CrearAnuncio .completar-whatsapp .description {
  font-size: 0.85em;
}
.CrearAnuncio .completar-whatsapp input {
  width: 238px;
}
.CrearAnuncio .completar-whatsapp input#codigo_area_whatsapp {
  width: 45px;
}
.CrearAnuncio .completar-whatsapp input#telefono_whatsapp {
  width: 83px;
}
.CrearAnuncio .completar-whatsapp input[type="button"] {
  color: #fff;
  background-color: #0089cf;
  width: 250px;
  margin-top: 6px;
}
.CrearAnuncio .completar-whatsapp input[type="button"]:disabled {
  background-color: #CCCCCC;
}
.CrearAnuncio .completar-whatsapp .tag {
  margin-left: 225px;
  margin-top: -26px;
  height: 16px;
  z-index: 1;
  position: absolute;
  padding: 5px 10px;
  background: red;
  color: #FFFFFF;
  -webkit-border-radius: 6px 6px 0 0;;
}
.CrearAnuncio .FormRegistro .AyudaAlta.completar-whatsapp .Texto ul {
  padding: 5px 0;
}
.CrearAnuncio .FormRegistro .AyudaAlta.completar-whatsapp .Texto li {
  background: url(../img/social/whatsapp25.png) no-repeat;
  padding-left: 30px;
}
.CrearAnuncio .completar-whatsapp .whatsapp_bandera {
  background: url(../img/flagarg.png) no-repeat;
  height: 15px;
  width: 21px;
  float: left;
  margin-top: 11px; 
  margin-right: 5px;
}
.CrearAnuncio .recomendacion {
  width: 314px;
  margin-left: 244px;
}

.CrearAnuncio .ocultar-wa {margin-top: 10px;}
.CrearAnuncio .ocultar-wa label {
  float: left;
  font-weight: 400;
}
.CrearAnuncio .ocultar-wa label.option {
  margin-top: -11px;
  margin-left: 5px;
  overflow: hidden;
  height: 30px;
}
