/*RESET*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, li, ol, p, form, dd, dl, dt, label, fieldset, legend, address, center{margin:0;padding:0;list-style:none;font-weight:normal;font-style:normal;}
body{font:12px/15px 'openSans', Arial, Helvetica, sans-serif; background:#FFFFFF;}
img, fieldset{border:0;}

.caract_direccion > a {
   text-decoration: underline !important;
}

a{text-decoration:none;color:#363B45;}
a:hover{text-decoration:none;}
input, select, textarea{font:12px 'openSans', Arial, Helvetica, sans-serif;outline:none;}
textarea{margin:0;resize:none;}
table, tr, td, th, tbody, thead{border:0;margin:0;padding:0;border-collapse:collapse;}

/*FIXES UTILES*/
.dupfix{float:left;width:1px;height:0;line-height:0;visibility:hidden;}
ul, ol, dl{position:relative;}
/*IE6*/* html .pngfix{behavior:url(iepngfix.htc);}/*CAMBIAR POR LA URL FINAL. Tambien cambiar en el archivo iepngfix.htc*/

/*CLEARFIX*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.clear{clear:both;}

/*CURVAS*/
.Cv{background:no-repeat;width:4px;height:4px;position:absolute;font-size:0;}
.Tl{top:0;left:0;background-position:left top;}
.Tr{top:0;right:0;background-position:right top;}
.Bl{bottom:0;left:0;background-position:left bottom;}
.Br{bottom:0;right:0;background-position:right bottom;}

/*ESTRUCTURA*/
.layout{width:100%;}
.Contenido{width:100%;margin:0 auto;padding:0;}
.CD{float:left;width:652px;}
.CL{float:left;width:300px;margin-right:18px;}
.CM{float:right;width:190px;}
.CR{float:right;width:300px;}
.CT{margin:0 auto; width:980px;}
.CLBuscador{float:left;width:190px;}
.CMBuscador{float:right;width:460px;}
.CI .CL, 
.CI .CM{width:315px;}
.CM .Cita{width:190px;}
.CI .CM .Cita{width:315px;}
.Columnas {width:980px; margin:0 auto;}
.front .Contenido .Columnas {width: 100%;}
.Columnas.page-arriba{margin-bottom:15px}
.page-productos .Columnas.page-arriba{margin-bottom:0px}
.Columnas2 {width:980px; margin:0 auto;}

.ConBannerLateral .Columnas { width: 1250px; }
.front .ConBannerLateral .Columnas {margin: initial;}
.ConBannerLateral .breadcrumb { width: 1250px; }
.CB { width: 260px; float: left; margin-left:18px; }
.banner {margin-top: 5px; margin-bottom: 5px;}
.banner-lateral { left: 50%; margin-left: 368px; }
@media all and (max-width: 1240px) {
  .banner-lateral {
    margin-left: 0px;
    left: 980px;
  }
}

.banner.sticky {z-index: 999;}
.banner.sticky.lateral {right: 0;}
.banner.sticky.rigth {left: 50.5%; margin-left: 500px; left: 51%; margin-left: 368px;}
.banner.sticky.left {left: 6%; margin-left: 0px;}
.banner.sticky.footer {margin-bottom: 0px;}
/*.ConBannerLateral .banner.sticky {left: 52%; margin-left: 368px;} */

/* Oportunidades */
.title-oportunidades {
  /*margin: 0 0 5px 232px;
  font-size: 2em;
  color: #008ACE;
  font-weight: bold;*/
  
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  width: 980px;
  margin-left: 220px;
}

.title-oportunidades hr {
    z-index: 1000;
    width: 100%;
    position: absolute;
    top: 50%;
    margin: -1px 0 0;
    border: 1px solid #EBEBEB;
    height: 0;
}
.title-oportunidades h2 {
    color: #666666;
    text-align: center;
    margin-bottom: 25px;
    font-size: 36px;
    position: relative;
    z-index: 1030;
    display: inline-block;
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #fff;
    font-weight: 100;
}


.ConBannerLateral .title-oportunidades {margin-left: 140px;}
.content-oportunidades {
  display: flex;
  justify-content: center;
}
.ConBannerLateral .content-oportunidades {width: 1250px;}
.content-oportunidades .banner {
  padding: 9px;
  margin: 15px;
  
  background-image: url("../img/circulo_gris_110.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 110px 110px;
  /*
  background-image: url("../img/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 116px 116px;
  */
}

.page-autos .banner.middle > div,
.page-inmuebles .banner.middle > div {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

/*ESTILOS COMUNES*/
.DN{display:none;}
.BNr, 
.BNT, 
.BN_Footer, 
.SWF{margin-bottom:10px;}
.BN_Footer{padding-top:14px;}
.BBNN{width:190px;padding-right:70px;float:left;}
.BBUU{padding-right:0;}
.BNCenter{margin:0 auto;width:300px;}
.BloqueSeparador { height:16px; width:100%; clear:both;}

/*HEADER*/
.Header {height: 160px;}
.Header.HeaderTienda {height: 118px;}
.front .Header,
.page-autos .Header,
.page-inmuebles .Header {
  height: initial;
 }

.SinLoguear {}
.Header .Hd .Middle .Punta, 
.Header .HdComunidad .Middle .Punta, 
.Header .Desplegable, 
.Header .Desplegable .Actividad, 
.Header .Middle .Registro, 
.Header .Middle .LogIn, 
.SinLoguear .Middle .Datos, 
.SinLoguear .Middle .Foto, 
.SinLoguear .Middle .Iconos, 
.SinLoguear .Middle .Desplegar{display:none;}
.SinLoguear .Middle .Iconos{display:block;}
.SinLoguear .Middle .Registro{display:block;}
.SinLoguear .Middle .LogIn{display:block; padding-top:7px;}
.Header .Top{position:relative;z-index:2000; float: left;}
.Header .Top .PullDown{z-index:2100;}
/*.Header .Ancho {position:relative;z-index:1000;background-color: #363B45;}*/
.Header .Middle{padding-top:10px;height:70px;position:relative;z-index:1052; margin:0 auto;  float: left;  width: 250px;}
.Header .Middle .Left{float:left;}
.Header h1 {color: #666666; font-size: 12px; font-weight: normal; width: 980px; margin: 0 auto; padding-top: 4px;}
.Header .Middle h1, .Header .Middle h2{float:left;padding:2px 5px 0 0;}
.Header .Middle h1 a, .Header .Middle h2 a{display:block;height:55px;}
.Header .Middle .Right{float:right;}
.Header .Middle h1 .Logo, .Header .Middle h2 .Logo{width:145px;background-image: url(../img/LogoAutos.gif);background-repeat: no-repeat;}
.Header .Middle h1{ color:#666666; font-size:12px; font-weight:normal;width: 228px;}
.Header .Titulo {
    clear: left;
    float: left;
    margin-top: -12px;
    width: 500px;
}
.Header .Titulo H1 {
    color: #333333;
    font-size: 10px;
	font-weight:bold;
}
.Header .Ancho .Borde {  width: 980px;  margin: 0 auto;	}
.Header .Ancho .Sombra {
	padding-top: 20px;
	background-color: #323943;
}
.Header .Ancho .UsuarioLogeado {}
/*HEADER loggeado*/
.Header .Hd .LogIn .bienvenida{font-size:18px; color:#000000; padding-bottom:8px;}
.Header .Hd .LogIn .acciones {color:#999;}
.Header .Hd .LogIn .acciones a{ color:#073E8E;}

/*HEADER - Seteos de position por IE6 y IE7*/
.Header .Ancho{position: relative;}
.ContentMenu {background: #273E68; height: 70px; width: 100%; z-index: 10000;}
/* .front .ContentMenu {position: fixed;} */

/*IE6*/* html .Header .Top,
/*IE6*/* html .Header .Ancho{width:expression(document.body.clientWidth < 999 ? "998px" : "100%");}
.Header .Middle,
	.Header .Bottom{padding:0 /*14px*/;    /*width:970px; margin:0 auto;*/}
.Header .Desplegable{margin:0 /*14px*/;}
.Header .Bottom .Ancho, .Header .Top .Ancho{width:727px; }	
	
/*DATOS PERSONALES*/
.Header .Foto{float:left; padding-top:7px;}
.Header .Foto img{width:47px;float:left;}
.Header .Datos{float:left;width:201px;padding:7px 5px 0 10px;position:relative;z-index:5;}
.Header .Datos h2{color:#000;font:bold 16px Georgia, "Times New Roman", Times, serif;padding-bottom:5px;}
.Header .Datos h2 a{color:#000;}
.Header .Datos h2 a:hover{text-decoration:underline;}
.Header .Links li{font-size:11px;float:left;}
.Header .Links li a{float:left;}
.Header .Links li span{float:left;color:#cbcac8;padding:0 5px;}

/*LOGIN*/
.Header .LogIn{padding:3px 0 0 20px;float:left;}
.Header .LogIn fieldset{width:322px; float:left;}
.Header .LogIn .Campo{width:135px;height:27px;padding-right:6px;float:left;background-image: url(../img/fd_campo_login.gif);background-repeat: no-repeat;background-position: 0 0;}
.Header .LogIn .Campo input{width:101px;height:17px;padding:4px 2px 0 5px;border:0;background:transparent;float:left; }
.Header .LogIn .Btn{width:27px;height:27px;border:0;padding:0;margin:0;float:left;cursor:pointer;background-image: url(../img/Btn_Ingresar.gif);background-repeat: no-repeat;background-position: 0 0;} /*nati*/
.Header .LogIn .Over{background-position:0 bottom;}
.Header .LogIn p{padding:5px 0 0 142px; clear:both;}
.Header .LogIn p a{font-size:11px;color:#073E8E;}
.Header .LogIn .Registrate {display:inline-block;padding-top:5px;}
.Header .LogIn .Registrate a {font-size:12px;color:#073E8E; font-weight:bold;}

.menu-container {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: #DE1213;
}
/* .front .menu-container {top: 70px;} */
.menu-container .col-full {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}
.menu-container .col-full .fl-left {float: left;}
.menu-container .btn-destacado {
  float: right;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-clip: padding-box;
  letter-spacing: .03em;
  color: #fff;
  background-color: #273E68;
  position: absolute;
  top: 50%;
  right: 0px;
  left: auto;
  padding: 10px 12px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  transform: translateY(-50%);
}
.menu-container ul li {
  display: inline-block;
  position: relative;
  /* background-color: #211916; */
  /* padding: 5px; */
  /* width: 130px; */
  /* text-align: center; */
  margin-right: 15px;
  /* border: 6px solid #808080; */
  padding-top: 6px;
}
.menu-container ul li a {
  padding: 0 2px 2px;
  font-size: 12px;
  transition: all .1s ease 0s;
  color: #fff;
  font-weight: 600;
}
.menu-container ul li a img {
  height: 25px;
  float: left;
  margin-top: -5px;
}
.menu-container ul li .label-new {
  position: absolute;
  top: -30px;
  right: 33px;
  padding: 5px 10px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #e00018;
  background-clip: padding-box;
}
.menu-container ul li .label-new::after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -7px;
  content: ' ';
  pointer-events: none;
  border: solid transparent;
  border-width: 7px;
  border-color: rgba(224, 0, 24, 0);
  border-top-color: #e00018;
}
.menu-container ul li:hover,
.menu-container ul li:focus,
.menu-container ul li.menu-active {
	font-color: #B1B68E;
}
.menu-container ul li a i { 
  font-size: 15px;
  margin-right: 8px;
}

.menu-container .historial-top { 
  border: 0.1em solid #CCCCCC;
  float: right;
  color: #FFF;
  border-radius: 5px;
}
.menu-container .historial-top:hover { 
  color: #333;
  border-color: #333;
  background-color: #FFF;
}
.menu-container .historial-top .fa { 
  font-size: 20px;
  margin: 6px;
}

/*FOOTER*/
.pie {width:100%;background:#273E68;font:11px Arial, Helvetica, sans-serif;     padding-top: 20px;}
.pie a {color:#FFFFFF; font-size: 16px;}
.pie {color:#FFFFFF; font-size: 16px;}
.pie .logoLavoz {margin-top: 20px;}
.pie .caja{width:970px;margin:0 auto;margin-bottom:15px;padding:0 14px;}
.pie .caja .logoLavoz a{background:url(../img/losandes_marca_blanca.png) 0 0 no-repeat;background-size: contain;height:27px;width:120px;margin:7px 0 3px;display:block;float:left;}
.pie .caja .logoClasificados a { background:url("../img/logo_clasificados_los_andes.png")  0 0 no-repeat;background-size: contain;height:45px;width:190px;margin:20px 0 3px 0;display:block;float:left;}
.pie .caja .dele{padding:0 0 0 2px;float:left;}
.pie .caja .dele dl dt{color:#000000;float:left;clear:both;padding-right:3px;line-height:18px;}
.pie .caja .dele dl dd{float:left;line-height:18px;}
.pie .caja .dele dl dd span{padding:0 5px;color:#a6a6a6;}
.pie .derechos {background-color:#242424;width:100%;height:30px;overflow:hidden; padding-bottom:10px;}
.pie .derechos p {font-size:14px;color:#8a8a8a;padding:8px 14px 8px 0;float:left;}
.pie .derechos .LogIcono{float:right;padding:4px 10px 0;}
.pie .derechos .LogIcono span{display:block;float:left;padding:5px 4px 0 0;}
.pie .derechos .LogIcono a{display:block;float:left;width:65px;height:
25px;background:url(../img/lg_lavoz_pie.png) 5px 9px no-repeat;padding:2px 5px 5px;}
.pie .derechos .LogIcono a:hover{}
.pie .derechos .LogIcono a span{display:none;}
.pie .derechos .LogOtros {width:530px; text-align:center;}
.pie .derechos .LogOtros .img-otros {margin-right: 15px;}
.pie .caja .datafiscal { margin-top: -80px; float:right; }
.content-script-footer {visibility: hidden; display: none;}
#cX-root {display:none}
.img-facebook-pixel {display:none}

/*BANNERS*/
.BannersLeft { float:left;}
.BannerLateralLeft{background-color: transparent; left: 50%; margin-left: -642px;	margin-top: 0px;	position: fixed !important;	visibility: visible;	width: 20px;}
.BannerLateralRight{background-color: transparent; left: 50%;	margin-left: 501px; margin-top: 0px;	position: fixed !important; visibility: visible;	width: 20px;}

/*HEADER ICONOS*/
.Header .Iconos {float:left; padding-top:7px;}
.Header .Iconos li {float:left;padding:0 7px;width:68px;font-size:11px;text-align: center;}
.Header .Iconos li a {display:block;line-height:12px;color:#000;background-image: url(../img/IconosHeader.png);	background-repeat: no-repeat;}
.Header .Iconos li a:hover span{text-decoration:underline;}
.Header .Iconos li a strong{display:block;height:30px;line-height:18px;padding:0 0 3px 23px;font-size:12px;overflow:hidden;display:none;}
.Header .Iconos li a span {color:#E21A21; font-size:11px; font-weight: normal;}
.Header .Iconos li a:hover span {text-decoration: none; color: #E21A21;}
.Header .Iconos li.Ayuda {}
.Header .Iconos li.Ayuda a{background-position: center -42px;}
.Header .Iconos li.Usados a {background-position: center -44px;}
.Header .Iconos li.Publicar a {background-position: center -87px;}
.Header .Iconos li.Registrarse a {background-image: none; color: #E21A21 !important; position: relative; top: 42px; left: 71px;}
.Header .Iconos li.Contacto a {background-position: center 2px;}


/* HEADER TOP SOLAPAS*/
.LogoClasificados {float: left; margin-right: 10px; margin-top: 15px; width: 160px; float: left;}
.LogoClasificados h1{text-indent: -9000px;}
.LogoClasificados a img{width: 180px;}
.Caja_Header{padding:0 0 2px;background-attachment: scroll;background-color: transparent;height:30px;}
.Caja_Solapas .SolapasNoticias{margin-bottom:22px;	padding:0 0 2px;background-attachment: scroll;background-color: transparent;background-image: url(../img/fd_header_solapas.gif);background-repeat: no-repeat;background-position: center bottom; }
.Caja_Solapas .Solapas {float:left; width: 100%;}
/*.Caja_Solapas .Solapas li {float:left;padding:8px 13px 5px; height: 19px;  margin-top: 18px;}*/
.Caja_Solapas .Solapas li#SH2, .Caja_Solapas .Solapas li#SH4,.Caja_Solapas .Solapas li#SH3 , .Caja_Solapas .Solapas li#SH5, .Caja_Solapas .Solapas li#SH6, .Caja_Solapas .Solapas li.dropdown.red-sitios{float:left;padding:8px 13px 5px; height: 19px;  margin-top: 19px;}

.Caja_Solapas .Solapas li.dropdown.red-sitios{margin-top: 27px ; padding: 0;   height: 24px;}
.Caja_Solapas .Solapas li a {color: #FFFFFF;font:13px 'openSans', Arial, Helvetica, sans-serif;}
.Caja_Solapas .Solapas li.dropdown.red-productos {    margin-top: 2px !important;
    padding-top: 0 !important;}
.Caja_Solapas .Solapas li a span.msg-nuevo {background-image: url(../img/ico-nuevo.png);background-repeat: no-repeat;width: 59px;height:24px;display:block;}
.Caja_Solapas .Solapas li#SH7 {background-image: none;}
.Caja_Solapas .Solapas .Act {background:none repeat scroll 0 0 #FFFFFF;bottom:-1px;padding:6px 16px;position:relative;}
.Caja_Solapas .Solapas .Act .Cv {height:27px;width:3px;}
.Caja_Solapas .Solapas .Act .Tl {background-position:left bottom;bottom:0;left:-2px;}
.Caja_Solapas .Solapas .Act .Tr {background-position:right bottom;bottom:0;right:-2px;}
.Caja_Solapas .Solapas .Act a {font-weight:bold; color:#404040;}
.Caja_Solapas .LogoClasificados {float:left;padding-right:20px;padding-top:5px;}
.Caja_Solapas .LogoClasificados a h1, .Caja_Solapas .LogoClasificados h2 a, .Caja_Solapas .LogoClasificados h3 a{background-image: url(../img/LogoClasificados.gif);background-repeat: no-repeat;width: 153px;height:17px;display:block;}
.Caja_Solapas .Contacto {float:right;position:absolute;right:0;top:0;}
.Caja_Solapas .Contacto .Iconos li { font-size:12px; border-left:0 none; width:auto;}
.Caja_Solapas .Contacto .Iconos li a {color:#073E8E;  line-height:16px;}
.Caja_Solapas .Contacto .Iconos li.contactenos a {background-image: url(../img/fd_header_contacto.gif);background-repeat: no-repeat;background-position: 0px 0px;padding-left:23px;}
.Caja_Solapas .Contacto .Iconos li.ayuda a {background-image: url(../img/fd_header_ayuda.gif);background-repeat: no-repeat;background-position: 0px 0px;padding-left:20px;}



.Caja_Solapas .Solapas li.iframe {padding-top: 5px; padding-right: 0px; float: right; background-image: none; padding-right: 7px;}
.Caja_Solapas .Solapas .ContentLogin { width: 180px;
  float: left;
  background-color: #273E9F;
  padding-left: 10px;
  padding-right: 10px;
  height: 70px;
  margin-left: 20px; 
    display: none;}
.Caja_Solapas .Solapas li.Fb {background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-facebook.png");	background-repeat: no-repeat;width: 28px;	height: 28px; float: left;  margin-right: 18px;  margin-left: 18px;  margin-top: 23px; float:left;  padding: 0;
  cursor: pointer;}
.Caja_Solapas .Solapas li.Fb a {height: 28px; width: 28px; display: block;}
.Caja_Solapas .Solapas li.red-sitios {
	  padding: 0;
  background: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-red-sitios.png") no-repeat 0 0;
  width: 24px;
  height: 24px;
  display: block;
  background-size: 21px 21px;
  margin-top: 27px;
  cursor: pointer;
	}
.Caja_Solapas .Solapas .dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  width: 210px;
  margin-top: 39px;
  margin-left: -129px;
}
.Caja_Solapas .Solapas .red-autos .dropdown-menu, .Caja_Solapas .Solapas .red-inmuebles .dropdown-menu, .Caja_Solapas .Solapas .red-productos .dropdown-menu, .Caja_Solapas .Solapas .red-servicios .dropdown-menu {
  width: initial;
  position: relative;
  top: -14px;
  left: 62px;
}
.yamm-content {
   padding: 20px 8px; 
     padding-top: 0;
}
.Caja_Solapas .Solapas .dropdown-menu li {
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #ebebeb;
  list-style: none;
  padding-top: 12px;
  padding-bottom: 12px;
	}
.Caja_Solapas .Solapas .dropdown-menu li:last-child {	border: none;}

.Caja_Solapas .Solapas .dropdown-menu li.lvg {border:none;}
.Caja_Solapas .Solapas .dropdown-login li {
	  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #CCC;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  with: 120px;
	}

.Caja_Solapas .Solapas .dropdown-login li.last {border-bottom: none;} 
.Caja_Solapas .Solapas .red-sitios .dropdown-menu li.last {border-bottom: none;} 
.Caja_Solapas .Solapas .dropdown-menu li a, .Caja_Solapas .Solapas .dropdown-login li a {color: #666; font-weight:400;   display: block;}
.Caja_Solapas .Solapas .dropdown-menu li a:hover, .Caja_Solapas .Solapas .dropdown-login li a:hover{color:#323943;}
.Caja_Solapas .Solapas .dropdown-login {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  width: 168px;
  margin-top: 20px;
  margin-left: -20px;
	}
.Caja_Solapas .Solapas li.ingresar {float: left; background-image: none;  padding: 8px 3px 5px;   margin-top: 18px;}
.Caja_Solapas .Solapas li.Registrarse {float: right; border-right: none; border-left: none; background-image: none; padding: 8px 3px 5px;  margin-top: 18px;}
.BuscadorFull {
	width: 100%;
    background-color: #666;
    padding-top: 10px;
    padding-bottom: 14px;
    height: 50px;
	}
.BuscadorFull .ContentBuscador li.ingresar a {color: #FFFFFF;    font-weight: 900;
  font-size: 14px;}
.BuscadorFull .ContentBuscador li.Registrarse a {color: #FFFFFF;    font-weight: 900;
  font-size: 14px;}
.BuscadorFull .ContentBuscador {margin: 0 auto; width:980px;  margin-top: 3px;  margin-bottom: 15px; clear:both;}
.BuscadorFull .ContentBuscador .right {  float: right;
    background-image: none;
    margin-top: 13px;}
/*.front .ContentBuscador .right {margin-top: 85px;}*/
.BuscadorFull .ContentBuscador .right a {font-size: 11px; color: #333333;} 
.BuscadorFull .ContentBuscador .publicar a {    font-size: 14px;
    color: #FFFFFF !important;
    background-color: #E10019;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 24px;}
.BuscadorFull .ContentBuscador .Caja_Solapas .Solapas li.publicar {padding-top: 7px;}
.Top .Caja_Solapas #SH1 a {color: #FFFFFF}

.Header .BuscadorFull .Buscador {width: 696px; height: 44px; margin-top: 0; float: left; background-image:none;} 
/*.front .Header .Buscador {margin-top: 75px;}*/
.Header .BuscadorFull .Buscador .termino {   background-color: #FFFFFF;
    border: medium none;
    color: #666666;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 30px;
    margin-left: 7px;
    padding-left: 10px;
    padding-right: 5px;
    width: 383px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
 	}
	
.Header .BuscadorFull .Buscador .categoria {    background-color: #FFFFFF;
    border: medium none;
    color: #666666;
    float: left;
    font-size: 16px;
    height: 42px;
    line-height: 30px;
    margin-left: 17px;
    padding: 8px 5px;
    width: 172px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	margin-top: 4px;
	}
	
.Header .BuscadorFull .Buscador .submit { -webkit-border-radius: 3px; border-radius: 3px; background-color: #323943; border: 0px; color: #FFF; cursor: pointer; width: 87px; height: 42px; font-weight: 600; float: right; padding-bottom: 4px; font-size: 14px; margin-top: 4px;}

/* Buscador OLD */
.ContentBuscador li.ingresar a,
.ContentBuscadorTienda li.ingresar a {color: #FFFFFF; font-weight: 900; font-size: 14px;}
.ContentBuscador li.Registrarse a,
.ContentBuscadorTienda li.Registrarse a {color: #FFFFFF; font-weight: 900; font-size: 14px;}
/*.ContentBuscador {margin: 0 auto; width:980px;  margin-top: 15px;  margin-bottom: 15px; clear:both;}*/
.ContentBuscadorTienda {margin: 0 auto; clear:both;}
.ContentBuscador .right, 
.ContentBuscadorTienda .right {float:right;padding:8px 2px 5px; background-image: none; margin-top: 15px;}
.ContentBuscador .right a, 
.ContentBuscadorTienda .right a {font-size: 11px; color: #333333;}
.ContentBuscador .publicar a, 
.ContentBuscadorTienda .publicar a {font-size: 14px; color: #FFFFFF !important; font-weight: 600; background-color: #E10019; font-weight: bold;-webkit-border-radius: 3px;border-radius: 3px; padding: 8px 24px; text-shadow: 0px 0px 0px #000000; filter: dropshadow(color=#000000, offx=0, offy=0); position:relative; top: -5px; text-transform:uppercase;}
.ContentBuscador .Caja_Solapas .Solapas li.publicar,
.ContentBuscadorTienda .Caja_Solapas .Solapas li.publicar {padding-top: 7px;}

.Header .Buscador {
  background-position: 0px 0px; 
  height: 44px; 
  margin-top: 14px; 
  float: left;
  width: 410px;
} 
.Header .Buscador .termino {   
	background-color: #FFFFFF;
  border: medium none;
  float: left;
  line-height: 30px;
  width: 430px;
  margin-left: 0;
  height: 40px;
  margin-top: 0;
  padding: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-radius: 3px;
  font-size: 15px;
  padding-left: 12px;
  color: #999999;
}
	
.Header .Buscador .categoria {    
	background-color: #FFFFFF;
    border: medium none;
    color: #333333;
    float: left;
    font-size: 12px;
    height: 33px;
    line-height: 30px;
    margin-left: 17px;
    margin-top: 3px;
    padding: 8px 5px;
    width: 159px;
	
	}
	
.Header .Buscador .submit { 
  -webkit-border-radius: 3px; 
  border-radius: 3px; 
  border: 0px; 
  color: #FFF; 
  cursor: pointer; 
  font-weight: 600; 
  margin-top: 2px; 
  padding-bottom: 4px; 
  font-size: 14px; 
  text-transform: uppercase;
  width: 48px;
  position: absolute;
  margin-left: -47px;
  background-image: url(../img/ico-lupa.png);
  background-repeat: no-repeat;
  background-position: 9px 5px;
  height: 40px;
  float: left;
  background-color: #EDEDED;
  top: 12px;
}

.Header .ContentBuscadorTienda .Buscador,
.Header .ContentBuscador .Buscador {width: 448px; background: none; margin-top: 15px;}
.Header .ContentBuscadorTienda .Buscador .categoria,
.Header .ContentBuscador .Buscador .categoria {
	margin-left: 0;
	height: 40px;	
	margin-top: 0;
	padding: 0;		
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;	
	padding-left: 10px;
	border-right: 1px solid #ebebeb;
	width: 102px;
    font-size: 13px;	
	}
.section-comprar .Header .ContentBuscadorTienda .Buscador .categoria {margin-right: 0px; -webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;	}

.Header .ContentBuscadorTienda .Buscador .categoria option,
.Header .ContentBuscador .Buscador .categoria option {
	font-size: 13px;	
	}
.Header .ContentBuscadorTienda .Buscador .termino,
.Header .ContentBuscador .Buscador .termino {
	width: 334px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.section-comprar .Header .ContentBuscadorTienda .Buscador .termino {-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;	}

.Header .ContentBuscadorTienda .Buscador .submit,
.Header .ContentBuscador .Buscador .submit {
  top: 13px
}
.page-productos .Header {height: inherit;}

/* Sub Menu Tiendas */
.ContentMenu.Tiendas {/*position: fixed;*/}
.ContentSubmenu {
	    width: 100%;
    background-color: #333333;
    height: 48px;
    top: 70px;
    display: block;
    position: relative;
	 }
#subMenuTiendas { width: 978px; height: 48px;  margin: 0 auto;}
#subMenuTiendas li {float: left; padding-left: 13px; padding-right: 13px; font-size: 14px; }
#subMenuTiendas li span /*, #subMenuTiendas li a*/ {color: #FFF; font-size: 12px; padding-top: 15px; padding-bottom: 10px; border-bottom: solid 1px transparent; position: relative; text-decoration: none; display: inline-block; white-space: nowrap; font-size: 14px; }
#subMenuTiendas li a {color: #FFF}

#subMenuTiendas li.activo {background: #fff; 
    border-bottom: solid 1px #fff;
	height: 48px;
	}
#subMenuTiendas li.activo span, #subMenuTiendas li.activo span a {color: #000;}

#subMenuTiendas li span {cursor: default;}
#subMenuTiendas li .sub {display: none;
    position: absolute;
    background: #fff;
    top: 48px;
    left: 0%;
    right: 15%;
    -webkit-box-shadow: 3px 3px 1px rgba(0,0,0,0.04);
    -moz-box-shadow: 3px 3px 1px rgba(0,0,0,0.04);
    box-shadow: 3px 3px 1px rgba(0,0,0,0.04);
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-radius: 0 0 2px 2px;
    z-index: 1100;
	width:100%;
	padding-top: 15px;
	}
#subMenuTiendas li .sub .contentLeft {float: left; padding: 10px 25px 10px 40px; width: 100%;}
#subMenuTiendas li .sub .contentLeft ul {width: 100%;}
#subMenuTiendas li .sub .contentLeft ul li {width: 50%; padding: 0px; margin-bottom: 15px;}
#subMenuTiendas li .sub .contentLeft ul li a {padding-top: 0px;}
#subMenuTiendas li .sub .contentLeft ul li a:hover {color:#363B45; }
#subMenuTiendas li .sub .contentLeft a {color: #555;}
#subMenuTiendas li .sub .contentRight {float: right; border: solid 1px #ddd; margin-top: 11px; margin-bottom: 11px; margin-right: 11px;}
#subMenuTiendas li .sub .contentRight img {width: 400px;}

/* Barra Promo Tiendas */
.BarraPromo {    width: 100%;
    height: 60px;
    margin-top: 15px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}
.BarraPromo ul {width: 980px; margin:0 auto; }
.BarraPromo ul li {
    float: left; 
    width: 295px;
    border: 1px solid #eeeeee;
    margin-right: 10px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 7px;
    padding: 9px;
 }
.BarraPromo ul li:hover {background-color: #eeeeee;} 
 
.BarraPromo ul li h4 {color: #333; font-size: 16px; font-weight:900; text-transform:uppercase;}
.BarraPromo ul li p {color: #666666; font-size: 15px; font-weight: 400;margin-top: 4px;}
.BarraPromo ul li span {margin-right: 10px;}
.BarraPromo ul li.cuotas span {width: 44px; background-image: url(../img/ico-tarjeta.png);background-repeat: no-repeat;background-position: 0px 0px; height: 37px; float: left;}
.BarraPromo ul li.seguridad span {width: 37px; background-image: url(../img/ico-seguridad-2.png);background-repeat: no-repeat;background-position: 0px 0px; height: 37px; float: left;}
.BarraPromo ul li.tiendas span {width: 37px; background-image: url(../img/ico-tiendas-oficiales.png);background-repeat: no-repeat;background-position: 0px 0px; height: 37px;float: left;}



/*Botones*/
.Boton { position:relative; float:left; margin-right:15px;}
#Form1 .Boton { position:relative; float:left; margin-right:15px; margin-top:4px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.Boton .Cv {}
.Boton a {background-color:#008ACE;color:#FFFFFF;cursor:pointer;display:block;font-size:14px;font-weight:bold;height:30px;line-height:28px;padding-left:15px;padding-right:15px;text-align:center; _min-width:40px;}
.Boton a:hover { background-color:#D6770D; text-decoration:none;}
.boton-naranja 
{
	font-size: 12px;
	color:#FFF;
	border: none;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
	font-family: Arial, Helvetica, sans-serif;
	/*position:relative; 
	float:left; */
	margin-right:0px;
	background:#008ACE; 
	width: 90px;
	cursor: pointer;
	height:28px;
	/*padding: 0 25px;*/
}
.Buscador .boton-naranja 
{
	font-size: 12px;
	color:#FFF;
	border: none;
	font-weight: bold;
	text-align: center;
	line-height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	/*position:relative; 
	float:left; */
	margin-right:0px;
	background-color: #363B45;
	width: 90px;
	cursor: pointer;
	height:28px;
	/*padding: 0 25px;*/
}
.CajaBorde .boton-naranja 
{
	font-size: 12px;
	color:#FFF;
	border: none;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
	font-family: Arial, Helvetica, sans-serif;
	/*position:relative; 
	float:left; */
	margin-right:0px;
	background-color: #363B45;
	width: 90px;
	cursor: pointer;
	height:28px;
	/*padding: 0 25px;*/
}
/*Comunes*/
.CD .Content { padding:20px 0;}
.CD .FichaAuto, .CD .Ofertas{border:0 none;}
.CD .FichaAuto .PlayerMultimedia { border:1px solid #DFDFDF; margin-bottom: 30px;}
.CD .Content .Sombra {background:none;}
.CD .Content .AvisoTitulo {position: relative; width: 970px; z-index: 99;}
.Titulo, .Titulo h4 {font-size:16px;font-weight:bold; color:#363B45; clear: both;}
.Titulo a {color:#363B45;}
.Left { float:left;} 
.Right { float:right;}
h1.title {
   color:#363B45; 
}
.title, .title{
  clear: both;
  color: #666666;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
	}

h1.title .advertencia {
  background: #FFFFCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  color: #E0191F;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: initial;
  line-height: 24px;
}  
  
/*Caja Amarilla de Mensajes*/
.CajaMensaje {color:#000;padding:4px;position:relative;font-size:11px;text-align:left;width:100%;background-attachment: scroll;background-color: #FFF4AC;background-image: none;background-repeat: repeat;background-position: 0 0; font-size:13px; }
.CajaMensaje a{color: #000; text-decoration:none;}
.CajaMensaje .Cv {background-attachment: scroll;background-color: transparent;background-image: url(../img/Cv_CajaAmarilla.gif);background-repeat: repeat;background-position: 0 0;}
.CajaMensaje .Tl{top:0;left:0;background-position:left top;}
.CajaMensaje .Tr{top:0;right:0;background-position:right top;}
.CajaMensaje .Bl{bottom:0;left:0;background-position:left bottom;}
.CajaMensaje .Br{bottom:0;right:0;background-position:right bottom;}
#system-messages-wrapper {display:none}

/*AUTOS CONTACTO*/
.ContactoAutos h1 {
color:#000;
float:left;
font-size:22px;
font-weight:bold;
line-height:22px;
margin-bottom:10px;
}
#content h1 {
font-size: 36px;
    font-weight: 100;
    line-height: 34px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.page-guia-construccion .CD,
.page-guia-repuestos-accesorios-automotor .CD,
.page-administrar-historial .CD
{ width: 980px; }
.page-guia-construccion .CR,
.page-guia-repuestos-accesorios-automotor .CR
{ width: 0; display: none; }
.CD .ContactoAutos{margin-left:0;}
.CD .ContactoAutos .Sombra {
background:none;
}
.CD .ContactoAutos .Sombra .Borde{ border-bottom:1px solid #ccc;}
.ContactoAutos input, .ContactoAutos textarea{
border: 1px solid #CCCCCC;
font:12px 'openSans', Arial, Helvetica, sans-serif;
outline:medium none;
width:300px;
background-color:#FFFFFF;
height: 30px;
padding-left: 5px;
padding-right: 5px;
}
.ContactoAutos input.boton-naranja {
background:none repeat scroll 0 0 #008ACE;
border:medium none;
color:#FFFFFF;
cursor:pointer;
font-family:'openSans', Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
height:28px;
line-height:26px;
margin-left:-182px;
margin-right:5px;
text-align:center;
text-transform:uppercase;
width:90px;
}
.ContactoAutos .textarea-contactar {
-moz-border-radius:1px 1px 1px 1px;
border-color:#ADACB1 #E1E8EE #E1E8EE;
border-style:solid;
border-width:1px;
font:12px 'openSans', Arial, Helvetica, sans-serif;
height:200px;
outline:medium none;
width:300px;
background-color:#FFFFFF;
}
.CajaBorde .Publicar {
padding:10px;
}

/*AYUDA AUTOS*/
.ayuda .pregunta {
background-image:url("../img/ayuda/bg_title_ayuda.jpg");
background-repeat:repeat-x;
color:#333333;
font-family:"Trebuchet MS",'openSans', Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
height:25px;
margin-bottom:8px;
margin-top:15px;
}
.Submenu {margin-bottom:13px;}
.Submenu li {color:#000;float:left;margin-right:5px;/*font-size:11px;*/}
.Submenu li a {clear:none;
color:#00509E;
display:-moz-box;
/*font-size:11px;*/
font-weight:normal;}
.Submenu li a:hover {clear:none;
color:#00509E;
display:-moz-box;
font-weight:normal;
text-decoration:underline;}

/*Mi Cuenta*/
.MiCuenta h2 {
color:#333333;
font-size:22px;
font-weight:bold;
line-height:18px;
position:relative;
*position:none;
margin-bottom:10px;
}
.MiCuenta ul.no-img li {
background-color:#FFFFFF;
border-top:3px solid #FFD8AD;
float:left;
list-style:none outside none;
margin:10px;
padding:5px;
width:279px;
height:90px;
}
.MiCuenta .w350 {
background-color:#FFF1E1;
border:1px solid #FFD8AD;
height:260px;
width:628px;
}
.MiCuenta li {}
.MiCuenta ul {padding:5px;}
.MiCuenta ul.primary{border-bottom:0 none;}
.MiCuenta li a {
clear:both;
color:#008ACE;
display:block;
font-family:'openSans', Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
margin-bottom:10px;
}
.MiCuenta li a:hover {
clear:both;
color:#008ACE;
display:block;
font-family:'openSans', Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
margin-bottom:10px;
}

.MiCuenta li a.ingresar {
clear:none;
color:#073E8E;
display:-moz-deck;
float:left;
font-family:'openSans', Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
margin:0;
cursor:pointer;
}
.MiCuenta li a.ingresar:hover{text-decoration:none; background:none; color:#008ACE;}
.MiCuenta li p {font-size:12px;}
.MiCuenta{/*border:1px solid #D1D0CE;*/padding:2px 0 9px;}
.MiCuenta .Caja_Header {
	height:54px;
	/*margin-bottom:22px;*/
	padding:0 0 2px;
	background-repeat:  repeat-x;
	background-color: #E9E9E9;
}
.MiCuenta .Caja_Solapas .Solapas li {background-image: none; padding-top: 5px;}
.MiCuenta .Caja_Solapas .Solapas .Act {padding-top: 5px; }
.MiCuenta  .Caja_Solapas .Solapas .Act a {
color:#363B45;
font-weight:bold;
font-size:14px;
}
.MiCuenta .Caja_Solapas .Solapas li a {
color:#333333;
font:12px 'openSans', Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
text-shadow: 0px 0px 0px #ffffff; }
.MiCuenta .Caja_Solapas .Solapas li#SH2, .MiCuenta .Caja_Solapas .Solapas li#SH3 {   margin-top: 6px;
  height: 33px;} 
.MiCuenta .Caja_Solapas .Solapas li.Act , .MiCuenta .Caja_Solapas .Solapas li.Act {	
	  height: 33px;-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
 border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
border-top-right-radius: 5px;
background-color: #FFFFFF;}
.MiCuenta .content-box {padding:10px;}
.MiCuenta .Solapas ul {
padding:5px 5px 5px 10px;
}
.MiCuenta .views_view, .MiCuenta .confirmation{}
.MiCuenta .confirmation p{font-size: 19px; line-height: 19px; padding-bottom: 15px; color: #E0191F;}
.MiCuenta p.msg-importante{background: #FFFFCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 10px; color: #666; font-size: 13px; margin-bottom: 10px; font-weight: bold;}
.page-node-275569-eliminar #content h1 {float: left; width: 100%; padding-bottom: 10px}

.MiCuenta .Solapas .Act {background: url("../img/fd_solapas_div.gif") no-repeat scroll right 6px transparent;}
.MiCuenta .Caja_Solapas .Solapas li {height: 26px;}
.MiCuenta .Caja_Solapas .Solapas {padding-bottom: 20px;}

/*Headers secciones*/
.Publicar .Content .Borde, .page-registro-particular .Content .Borde , .page-registro-comercio .Content .Borde , .Contacto .Content .Borde, .page-user-password .Content .Borde, .section-node-add .Content .Borde, .page-legales .Content .Borde{border-bottom:1px solid #D1D0CE;padding-bottom:10px;
padding-left:20px;
padding-right:20px;}
.page-registro-particular .ContactoAutos h1, .page-registro-comercio .ContactoAutos h1, .Publicar .ContactoAutos h1, .Contacto .ContactoAutos h1, .page-user-password .ContactoAutos h1, .page-legales .ContactoAutos h1 { color:#333333;}

.form-submit{
	margin:0px;
	font-size:14px;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'openSans', Arial, Helvetica, sans-serif;
	font-weight: bold;
text-align: center;
	border-radius: 2px;
	background-color: #363B45;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
a.form-submit{margin:0px;font-size:12px; background: none repeat scroll 0 0 #323943; border: medium none; color: #FFFFFF; cursor: pointer; font-family: 'openSans', Arial, Helvetica, sans-serif; font-weight: bold; height: inherit; line-height: 26px; text-align: center; border-radius: 2px; padding:4px;}
.view-contactos-recibidos a.form-submit{ display:block; line-height: inherit; }
a.form-submit:hover{text-decoration: none}

 /*Formulario de Registro*/
 span.password-confirm { display: none;}
.page-registro-particular .ContactoAutos .blanco, .page-registro-comercio .ContactoAutos .blanco, .page-user-password .ContactoAutos .blanco, .page-autoslavoz-node-add-aviso .blanco, .section-node-edit .blanco, .section-node .blanco, .section-user .blanco, .page-legales .blanco, .Paquetes .blanco {background: none repeat scroll 0 0 #FFFFFF; padding: 0px;}
.page-registro-particular .ContactoAutos .form-item,  .page-registro-comercio .ContactoAutos .form-item, .page-autoslavoz-node-add-aviso .ContactoAutos .form-item {margin-bottom: 0; margin-top: 0;}
.FormRegistro #edit-profile-fecha-nacimiento-day-wrapper select{min-width: 25px;}
.FormRegistro #edit-profile-fecha-nacimiento-month-wrapper select{min-width: 125px;}
.FormRegistro #edit-profile-fecha-nacimiento-year-wrapper select{min-width: 75px;}
.FormRegistro #edit-profile-condiciones {position: relative; top: -18px;height: 18px;}
.FormRegistro #edit-profile-condiciones-wrapper .option {padding-right: 2px;height: 38px; text-align: left;}
.page-registro-particular p, .page-registro-comercio p{padding-bottom:20px; font-size: 14px;}
.FormRegistro input, .FormRegistro textarea{width:195px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; height: 40px; font-size: 14px;width: 320px;}
.FormRegistro fieldset{border-bottom:1px solid #CCCCCC; margin-bottom:20px; clear: both;}
.FormRegistro fieldset .Row fieldset{border-bottom:none; margin-bottom:0px;}
.FormRegistro h3{color:#333; font-size:20px; padding-bottom:20px; font-weight: 600;}
.FormRegistro .Row {padding-bottom:13px;}
.FormEnviar .FormRegistro .Row label{width:70px;}
.FormEnviar .FormRegistro .Row .Ingresa {padding-left:80px;}
.FormEnviar .FormRegistro .Boton .boton-naranja{width:60px;}
.FormRegistro .Row label{display:block; float:left; padding-right:14px; padding-top:4px; text-align:right; width:231px; font-weight: normal;font-size: 13px;}
.FormRegistro .Row .Ingresa, .FormRegistro .Row .Ingresa {clear:both; color:#8C8C8C; display:block; float:none; font-size:12px; padding-left:245px;}
.FormRegistro .Row .Ingresa.Foto {padding-left:0px; padding-top:5px;}
.FormRegistro .Radiobutton .form-radios {margin: 0;}
.FormRegistro .Radiobutton .form-radios label{float:left; padding-top:5px; margin-right:10px; text-align: justify; width: 95px; margin-bottom: 10px; margin-top:10px;}
.FormRegistro .Radiobutton input{float:left; width:20px; border:medium none; display:block; margin:0; padding:0; text-align:center; height: 17px;}
.FormRegistro select{background-color:#FFFFFF; border: 1px solid #CCCCCC; height:34px; margin-right:4px; float:left; padding:5px 5px 5px 4px; min-width:332px;}
.FormRegistro .msg-alojamientos-form {
  background: #FFFFCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  color: #666;
  font-size: 12px;
  margin: 10px 0;
  margin-left: 243px;
  margin-top: -9px;
  max-width: 312px;
}
.FormRegistro .msg-alojamientos-form .red {
  color: red;
  font-weight: 800;
  font-size: 14px;
}
.FormRegistro .hierarchical-select select{width:180px;min-width:180px;}
.FormRegistro .anio{width:50px;}
.FormRegistro .Checked {padding-bottom:5px;padding-left:245px;}
.FormRegistro .Checked input{border:0 none; /*position:relative;*/ top:2px; width:13px; float:left; *float:none;}
.FormRegistro .Checked label.check-condiciones{padding-left:5px;text-align:left;width:311px; padding-top:0 !important; }
.FormRegistro .Checked .form-item label{width: 25px;}
.FormRegistro .Checked label a{color:#073E8E;}
.FormRegistro .domicilio-mismo input{border:0 none; top:2px; width:13px; float:left; height:30px;}
.FormRegistro .domicilio-mismo .domicilio-mismo-label{text-align:justify; padding-top: 10px;}
.FormRegistro .Boton{ *position:absolute; float:left; margin-right:0;}
.FormRegistro .Boton .form-submit{margin:0px;font-size:16px; background: none repeat scroll 0 0 #363B45; border: medium none; color: #FFFFFF; cursor: pointer; font-family: 'openSans', Arial, Helvetica, sans-serif; font-weight: bold; height: 46px; line-height: 26px; text-align: center; width: 132px;margin-top: 10px;}
.FormRegistro .field-prefix {display: none;}

.FormRegistro #edit-user-autorespuesta-texto-wrapper textarea {width: 35%; height: 90px;}
.FormRegistro #edit-user-autorespuesta-texto-wrapper .grippie {width: 335px; margin-left: 245px; margin-top: -1px;}

.Registro .title{float:left; width:231px; padding-right:14px; text-align:right; padding-top:4px;}
.Registro .Entry .Row{}
.Registro .LeftCol {padding-left:244px;}
.Registro .Desc{font-weight:bold; padding-top:4px}
.Registro .columnaNoLog{ padding:10px;float:left; display:block; width:280px;}
.Registro .columnaLog{width:330px;  background:url(../img/fd_linea_divisora.jpg) no-repeat right top;}
.Registro .columnaNoLog h3{color:#000000;}
.Registro .columnaLog h3{color:#008ACE;}
.Registro .FormRegistro .columnaNoLog h3.Titulo{padding-top:20px;}
.Registro .FormRegistro .columnaLog .Row{padding-bottom:0;}
.Registro .FormRegistro .columnaLog .Row label {width:60px;}
.Registro .FormRegistro .columnaLog .Row .Ingresa, .Registro .FormRegistro .columnaLog .LeftCol{padding-left:74px;}
.Registro .FormRegistro .columnaLog .Row .Ingresa a{color:#073E8E;}
.Registro .columnaNoLog .Boton a.boton-naranja{width:150px; padding:auto 0px;}
.Registro .FormRegistro .columnaNoLog .lineaInferior{border-bottom:1px solid #D1D0CE;  padding-bottom:20px;}
.MiCuenta .tabs ul li {display: block; text-align: center; float: left;}
.MiCuenta .tabs ul li a {border:1px solid #D4D4D4; font: bold 13px 'openSans', Arial, Helvetica, sans-serif; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; color:#666666; background:none; padding:5px 20px;}
.MiCuenta .tabs ul li.active a {color:#E11920}
.MiCuenta .picture {width: 894px; display: block; height: 40px;}
/* #edit-picture-delete-wrapper {padding-top: 249px;} */
/* #edit-picture-delete-wrapper .option {float: left; width: 100px;} */
#edit-picture-delete-wrapper label{float: left; width: 334px;}
#edit-locations-0-delete-location-wrapper .option {float: left; width: 309px;}
#edit-picture-delete, #edit-locations-0-delete-location {width: 15px; height: 13px;}
/* #edit-picture-delete-wrapper .Ingresa, #edit-picture-upload-wrapper .Ingresa {padding-left: 7px; padding-bottom: 15px;} */
@media \0screen {
  #edit-picture-upload-wrapper{*margin-left: -245px; *margin-top: -3em;}
  .con-imagen #edit-picture-upload-wrapper{margin-left: -245px; margin-top: -3em;}
}
/* #edit-picture-upload-wrapper label {width: 69px;} */
.MiCuenta .readonly-text {background-color: #EEE; height: 30px; border: 1px solid #CCCCCC; color: #333333; padding-left: 5px; padding-right: 5px;} .MiCuenta #edit-pass-pass1 , #edit-pass-pass2 {height: 40px; border: 1px solid #CCCCCC; color: #333333; padding-left: 5px; padding-right: 5px;}
/* .MiCuenta label {padding-top: 10px !important;} */
/* .MiCuenta label.option {padding-top: 0px !important;} */
/* .MiCuenta label.option { text-align: left;  } */
.FormRegistro .ofertas .form-item label { width: 350px; text-align: left; }
.FormRegistro .ofertas .form-item input { height: 12px; margin-right: 14px; margin-bottom: 0; }

/* Formularo recuperar contraseña */
.page-user-password .ContactoAutos .form-required{display:none;}
.page-user-password .ContactoAutos .LeftCol{padding-bottom: 0px;  padding-left: 244px;}

/*Paginacion*/
.paginado {text-align:center;margin-top: 20px;/*border-color:#D1D0CE;border-style:solid;border-width:1px;*/ padding:15px 0;}
.paginado .item-list {display:inline;}
.paginado .item-list li, .item-list .pager li {border:1px solid #D1D0CE;display:inline;line-height:18px;#line-height:16px;padding:0px; margin: 0 0 0 3px;}
.paginado .item-list li a, .item-list .pager li a {color:#00509E; display:inline-block; height:20px; font-size:12px; font-weight:normal; padding: 10px;}
.paginado .item-list li a:hover, .item-list .pager li a:hover {color:#E10019; text-decoration:none}
.paginado .item-list .roll, .item-list .pager .roll {color:#00509E;display:inline-block;height:20px;border:1px solid #D1D0CE;margin-left:15px;margin-right:15px;background-attachment: scroll;background-color: transparent;background-image: url(../img/ic_fle_Paginado.gif);background-repeat: no-repeat;background-position: 0 0;}
.paginado .item-list .roll a, .item-list .pager .roll a { color:#00509E;}
.paginado .item-list .Ant, .item-list .pager .Ant{background-position:6px 7px;padding:0 8px 0 15px;}
.paginado .item-list .Sig, .item-list .pager .Sig{background-position:63px -37px;padding:0 15px 0 8px;}
.paginado .item-list li.pager-current, .item-list .pager li.pager-current {color:#E10019;font-weight:bold; padding: 0 9px;}
.paginado .item-list span {display:inline-block;height:24px;line-height:20px;}

.CDR .BannerMiddle {margin-left:94px;margin-right:94px;}
/*Banner ver mas*/
.BannerMas {height:70px;padding-top:10px;position:relative;}
.BannerMas .Fondo {background-color:#FFF1E1;height:46px;}
.BannerMas h1, .BannerMas h3 {color:#000000;font-size:18px;font-weight:bold;padding-top:14px; text-align:right; width:600px; _width:670px;}
.BannerMas h1 span a , .BannerMas h3 span a { color:#18529D;}
.BannerMas h1 span a:hover, .BannerMas h3 span a:hover { text-decoration:none;}
.BannerMas .Cleft {/*background-image: url(../img/BannerMas_Cleft.gif);*/background-repeat: no-repeat;background-position: left center;float:left;height:46px;width:6px;}
.BannerMas .Cright {/*background-image: url(../img/BannerMas_Cright.gif);*/background-repeat: no-repeat;background-position: right center;float:right;height:46px;width:6px;}
.BannerMas .imagen {left:0;position:absolute;text-align:right;top:0;width:130px;}

.CajaBorde .vermas{text-align:right; line-height:20px; padding-top:10px; font-size:11px;}
.CajaBorde .vermas a:hover{text-decoration:underline;}
.CajaBorde .destacado{height:60px; display:block; overflow:hidden;}
.Guias .module-lista{border-bottom:1px solid #d1d0ce; padding:10px 0;}
.Guias .module-lista img{float:left; margin-right:10px}
.Guias .module-lista h3{font-size:16px;color:#008ACE;  font-weight:bold; line-height:18px; padding-bottom:5px;}
.Guias .module-lista h3 strong{}
.Guias .module-lista a{color:#008ACE}

.Print .Header{padding:10px;}

.select-negro {
	width: 292px;
	padding: 4px;
	border: none;
	/*margin: 5px 0px 0px 0px;*/
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #A5ACB2;
	border-right: 1px solid #A5ACB2;
	color:#000;
	height: 29px;
}
/*forms*/
.select, .input, .input-contactar, .textarea-contactar {
	font-size: 12px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	}
.select-negro, .select-negro1,.select-negro2, .select-filtro, .select-negro_conse {
	font-size: 15px;
	font-weight: normal;

}

/*Resultado de busqueda */

.CLR { float:left; width:190px;}
.CDR { float:right; width:759px;}
.Gris { color:#666666;}
.Naranja { color:#A92319;}

/*Filtros*/
.Filtros .CajaBorde { background-color:#F1F1F1; padding: 10px; height:410px}
.Filtros .Sombra, .Publicar .CajaBorde .Sombra {background-image: url(../img/RBsombra.gif);	background-repeat: no-repeat;background-position: bottom center;}
.Filtros .Titulo { font-size:17px; height:33px;}
.Filtros .Lista { margin-top:8px; width:168px; padding-bottom:5px;}
.Filtros .filter {font-size:12px;font-weight:bold;padding-bottom:3px;}
.Filtros .aplicado {background-color:#FFFFFF;font-size:12px;height:17px;margin-bottom:8px;margin-top:2px;padding:2px 6px;}
.Filtros .eliminar {padding-top:4px;position:absolute;right:5px;top:0;}
.Filtros .opciones { color:#666; line-height:17px;}
.Filtros .opciones a { color:#073E8E;}
.FiltrosResult .filter {background-image: url(../img/ico_fleabajo.gif);	background-repeat: no-repeat; background-position: 0px 0px; line-height:13px; padding-bottom:6px; padding-left:20px; }
.Filtros .Linea { border-top:1px solid #D0D0D3; margin:10px -10px;}
.Filtros .vermas {background-image:url("../img/ico_mas.gif");background-position:left center;background-repeat:no-repeat;margin-top:3px;padding-left:16px; display:inline-block;}
.Filtros .vermenos {background-image:url("../img/ico_menos.gif");background-position:left center;background-repeat:no-repeat;margin-top:3px;padding-left:16px; display:inline-block;}
.Filtros .Select { width:164px; font-size:12px;}
.Filtros .inner { .margin-left:-20px; .margin-top:4px;}
.Lista .Boton {margin-top: 10px;}
.Lista fieldset {text-align:right; padding-bottom:5px;}
.Lista .select-negro {
	font-size: 12px;
	width: 168px;
	border: none;
	margin-bottom: 5px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.Lista .select-negro2 {
	font-size: 12px;
	width: 62px;
	border: none;
	margin-bottom: 5px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.Lista #Link {visibility:hidden; display: none;}

/*Vende Ahora*/
.CLR .Publicar{background-image: url(../img/Publicar_divisor_small.gif);background-repeat: no-repeat;background-position: center bottom;padding-bottom:7px;margin-bottom:5px;}
.CLR .Publicar .Impresa {margin:0 12px 7px;}
.CLR .Publicar .Online {background-image:url(../img/Publicar_venta_small.gif);background-position:left top;background-repeat:no-repeat;margin-left:10px;padding-bottom:7px;padding-left:66px;}
.CLR .Publicar h2 {background-image:url("../img/tit_vendeahora2.gif");background-position:right bottom;background-repeat:no-repeat;display:inline-block;height:16px;margin-bottom:10px;padding-left:10px;padding-top:13px;width:124px;}
.CLR .Publicar h4 { color:#008ACE; font-size:16px; font-weight:bold; line-height:21px;}
.CLR .Publicar p { color:#333333; font-size:12px; margin-bottom:5px;}
.CLR .Publicar .Fondo {background-image: url(../img/Publicar_divisor_small.gif);background-repeat: no-repeat;background-position: center bottom;padding-bottom:12px;margin-bottom:5px;}
.CLR .Publicar .opciones {color:#000000;font-weight:bold;background-image: url(../img/ico_tilde.gif);background-repeat: no-repeat;background-position: left center;padding-left:20px; line-height:20px; display:block; font-size:12px;}
.CLR .Publicar .opciones a {color:#000000;}
.CLR .Publicar .opNum {background-image:url(../img/Publicar_fd_opNum.gif);background-position:left top;background-repeat:no-repeat;color:#008ACE;display:block;font-size:13px;font-weight:bold;height:23px;padding-left:9px;padding-top:4px;width:105px; _font-size:11px; _padding-left:2px;}
.CLR .Publicar .Boton { margin-top:3px; margin-right:0;}
.CLR .Publicar .Boton a { font-size:12px; padding-left:25px; padding-right:25px; height:28px; _padding-left:0px; _padding-right:0px;}
.CLR .Publicar .Impresa .fondo { background-image:url(../img/Publicar_impresa_small.gif); background-position:left top; background-repeat:no-repeat; padding-left:68px; margin-top:7px; margin-bottom:5px; margin-left:-5px; _padding-left:62px;}
.CLR .Publicar .GradientDestacado {margin:0;}

/* Ofertas Similares */
.view-id-ofertas_similares h3.flecha a {color: #363B45;}

/* messages.css */

/**
 * @file
 * Message Styling
 *
 * Sensible styling for Drupal's error/warning/status messages.
 */
div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  min-height: 21px;
  /*margin: 0 1em 5px 1em;*/
  border: 2px solid #ff7;
  padding: 5px 5px 5px 35px; /* LTR */
  color: #000;
  background-color: #ffc;
  background-image: url(../img/icons/messages-status.png);
  background-repeat: no-repeat;
  background-position: 5px 5px; /* LTR */
  text-align: left;
}
div.status /* Normal priority messages */ {
}
div.warning /* Medium priority messages */ {
  border-color: #fc0;
  background-image: url(../img/icons/messages-warning.png);
}
div.warning,
tr.warning {
  color: #000; /* Drupal core uses #220 */
  background-color: #ffc;
}
div.error /* High priority messages. See also the .error declaration in pages.css. */ {
  /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
  border-color: #c00;
  background-image: url(../img/icons/messages-error.png);
}
div.error,
tr.error {
  color: #900; /* Drupal core uses #200 */
  background-color: #fee;
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Bloque destacados derecho */
.CajaBorde .destacado.padding5 {padding: 5px;}
.CajaBorde .destacado {border-bottom: 1px solid #CCCCCC;}
.CajaBorde .destacado  a {color: #333333; text-decoration: none;}
.CajaBorde .destacado  img {float: left;margin-right: 10px;}
.CajaBorde .destacado  h3 {color: #333333; font-size: 13px; font-weight: bold;}
.CajaBorde .destacado  h3 a {display:block;}
.CajaBorde .destacado  h6 {color: #666666; font-size: 11px; line-height: 14px;}
.CajaBorde .destacado  h5 {color: #E21A21; font-size: 13px; font-weight: bold;}

/*Header mi cuenta*/
.region-login-superior{float: left !important;}
.region-login-superior .UsuarioLogeado .menu ul{}
.region-login-superior .UsuarioLogeado .menu li{float:left; list-style:none; font-size:13px; padding-right:3px; background-image: none; padding-left: 0px;margin-left: 12px; width: 120px;}
.region-login-superior .UsuarioLogeado .cajaUsuario{font-family: 'openSans', Arial, Helvetica, sans-serif;   margin-top: 15px;}
.region-login-superior .UsuarioLogeado .cajaUsuario span{background-image: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/ico-usuario.png");	background-repeat: no-repeat;width: 26px;	height: 27px; float: left; margin-right: 8px;  margin-top: 5px;}
.region-login-superior .UsuarioLogeado .cajaUsuario a {float: left;  width: 83px;  margin-top: 5px; color:#fff; }
.region-login-superior .UsuarioLogeado .menu li a{ font-size: 13px;}
.region-login-superior .UsuarioLogeado .menu li.first{ font-weight:bold;  margin-top: -60px;  }
.region-login-superior .UsuarioLogeado .menu li.first .flecha{background:url(../img/sprite.png) no-repeat 0 0; width:6px; height:12px; overflow:hidden;  margin:0 5px; margin-top:3px; position:absolute;}
.region-login-superior .UsuarioLogeado .menu li.last{padding-left:5px;}

/*Modulo +buscado y tu 0KM*/
.CD .MasBuscados2Col{}
.CD .MasBuscados .CI .Sombra {background-image:url("../img/CajaAviso_sombra.png");background-position:center bottom; background-repeat:no-repeat;padding-bottom:7px;}
.section-inmuebles .CD .MasBuscados .CI .Sombra  {background-image: url(../img/sombra_100.jpg)}
.CD .MasBuscados .CI .Sombra-100 {background-image:url("../img/sombra_bottom_title.png");background-position:left bottom; background-repeat:no-repeat;padding-bottom:7px;}
.CD .MasBuscados .CI .Sombra-100 .Borde {padding-left: 0px;}
.CD .MasBuscados2Col ul{padding-left:0px;}
.CD .MasBuscados2Col li{line-height:1.8em;}
.CD .MasBuscados2Col p{font-size:14px; font-weight:bold; padding-left:20px;}
.CD .MasBuscados2Col li a{color:#000;}
.CD .MasBuscados2Col .CajaBuscado{padding:12px 12px 12px 0px;}

/* CREAR ANUNCION FORM REGISTRO*/
.CrearAnuncio .FormRegistro input {
  margin-bottom: 0px;
  border: 1px solid #CCCCCC;
  padding-left: 5px;
  padding-right: 5px;
  height: 34px;
  line-height: 34px;
}
.CrearAnuncio .FormRegistro .form-item {
  margin-bottom: 0px;
  margin-top: 0px;
}
.CrearAnuncio .FormRegistro .form-item .description {
  padding-left: 245px;
}
#field_aviso_fotos_values .form-item .description {
  padding-left: 0px;
  text-transform:none;
}
.CrearAnuncio .FormRegistro .Radiobutton .form-radios label {
  margin-bottom: 0px;
  margin-right: 0px;
  padding-top: 0px !important;
  line-height: 34px;
}
.CrearAnuncio .FormRegistro .Row label {
  padding-top: 10px;
   /*font-weight: bold;*/
}
.CrearAnuncio .form-item .form-checkboxes label {line-height: 34px; padding-top: 0px !important;}
.CrearAnuncio .FormRegistro .Row .Ingresa {
  padding-left: 0px;
}
.CrearAnuncio .FormRegistro .Row .Ingresa div.Boton {
  width:90px;
  margin:0px auto;
  display:block;
  float:none;
}
.CrearAnuncio .hierarchical-select .form-select{height: 34px !important;}


.form-file {height: 24px !important;}
.resizable-textarea { *width:auto; }
.FormRegistro .Row legend {display: block; float: left; font-weight: normal; padding-right: 14px; padding-top: 4px; text-align: right; width: 231px; color: black;}
.FormRegistro .AgregarVideo legend {text-align: left; width: auto; padding: 5px;}
.FormRegistro .Row .emthumb-edit-preview img {margin-top: 7px; *padding-left: 110px;}
#edit-field-aviso-video-0-emthumb-emthumb-emthumb-wrapper {float: left;}
#edit-field-aviso-video-0-emvideo-delete-wrapper { /*float: right; margin-right: 187px; margin-top: -94px; width: 500px;*/}
#edit-field-aviso-video-0-emvideo-delete-wrapper label {width: 230px; height: 22px;}
#edit-field-aviso-video-0-emvideo-delete-wrapper label .form-checkbox {width: 22px; height: 14px;}
#edit-field-aviso-video-0-emvideo-delete-wrapper .description span {margin-left: 55px; padding-top: 5px;}

.CrearAnuncio .FormRegistro{position:relative;}

.CrearAnuncio .FormRegistro .AyudaAlta{position:absolute; left:680px;}
.CrearAnuncio .FormRegistro .AyudaAlta .punta{background:url(../img/sprite.png) no-repeat 0 -266px; width:19px; height:38px; overflow:hidden; position:absolute; left:0; top:25px;}
.CrearAnuncio .FormRegistro .AyudaAlta .Texto{background:#F0F0F0; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; padding:10px; width:250px; position:absolute; left:19px; top:0px; font-size:14px; min-height:100px; }
.CrearAnuncio .FormRegistro .AyudaAlta .Texto li{ background:url(../img/sprite.png) no-repeat -394px -22px; padding-left:15px; font-size:14px;}
table.sticky-enabled{}
#field_aviso_fotos_values .draggable {background-color: #FFF;}
/*.CrearAnuncio .FormRegistro .AyudaAlta.legal{left: 570px;}*/
.CrearAnuncio .FormRegistro .AyudaAlta.legal .Texto{width: 250px; font-size: 12px; /*left: 14px;*/}
/*.CrearAnuncio .FormRegistro .AyudaAlta.legal .punta{width:14px;}*/
.CrearAnuncio .FormRegistro .AyudaAlta.FormaPago { margin-top: -30px; }
.CrearAnuncio .FormRegistro .AyudaAlta a, .CrearAnuncio .FormRegistro .AyudaAlta a:hover { font-size: inherit; font-weight: inherit; display:inline; }
/* table.sticky-enabled .tableHeader-processed{text-transform:uppercase;} */
.Avisos #field-aviso-fotos-items table.sticky-enabled thead tr th{font-weight:bold;padding-left:5px; }
div.FormRegistro div#field-aviso-fotos-items .content-add-more{ width:582px; text-align:center; padding-bottom:10px;}
div.FormRegistro div#field-aviso-fotos-items .content-add-more input.form-submit{background:#333;}
.CrearAnuncio .FormRegistro .AgregarVideo{width:582px; margin-bottom:10px;}
.CrearAnuncio .FormRegistro .AgregarVideo label{text-transform:uppercase; font-weight:bold; width:44px; padding-top:10px;}
.CrearAnuncio .FormRegistro .AgregarVideo input{margin-top:10px;}
.CrearAnuncio .FormRegistro .AgregarVideo .form-item .description{padding-left:58px;}

.TitEstado .espacios { color: #333333; font-size: 14px; font-weight: bold;}
.Estado .row { font-size:14px; margin-bottom: 5px;}
.breadcrumb {width: 980px; margin: 0 auto;}
.CD .breadcrumb{float:left;}
.ayuda div.Title h2{font-size:18px!important;}
.title-publicar-sin-login {padding-bottom: 15px;}

/* Crear Anuncio wysiwyg */
#edit-format-4-wrapper {display: none;}
#edit-body_path_row {display: none;}
#edit-body_tbl {
  border-color:#ADACB1 #E1E8EE #E1E8EE;
  border-style:solid;
  border-width:1px;
  font:12px 'openSans', Arial, Helvetica, sans-serif;
  outline:medium none;
  background-color:#FFFFFF;
  width: 330px !important; 
  float: right; 
  margin-right: 395px; 
  margin-top: -15px;
  *margin-top: 0px;
}
body#tinymce ul, body#tinymce ul li, body#content ul, body#content ul li{list-style:disc;}
body#tinymce ol, body#tinymce ol li, body#content ol, body#content ol li{list-style:decimal;}
body#tinymce ul, body#tinymce ol, body#content ul, body#content ol {padding-left: 40px; margin-top: 8px;}
#aviso-descripcion { overflow-wrap: break-word; }
#aviso-descripcion ul, #aviso-descripcion ul li {list-style:disc;}
#aviso-descripcion ol, #aviso-descripcion ol li {list-style:decimal;}
#aviso-descripcion ul, #aviso-descripcion ol {padding-left: 40px; margin-top: 8px;}

/* BUSCADOR TOP */

.BuscadorTop {
	width: 970px;
	margin: 0 auto;
	height: 90px;
	background-image: url(../img/back_top_buscador.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	margin-bottom: 40px;
}
.BuscadorTop form {width: 730px; float:left; }
.BuscadorTop .termino {width: 372px; height: 30px; background-color: #FFF; border: 1px solid #CCCCCC; font-size: 12px; color: #333333; line-height: 30px; padding-left: 5px; padding-right: 5px; float: left; margin-top: 30px; margin-left: 20px;}
.BuscadorTop .categoria {width: 185px; height: 34px; background-color: #FFF; border: 1px solid #CCCCCC; font-size: 12px; color: #333333; line-height: 30px; padding-left: 5px; padding-right: 5px; float: left; margin-top: 30px; margin-left: 15px; padding: 8px 5px;}
.BuscadorTop .submit {-webkit-border-radius: 3px; border-radius: 3px; background-color: #333333; border: 0px; color: #FFF; cursor: pointer; width: 107px; height: 34px; font-weight: bold; margin-top: 30px; margin-left: 15px;}
.BuscadorTop .Publicar {float: right; width: 196px;}
.BuscadorTop .Publicar a {
	width: 100%;
	height: 90px;
	background-image: url(../img/Publicar_gratis.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
}

.Aviso .BuscadorTop {margin-bottom: 10px;}

/* LIGHTBOX LOGIN */

.content-modal-publicacion-rubros {display:none;}
#modal-publicacion-rubros {}
#modal-publicacion-rubros .title {font-size: 24px; float: left; width: 97%; padding-bottom: 18px; padding-top: 18px; padding-left: 10px; text-align: center; color: #FFFFFF; background-color: #999;font-weight: normal;
line-height: 15px;}
#modal-publicacion-rubros span {background-image: url("../img/flecha-gris-modal.png");
background-repeat: no-repeat;
width: 20px;
height: 10px;
position: absolute;
margin-top: 51px;
margin-left: -333px;}
#modal-publicacion-rubros a {
  /* float: left; 
  padding-left: 2%; 
  width: 31%; 
  color: #666666; 
  padding-bottom: 10px; */
  
  float: left;
  width: 189px;
  color: #FFF;
  height: 118px;
  background-color: #363B45;
  margin-right: 15px;
  margin-top: 15px;
  border-radius: 5px;
}
#modal-publicacion-rubros a.first {margin-left: 28px;}
#modal-publicacion-rubros a.fourth {margin-left: 133px;}
#modal-publicacion-rubros a:hover {color: #EDEDED;}
#modal-publicacion-rubros a i {
  font-size: 44px;
  margin-top: 25px;
  margin-left: 68px;
  color: #FFF;
}
#modal-publicacion-rubros a img {
  margin-top: 25px;
  margin-left: 68px;
  width: 44px;
}
#modal-publicacion-rubros a i.fa-home,
#modal-publicacion-rubros a i.fa-gift {
  font-size: 58px;
  margin-top: 19px;
}
#modal-publicacion-rubros a .publicacion-rubro {
  font-size: 22px; 
  width: 100%; 
  padding-top: 15px; 
  font-weight: normal; 
  text-align: center;
}
#modal-publicacion-rubros a .publicacion-rubro.home {padding-top: 8px;}
#modal-publicacion-rubros a h6 {font-size: 13px; float: left; width: 100%; padding-top: 5px;font-weight: normal;}

/* Mensaje alerta version mobile */
#alerta {width: 970px; margin: 0 auto; display:none;}
#alerta .CajaAmarilla .Mensaje { background: #FFF4AC none repeat scroll 0 0; color: #695728; padding-right: 0px; margin-bottom:10px; padding: 10px;}
#warningbrowser { color: #222;}
#warningbrowser a {color: black;}
#alerta .close {width: 15px; height: 20px; right: 0; top: 0; font-size: 11px; display: block; float: right;}

/* Confirmar destaque aviso gratuito */
.confirmar-destaque {height: 250px;}
.confirmar-destaque .confirmar-destaque-si{background: #E10019; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #FFF; font-size: 18px; font-weight: bold; padding: 7px; margin-bottom: 10px; width: 183px; margin-right: 15px;}
.confirmar-destaque .titulo{font-size: 22px; font-weight: bold; color: #363B45; margin-top: 15px; margin-bottom: 15px; line-height: 22px;}
.confirmar-destaque .detalle{font-size: 18px; margin-top: 15px; clear: both; line-height: 22px;}
.confirmar-destaque .detalle.subtexto{font-size: 16px; margin-bottom: 20px; margin-top: 5px;}
.confirmar-destaque .separador{border-bottom: 1px solid #CCCCCC; margin-bottom: 30px;}

.Publicacion .sitios-externos .Row label, .Publicacion .sitios-externos .Row input {
  width: inherit;
}

.Publicacion .sitios-externos .Row .form-item {
  width: inherit;
}

a.form-submit.boton_comprar {
  font-size: 14px;
  padding: 8px;
}
.pago .comprar {
  color: #666666;
  float: left;
  margin-right: 10px
}
.pago .dineromail {
  width: 140px;
  float: left;
}

.currentBuy h3 { font-size:18px; font-weight:400; color:#333; margin-bottom:20px;margin-top: 20px; line-height: 1; }
.currentBuy .producto {
  border:1px solid #E5E5E5;
  padding:20px;
    padding-top: 30px;
  padding-bottom: 30px;
}
       
.currentBuy .producto img.imagecache { float:left; margin-right:20px; }
.currentBuy .producto .descripcion {
  float:left;
  width:81%;
}
.currentBuy .producto .descripcion h2 { font-size:22px; line-height:22px; font-weight:600; color:#333;  margin-bottom: 15px; }
.currentBuy .producto .descripcion h4 { font-size:12px; font-weight:400; color:#333; }
.currentBuy .producto .descripcion p, .total, .alerta, .mensajeOk {font-size:14px; font-weight:400; color:#333; margin-bottom: 15px;line-height: 1.3;}
#ventas-comprar-fin-ok-form .alerta { margin-top: 20px;}
#ventas-comprar-fin-ok-form fieldset legend {font-size:14px; font-weight:400; color:#333; margin-bottom: 15px;line-height: 1.3; font-weight:600;}
.total .itemT {
	  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
	}
.total .priceT {color: #E10019;}
.currentBuy .producto .descripcion .Precio { font-size:22px; font-weight:900; color:#E10019; }
.currentBuy .producto .descripcion .mensajePago {color: #666666; font-size: 14px; margin-bottom: 5px;}

.avance {
  margin-bottom:10px;
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
}
.avance .item {
  float: left;
  padding: 15px 10px;
  width: 160px;
  color: #8B8B8B;
  font-size: 14px;
  font-weight:400;
}
.consigna { font-size: 18px; margin-bottom: 20px; margin-top: 30px; font-weight: 400; color: #333;  line-height: 1.3;}
#ventas-comprar-datos-form .form-item label, #ventas-comprar-entrega-form .form-item label,
#datos_direccion .form-item label, #datos_lugares .form-item label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #666;
}
.seleccion_lugar {
  margin-top: 30px;
  display: block;
  margin-bottom: 30px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
	}
.seleccion_lugar label, #ventas-comprar-entrega-form .form-radios label {
  font-size: 14px;
  font-weight: 600;
  color: #363B45;
  display: block;
  margin: 10px;
}
.avance .item .numero{
  background-color: #FFF;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  font-weight:bold;
}
.avance .superado { background-color: #E5E5E5; }
.avance .activo {
  color: #FFF;
  background: url("/sites/clasificadoslavoz.com.ar/themes/principal/img/fd_activo.png") right center no-repeat;
  font-weight: 900;
  font-size: 14px;
}
.avance .activo .numero {color:#3DA6DA; }

.section-comprar input[type=text], .section-compra input[type=text], .section-comprar textarea {
  border: 1px solid #cccccc;
  color: #000000;
  font-size: 14px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 440px; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.section-comprar input[type=text], .section-compra input[type=text] {
  height: 40px;
}
.section-compra input[type=text] {
  height: 30px;
  width: inherit;
}
.section-comprar input.corto[type=text], .section-compra input.corto[type=text] {
  width: inherit;
}
.section-comprar input[type=text].error, .section-compra input[type=text].error {
  border-color:#FF0000;
}
html.js .section-comprar textarea {
  width: 440px;
  padding: 0 5px;
}
.section-comprar .grippie {
  display: none;
}
.section-comprar select, .section-compra select {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 34px;
  margin-top: 5px;
  margin-right: 4px;
  padding: 5px 5px 5px 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.section-compra .form-item label {
  float: left;
  width: 160px;
  padding: 10px 10px 0 0;
  margin-top: 4px;
  text-align: right;
}

.section-compra .description {
  margin-left: 170px;
  font-size: 12px;
  color:#8c8c8c;
}

/* Guia de la construccion */
#block-clasificados-guia_construccion_form  h2{font-size: 22px;
font-weight: bold;
line-height: 22px;
margin-bottom: 10px;}
#block-clasificados-guia_construccion_form  .form-text{margin-bottom: 5px;
background-color: #FFFFFF;
border-color: #ADACB1 #E1E8EE #E1E8EE;
border-radius: 1px 1px 1px 1px;
border-style: solid;
border-width: 1px;
font: 12px 'openSans', Arial, Helvetica, sans-serif;
height: 20px;
outline: medium none;
width: 400px;}
#block-clasificados-guia_construccion_form  .form-textarea{background-color: #FFFFFF;
border-color: #ADACB1 #E1E8EE #E1E8EE;
border-radius: 1px 1px 1px 1px;
border-style: solid;
border-width: 1px;
font: 12px 'openSans', Arial, Helvetica, sans-serif;
outline: medium none;
width: 400px;}
#edit-contacto-guia-name-wrapper{display: none}
.modal-general {
  font: 14px 'openSans', Arial, Helvetica, sans-serif; padding:25px; color: #666;
}
.modal-general h3 {
  font-size: 22px; font-weight: 900; text-align: center; color: #363B45; margin-bottom: 30px; text-transform: uppercase;
}
.modal-general h4 {
  font-size: 16px; font-weight:900;text-align:left;color: #333333;margin-bottom: 15px;
}
#modal-forma-envio { padding: 15px;}
#modal-forma-envio .Links {font-size: 15px; font-weight:400;text-align:left;color: #008ACE;  margin-left: 15px;display: block;  margin-bottom: 10px;  border-bottom: 1px solid #E5E5E5; padding-bottom: 15px;}
#modal-forma-envio .Mapa {float: left;}
#modal-forma-envio .Direcciones {float: left;width: 250px;}
.Caja_Solapas .Solapas .dropdown-menu, .Caja_Solapas .Solapas .dropdown-login {
  /*oculta inicialmente*/
  display:none;
	}
#modal-forma-envio .ContentSucursales {margin-top: 30px;}
.FormRegistro .form-checkboxes, .FormRegistro .form-radios {margin: 0;}
.FormRegistro .form-item {margin: 0;}
.form-item .confirm-parent {margin: 10px 0 0;}
.region-page-footer {clear:both;}

/* Cabezal Micrositio Tiendas */
.Columnas.pageArribaTienda {width: 100%;}
#content-cabezal-tienda {margin-bottom: 50px;}
.node-type-aviso-producto #content-cabezal-tienda {margin-top: -42px;}
#content-cabezal-tienda  header {border-bottom: 1px solid #EBEBEB;}
#content-cabezal-tienda .top-img{background: #EFEFEF url(../img/fondos/cabecera-tiendas.jpg) no-repeat 50% 0; width: 100%; height: 109px;}
#content-cabezal-tienda .navbar {width: 980px; margin: 0 auto;}
#content-cabezal-tienda .navbar-header {float: left;}
#content-cabezal-tienda .navbar-header img {margin-top: -43%; border: 1px solid #EBEBEB; padding: 5px;  background-color: white; margin-left: 30px; max-height: 145px;}
#content-cabezal-tienda .navbar-collapse {height: 45px;}
#content-cabezal-tienda ul.navbar-right li {float: left; padding: 16px 25px;}
#content-cabezal-tienda ul.navbar-right li a {font-size: 14px;}
#modal-info-tienda {padding: 15px;}
#modal-info-tienda h2 {font-size: 22px; font-weight: 900; text-align: center; color: #363B45; margin-bottom: 30px;   text-transform: uppercase;}
#modal-info-tienda p {font-size: 14px; text-align: left; color: #666666; background-color: #EEEEEE; padding: 10px;  font-weight: normal; line-height: 1.5;}
.contentAvisosTiendas {width: 980px; margin: 0 auto; margin-bottom: 20px;}
.contentAvisosTiendas .col-md-6 {width: 50%;}
.contentAvisosTiendas .left {float: left;}
.contentAvisosTiendas  .img-portfolio {background: #EFEFEF; padding: 8px; margin-right: 20px; height: 117px;}
.contentAvisosTiendas .img-portfolio .imgAviso {width: 201px; height: 117px; float: left; background-color: #FFFFFF;}
.contentAvisosTiendas .img-portfolio .imgAviso a {display: block; height: 120px; text-align: center;}
.contentAvisosTiendas .img-portfolio .imgAviso a span {display: inline-block; height: 100%; vertical-align: middle;}
.contentAvisosTiendas .img-portfolio .imgAviso a img {vertical-align: middle;}
.contentAvisosTiendas  .info-section {float: right; width: 50%;}
.contentAvisosTiendas  .info-section h3 a {color: #333333; font-size: 16px;}
.contentAvisosTiendas  .info-section h4 {color: #E10019; font-size: 22px; margin-top: 15px;}
.contentAvisosTiendas  .info-section .precio-anterior {text-decoration: line-through; margin-left: 20px; font-size: 15px; color: #666;}

.sticky {
  position: absolute;
}
.sticky-applied {
  position: fixed;
  top: 0;
  margin-top: 0;
  z-index: 100;
  border-top: 0;
}

#compras-form-confirmar img { vertical-align: middle; }
#compras-form-confirmar .form-submit { margin-right: 20px; }

.captcha_image {
  cursor: pointer;
}

#colorbox button {border: none;}

.calculadora span.cargando { background-image: url("../img/ajax-loader.gif"); background-repeat: no-repeat; width: 16px; height: 16px; float: left; padding: 2px; }
.calculadora .cuotas .contado {float: left; padding: 10px 15px; background-color: #EEEEEE; margin: 10px 0px; text-align: center; text-transform: uppercase; border: 1px solid #666666; color:#666666}
.calculadora .cuotas .contado .label-contado{font-size: 18px; font-weight: 800; color: #363B45;}
.calculadora .cuotas .contado .label-pagos{font-size: 11px; margin-top: 8px; margin-bottom: 12px; width: 211px;}
.calculadora .cuotas .contado .precio-contado{font-size: 30px; font-weight: 800; color: #363B45;}


.calculadora .cuotas .tarjeta {float: left; padding: 11px 15px; margin: 10px 0 0 10px; text-align: center; text-transform: uppercase; border: 1px solid #666666; color:#666666}
.calculadora .cuotas .tarjeta .label-cuotas{font-size: 11px; border-bottom: 1px solid #666666;}
.calculadora .cuotas .tarjeta .label-cuotas .cantidad-cuota{font-weight: 800; float: left; width: 82px;}
.calculadora .cuotas .tarjeta .label-cuotas .costo-cuota{font-size: 22px; font-weight: 800; color: #363B45; height: 30px; padding-bottom: 8px;}
.calculadora .cuotas .tarjeta .label-ptf{font-size: 11px; margin-top: 5px; width: 211px;}
.calculadora .cuotas .tarjeta .label-cft{font-size: 22px; margin-top: 8px; font-weight: 800;}
.calculadora .cuotas .tarjeta .label-costo{font-size: 10px; margin-top: 2px;}

.calculadora .cargando { clear: both; }
.calculadora { padding: 0px 10px;}
.calculadora h3 { font-size: 34px; line-height: initial; font-weight: bold; color: #363B45; border-bottom: 2px solid #EEEEEE; }
.metodos-pagos-div { background-color: #EEEEEE; border-radius: 5px; margin-top: 5px; padding: 10px; }
.calculadora .subtitulo { font-weight: 600; font-size: 13px; line-height: initial; }
.calculadora .bancos-div .subtitulo, .calculadora .cuotas-div .subtitulo { display: block; width: 60px; float: left; line-height: 30px; }
.calculadora .contenedor { background-color: #FFFFFF; margin: 10px 4px; padding: 6px; }
.calculadora .final { font-size: 34px; line-height: initial; font-weight: normal; color: #363B45; }
.calculadora .destacado { font-weight: bold; }
.calculadora .acciones p { float: right; margin-top: -148px;}
.calculadora .acciones input { background-color: #363B45; display: block; font-size: 14px; font-weight: 600; padding: 6px 20px; border-radius: 4px; border: none; color: #FFFFFF; }
.financiacion .detalle { font-size: 14px; }

.calculadora .pagando { padding-top: 20px; }
.calculadora .pagando img { vertical-align: middle; }

a .pagando { padding-top: 20px; }

