/*HEADER RED LVI*/
.Hdredlvi{ background:#404040; position:relative; z-index:2000;}
.Hdredlvi .ContSecciones{width:970px; margin:0 auto;}
.Hdredlvi .ContSecciones .current a{color:#333B4E;}
.Hdredlvi .ContSecciones h1, .Hdredlvi .ContSecciones h2 , .Hdredlvi .ContSecciones h3{
float:left;
margin-right:30px;
padding-top:5px;
width:68px;
}
.Hdredlvi .ContSecciones h1 a , .Hdredlvi .ContSecciones h2 a, .Hdredlvi .ContSecciones h3 a {
background:url(../img/lg_lavoz.gif) no-repeat scroll 0 0 transparent;
display:block;
height:19px;
width:68px;
}
li#menuNoticias a{background-image:url(../img/ic_home.png); background-position:7px -31px; background-repeat: no-repeat; padding-left:24px;}
li#menuServicios{width:130px}
li#menuServicios a{background:url(../img/ic_Flechita_desplegable.gif) no-repeat right 6px;
margin-right:5px;
padding-right:20px;}
.Hdredlvi  .Secciones{position:absolute; z-index:3000;top:30px; /*background:#fff;  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; width:130px;*/ z-index:999999;}
.Hdredlvi  .Secciones .Desplegado{position:relative; left:-3px;}
.Hdredlvi li#menuServicios .Secciones a{color:#254290; font-size:11px; font-weight:normal; background-image:none; padding:3px 10px;}
.Hdredlvi li#menuServicios a.desplegableServicios:hover{ background-color:#fff;  -moz-border-radius:4px 4px 0 0 ; -webkit-border-radius:  4px 4px 0 0; color:#333B4E; text-decoration:none;}
/*CAJITA AJAX menu*/
.Hdredlvi .Ajax .Medio{background:#fff; width:125px;}
.Hdredlvi .Ajax2 .Cv{background-image:url(../img/fd_esquina.gif);width:3px;height:3px;opacity:0.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";position:static;font-size:0;}
.Hdredlvi .Ajax2 .Bg{background:#333C4F;opacity:0.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
.Hdredlvi .Ajax2 .Fila .Bg{height:3px;}
.Hdredlvi .Ajax2 .Fila_2 .Bg{width:3px;}