.section-productos h1 {
  color: #008acf;
  font-size: 20px;
  font-weight: bold;
}
.section-productos h2, .section-productos h3 {
  color: #323943;
  font-size: 20px;
  font-weight: bold;
}
.section-productos .CD {
  width: 970px;
}
.section-productos #content h1.title, .section-productos #content h2.title {
	color: #008acf;
  text-transform: uppercase;
	float: left;
	font-size: 30px;
	  margin-right: 15px;
	}
.section-productos #content .links_productos {	
  margin-bottom: 38px;
  line-height: 1.8;
	}
.section-productos .region region-page-media {
	margin-bottom: 30px;	
	}

.section-productos #content .links_productos a {
	font-size: 13px;
	color: #666666;
	}
.section-productos .bloque_avisos .CajaAviso {
  width: 250px;
  margin-right: 0;
}
.section-productos .avisos_general .CajaAviso {
  margin-right: 10px;
}
html > body.section-productos .bloque_avisos .CajaAviso.Par {
  float: left;
}
html > body.section-productos .bloque_avisos .CajaAviso {
  height: 235px;
}
.section-productos .bloque_avisos .CajaAviso .imgAviso {
  height: 133px;
}
.section-productos .bloque_avisos .CajaAviso .AvisoDescripcion {
  width: 240px;
  bottom: 2px;
  position: initial;
}
.section-productos .principal .TitImg {
	float: left;
	position: absolute;
	line-height: 1.1;
	  margin-top: 70px;
	}
.section-productos .principal .TitImg h3{
	color: #FFF;
	font-size: 32px;
	width: 230px;
	font-weight: 100;
	}
.section-productos .principal .TitImg .BtnCompraAhora{
  background-color: transparent;
  background-image: url("../img/fd_compra_ahora.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 45px;
  width: 200px;
  z-index: 5;
  position: relative;
  margin-top: 25px;
	}

.section-productos .accessible_news_slider {
  display:block;
  background: #FFF;
  height: 400px;
  float: left;
}
.section-productos .principal {	 
  background-color: transparent;
  background-image: url("../img/fondos/fnd_generico.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 354px;
  width: 978px;
  z-index: 5;
  padding-top: 40px;
  position: relative;
  padding-left: 25px;
}
.section-productos .principal .accessible_news_slider {
	width: 692px;
	position: absolute;
  	margin-left: 261px;
  	height: 317px;
	}
.section-productos .principal .accessible_news_slider .lista .CajaAviso {
	border: none;
	width: 200px;
	height: 240px;
	}
.section-productos .principal .accessible_news_slider .lista .CajaAviso .AvisoDescripcion {
	position: inherit;
	width: 190px;
	}
.section-productos .lista .CajaAviso .AvisoDescripcion h4 a,
.section-ofertas .lista .CajaAviso .AvisoDescripcion h4 a {
    font-size: 15px;
    color: #333333;
    font-weight: 400;	
	}
.section-productos .lista .CajaAviso .AvisoDescripcion span.precio,
.section-ofertas .lista .CajaAviso .AvisoDescripcion span.precio {
	font-size: 20px;
	margin-top: 12px;	
	float:left;
}
  
.section-productos .lista .CajaAviso .AvisoDescripcion .mensajePago,
.section-ofertas .lista .CajaAviso .AvisoDescripcion .mensajePago {
	margin-top: 43px;
  margin-bottom: 5px;
}  
  
.section-productos .lista .CajaAviso .AvisoDescripcion span.precio_anterior, .section-ofertas .lista .CajaAviso .AvisoDescripcion span.precio_anterior{
	 float: left;
    font-size: 14px;
    color: #666;
    text-decoration: line-through;
    margin-top: 12px;
    margin-left: 11px;
	}
.section-productos .lista .CajaAviso .AvisoDescripcion span.descuento{  
    float: right;
    color: #E11920;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4px;
    font-size: 14px;
    background-color: #eee;
    border-radius: 10px;
    padding: 4px;
}
.section-ofertas .lista .CajaAviso .AvisoDescripcion span.descuento{
    float: right;
    color: #E11920;
    margin-top: 10px;
    margin-right: -10px;
    font-size: 14px;
    background-color: #eee;
    border-radius: 10px;
    padding: 4px;
    margin-top: -165px;
}  
.section-productos .lista .CajaAviso .AvisoDescripcion .entrega, .section-ofertas .lista .CajaAviso .AvisoDescripcion .entrega{
	        clear: both;
    font-size: 14px;
    color: #666666;
    height: 18px;
	margin-bottom: 15px;
	}
.section-productos .lista .CajaAviso .AvisoDescripcion span.precioOferta {
	font-size: 15px;
	  display: block;
	  color: #333;
	  text-decoration:line-through;
	  
	}
.section-productos .accessible_news_slider .lista .CajaAviso .AvisoDescripcion p {
	font-size: 14px; float:left; margin-right: 5px;
	}
.section-productos .principal .accessible_news_slider .lista .CajaAviso .imgAviso {
	position: inherit;
	  background-color: none;
	  height: 133px;
	  margin-bottom: 15px;
	}
.section-productos .principal .accessible_news_slider .lista {
	 width: 662px;
	}
.section-productos .principal .accessible_news_slider .lista ul {}
.section-productos .principal .accessible_news_slider .lista li {
	margin-right: 20px;
 	width: 206px
	}
	
.section-productos .principal .accessible_news_slider .TitOferta {
	 height: 28px;
	 background-color: #008acf;
	 text-align:center;
	 padding-top: 12px;
	}
.section-productos .principal .accessible_news_slider .TitOferta h2, .section-productos .principal .accessible_news_slider .TitOferta h3 {
	color: #FFFFFF;
	text-transform:uppercase;
	}
.section-productos .accessible_news_slider .lista {
  position: relative;
  overflow: hidden;
  top: 0px;
  width: 522px;
  margin-left: 20px;
}
.section-productos .accessible_news_slider ul {
  left: 0;
  overflow: hidden;
  position: relative;
  width: 700px;
  z-index: 1;
  padding: 0;
}
.section-productos .accessible_news_slider .Botones {
  font-size: 0;
  position: relative;
  top: 3px;
  width: 682px;
}
.section-productos .accessible_news_slider .Botones a {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("../img/fd_FlechasMultimedia.gif");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 59px;
  width: 12px;
  position: absolute;
  z-index: 5;
  top: 60px;
}
.section-productos .Botones .back a {
  background-position: left top;
  left: 10px;
}
.section-productos .Botones .next a {
  background-position: right top;
  right: 10px;
}

.motivo_navidad {
  background: url('../img/block/motivo_navidad.png');
  height:200px;
}
.motivo_dia_madre {
  background: url('../img/block/motivo_dia_madre.png');
  height:200px;
  padding-left: 160px;
}
/* estilos remporales */
.information .image img {
    float: left;
}
.box-g1 {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 15px;
}
.box-g1-3 {
    float: left;
    margin: 0 3%;
    width: 27%;
}
.information h2 {
    color: #666;
    font-size: 20px;
    margin: 0 0 15px;
}
.information .image {
    display: block;
    float: left;
    padding: 0 12px 6px 0;
}
.information .secure, .information .shipping, .information .pay, .information .sell {
    margin: 20px 0;
    min-height: 115px;
    overflow: hidden;
    position: relative;
}

/*BLOQUE RECOMENDADOS*/
.page-productos #block-clasificados-historial_visitas_usuario{background: none; padding-bottom: 0px; padding-top: 0px;}
.page-productos #block-clasificados-historial_visitas_usuario .BloqueTiendas {height: 380px;}
.page-productos #block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide {height: 390px;}
.page-productos #block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide h3 {background: none;}
.page-productos #block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide h3 a {background-color: #fff;}
.page-productos #block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .lista.no-slide { margin-left: 14px;}

/* SLIDER LOGOS TIENDA */
.BloqueListaTiendas.AvisosDestacadosSlide,
.BloqueListaProductos.AvisosDestacadosSlide {height: inherit;}
.BloqueListaTiendas .callbacks_container,
.BloqueListaProductos .callbacks_container {position: relative; float: left; width: 100%;}
.BloqueListaTiendas .callbacks_container ul li {margin-left: 110px;}
.BloqueListaProductos .callbacks_container ul li {margin-left: 75px;}
.BloqueListaTiendas .callbacks_container ul li a { 
  margin-right: 30px;
  width: 232px;
  height: 145px;
  background-color: #eeeeee;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.BloqueListaTiendas .callbacks_nav,
.BloqueListaProductos .callbacks_nav { position: absolute; -webkit-tap-highlight-color: rgba(0,0,0,0); top: 52%;  left: 0; opacity: 0.7; z-index: 3; text-indent: -9999px; overflow: hidden; text-decoration: none; height: 61px; width: 38px; background: transparent url("../img/themes.gif") no-repeat left top; margin-top: -45px;}
.BloqueListaTiendas .callbacks_nav:active,
.BloqueListaProductos .callbacks_nav:active {opacity: 1.0;}
.BloqueListaTiendas .callbacks_nav.next,
.BloqueListaProductos .callbacks_nav.next {left: auto; background-position: right top; right: 0;}

/*BLOQUE TIENDAS y OFERTAS*/
.BloqueTiendas {
	  height: 390px;}
.BloqueTiendas, .BloqueOfertas {
	width: 980px;
	}
.BloqueTiendas .Title, .BloqueOfertas .Title{
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #fff;
	}

.BloqueOfertas .CajaAviso .imgAviso {text-align: center; height: inherit;}
  
.BloqueTiendas h2, .BloqueOfertas h2, .BloqueOfertas h2 a {
	color: #666666;
	/*font-weight: 600;*/
	text-align:center;
	margin-bottom: 25px;
	font-size: 22px;
    position: relative;
    z-index: 1030;
  display: inline-block;
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
	}
.BloqueTiendas h2 a strong, .BloqueOfertas h2 strong, .BloqueOfertas h2, .BloqueOfertas h2 a {
    font-size: 36px;
    font-weight: 100;
	}
hr {
  z-index: 1000;
  width: 100%;
  position: absolute;
  top: 50%;
  margin: -1px 0 0;
  border: 1px solid #EBEBEB;
  height: 0;
  display: none;
}
.BloqueTiendas .accessible_news_slider {
	width:980px;
	}
.BloqueTiendas .accessible_news_slider .Botones{
	width:980px;
	}
.BloqueTiendas .accessible_news_slider .Botones a{
	  background-attachment: scroll;
  background-color: transparent;
  background-image: url("../img/fd_FlechasAzules.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 50px;
  width: 36px;
  position: absolute;
  z-index: 5;
  top: 138px;
	}
.BloqueTiendas .accessible_news_slider .Botones .back a {
  background-position: left top;
  left: 10px;
}
.BloqueTiendas .accessible_news_slider .Botones .next a {
  background-position: right top;
  right: 10px;
}
.BloqueTiendas .accessible_news_slider .lista {
  width:770px;
  margin-left: 104px;
}
.BloqueTiendas .accessible_news_slider .lista .LogoTienda {
  text-align: center;
  width: 227px;
  height: 75px;
}
.BloqueTiendas .accessible_news_slider .lista .CajaAviso, .BloqueOfertas .lista .CajaAviso, .page-productos #block-clasificados-historial_visitas_usuario .lista .CajaAviso  {
  width: 204px;
  padding: 10px;
  height: 246px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.page-productos #block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .lista.no-slide ul .CajaAviso {margin-right: 18px; height: 240px;}
.BloqueOfertas .lista li.Last .CajaAviso{margin-right: 0;}
.page-productos .AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .imgAviso {width: 204px;}
.page-productos .AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .AvisoDescripcion {width: 204px;}
  
.BloqueOfertas .lista .CajaAviso .imgAviso img{width: inherit;}
.principal .lista .CajaAviso .Carrito {
	left: 144px;
        top: 2px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("../img/img_carrito_rojo.png");
	background-position: 0 0;
	background-repeat: no-repeat;}
.lista .CajaAviso .Carrito {
		  background-attachment: scroll;
		  background-color: transparent;
		  background-image: url("../img/img_carrito_rojo.png");
		  background-position: 0 0;
		  background-repeat: no-repeat;
		  height: 59px;
		  width: 58px;
		  position: absolute;
		  z-index: 5;
    	  left: 166px;
	      top: 0;
	}
.BloqueTiendas .accessible_news_slider .lista .CajaAviso .AvisoDescripcion, .BloqueOfertas .lista .CajaAviso .AvisoDescripcion {
	width: 200px;
	}
.BloqueOfertas .lista .CajaAviso .AvisoDescripcion {
    margin-bottom: 10px;
}        
.BloqueTiendas .accessible_news_slider .lista .CajaAviso .AvisoDescripcion h4,
.BloqueOfertas .lista .CajaAviso .AvisoDescripcion h2,
.BloqueOfertas .lista .CajaAviso .AvisoDescripcion h3,
.BloqueOfertas .lista .CajaAviso .AvisoDescripcion h4{
	font-size: 14px;
  color: #666;
  font-weight: 400;
  margin-bottom: 8px; 
}
.BloqueOfertas .lista .CajaAviso .AvisoDescripcion h2 {
  text-align: initial;
  padding: 0px;
  position: initial;
}
	
/* medios de pago  */
.ch-carousel-prev:after {
    content: "";
    left: 17px;
}
.ch-carousel-prev:after, .ch-carousel-next:after {
    font-family: icons;
    position: absolute;
}
.ch-carousel-prev {
    left: 0;
}
.ch-carousel-prev, .ch-carousel-next {
    color: #666;
    cursor: pointer;
    font-size: 2em;
    height: 80px;
    line-height: 3.3em;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    width: 47px;
    z-index: 2;
}
.ch-user-no-select {
    -moz-user-select: none;
}
.ch-carousel-next:after {
    content: "";
    right: 17px;
}
.ch-carousel-prev:after, .ch-carousel-next:after {
    font-family: icons;
    position: absolute;
}
.payments-promo .ch-carousel-prev, .promotions-box .ch-carousel-next {
    font-size: 1em;
    margin-top: -16px;
}
.ch-carousel-prev, .ch-carousel-next {
    color: #666;
    cursor: pointer;
    font-size: 2em;
    height: 80px;
    line-height: 3.3em;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    width: 47px;
    z-index: 2;
}
.payments-promo .ch-carousel-adaptive {
    margin: 0 25px;
}
.payments-promo-mla {
	background-color: #FAFAFA;
	border: 1px solid #EBEBEB;
	padding: 10px;
	clear: both;
	  margin-top: 40px;
	}
.payments-promo-mla .promo-description {
    width: 18%;
    display: inline-block;
    vertical-align: middle;
}
element.style {
    overflow: hidden;
}
.payments-promo .ch-carousel {
    display: inline-block;
    margin: 0 0 0 10px;
    max-width: 52%;
    overflow: hidden;
    vertical-align: middle;
}
.payments-promo .ch-carousel li {
    float: left;
    height: 44px !important;
    width: 100px;
}
.payments-promo li {
    display: inline-block;
    height: 42px;
    margin-right: 5px;
    padding: 5px 5px 0;
    position: relative;
    text-align: center;
}
.ch-carousel-item {
    display: inline-block;
    float: left;
}
.payments-promo li {
    display: inline-block;
    height: 42px;
    margin-right: 5px;
    padding: 5px 5px 0;
    position: relative;
    text-align: center;
}
.payments-promo li span.installments {
    bottom: 0;
    font-size: 12px;
    left: 0;
    position: absolute;
    right: 0;
	color: #666;
}
.payments-promo li span {
    display: inline-block;
    vertical-align: middle;
}
.payments-medium {
    background: url("http://resources.mlstatic.com/payment-logos/payment-logos-mla-medium_v_e5175abcbf.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.payments-small, .payments-medium, .payments-large {
    display: inline-block;
    vertical-align: middle;
}

.ml-vip .selection-methods .list-item, .ml-vip .selection-methods .promos-carousel .list-item {
    height: 46px;
    margin-right: 5px;
    overflow: hidden;
    padding: 5px 5px 0;
    position: relative;
    text-align: center;
    width: 97px;
}
.ml-vip .selection-methods .list li {
    display: inline-block;
    vertical-align: middle;
}
.ml-vip .selection-methods .list-item, .ml-vip .selection-methods .promos-carousel .list-item {
    height: 46px;
    margin-right: 5px;
    overflow: hidden;
    padding: 5px 5px 0;
    position: relative;
    text-align: center;
    width: 97px;
}

.payments-small {
    background: url("http://resources.mlstatic.com/payment-logos/payment-logos-mla-small_v_e5175abcbf.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
._pagofacil-small {
    background-position: left 0;
    height: 22px;
    width: 22px;
}
._amex-small, ._2-small {
    background-position: left -24px;
    height: 19px;
    width: 22px;
}
._297-small {
    background-position: left -45px;
    height: 17px;
    width: 59px;
}
._282-small {
    background-position: left -64px;
    height: 17px;
    width: 106px;
}
._master-small {
    background-position: left -83px;
    height: 17px;
    width: 28px;
}
._cencosud-small, ._692-small {
    background-position: left -102px;
    height: 19px;
    width: 29px;
}
._331-small {
    background-position: left -123px;
    height: 15px;
    width: 100px;
}
._338-small {
    background-position: left -140px;
    height: 18px;
    width: 60px;
}
._banelco-small {
    background-position: left -160px;
    height: 17px;
    width: 56px;
}
._naranja-small {
    background-position: left -179px;
    height: 19px;
    width: 30px;
}
._303-small {
    background-position: left -200px;
    height: 10px;
    width: 83px;
}
._1026-small {
    background-position: left -212px;
    height: 19px;
    width: 45px;
}
._argencard-small {
    background-position: left -233px;
    height: 19px;
    width: 19px;
}
._1005-small {
    background-position: left -254px;
    height: 11px;
    width: 65px;
}
._rapipago-small {
    background-position: left -267px;
    height: 12px;
    width: 63px;
}
._272-small {
    background-position: left -281px;
    height: 13px;
    width: 89px;
}
._cabal-small, ._688-small {
    background-position: left -296px;
    height: 19px;
    width: 19px;
}
._1007-small, ._nativa-small {
    background-position: left -317px;
    height: 20px;
    width: 46px;
}
._294-small {
    background-position: left -339px;
    height: 19px;
    width: 53px;
}
._333-small {
    background-position: left -360px;
    height: 18px;
    width: 96px;
}
._visa-small {
    background-position: left -380px;
    height: 11px;
    width: 34px;
}
._bapropagos-small {
    background-position: left -393px;
    height: 17px;
    width: 56px;
}
._redlink-small {
    background-position: left -412px;
    height: 22px;
    width: 22px;
}
._286-small {
    background-position: left -436px;
    height: 20px;
    width: 88px;
}
._tarshop-small, ._288-small {
    background-position: left -458px;
    height: 19px;
    width: 31px;
}
._287-small {
    background-position: left -479px;
    height: 15px;
    width: 84px;
}
._279-small {
    background-position: left -496px;
    height: 17px;
    width: 68px;
}
._diners-small, ._1028-small {
    background-position: left -515px;
    height: 18px;
    width: 70px;
}
._326-small {
    background-position: left -535px;
    height: 10px;
    width: 58px;
}
._1041-small {
    background-position: left -547px;
    height: 19px;
    width: 31px;
}
.payments-medium {
    background: url("http://resources.mlstatic.com/payment-logos/payment-logos-mla-medium_v_e5175abcbf.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
._pagofacil-medium {
    background-position: left 0;
    height: 26px;
    width: 26px;
}
._amex-medium, ._2-medium {
    background-position: left -28px;
    height: 24px;
    width: 24px;
}
._297-medium {
    background-position: left -54px;
    height: 17px;
    width: 58px;
}
._282-medium {
    background-position: left -73px;
    height: 17px;
    width: 106px;
}
._master-medium {
    background-position: left -92px;
    height: 20px;
    width: 34px;
}
._cencosud-medium, ._692-medium {
    background-position: left -114px;
    height: 22px;
    width: 33px;
}
._331-medium {
    background-position: left -138px;
    height: 17px;
    width: 100px;
}
._338-medium {
    background-position: left -157px;
    height: 19px;
    width: 58px;
}
._banelco-medium {
    background-position: left -178px;
    height: 17px;
    width: 54px;
}
._naranja-medium {
    background-position: left -197px;
    height: 22px;
    width: 35px;
}
._303-medium {
    background-position: left -221px;
    height: 9px;
    width: 95px;
}
._1026-medium {
    background-position: left -232px;
    height: 23px;
    width: 54px;
}
._argencard-medium {
    background-position: left -257px;
    height: 23px;
    width: 23px;
}
._1005-medium {
    background-position: left -282px;
    height: 12px;
    width: 73px;
}
._rapipago-medium {
    background-position: left -296px;
    height: 14px;
    width: 76px;
}
._272-medium {
    background-position: left -312px;
    height: 15px;
    width: 100px;
}
._cabal-medium, ._688-medium {
    background-position: left -329px;
    height: 23px;
    width: 23px;
}
._1007-medium, ._nativa-medium {
    background-position: left -354px;
    height: 24px;
    width: 55px;
}
._294-medium {
    background-position: left -380px;
    height: 22px;
    width: 63px;
}
._333-medium {
    background-position: left -404px;
    height: 20px;
    width: 106px;
}
._visa-medium {
    background-position: left -426px;
    height: 14px;
    width: 45px;
}
._bapropagos-medium {
    background-position: left -442px;
    height: 19px;
    width: 62px;
}
._redlink-medium {
    background-position: left -463px;
    height: 27px;
    width: 27px;
}
._286-medium {
    background-position: left -492px;
    height: 25px;
    width: 102px;
}
._tarshop-medium, ._288-medium {
    background-position: left -519px;
    height: 22px;
    width: 36px;
}
._287-medium {
    background-position: left -543px;
    height: 20px;
    width: 100px;
}
._279-medium {
    background-position: left -565px;
    height: 17px;
    width: 66px;
}
._diners-medium, ._1028-medium {
    background-position: left -584px;
    height: 22px;
    width: 85px;
}
._326-medium {
    background-position: left -608px;
    height: 12px;
    width: 69px;
}
._1041-medium {
    background-position: left -622px;
    height: 28px;
    width: 45px;
}

.page-ofertas .CD{
    width: 980px;
}
.page-ofertas .boton {
    background-color: #008acf;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
}
.page-ofertas .logo {
    background-color: #008acf;
    padding: 10px 20px;
    margin: 20px 350px;
    text-align: center;
    float: left;
}
.page-ofertas .centrado {
    text-align: center;
    width: 100%;
    float: left;
}

.sosComercio {
	background-color:#008acf;
	height: 230px;
	margin-top: 90px;
	}
.sosComercio .content_sosComercio {width: 980px; margin: 0 auto;}
.sosComercio .content_sosComercio .contentLeft {	
	background-image: url("../img/macbook.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 268px;
    width: 500px;
    display: block;
    float: left;
    margin-right: 2px;
	margin-top: -38px;
	}
.sosComercio .content_sosComercio .contentRight {float: left; width: 477px;}
.sosComercio .content_sosComercio .contentRight h4,
.sosComercio .content_sosComercio .contentRight h3 {
	font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.1;
    font-weight: 100;
	margin-top: 24px;
	}
.sosComercio .content_sosComercio .contentRight span {
	border: 1px solid #FFFFFF;
	 text-transform: uppercase;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	color: #FFFFFF;
	font-size: 16px;
	    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 100;
    margin-top: 20px;
    display: block;
    width: 113px;
    margin-left: 142px;
	}
	.sosComercio .content_sosComercio .contentRight span a {color: #FFFFFF;}
