.page-alojamientos .Header {height: inherit;}
.page-alojamientos .CD {width: 980px;}
.page-alojamientos #promociones.rslides {margin-top: 0px; margin-bottom: 30px;}
.page-alojamientos .Columnas.page-arriba {margin-bottom: 0px;}
.page-alojamientos.section-alojamientos h1 {position: absolute;}
.page-alojamientos .breadcrumb {display: none;}

.clf-search-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
}
.clf-search-content h2 {
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-size: 46px;
    text-transform: uppercase;
    color: #fff;
}
.clf-search-content .block-alojamientos_principal {
  margin-top: 35px;
  padding: 13px 15px;
  display: inline-block;
  color: #666;
  border-radius: 6px;
  background: rgba(0, 0, 0, .5);
  background-clip: padding-box;
}

/* DESTINOS */
.BloqueDestinosDestacados .Title {position: relative; padding-top: 30px; padding-bottom: 30px;}
.BloqueDestinosDestacados .Title h2,
.CD .BloqueDestinosDestacados .Title h2 {color: #666666; text-align: left; margin-bottom: 25px; font-size: 36px; position: relative; display: inline-block; margin: 0; font-weight: 100; float: none;}
.BloqueDestinosDestacados .lista ul li.left {float: left;}
.BloqueDestinosDestacados .lista ul li.espaciado {margin-left: 35px;}
.BloqueDestinosDestacados .lista ul li.top {margin-bottom: 25px;}

/* Recomendados */
.block-clasificados_destacados_home .contentFicha{
  float: left;
  margin-bottom: 20px; 
  background-color: #f5f5f5;
}
.block-clasificados_destacados_home .contentFicha.espacio-right{margin-right: 38px;}
.block-clasificados_destacados_home .contentFicha .AvisoDescripcion h4{
  font-family: 'OpenSansLight', Arial, sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: #333;
  background: none;
  padding: 5px;
  max-width: 290px;
  height: 40px;
}
.block-clasificados_destacados_home .contentFicha .precio-mapa{
  position: absolute;
  margin-top: -57px;
  color: #333;
  background-color: #FFF;
  padding: 5px;
  width: 85px;
  height: 44px;
  text-align: center;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  padding-left: 14px;
}
.block-clasificados_destacados_home .contentFicha .precio-mapa span{
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 18px;
  margin-top: 5px;
  color: #333;
  float: left;
  line-height: 22px;
}
.block-clasificados_destacados_home .contentFicha .precio-mapa p{
  float: left;
  margin-left: 7px;
}
   