@charset "UTF-8";
/* HOME CSS */

/* Home 100% */
.front .Contenido .Columnas {width: 100%;}
.front .ConBannerLateral .Columnas {width: 1250px;}
.front .ConBannerLateral .banner.sticky.lateral {right: 0;}

.front .CD {width: 100%;}

/*Bloque Destacado Top*/

.GradientDestacado {margin-top: 15px;margin-right: auto;margin-bottom: 10px;	margin-left: auto;}
.ConBannerLateral .GradientDestacado {width: 1250px;}


.SombraDestacado {margin:0 auto;padding-bottom:7px;	background-attachment: scroll;background-color: transparent;background-image: url(../img/fd_destacado_sombra.gif);background-repeat: no-repeat;background-position: center bottom;}
.GradientDestacado .SombraDestacado {background-position: center 245px;}
.FondoAutoDestacado {min-height:255px;}
.FondoAutoDestacado .CT {
	border: 1px solid #D1D0CE;
	background-image: url(../img/back_home_top.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 221px;
}
.ConBannerLateral .FondoAutoDestacado .CT {margin: initial;}
.ConBannerLateral .Columnas .CR {margin-right: 21.5%;}

.FondoAutoDestacado .CR {width: 320px;}
.FondoAutoDestacado .CD {width: 640px !important;}
.CD .Buscador {float:left;background-image: url(../img/fd_buscador.gif);background-repeat: no-repeat;background-position:right center; margin-right:10px; width:320px; height: 221px; padding-top: 15px; padding-left: 15px;}
.CD .Buscador #buscador_home p a{color:#333333;}
.CD .Buscador .select-negro, .CD .Buscador .select-negro1, .CD .Buscador .select-negro2{ margin-bottom:10px;}
.CD .Buscador  #texto_busqueda, .section-search  #texto_busqueda, .section-category  #texto_busqueda{ border: 1px solid #CCCCCC; float: left; height: 25px; padding: 4px 2px 0 5px; width: 283px; color: #333; font-size: 12px;}
.CD .Buscador .IcoBuscar {background: url(../img/ico_buscar.png) no-repeat 0 0; height: 31px; margin-left: 260px;  width:32px; cursor:pointer; position:relative; /*ie7*/*margin-top:-41px; }
.section-search .IcoBuscar, .section-category .IcoBuscar{background: url(../img/ico_buscar.png) no-repeat 0 0; height: 31px; margin-left: 260px;  width:32px; cursor:pointer; position:relative;}
.CD .Buscador .label-buscador{font-size: 13px; font-weight: bold;}
.CD .Buscador .Boton a { padding-left:30px; padding-right:30px; _width:47px; }
.CD .Buscador h2 {width:100%; height:20px; margin-bottom:5px; font-size: 20px; color: #333}
.CD .Buscador p { line-height:30px;}
.CR .Publicar .Impresa {background-image: url(../img/Publicar_impresa.gif);background-repeat: no-repeat;background-position: right bottom;}
.CR .Publicar .Online { padding-bottom: 10px;
width: 270px;
color: #333;
font-size: 17px;
margin-left: 20px;
font-weight: normal; line-height: 1.1;}
.CR .Publicar h2, .CR .Publicar h3 {height: 23px;
width: 225px;
padding-top: 19px;
margin-left: 20px;
font-size: 20px;
color: #333;
padding-bottom: 0px;}
.CR .Publicar h4 { color:#008ACF; font-size:16px; font-weight:bold; line-height:21px;}
.CR .Publicar p { color:#333333; font-size:13px; margin-bottom:5px;}
.CR .Publicar .opciones {color:#000000;font-weight:bold;background-image: url(../img/ico_tilde.gif);background-repeat: no-repeat;background-position: left center;padding-left:20px; line-height:20px; display:block; font-size:12px;}
.CR .Publicar .opciones a {color:#000000}
.CR .Publicar .opNum {background-image:url("../img/Publicar_fd_opNum.gif");background-position:left top;background-repeat:no-repeat;color:#008ACE;display:block;font-size:13px;font-weight:bold;height:23px;margin-left:20px;padding-left:9px;padding-top:4px;width:107px;}
.CR .Publicar .Boton { float: none;
height: 28px;
margin-left: 20px;
width: 125px;
} 
.CR .Publicar .Boton a { font-size:12px;  height:28px; padding-left: 10px; _width:47px; position:static; background-color: #323943; -webkit-border-radius: 3px;border-radius: 3px; width: 100%;}
.CR .Publicar .inmuebles a { background-color: #008ACF !important;}
.BuscadorSegmento{
	background-image: url(../img/fd_buscador.gif);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  float:left;
	margin-right:10px;
	width: 320px;
	height: 250px;
	padding-left: 15px;
	padding-top: 15px;
}
.BuscadorSegmento h2, .BuscadorSegmento h3{width:200px; height:22px;  margin-bottom:15px; margin-left: 5px; font-size: 20px; color: #333;}
.BuscadorSegmento .ContentSegmento li {float: left; margin-bottom: 0px; width: 73px;  text-align: center;margin-right: 30px;}
.BuscadorSegmento p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#333333; margin-bottom: 6px;}
.BuscadorSegmento p a{color:#333; text-decoration:none;}
.CM .BuscadorSegmento .nuevo0km .Icono a {background:url(../img/sprite.png) no-repeat 0 -309px; width:46px; border:none; display: block;height: 45px; margin-bottom: 8px;  }
.CM .BuscadorSegmento .usados .Icono a {background:url(../img/sprite.png) no-repeat 0 -357px; width:46px; border:none; display: block; height: 45px; margin-bottom: 8px;  }
.CM .BuscadorSegmento .accesorios .Icono a {background:url(../img/sprite.png) no-repeat 0 -451px; width:41px; border:none; display: block; height: 41px; margin-bottom: 8px; }
.CM .BuscadorSegmento .ahorro .Icono a {background:url(../img/sprite.png) no-repeat 0 -407px; width:46px; border:none; display: block; height: 41px; margin-bottom: 8px; }
.CM .BuscadorSegmento .ahorro  p {padding-left: 4px;}
.CM .BuscadorSegmento .autos .Icono a {background:url(../img/IconoAutos.png) no-repeat center center; width:83px; border:none; display: block; height: 41px; margin-bottom: 8px; }
.CM .BuscadorSegmento .autos .Icono {padding-left: 0px; width: 83x; margin-right: 10px;}
.CM .BuscadorSegmento li.autos {width: 83px; margin-right: 26px;}
.CM .BuscadorSegmento .camionetas .Icono a {background:url(../img/IconoCamioneta.png) no-repeat center center; width:66px; border:none; display: block; height: 41px; margin-bottom: 8px; }
.CM .BuscadorSegmento .camionetas .Icono {padding-left: 0px;}
.CM .BuscadorSegmento .motos .Icono a {background:url(../img/bike.png) no-repeat center center; width:66px; border:none; display: block; height: 41px; margin-bottom: 8px; }
.CM .BuscadorSegmento .motos .Icono {padding-left: 0px;}
.BuscadorSegmento .casas .Icono a {background:url(../img/spriteinmob.png) no-repeat 0 -306px; width:47px; border:none; display: block;height: 48px; margin-bottom: 10px;  }
.BuscadorSegmento .depto .Icono a {background:url(../img/spriteinmob.png) no-repeat 0 -354px; width:49px; border:none; display: block; height: 50px; margin-bottom: 8px;  }
.CM .BuscadorSegmento .lotes .Icono a {background:url(../img/spriteinmob.png) no-repeat 0 -442px; width:54px; border:none; display: block; height: 51px; margin-bottom: 8px; }
.CM .BuscadorSegmento .emprendimientos .Icono a {background:url(../img/spriteinmob.png) no-repeat 0 -406px; width:62px; border:none; display: block; height: 35px; margin-bottom: 15px; margin-top: 5px;}
.CM .BuscadorSegmento .locales .Icono a {background:url(../img/icono-locales.png) no-repeat top center; width:62px; border:none; display: block; height: 35px; margin-bottom: 15px; margin-top: 5px;}
.CM .BuscadorSegmento .locales p {text-align: right; padding-right: 5px;}
.CM .BuscadorSegmento .oficinas .Icono a {background:url(../img/icono-oficinas.png) no-repeat left 5px; width:62px; border:none; display: block; height: 35px; margin-bottom: 15px; margin-top: 5px;}
.CM .BuscadorSegmento a.Tipo {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#FF921A; float:left; margin-right: 4px; width: 58px;  -moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: #FFF;}
.CM .BuscadorSegmento a.Tipo:hover { color: #000;}
.BuscadorSegmento .Icono {padding-left:15px; width:60px;}
.BuscadorSegmento .Icono a {margin-bottom: 3px;}
.FondoAutoDestacado .CL {margin-right: 0;}
.CT .Publicar {
	width: 320px;
	height: 221px;
}
.transparencia {
  background: rgba(0 0 0 0.5);
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 2;
}
/* Selectmenu----------------------------------
.Buscador select { width: 200px; }*/
.ui-selectmenu { display: block; position:relative; height:20px; text-decoration: none; overflow:hidden; margin-bottom:10px;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block;font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {display:block; padding:.3em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 12px; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

/* NUEVO HEADER HOME */
.Header .Buscador.sin-form {width: 440px;}
.clf-search-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  transform: translateY(-50%);
  text-align: center;
}
.clf-search-content h2 {
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 46px;
  text-transform: uppercase;
  color: #fff;
}
.clf-searchbox {
  margin-top: 35px;
  padding: 13px 15px;
  display: inline-block;
  color: #666;
  border-radius: 6px;
  background: rgba(0, 0, 0, .5);
  background-clip: padding-box;
}
.clf-searchbox input, 
.clf-searchbox textarea, 
.clf-searchbox select {
    margin: 9px 0;
    padding: 10px 15px;
    font-size: 15px;
    color: #666;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-clip: padding-box;
}
.clf-searchbox input.termino {
  margin: 0;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 16px;
  border: 0;
  width: 500px;
}
.clf-searchbox input.codigo {
  width: 140px;
  margin-right: 12px;
}
.clf-searchbox select.categoria {
  height: 42px;
  padding-left: 45px;
  background: #fff;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 16px;
  border: 0;
  width: 220px;
  margin: 0 12px;
}
.clf-searchbox .submit {
  padding: 7px 13px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-clip: padding-box;
  color: #fff;
  background-color: #0089cf;
  cursor: pointer;
  border: 0;
  height: 42px;
  margin: 0;
  font-family: 'OpenSansBold', Arial, sans-serif;
}
.clf-network {
  width: 100%;
  height: 120px;
  margin-top: -2px;
  text-align: center;
}
.clf-network .col-full {
  width: 100%;
  max-width: 1050px;
  margin: auto;
}
.clf-network .col-full {
  height: 100%;
}
.clf-network ul {
  list-style: none;
  height: 100%;
}
.clf-network ul li {
  display: inline-block;
  width: 130px;
  height: 100%;
}
.clf-network ul li a {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  display: inline-block;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 14px;
  color: #211916;
}
.clf-network ul li a span {
  padding: 2px 10px;
  background-color: #E7E6E4;
}
.clf-network i.lv {
  font-family: 'lavoz-new-icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  color: #0089cf;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clf-network .lv,
.clf-network .fa,
.clf-network .fas,
.clf-network .far {
  height: 62px;
  margin: 0 0 15px;
  display: block;
  font-size: 50px;
  line-height: 80px;
  color: #666;
}
.lv-autos {
  height: 49px;
  background: url('../img/lv-autos.png') no-repeat center bottom;
}
.lv-tiendas {
  background: url('../img/lv-tiendas.png') no-repeat center bottom;
}
.lv-empleos {
  background: url('../img/lv-empleos.png') no-repeat center bottom;
}
.lv-servicios {
  background: url('../img/lv-servicios.png') no-repeat center bottom;
}
.lv-inmuebles:before {content: '\e903';}
.clf-network .fa-home {color: #A2BD30;}
.clf-network .fa-car-alt {color: #C00812;}
.clf-network .fa-gift {color: #EDC501;}
.clf-network .fa-briefcase {color: #DC9600;}
.clf-network .fa-book {color: #7B087F;}
.clf-network .fa-balance-scale {color: #019CDE;}
.clf-network .fa-handshake {color: #B90179;}

/* Banner Promociones */
#promociones {position: relative; overflow: scroll; margin-top: 51px;}
#promociones.rslides {position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; margin-top: 51px; max-height: 420px;}

#promociones.rslides {margin-top: -19px;}

#promociones .belt {position: absolute; left: 0; top: 0;}
#promociones.rslides li {-webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0;}
#promociones .panel{float: left; overflow: hidden; width: 100%;}
.promo-pag {width: 540px; text-align:center; text-align: center; position: absolute; right: 31%; margin-top: -35px;}
#promociones.rslides li:first-child {position: relative; display: block; float: left;}
#promociones.rslides img {display: block; height: auto; float: left; width: 100%; border: 0;}

#promociones.rslides.autos {margin-bottom: 15px;}

ul.rslides_tabs {
text-align: center;
    width: 132px;
    height: 49px;
    /* position: absolute; */
    /* margin-top: -23px; */
    z-index: 999;
    margin: 0 auto;
    margin-top: -49px;
	}
ul.rslides_tabs li{
	display: block;
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
	float: left;
	}
ul.rslides_tabs li a{
	font-size: 0;
    display: block;
	}
ul.rslides_tabs li.rslides_here {
	background: #008ACF;
	}

/* Seccion Historial Usuario */
#block-clasificados-historial_visitas_usuario {background-color: #EDEDED; padding-top: 10px; padding-bottom: 40px; margin-bottom: 30px;}
.ConBannerLateral #block-clasificados-historial_visitas_usuario {margin-left: 138px; margin-right: 132px;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide {height: initial;}
#block-clasificados-historial_visitas_usuario .historial {display: none;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .bloque_historial_avisos .AvisoDescripcion h5 {height: 39px;
    overflow: hidden;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .lista.no-slide {width: 980px;	margin-left: 28px;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .lista.no-slide ul {width: inherit;	}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .lista.no-slide ul .CajaAviso {margin-right: 38px;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .lista.no-slide ul .CajaAviso .imgAviso a {    display: block; height: 133px; text-align: center;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .lista.no-slide ul .CajaAviso .imgAviso a span {display: inline-block; height: 100%; vertical-align: middle;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .lista.no-slide ul .CajaAviso .imgAviso a img.imagecache-ficha_aviso_173_115_sc {width: inherit; vertical-align: middle;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .lista.no-slide ul .CajaAviso .imgAviso a img.img-producto {width: inherit; vertical-align: middle;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .Title {background-color: initial;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide hr {border: 1px solid #666666; display: none;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide h3 {background-color: #EDEDED; font-size: 35px; font-weight: 100; line-height: 0.9; z-index: 1;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide h3 a {color: #666666}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .accessible_news_slider {background-color: initial;}
#block-clasificados-historial_visitas_usuario .AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso {background-color: #FFF;}
#block-clasificados-historial_visitas_usuario .destacados-ver-mas {height: 30px;}
.content-mensaje-historial {display:none;}
#modal-mensaje-historial h4 {color: #008ACF; font-size: 21px; padding-bottom: 5px; text-align: center; margin-top: 15px;}
#modal-mensaje-historial .msj-historial-chico {text-align: center; font-size: 14px;}
.msj-historial-btns {margin-top: 40px; text-align: center;}
.msj-historial-btns .btn-confirm { margin-right: 43px;}
.msj-historial-btns .btn-cancel { margin: 0px; font-size: 14px; border: medium none; color: #FFFFFF; cursor: pointer;    font-family: 'openSans', Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; border-radius: 2px;   background-color: #E10019; padding-left: 20px; padding-right: 20px; padding-bottom: 10px; padding-top: 10px;    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
#block-clasificados-historial_visitas_usuario .BloqueTiendas {height: 444px;}
#block-clasificados-historial_visitas_usuario .BloqueTiendas li {float: left;}
#block-clasificados-historial_visitas_usuario .BloqueTiendas .LogoTienda {text-align: center; width: 200px; height: 75px;}

/*Avisos Destacados Viejos*/
.AvisosDestacados .Borde {padding-bottom:0px;padding-left:0px;padding-right:0px;}
.AvisosDestacados h1, .CD .AvisosDestacados h2, 
.CD .AvisosDestacados h3,
.CR .AvisosDestacados h3 { color:#333; font-size:22px; float:left; line-height:22px;}
.CR .AvisosDestacados h3 {font-size:18px;}
.AvisosDestacados h2 { margin-bottom: 10px; }
.AvisosDestacados {padding-top: 0px !important;}
.page-autos .AvisosDestacados {height: 700px;}
.page-inmuebles .AvisosDestacados {height: 240px; margin-bottom: 10px;}
.page-inmuebles .region-page-media .AvisosDestacados {margin-top: 30px;}
.AvisosDestacados .vermas { float:right; color:#333;}
.CajaAviso { float:left; width:99px; margin-right:10px; margin-top:10px;}
html>body .CajaAviso { float:left; width:314px; margin-right:10px; margin-bottom:0px; border: 1px solid #D1D0CE; height: 211px; padding: 2px; position:relative;}
html>body .CajaAviso.new {width:207px; border: none; padding: 0px;}
html>body .CajaAviso.newDer {width:140px; border: none; padding: 0px; height: 174px;}
html>body .CajaAviso.Par {margin-right: 0px !important; float: right;}
.CajaAviso .imgAviso {overflow: hidden; height: 211px;}
.CajaAviso .imgAviso img{width: 100%; height: auto;}
.CajaAviso .AvisoDescripcion {
	position: relative;
	width: 304px;
	background-image: url(../img/back_aviso_destacado.png);
	background-repeat: repeat;
	background-position: left top;
	padding-top: 10px;
	position:absolute;
	bottom: 0px;
}
.CajaAviso.new .AvisoDescripcion {width:207px;}
.CajaAviso.newDer .AvisoDescripcion {width:140px;}
.CajaAviso .AvisoDescripcion .entrega {}
.CajaAviso .AvisoDescripcion .pago span {
	    background-image: url("../img/ico-envio-domicilio.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 24px;
    width: 22px;
    display: block;
    float: left;
    margin-right: 2px;
	}
.CajaAviso .AvisoDescripcion .domicilio span, .CajaAviso .AvisoDescripcion .gratuito span {
	    background-image: url("../img/ico-envio-domicilio.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 24px;
    width: 22px;
    display: block;
    float: left;
    margin-right: 2px;
	}
.CajaAviso .AvisoDescripcion .sucursal span {
	    background-image: url("../img/ico-retiro-sucursal.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 24px;
    width: 22px;
    display: block;
    float: left;
    margin-right: 2px;
	}
.CajaAviso .AvisoDescripcion .entrega p {float: left; color: #999999; font-size: 14px; margin-top: 3px;}
.CajaAviso .AvisoDescripcion .entrega.gratuito p {color: #008acf; font-weight: 600;}

.CajaAvisoLast { margin-right:0px;}
.CajaAviso h4, .CajaAviso h5 { color:#000000; font-size:12px; font-weight:bold; line-height:18px; display:block; height: 36px; overflow: hidden;}
.CajaAviso h4 a, .CajaAviso h5 a { color:#000000; display:block; opacity: 0.99; overflow: hidden;}
.CajaAviso p { color:#2c2c2c; font-size:11px; line-height:13px;}
.CajaAviso span.precio { font-size:16px; font-weight:600; color:#A92319; line-height:23px;}
.CajaAviso .imagen { display:block; margin-bottom:5px;}
.CD .Content .SinBorde { border-bottom:0 none;}
.CD .view-listado-publicaciones .item-list { display: none; }
.CD li.statistics_counter{ display: none; }

/*Avisos Destacados Nuevos*/
.AvisosDestacadosSlide {width: 980px; height: 400px; margin: 0 auto;}
.AvisosDestacadosSlide .Title{position: relative; padding-top: 40px; padding-bottom: 40px; text-align: center; background-color: #fff; z-index: 1;}
.AvisosDestacadosSlide h2, .AvisosDestacadosSlide h3 {color: #666666; text-align:center; margin-bottom: 25px;	font-size: 36px;  position: relative; z-index: 1030; display: inline-block; margin: 0; padding-right: 30px; padding-left: 30px; background-color: #fff; font-weight: 100;}
.AvisosDestacadosSlide h2 a, .AvisosDestacadosSlide h3 a, .AvisosDestacadosSlide h4 a {
	color: #666666; text-align:center; margin-bottom: 25px;	font-size: 36px;  position: relative; z-index: 1030; display: inline-block; margin: 0; padding-right: 30px; padding-left: 30px; background-color: #EDEDED; font-weight: 100;
	}
.AvisosDestacadosSlide hr {z-index: 1000; width: 100%; position: absolute; top: 50%; margin: -1px 0 0; border: 1px solid #EBEBEB; height: 0;}
.AvisosDestacadosSlide .navigation li strong {     font-size: 18px;
    color: #666;
    margin-bottom: 10px;
    display: block;	}
.AvisosDestacadosSlide .navigation li a {     font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;}
.AvisosDestacadosSlide .accessible_news_slider {width:778px; display:block; background: #FFF; height: 285px; float: left;}
.AvisosDestacadosSlide .accessible_news_slider.no-slide {width:990px;}
.AvisosDestacadosSlide .accessible_news_slider .Botones{width:800px; font-size: 0; position: relative; top: 3px;}
.AvisosDestacadosSlide .accessible_news_slider .Botones span.slide-button{background-attachment: scroll; background-color: transparent; background-image: url("../img/fd_FlechasAzules.png"); background-position: 0 0; background-repeat: no-repeat; height: 50px; width: 36px; position: absolute; z-index: 5; top: 100px; display: block; cursor: pointer;}
.AvisosDestacadosSlide .accessible_news_slider .Botones .back span.slide-button {background-position: left top; left: 10px;}
.AvisosDestacadosSlide .accessible_news_slider .Botones .next span.slide-button {background-position: right top; right: 32px;}
.AvisosDestacadosSlide .accessible_news_slider .lista {width:620px; margin-left: 80px; position: relative; overflow: hidden; top: 0px;}
.AvisosDestacadosSlide .accessible_news_slider .lista.no-slide {width:850px;}
.AvisosDestacadosSlide .accessible_news_slider .lista ul {left: 0; overflow: hidden; position: relative; z-index: 1; padding: 0; float: left; margin-right: 0px; width: 266px; display: block;}
.AvisosDestacadosSlide .accessible_news_slider .lista ul.Slider {width: 210px;}
.AvisosDestacadosSlide .accessible_news_slider .lista ul.no-Slider {width: 632px;}
.AvisosDestacadosSlide .accessible_news_slider .lista.no-slide ul {width:850px;}
/* Caja Aviso */
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso
, .search-results .CajaAviso
, .BloqueListaProductos .CajaAviso {width: 178px; padding: 10px; height: 260px; /*margin-right: 25px; margin-bottom: 25px;*/ border: 1px solid #D1D0CE;}
.AvisosDestacadosSlide .lista li.Last .CajaAviso{margin-right: 0;}
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .imgAviso
, .search-results .CajaAviso .imgAviso
, .BloqueListaProductos .CajaAviso .imgAviso {	width: 178px; height: 133px;}
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .AvisoDescripcion
, .search-results .CajaAviso .AvisoDescripcion
, .BloqueListaProductos .CajaAviso .AvisoDescripcion {	width: 178px;	bottom: 2px;    position: initial;}
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .AvisoDescripcion .btn-comprar,
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .btn-comprar,
.page-productos .CajaAviso .AvisoDescripcion .btn-comprar,
.page-ofertas .CajaAviso .AvisoDescripcion .btn-comprar,
.search-results .CajaAviso .AvisoDescripcion .btn-comprar,
.Ofertas .CajaAviso .AvisoDescripcion .btn-comprar {
    background-color: #008acf;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FFF;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    width: 92px;
    font-weight: 600;
	    margin-top: 5px;
		clear:both;
		}
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .AvisoDescripcion .btn-comprar span,
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .btn-comprar span,
.page-productos .CajaAviso .AvisoDescripcion .btn-comprar span, 
.page-ofertas .CajaAviso .AvisoDescripcion .btn-comprar span,
.search-results .CajaAviso .AvisoDescripcion .btn-comprar span,
.Ofertas .CajaAviso .AvisoDescripcion .btn-comprar span {
    background-image: url("../img/btn-carrito.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 23px;
    width: 22px;
    display: block;
    float: left;
    margin-right: 5px;
	}
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .AvisoDescripcion h4,
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .AvisoDescripcion h4 a,
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .AvisoDescripcion h5,
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .AvisoDescripcion h5 a
 {font-size: 14px; color: #2E3641; font-weight:bold;}
.AvisosDestacadosSlide .accessible_news_slider .lista .CajaAviso .AvisoDescripcion .precio
, .search-results .CajaAviso .AvisoDescripcion .precio
, .BloqueListaProductos .CajaAviso .AvisoDescripcion .precio {line-height: 30px; width: 100%; float: left;}
.CajaAviso .AvisoDescripcion .mensajePago {color: #666666; font-size: 14px;}
.destacados-ver-mas {color: #008ACF; display: inline-block; font-size: 14px; font-weight: bold; margin-top: 5px; padding: 0 0 0.25em 1em;}
.AvisosDestacadosSlide .CajaAviso .Carrito {top: 0px; left: 140px;}
#block-clasificados_destacados_home-clasificados_home_productos_clas .CajaAviso .AvisoDescripcion h5 a {max-height: 36px;}

/*Los más Buscados*/
.CD .MasBuscados { margin-bottom:15px;}
.CD .MasBuscados .Borde {padding-bottom:10px;padding-left:0px;padding-right:10px;}
.CD .MasBuscados  h2, .CD .MasBuscados  h3 { color:#333; font-size:22px; float:left; line-height:22px;}
.CD .MasBuscados .vermas { float:right; color:#333;}
.CD .MasBuscados .CajaBuscado p { font-family:Arial, Helvetica, sans-serif; color: #000; font-size:12px; /*text-transform: uppercase; */font-weight:bold; margin-bottom: 8px;}
.CD .MasBuscados .CajaBuscado ul.Left {     border-right: 1px solid #E4E5E8;
    float: left;
    margin-right: 23px;
    padding-right: 8px;
    width: 123px;}
.CD .MasBuscados .CajaBuscado ul.Right { float:left; width:123px;}
.CD .MasBuscados .CajaBuscado li { font-family:Arial, Helvetica, sans-serif; font-size:12px; color: #333; line-height: 1.8; width: 95%; padding-left: 5%; float: left; background: url("../img/sprite.png") no-repeat scroll 0 -20px transparent;}
.page-inmuebles .CD .MasBuscados .CajaBuscado li {width: 45%;}
.CD .MasBuscados .CajaBuscado li a {color: #333; text-transform: none;}
.CD .MasBuscados .CajaBuscado li a:hover { color: #E11920;}
.CD .MasBuscados .Uno { border-bottom: 1px solid #E4E5E8;  border-right: 1px solid #E4E5E8; float: left; padding: 12px; width: 280px; padding-left:0;}
.CD .MasBuscados .Dos { border-bottom: 1px solid #E4E5E8; float: left;  padding-right: 12px; padding-left: 22px; padding-top: 12px;width: 280px; padding-bottom: 12px;}
.CD .MasBuscados .Tres {  border-right: 1px solid #E4E5E8; float: left; padding: 12px; width: 280px;padding-left:0;}
.CD .MasBuscados .Cuatro { float: left; padding-right: 12px; padding-left: 22px; padding-top: 12px;width: 280px; padding-bottom: 12px; width: 280px;}

/* Links Edicion Impresa */
.links_impresa {    margin: 0 auto;
    width: 950px;
    margin-top: 112px;
    height: 20px;
    clear: both;
    border: 1px solid #ebebeb;
    padding: 15px;
    margin-bottom: 20px;}
.links_impresa h3{font-weight: bold; text-transform: uppercase; float: left; font-size: 22px; margin-right: 15px; color: #008ACF;}
.links_impresa .lista{line-height: 1.1;}
.links_impresa .lista a{font-size: 13px; color: #E10019;}

/*Caja 300*/
.CajaBorde { border:1px solid #D1D0CE;}
.CR .CajaBorde .Sombra {background-image: url(../img/Sombra_Caja.jpg);background-repeat: repeat-x;background-position: center bottom; padding:10px;}
/* html>body .CR .CajaBorde .Sombra {background-image: url(../img/Sombra_Caja.jpg);background-repeat: repeat-x;background-position: center bottom; padding:13px 34px 13px 15px;} */
.CR .CajaBorde h2, .CR .CajaBorde h4 { font-size:16px; font-weight:bold; color:#333; line-height:18px;}
.CR .CajaBorde .Boton { margin-left:10px; margin-top:14px;}
.CR .CajaBorde .Boton a { font-size:12px; _width:55px;}

/*Form*/
.CR .CampoForm { height:25px; width:110px; border-color:#ACADB2 #E4E3EB #E4E3EB; border-style:solid; border-width:1px; color:#000000; font-size:12px; padding-left:7px; margin-top:15px;  -moz-border-radius: 3px; -webkit-border-radius: 3px; float:left;}


/*Modulo Generico*/
.Generico {border-bottom:1px solid #D4D3D1; border-right:1px solid #D4D3D1; border-left:1px solid #D4D3D1;}
.Generico .Linea {background:none repeat scroll 0 0 #DDD;font-size:0;height:7px;line-height:0;padding-left:7px;}
.Generico .Linea .Blanco {background:none repeat scroll 0 0 #FFFFFF;display:block;font-size:0;height:7px;line-height:0;width:3px;}
.Generico .Titulo, .Generico .Titulo h3, .Generico .Titulo h4 {font-size:16px;padding:10px 10px 0; font-weight:bold; color: #008ACF;}
.Generico .Titulo a {color:#008ACE;}

/*Avisos edicion impresa*/
.AvisoImpresa .Listado {border-top:1px solid #E5E5E5;margin-top:10px;padding:10px;}
.AvisoImpresa ul {clear:both;}
.AvisoImpresa li {background:url(../img/Bullet_Naranja.gif) no-repeat scroll 0 5px transparent;padding:0 0 3px 18px;}
.AvisoImpresa li a {color:#000000;}
.AvisoImpresa .CajaMensaje{ width:240px;}
.AvisoImpresa .CajaMensaje {margin-left:25px;width:240px; margin-bottom:10px; display:block;}

/*Marcas Destacadas*/
.Sombra {background-image: url(../img/Sombra_Caja.jpg);background-repeat: repeat-x;background-position: left bottom !important;}
.CrearAnuncio .Sombra {background: none;}
.MarcasDestacadas .Inner {background-image:url("../img/MarcasDestacada_Sombra.gif");background-position:right center;background-repeat:no-repeat;height:66px;padding-top:25px;width:125px; float:left;}
.MarcasDestacadas .Inner .Titulo {padding-left:15px; float:left;}
.MarcasDestacadas .Content { padding:0;}
.MarcasDestacadas .Marcas { float:left;cursor:pointer; background-image: url(../img/MarcasDestacadas.jpg);background-repeat: no-repeat; margin-top:5px; height:86px;}
.MarcasDestacadas a.Renault {background-position: left 0; width:75px;}
.MarcasDestacadas a.Renault:hover {background-position: left 98%;}
.MarcasDestacadas a.VW {background-position: 16% 0;width:88px;}
.MarcasDestacadas a.VW:hover {background-position: 16% 98%;}
.MarcasDestacadas a.Fiat {background-position: 35% 0;width:75px;}
.MarcasDestacadas a.Fiat:hover {background-position: 35% 98%;}
.MarcasDestacadas a.Peugeot {background-position: 52% 0;width:80px;}
.MarcasDestacadas a.Peugeot:hover {background-position: 52% 98%;}
.MarcasDestacadas a.Chevrolet {background-position: 75% 0;width:106px;}
.MarcasDestacadas a.Chevrolet:hover {background-position: 75% 98%;}
.MarcasDestacadas a.Ford {background-position: 100% 0;width:100px;}
.MarcasDestacadas a.Ford:hover {background-position: 100% 98%;}

/*Concesionarias*/
.Concesionarias .Inner .Titulo, .Concesionarias .Inner .Titulo h4 {float:left;padding-left:15px; margin-top:9px;}
.Concesionarias fieldset { float:left; margin-left:25px; margin-right:15px; margin-top:5px;}
.Concesionarias .Boton a { font-size:12px; padding-left:20px; padding-right:20px; _width:40px;}
.Concesionarias .boton-naranja{height:26px; margin:0;}
/*Noticias*/
.Noticias .Content { padding-top:10px; padding-bottom:10px;}
.Noticias .Content.productos { margin: 0px 50px;}
.Noticias .Caja_Solapas{height:30px; margin-bottom:15px; width: 100%; float:left;}
.Noticias .Caja_Solapas .Solapas {border-bottom:1px solid #CAC9C7; padding:0 0 0 10px; background:none; margin-bottom:15px; float:none;}
.Noticias .Caja_Solapas .Solapas li { background:none repeat scroll 0 0 #FFFFFF;}
.Noticias .Caja_Solapas .Solapas .Act {background:none repeat scroll 0 0 #FFFFFF; bottom:-3px;}
.Noticias .Caja_Solapas .Solapas li a {color:#000000;font:14px Arial,Helvetica,sans-serif;}
.Noticias .Caja_Solapas .Solapas .Act a {color:#008ACE;font-weight:bold;}
.Noticias .linkNoticias .Nota{background-color:#F1f1f1;}
.Noticias .linkNoticias:hover .Nota{background-color:#008ACE;}
.Noticias .linkNoticias .Nota .Sombra {background-image: url(../img/fd_noticias_sombra.jpg);background-repeat: no-repeat;background-position: center center; margin-bottom:4px;margin-top:10px; padding-bottom:0; height:6px;}
.Noticias .Nota { float:left; width:208px; margin-left:7px; _margin-left:5px;/*background-image:none; margin-bottom:4px;margin-top:10px; padding-bottom:0; height:6px;*/}
.Noticias .linkNoticias:hover .Nota .Sombra {background-image: url(../img/fd_noticias_sombra.gif);}
.Noticias .Nota h2, .Noticias .Nota h4 {  font-size:18px; color:#000000; line-height:20px;margin-bottom:20px; padding-right:13px; padding-left:13px; font-weight:normal;}
.Noticias .Nota h2 a { color:#000000}
.Noticias .Nota p { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3A3A3A; padding-right:13px; padding-left:13px;}
.Noticias .Nota .Inner { padding-top:10px; padding-bottom:10px;}
.Noticias .linkNoticias .Nota .Inner { min-height:200px;}
.Noticias .linkNoticias:hover .Nota h2 { color:#FFFFFF;}
.Noticias .linkNoticias:hover {text-decoration:none;}
.Noticias .linkNoticias:hover .Nota  .Sombra {background-image: url(../img/fd_noticias_sombra.gif);background-repeat: no-repeat;background-position: center center; margin-bottom:4px;margin-top:10px; padding-bottom:0; height:6px;}
.Noticias .Nota img { display:block; height:117px;}
.AvisoImpresa .vermas{font-size:11px;padding:10px;}
.AvisoImpresa .vermas a{color:#008ACF;}
div.region-login-superior #user-login-form .item-list ul li.last{}
div.region-login-superior #user-login-form .item-list ul li.last a {font-size:11px; margin-left:-8px;}

.Contenido #block-views-notas-block_1 .content,
.Contenido #block-views-notas-block_2 .content,
.Contenido #block-views-notas-block_3 .content,
.Contenido #block-views-notas-block_4 .content {
  width: 980px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
}

.Contenido.ConBannerLateral #block-views-notas-block_1 .content,
.Contenido.ConBannerLateral #block-views-notas-block_2 .content,
.Contenido.ConBannerLateral #block-views-notas-block_3 .content {
  width: 1250px;
}

#block-views-notas-block_1 .tit-modulo,
#block-views-notas-block_2 .tit-modulo,
#block-views-notas-block_3 .tit-modulo,
#block-views-notas-block_4 .tit-modulo {
  border-left: solid 5px #444;
  color: #444;
  text-transform: uppercase;
  padding: 0 0 0 10px;
  font-weight: 500;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5rem;
  margin: 0 0 25px 10px;
  height: 23px;  
}
#block-views-notas-block_1 .tit-modulo a,
#block-views-notas-block_2 .tit-modulo a,
#block-views-notas-block_3 .tit-modulo a,
#block-views-notas-block_4 .tit-modulo a {
  color: #444;
}
#block-views-notas-block_1 .b6,
#block-views-notas-block_2 .b6,
#block-views-notas-block_3 .b6,
#block-views-notas-block_4 .b6 {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
#block-views-notas-block_1 .panel.nota,
#block-views-notas-block_2 .panel.nota,
#block-views-notas-block_3 .panel.nota,
#block-views-notas-block_4 .panel.nota {
  margin: 0 0 20px 0;
  box-sizing: border-box;
  width: 325px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 280px;
}

#block-views-notas-block_1 .panel.nota .iconsHome,
#block-views-notas-block_2 .panel.nota .iconsHome,
#block-views-notas-block_3 .panel.nota .iconsHome,
#block-views-notas-block_4 .panel.nota .iconsHome {
  webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  border: solid 2px #fff;
  background-color: rgba(0,0,0,0.6);
  width: 14px;
  height: 14px;
  padding: 5px;
  position: absolute;
  z-index: 901;
  margin-top: 130px;
  margin-left: 260px;
}
#block-views-notas-block_1 .panel.nota .iconsHome .sprite-indicadores,
#block-views-notas-block_2 .panel.nota .iconsHome .sprite-indicadores,
#block-views-notas-block_3 .panel.nota .iconsHome .sprite-indicadores,
#block-views-notas-block_4 .panel.nota .iconsHome .sprite-indicadores {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url(../img/sprite_indicadores.png?rnd=1);
  background-size: 500% 100%;
}
#block-views-notas-block_1 .panel.nota .iconsHome .sprite-indicadores.sprite-video,
#block-views-notas-block_2 .panel.nota .iconsHome .sprite-indicadores.sprite-video,
#block-views-notas-block_3 .panel.nota .iconsHome .sprite-indicadores.sprite-video,
#block-views-notas-block_4 .panel.nota .iconsHome .sprite-indicadores.sprite-video {
  background-position: -42px 0;
  margin: 0 0 1px 1px;
}


#block-views-notas-block_1 .panel.nota .gradiente,
#block-views-notas-block_2 .panel.nota .gradiente,
#block-views-notas-block_3 .panel.nota .gradiente,
#block-views-notas-block_4 .panel.nota .gradiente {
  z-index: 1;
  padding: 20px;
  position: absolute;
  margin-top: 130px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent 0%,rgba(0,0,0,0.9) 80%);
  background-image: linear-gradient(transparent 0%,rgba(0,0,0,0.9) 80%);
  width: 260px;
}

#block-views-notas-block_1 .panel.nota .panelAuthor,
#block-views-notas-block_2 .panel.nota .panelAuthor,
#block-views-notas-block_3 .panel.nota .panelAuthor,
#block-views-notas-block_4 .panel.nota .panelAuthor {
  position: absolute;
  z-index: 20;
  margin: -43px 0 0 10px;
  color: #fff;
  font-weight: 600;
}
#block-views-notas-block_1 .panel.nota .panelAuthor span.byAuthor,
#block-views-notas-block_2 .panel.nota .panelAuthor span.byAuthor,
#block-views-notas-block_3 .panel.nota .panelAuthor span.byAuthor,
#block-views-notas-block_4 .panel.nota .panelAuthor span.byAuthor {
  color: #ADADAD;
  line-height: 2rem;
}
#block-views-notas-block_1 .panel.nota h2,
#block-views-notas-block_2 .panel.nota h2,
#block-views-notas-block_3 .panel.nota h2,
#block-views-notas-block_4 .panel.nota h2 {
  font-size: 1.3rem;
  line-height: 1.4rem;
  margin: 10px 0 0 0;
  padding: 0 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#block-views-notas-block_1 .panel.nota h2 a,
#block-views-notas-block_2 .panel.nota h2 a,
#block-views-notas-block_3 .panel.nota h2 a,
#block-views-notas-block_4 .panel.nota h2 a {
  color: #444;
}
#block-views-notas-block_1 .footer-card .data,
#block-views-notas-block_2 .footer-card .data,
#block-views-notas-block_3 .footer-card .data,
#block-views-notas-block_4 .footer-card .data {
  font-size: .9rem;
  color: #7F7F7F;
}

#block-views-notas-block_1 .panel.nota.sin-foto h2,
#block-views-notas-block_2 .panel.nota.sin-foto h2,
#block-views-notas-block_3 .panel.nota.sin-foto h2,
#block-views-notas-block_4 .panel.nota.sin-foto h2 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 0 0 10px 0;
}
#block-views-notas-block_1 .panel.nota.sin-foto .bajada,
#block-views-notas-block_2 .panel.nota.sin-foto .bajada,
#block-views-notas-block_3 .panel.nota.sin-foto .bajada,
#block-views-notas-block_4 .panel.nota.sin-foto .bajada {
  margin: 0 0 15px 0;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  max-height: 88px;
  overflow: hidden;
}
#block-views-notas-block_1 .panel.nota.sin-foto .panelAuthor,
#block-views-notas-block_2 .panel.nota.sin-foto .panelAuthor,
#block-views-notas-block_3 .panel.nota.sin-foto .panelAuthor,
#block-views-notas-block_4 .panel.nota.sin-foto .panelAuthor {
  position: relative;
  margin: 0 0 15px 0;
  color: #00B4FF;
}


/* .front .CD{width: 970px;} */
.front .CR{float:left;width:300px;}

/* NAVEGACIÓN DE CATEGORIAS */

ul.col {width: 45%; padding-right: 5%; float: left;}
.navigation {/*width: 100%;*/ float: left; /* padding-bottom: 15px;*/ margin-top: 8px; width: 189px; height: 240px;}
.navigation ul h2 {font-size: 18px; color: #008ACF;/* padding-bottom: 5px;*/}
.navigation ul li {/*width: 100%; float: left;*/ font-size: 1em; padding-bottom: 5px; color: #373737;} 
.navigation ul li strong{font-size: 1.4em;}
.navigation ul li.link-papel {margin-top: 10px;}
.navigation ul li.link-papel a {color: #E10019;} 
.navigation ul a {color: inherit; text-decoration: none;}
.navigation ul a:hover {color: inherit; text-decoration: underline;}
ul.impresos {
	width: 95px;
	float: left;
	background-color: #D2F0FF;
	height: 45px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #545454;
	font-weight: bold;
	font-size: 13px;
	background-image: url(../img/back-impresos.jpg);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-top: 10px;
	padding-left: 60px;
}
ul.impresos a {color:#545454; text-decoration: none;}

/* EXPLORAR RUBROS */

.explorar {width: 100%; float: left; padding-bottom: 15px;}
.explorar h2, .explorar h4 {color: #333;	float: left; font-size: 22px; line-height: 22px;	background-image: url(../img/sombra_100.jpg);
background-repeat: no-repeat;	background-position: center bottom;	padding-bottom: 15px; width: 100%;}
.explorar ul {width: 100%; float: left; padding-top: 15px;}
.explorar ul li {width: 25%; float: left; padding-bottom: 5px; color: #373737;}
.explorar ul li a {color: #373737}
.explorar ul li a:hover {color: #E11920}
/* Alquiler turistico*/
.CT .Publicar.Turistico{
	background: none;
  width: 305px;
	height: 152px;
	position:relative;}
.CT .Publicar.Turistico .veraneo{position:absolute; display:block; background:url(../img/fd_vacaciones.png) no-repeat 0 0 ; width:111px; height:32px; top:10px; right:-7px;}
.CT .Publicar.Turistico h2{color:#333; padding-top:0; margin-left: 10px;}
.CT .Publicar.Turistico .cabanas .Icono a {background:url(../img/spriteinmob.png) no-repeat 0 -753px; width:47px; border:none; display: block;height: 48px; margin-bottom: 10px;  }
.CT .Publicar.Turistico li.cabanas{margin-right:0;}
#block-clasificados_destacados_home-clasificados_home_inmuebles_alq .Sombra{background-image: url("../img/CajaAviso_sombra.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    /*padding-bottom: 4px; margin-bottom: 3px;*/}
#block-clasificados_destacados_home-clasificados_home_inmuebles_alq .Sombra h4{font-size:16px; color:#008ACE; letter-spacing:-0.005em; font-weight:bold; padding-bottom:10px;}

.vendedor {
    width: 130px;
    height: 136px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 10px;
}
.vendedor .descripcion {
    clear: both;
    font-size: 12px;
}
.vendedor h6 {
    font-size: 15px;
  margin-top: 5px;
}
.vendedor h6 a{
color: #333;
}
.rubro {
  clear: both;
  color: #333;
  border-bottom: 1px solid #EBEBEB;
  margin: 15px 0;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}
.head_comercios {
color: #666666; font-size: 14px; font-weight:400;  margin-bottom: 30px;
}
.head_comercios img {
    margin-top: -80px;
}
.page.front .Sombra, #block-clasificados_destacados_home-clasificados_home_inmuebles_alq .Sombra {background:none;}

.page-tiendas-lavoz #content h1 {font-size: 25px; color: #008ACF; font-weight: bold;}
.page-tiendas-lavoz .breadcrumb {  padding-bottom: 1em;}

.CajaAviso a.comprar {
  float: right;
  padding: 4px;
  border-radius: 2px;
  background-color: #008acf;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
}
.CajaAviso .Carrito {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("../img/img_carrito_rojo.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: 258px;
  width: 58px;
  height: 59px;
}
.page-productos .CajaAviso img,
.page-ofertas .CajaAviso img,
.block-clasificados_destacados_home .CajaAviso img,
.search-results .CajaAviso img,
.CajaAviso .contentImg img {
  vertical-align: middle;
}
.BloqueListaProductos .CajaAviso img {width: initial;}

#block-clasificados_destacados_home-clasificados_home_empleos_clas .CajaAviso img,
#block-clasificados_destacados_home-clasificados_home_productos_clas .CajaAviso img,
.search-results .CajaAviso img,
.CajaAviso .contentImg img {
  width: inherit;
}
.page-productos .CajaAviso .imgAviso a,
.page-ofertas .CajaAviso .imgAviso a,
.block-clasificados_destacados_home .CajaAviso .imgAviso a,
.CajaAviso .imgAviso .contentImg,
.search-results .CajaAviso .imgAviso a
{
  display: block;
  height: 133px;
  text-align: center;
}
.page-productos .CajaAviso .imgAviso a span,
.page-ofertas .CajaAviso .imgAviso a span,
.block-clasificados_destacados_home .CajaAviso .imgAviso a span,
.CajaAviso .imgAviso span,
.search-results .CajaAviso .imgAviso a span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.BloqueListaProductos .CajaAviso .imgAviso a span {height: auto;}

/* Listado de Usuarios Comerciales */
.page-inmobiliarias .CD, .page-concesionarias .CD, .page-tiendas-lavoz .CD {width: 100%}
.page-inmobiliarias hr, .page-concesionarias hr, .page-tiendas-lavoz hr {border: 1px solid #EBEBEB; height: 0;}

.page-tiendas-lavoz .Title {position: relative; padding-top: 30px; padding-bottom: 30px; text-align: center;  background-color: #fff;}
.page-tiendas-lavoz .Title hr {position: absolute; z-index: 1000; width: 100%; top: 50%; margin: -1px 0 0;}
.page-tiendas-lavoz .Title h3 {color: #666666; text-align: center; margin-bottom: 25px; font-size: 36px; position: relative; z-index: 1030; display: inline-block; margin: 0; padding-right: 30px; padding-left: 30px; background-color: #fff; font-weight: 100;}
.page-tiendas-lavoz .Title h3 strong {font-weight: 100;}

.page-inmobiliarias #content h1, .page-concesionarias #content h1 {font-size: 25px;}
.fondoConcesionaria{min-height:165px; margin-top: 20px; margin-bottom: 20px;}
.fondoConcesionaria .Borde{min-height:160px;}
.fondoConcesionaria .Borde .Logo{width:210px; height:160px; overflow:hidden; text-align: center;}
.fondoConcesionaria .Borde .Logo span {display: inline-block; height: 100%; vertical-align: middle;}
.fondoConcesionaria .Borde .Logo img {vertical-align: middle;}
.fondoConcesionaria .Borde .Info{ padding: 10px; height: 139px; margin-left: 15px; width:380px; font-size:12px;}
.fondoConcesionaria .Borde .Info h1, .fondoConcesionaria .Borde .Info .inmo-title{font-size: 22px; font-weight:bold; margin-bottom:10px; color: #666666;}
.fondoConcesionaria .Borde .Info h3{font-size:12px;}
.fondoConcesionaria .Borde .formAgencia{min-height:130px; font-size:12px; float:right;}
.fondoConcesionaria .Borde .formAgencia .input-contactar{width:200px;background-color:#FFFFFF;
border-color:#ADACB1 #E1E8EE #E1E8EE;
border-style:solid;
border-width:1px; }
.fondoConcesionaria .Borde .formAgencia label{width:75px; float:left; display:block; padding-right:10px; text-align:right;}
.fondoConcesionaria .Borde .formAgencia fieldset{padding-bottom:5px;}
.fondoConcesionaria .Borde .formAgencia fieldset.boton{padding-left:85px;}
.fondoConcesionaria .Borde .formAgencia h3{font-size:13px; color:#008ACE; font-weight:bold; margin-bottom:10px;}
.fondoConcesionaria .Borde .formAgencia .boton-naranja {margin-right:0;}
.fondoConcesionaria .link-avisos {margin-top: 5px;}
.fondoConcesionaria .link-avisos a {padding: 4px 0px; background: #A92319; text-align: center; font-weight: bold; color: #FFFFFF; font-size: 13px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; display: inline-block;   width: 236px;}
.fondoConcesionaria .Borde .Info .info-tienda {display: block; height: 92px; overflow: hidden;}
.fondoConcesionaria .Borde .Info span {background: url(../img/sprite.png) no-repeat 0 -576px; width: 25px; height: 25px;   position: absolute; display: block; margin-top: -23px; margin-left: 352px; z-index: 1000; cursor: pointer;}
.fondoConcesionaria .Borde .Info span:hover {background: url(../img/sprite.png) no-repeat 0 -552px;}
.fondoConcesionaria .Borde .Info .descripcion_vendedor{display:none; background-color: #eaeaea; clear: both; padding: 15px; position: absolute; width: 450px; z-index: 2000; margin-top: -22px; margin-left: -131px; border: 1px solid #D1D0CE;}
.fondoConcesionaria .Borde .Info .descripcion_vendedor .nombre_vendedor {color: #666666; font-size: 16px; font-weight: bold; padding-bottom: 10px; text-align: center;}
.fondoConcesionaria .Borde .Info .descripcion_vendedor p {color: #333333; font-size: 14px; line-height: normal;}

/* Filtros usuarios comerciales */
.page-inmobiliarias .views-exposed-form, 
.page-concesionarias .views-exposed-form, 
.page-tiendas-lavoz  .views-exposed-form {margin: 20px 0; background-color: #E9E9E9; padding: 10px; width: 960px;}
.page-tiendas-lavoz  .views-exposed-form {height: 55px;}
.page-inmobiliarias .views-exposed-form label, 
.page-concesionarias .views-exposed-form label,
.page-tiendas-lavoz  .views-exposed-form label {font-size: 14px; color: #323943;}
.page-inmobiliarias .views-exposed-form input[type="text"], 
.page-concesionarias .views-exposed-form input[type="text"],
.page-tiendas-lavoz .views-exposed-form input[type="text"], 
.page-inmobiliarias .views-exposed-form select, 
.page-concesionarias .views-exposed-form select,
.page-tiendas-lavoz .views-exposed-form select  {background: #ffffff; color: #323943; font-size: 14px; width: 235px; border: 1px solid #DADADA; margin-right: 10px; padding: 3px;}
.page-inmobiliarias .views-exposed-form .form-submit, 
.page-concesionarias .views-exposed-form .form-submit {margin-top: 5px;}
.page-tiendas-lavoz .views-exposed-form .form-submit {margin-top: 11px;}

/* Links listado de concesionarias */
.link-concesionarias, .link-inmobiliarias {margin: 20px 0px;}
.link-concesionarias .Content, .link-inmobiliarias .Content {padding: 27px; text-align: center;}
.link-concesionarias a, .link-inmobiliarias a {font-size: 17px; color: #FFF; font-weight: bold; line-height: 26px; font-family: Arial,Helvetica,sans-serif; margin-right: 0px; background: #323943; padding: 10px; -webkit-border-radius: 3px; border-radius: 3px;}
.Publicar hr, .FondoAutoDestacado hr {border: 1px solid #D1D0CE; height: 0; width: 296px; margin-top: 14px; position: absolute; margin-left: 7px;}
.FondoAutoDestacado hr.hr-inmobiliarias {margin-top: 138px;}

.slider_tienda { width:2000px; }

.sosAlojamiento,
.sosInmobiliaria,
.sosConcesionaria {background-color:#008acf; height: 230px; margin-top: 90px; padding-bottom: 25px;}
.sosAlojamiento .content_sosComercio,
.sosInmobiliaria .content_sosComercio,
.sosConcesionaria .content_sosComercio {width: 980px; margin: 0 auto;}
.sosAlojamiento .content_sosComercio .contentLeft,
.sosInmobiliaria .content_sosComercio .contentLeft,
.sosConcesionaria .content_sosComercio .contentLeft {background-image: url("../img/alojamiento/Img-Laptop-publicar-alojamiento.png"); background-position: 0 0; background-repeat: no-repeat; height: 268px; width: 500px; display: block; float: left; margin-right: 2px; margin-top: -38px;}
.sosInmobiliaria .content_sosComercio .contentLeft {background-image: url("../img/comercialInmuebles.png"); }
.sosConcesionaria .content_sosComercio .contentLeft { background-image: url("../img/comercialAutos.png"); }
.sosAlojamiento .content_sosComercio .contentRight,
.sosInmobiliaria .content_sosComercio .contentRight,
.sosConcesionaria .content_sosComercio .contentRight {float: left; width: 477px;}
.sosAlojamiento .content_sosComercio .contentRight h3,
.sosAlojamiento .content_sosComercio .contentRight h4,
.sosInmobiliaria .content_sosComercio .contentRight h3,
.sosInmobiliaria .content_sosComercio .contentRight h4,
.sosConcesionaria .content_sosComercio .contentRight h3,
.sosConcesionaria .content_sosComercio .contentRight h4 {font-size: 36px; color: #FFFFFF; text-align: center;   line-height: 1.1; font-weight: 100; margin-top: 24px;}
.sosAlojamiento .content_sosComercio .contentRight span,
.sosInmobiliaria .content_sosComercio .contentRight span,
.sosConcesionaria .content_sosComercio .contentRight span {border: 1px solid #FFFFFF; text-transform: uppercase;  -webkit-border-radius: 3px; border-radius: 3px; color: #FFFFFF; font-size: 16px; padding-bottom: 10px; padding-top: 10px; padding-left: 30px; padding-right: 30px; font-weight: 100; margin-top: 20px; display: block; width: 120px;   margin-left: 142px;     text-align: center;}
.sosAlojamiento .content_sosComercio .contentRight span a,
.sosInmobiliaria .content_sosComercio .contentRight span a,
.sosConcesionaria .content_sosComercio .contentRight span a {color: #FFFFFF;}

.clf-searchbox input::-webkit-input-placeholder {
  color: gray !important;
} 
.clf-searchbox input:-moz-placeholder { /* Firefox 18- */
  color: gray !important;  
} 
.clf-searchbox input::-moz-placeholder {  /* Firefox 19+ */
  color: gray !important;  
} 
.clf-searchbox input:-ms-input-placeholder {  
  color: gray !important;  
}