/* INTERNAS DE MICROSITIOS*/

/* Interna Contacto */
.section-sitio h1{color: #008ACF; font-weight: bold;}
#administracion-sitios-interna-contacto .datos-contacto{background: url(../img/sprite.png) no-repeat 0 2px; padding-left: 15px;}
#administracion-sitios-interna-contacto input, #administracion-sitios-interna-contacto textarea{margin-bottom: 0px; border: 1px solid #CCCCCC; padding-left: 5px; padding-right: 5px; height: 34px; line-height: 34px;}
#administracion-sitios-interna-contacto textarea{height: 130px; width: 386px;}
#administracion-sitios-interna-contacto label{font-weight: normal;}
#administracion-sitios-interna-contacto .form-submit{margin: 0px; font-size: 13px; background: none repeat scroll 0 0 #008ACF; border: medium none; color: #FFFFFF; cursor: pointer; font-family: Arial,Helvetica,sans-serif; font-weight: bold; height: 28px; line-height: 26px; text-align: center; width: 90px;}
#administracion-sitios-interna-contacto #contacto-mapa{float: right; position: relative; top: -419px; width: 35%;}
#administracion-sitios-interna-contacto #contacto-mapa #gmap-auto1map-gmap0{width: 529px; height: 369px;}
