@charset "UTF-8";
/* Estilos modales informativos */
.blockbkg {background-color: black; opacity: 70%; filter:alpha(opacity=70); background-color: rgba(0,0,0,0.70); width: 100%;  min-height: 100%; overflow: hidden; float: absolute; position: fixed; top: 0; left: 0; color: white; z-index: 9990; cursor: pointer;}
.popover {z-index: 9999; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); font-size: 14px; font-weight: 400; left: 0; line-height: 1.42857; max-width: 523px; padding: 1px;   position: absolute; text-align: left; top: 0; white-space: normal;}

.popover > .arrow,  .popover > .arrow:after{border-color: transparent; border-style: solid; display: block; height: 0;   position: absolute; width: 0;}
.popover > .arrow {border-width: 11px;}
.popover > .arrow:after {border-width: 10px; content: "";}
/* Flecha derecha */
.popover.left > .arrow{border-left-width: 0; border-right-color: rgba(0, 0, 0, 0.25); left: -11px; margin-top: -11px; top: 50%;}
.popover.left > .arrow:after{border-left-width: 0; border-right-color: #fff; bottom: -10px; content: " "; left: 1px;}
/* Flecha izquierda */
.popover.right  > .arrow{border-left-color: rgba(0, 0, 0, 0.25); border-right-width: 0; margin-top: -11px; right: -11px; top: 50%;}
.popover.right  > .arrow:after{border-left-color: #fff; border-right-width: 0; bottom: -10px; content: " "; right: 1px;}
/* Flecha arriba */
.popover.top > .arrow{border-bottom-color: rgba(0, 0, 0, 0.25); border-top-width: 0; left: 50%; margin-left: -11px; top: -11px;}
.popover.top > .arrow:after{border-bottom-color: #fff; border-top-width: 0; content: " "; margin-left: -10px; top: 1px;}
/* Flecha abajo */
.popover.bottom > .arrow{border-bottom-width: 0; border-top-color: rgba(0, 0, 0, 0.25); bottom: -11px; left: 50%; margin-left: -11px;}
.popover.bottom > .arrow:after{border-bottom-width: 0; border-top-color: #fff; bottom: 1px; content: " "; margin-left: -10px;}

h3.popover-title {background-color: #f7f7f7; border-bottom: 1px solid #ebebeb; border-radius: 5px 5px 0 0; font-size: 14px;   margin: 0; padding: 8px 14px;}
.popover-content {padding: 9px 14px;}    