/* Carrucel */
.stepcarousel{
  position: relative;
  overflow: scroll;
  width: 100%;
  height: 560px;
}
.stepcarousel .belt{
  position: absolute;
  left: 0;
  top: 0;
}
.stepcarousel .panel{
  float: left;
  overflow: hidden;
  width: 980px;
}

/* Nota */
.node-type-nota .breadcrumb {width: 1260px;}
.node-type-nota .Columnas {width: 1260px;}
.node-type-nota .CD {width: 1260px;}
.node-type-nota .nodeInfo {
  overflow: hidden;
  margin: 0;
}
.node-type-nota .nodeInfo.video header {margin: 0 0 20px 0;}
.node-type-nota .nodeInfo .carrusel {
  width: 100%;
  float: left;
  margin: 0;
  overflow: hidden;
  position: relative;  
}
.node-type-nota .nodeInfo .contenido {
  margin-bottom: 15px;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 0 45px;
}
.node-type-nota .nodeInfo.video .contenido {
  padding: 0 0 25px 0;
  border: none;
}
.node-type-nota .nodeInfo .carrusel .contenido {
  padding: 25px 35px;
  position: absolute;
  bottom: 0;
  z-index: 900;
  left: 0;
  right: 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent 0%,rgba(0,0,0,0.9) 80%);
  background-image: linear-gradient(transparent 0%,rgba(0,0,0,1.9) 80%);
  margin-bottom: 0px;
  border-bottom: none;
}
.node-type-nota #content .nodeInfo h1 {
  line-height: 2.3rem;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.node-type-nota #content .nodeInfo .panel-body h1 {
  line-height: 3rem;
  text-shadow: 0.5px 0.5px 2px #000;
  margin: 0 0 10px 0;
  color: #fff;
}
.node-type-nota #content .nodeInfo.video .panel-body h1 {
  color: #444;
  text-shadow: none;
  font-weight: 600;
}
.node-type-nota .footer-card .data {
  float: left;
  min-height: 22px;
  max-width: 80%;
  display: flex;
  align-items: center;
}
.node-type-nota .footer-card .nodeData {
  color: #ADADAD;
  font-size: .9rem;
}
.node-type-nota slider .paginacion {  
  overflow: hidden;
  text-align: center;
  font-size: 1.1rem;
  padding: 0 0 10px 0;
  border-bottom: none;
  position: absolute;
  z-index: 997;
  width: 100%;
  margin: 25% 0 0 0;
}
.node-type-nota slider .paginacion .anterior,
.node-type-nota slider .paginacion .siguiente {  
  width: 6.25%;
  padding-left: 10px;
  padding-right: 10px;
}
.node-type-nota slider .paginacion .anterior {float: left;}  
.node-type-nota slider .paginacion .siguiente {float: right;}  

.node-type-nota slider .paginacion .anterior:before,
.node-type-nota slider .paginacion .siguiente:before {  
  content: "";
  width: 64px;
  height: 64px;
  background-image: url(../img/sprite_slider.png);
  background-size: 400% 100%;
  background-position: 0 0;
  display: block;
}
.node-type-nota slider .paginacion .siguiente:before {background-position: -64px 0;}
.node-type-nota slider .img-lista {
  width: 100%;
  margin: 0;
  position: absolute;
  float: none;
  overflow: hidden;
  z-index: 800;
}
.node-type-nota slider .img-lista img {
  max-width: 100%;
  object-fit: contain;
  object-position: top;
  /*margin: 15px 0 0 0;*/
}
.node-type-nota .nodeInfo .caption {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: .8rem;
  color: #ADADAD;
  position: relative;
  float: left;
  padding: 5px 0;
  margin: 0;
}
.node-type-nota .nodeInfo .caption:after {
  content: "";
  background: #EBEBEB;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 10%;
  margin: 0;
}
.node-type-nota .nodeInfo .caption {margin: 10px 0;}
.node-type-nota .nodeInfo header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 980px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.node-type-nota .nodeFull {margin: 20px 0 0 0;}
.node-type-nota .nodeFull aside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.node-type-nota .nodeFull .author-collapsible {
  width: 6.25%;
  float: left;
  padding-right: 10px;
  min-height: 20px;
}
.node-type-nota .nodeFull .author-collapsible .author-name {
  font-size: 16px;
  font-weight: 300;
  font-family: "RobotoRegular",Arial,Helvetica,sans-serif;
}
.node-type-nota .nodeFull .author-collapsible .author-name .neutro {color: #7F7F7F;}
.node-type-nota .nodeFull main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 61.5%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 0 0 60px;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.node-type-nota .nodeFull p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.node-type-nota .nodeFull .user-share {
  overflow: hidden;
  padding: 0;
  margin: 0 0 20px 0;
}
.node-type-nota .nodeFull .user-share li {
  list-style: none;
  flex: 1;
  float: left;
}
.node-type-nota .nodeFull .user-share .share-item {
  padding: 0;
  margin: 0 5px;
  display: block;
  position: relative;
  float: left;
}
.node-type-nota .nodeFull .user-share .share-item .count {
  font-size: 12px;
  color: #FFF;
  font-weight: bold;
  display: inline-block;
  width: auto;
  text-align: center;
  float: right;
  line-height: 35px;
  margin: 0 0 0 -35px;
  padding: 2px 10px 1px 40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
}
.node-type-nota .nodeFull .user-share .share-item .count.face {background: #546DA5;}
.node-type-nota .nodeFull .user-share .sprite-compartir {
  font-size: 18px;
  display: inline-block;
  border-radius: 60px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 2.4rem;
  color: #ffffff;
}
.node-type-nota .nodeFull .user-share .sprite-compartir.sprite-facebook {background-color: #546DA5;}
.node-type-nota .nodeFull .user-share .sprite-compartir.sprite-facebook:hover {background-color: #3e58a0;}
.node-type-nota .nodeFull .user-share .sprite-compartir.sprite-twitter {
  color: #ffffff;
  background-color: #78bbfd;
}
.node-type-nota .nodeFull .user-share .sprite-compartir.sprite-twitter:hover {background-color: #3bb4ed;}
.node-type-nota .nodeFull .user-share .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.node-type-nota .nodeFull .teaser {
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  position: relative;
  padding: 0 0 5px 0;
  margin: 0 0 30px 0;
}
.node-type-nota .nodeFull .teaser:after {
  content: "";
  background: #EBEBEB;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 10%;
}
.node-type-nota .nodeFull .SubTitulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "StagSansBold",Arial,Helvetica,sans-serif;
  font-weight: 500;
  line-height: 1.8rem;
}

/* Listado de guias */
.Guia .ContactoAutos h1 {color: #333333;}
.Guia .module-lista {border-bottom: 1px solid #D1D0CE; padding: 10px 0;}
.Guia .ContactoAutos .Borde {border-bottom: 1px solid #D1D0CE; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;}
.Guia .blanco {background: none repeat scroll 0 0 #FFFFFF; padding: 10px;}
.Guia .module-lista {border-bottom: 1px solid #D1D0CE; padding: 10px 0;}
.Guia .module-lista img {float: left; margin-right: 10px;}
.Guia .module-lista h3 {color: #000; font-size: 18px; font-weight: normal; line-height: 18px; padding-bottom: 5px;}
.Guia .module-lista h3 strong{font-weight: normal;}
.Guia .module-lista a {color: #000;}
.Guia .module-lista .cuerpo {margin-top: 80px;}
.Guia .module-lista p{font-size:13px; line-height:1.35em;}

/* Listado de notas */
.page-noticias .breadcrumb,
.page-noticias .Columnas,
.page-noticias .CD {width: 1260px}
.Content.Notas {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
.Content.Notas header.tit-seccion {
  border-left: solid 10px #444;
  color: #444;
  text-transform: uppercase;
  padding: 0 0 0 10px;
  font-weight: 500;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2.9rem;
  margin: 0 0 25px 10px;
  height: 49px;
  padding-top: 11px;
}
.Content.Notas .panel.nota {
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
.Content.Notas .panel.nota.principal.sin-foto article {
  min-height: 590px;
  background: #EBEBEB;
}
.Content.Notas .panel.nota.principal {width: 50%;}
.Content.Notas .panel.nota.comun {height: 270px;}
.Content.Notas .panel.nota .foto {min-height: 152px;}
.Content.Notas .panel.nota.principal .foto {min-height: 590px;}
.Content.Notas .panel.nota .gradiente {
  z-index: 1;
  padding: 25px;
  position: absolute;
  margin-top: 110px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent 0%,rgba(0,0,0,0.9) 80%);
  background-image: linear-gradient(transparent 0%,rgba(0,0,0,0.9) 80%);
  width: 245px;
}
.Content.Notas .panel.nota.principal .gradiente {
  padding: 140px;
  margin-top: 320px;
  width: 330px;
}
.Content.Notas .panel.nota .foto img {width: 100%;}
.Content.Notas .panel.nota.principal .contenido {
  position: absolute;
  margin-top: -245px;
  width: 580px;
  padding: 15px;
  z-index: 2;
}
.Content.Notas .panel.nota.principal.sin-foto .contenido {
  padding: 15px;
  position: relative;
  bottom: 0;
  z-index: 900;
  left: 0;
  right: 0;
  top: 324px;
  margin-top: 0px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent 0%,rgba(0,0,0,0.9) 80%);
  background-image: linear-gradient(transparent 0%,rgba(0,0,0,0.9) 80%);
}
.Content.Notas .panel.nota.comun .panelAuthor {
  position: absolute;
  z-index: 20;
  margin: -40px 0 0 10px;
}
.Content.Notas .panel.nota.comun.sin-foto .panelAuthor {
  position: relative;
  margin: 0 0 15px 0;
}
.Content.Notas .panel.nota .panelAuthor {color: #fff; font-weight: 600;}
.Content.Notas .panel.nota.sin-foto .panelAuthor {color: #00B4FF;}
.Content.Notas .panel.nota .panelAuthor img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 8px;
  border: none;
}
.Content.Notas .panel.nota .panelAuthor span.byAuthor { 
  color: #ADADAD;
  line-height: 2rem;
}
#content .Content.Notas .panel.nota h1 {
  line-height: 2.5rem;
  text-shadow: 0.5px 0.5px 2px #000;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #fff;
  margin: 10px 0;
  font-weight: 600;
}
.Content.Notas .panel.nota h1 a {color: #fff;}
.Content.Notas .panel.nota h2 {
  font-size: 1.3rem;
  line-height: 1.4rem;
  margin: 10px 0 0 0;
  padding: 0 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.Content.Notas .panel.nota.sin-foto h2 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 0 0 10px 0;
}
.Content.Notas .panel.nota.sin-foto .bajada {
  margin: 0 0 15px 0;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  max-height: 88px;
  overflow: hidden;
}
.Content.Notas .panel.nota h2 a {color: #444;}
.Content.Notas .panel.nota.principal .bajada {
  color: #f5f5f5;
  margin-bottom: 1.25em;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga", "kern";
  -o-font-feature-settings: "liga", "kern";
  -webkit-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
}
.Content.Notas .panel.nota .nodeData {
  color: #ADADAD;
  font-size: 0.85rem;
  font-weight: 500;
}
.Content.Notas .panel.nota .nodeData a {color: #ADADAD;}
.Content.Notas .nodos-list article {
  clear: both;
  position: relative;
  margin: 0 0 25px 0;
  padding: 25px 0;
}
.Content.Notas .nodos-list .nodo-contenido {padding: 0 10px;}
.Content.Notas .nodos-list .nodo-contenido .info {
  width: 25%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding: 0 20px 0 0;
  text-align: right;
  font-size: .8rem;
  color: #ADADAD;
}
.Content.Notas .nodos-list .nodo-contenido .info .tags a {color: #ADADAD;}
.Content.Notas .nodos-list .nodo-contenido .info .panelAuthor {
  color: #444;
  font-weight: bold;
  line-height: 1rem;
}
.Content.Notas .nodos-list .nodo-contenido .info .panelAuthor .nombre {
  float: right;
  font-weight: 800;
}
.Content.Notas .nodos-list .nodo-contenido .info .panelAuthor .nombre .byAuthor {
  color: #ADADAD;
  line-height: 1.5rem;
  font-weight: 500;
}
.Content.Notas .nodos-list .nodo-contenido .info .panelAuthor .foto {
  width: 18.75%;
  float: left;
}
.Content.Notas .nodos-list .nodo-contenido .info .panelAuthor .foto img {
  margin: 5px 0 5px 5px;
  float: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.Content.Notas .nodos-list .nodo-contenido .nota_periodistica {
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: thin solid #EBEBEB;
  min-height: 100px;
  position: relative;
}
.Content.Notas .nodos-list .nodo-contenido .nota_periodistica.image {
  padding: 0 0 25px 0;
}
.Content.Notas .nodos-list .nodo-contenido .nota_periodistica .contenido {
  padding-right: 10px;
  padding: 0 0 35px 0;
  width: 100%;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
}
.Content.Notas .nodos-list .nodo-contenido .nota_periodistica h2 {
  font-size: 1.3rem;
  width: 80%;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 700;
  margin-top: 0;
  line-height: 23px;
  margin-bottom: 15px;
}
.Content.Notas .nodos-list .nodo-contenido .nota_periodistica h2 a {color: #444;}
.Content.Notas .nodos-list .nodo-contenido .nota_periodistica.image .foto {
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 0;
  float: right;
}
.Content.Notas .nodos-list .nodo-contenido .nota_periodistica.image .contenido {
  box-sizing: border-box;
  width: 50%;
  float: left;
  margin-bottom: 0;
  padding-bottom: 0px;
}
.Content.Notas .iconsHome {
  webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  border: solid 2px #fff;
  background-color: rgba(0,0,0,0.6);
  width: 14px;
  height: 14px;
  padding: 5px;
  position: absolute;
  z-index: 901;
  margin-top: 125px;
  margin-left: 270px;
}
.Content.Notas .panel.nota.principal .iconsHome {
  margin-top: 560px;
  margin-left: 570px;
}
.Content.Notas .panel.nota.comun .iconsHome {
  margin-top: 120px;
  margin-left: 255px;
}
.Content.Notas .iconsHome .sprite-indicadores {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url(../img/sprite_indicadores.png?rnd=1);
  background-size: 500% 100%;
}
.Content.Notas .iconsHome .sprite-indicadores.sprite-video {
  background-position: -42px 0;
  margin: 0 0 1px 1px;
}