*{margin:0; padding:0;}
body {vertical-align:top; text-align:center; font-family:Tahoma; color:#575E5E; background:#eeeeee;}
td { line-height:13px; vertical-align:top;font-size:11px;}
table{width:100%;}
img {border:0;}

.pos1 img{vertical-align:middle;}
/****************************************************/
.footer  {color:#606060; line-height:14px;}
.footer a{color:#606060; text-decoration:none; background:url(../img/regalos/pimp4.gif) no-repeat 0px 5px; padding-left:12px; margin-right:23px;}
.footer a:hover{text-decoration:none; color:#000000;}

.footer span {color:#8F8F8F; line-height:14px; font-size:10px;}
.footer span a{color:#30A2C7; text-decoration:none; background:none; padding-left:0; font-weight:bold; font-size:10px; margin:0;}
.footer span a:hover{text-decoration:none; color:#0033FF;}

.footer span b a{color:#8F8F8F; text-decoration:underline; background:none; padding-left:0; font-weight:bold; font-size:10px; margin:0;}
.footer span b a:hover{text-decoration:none; color:#8F8F8F;}



/*******************-links-*********************************/
a {color:#00BAF3;border:none; text-decoration:underline;}
a:hover {text-decoration:none;}

.link1 a {color:#FFF990;text-decoration:none; font-weight:bold;}
.link1 a:hover {text-decoration:underline;}

.link2 a {color:#414141;text-decoration:underline; font-weight:bold; font-size:12px; line-height:16px;}
.link2 a:hover {text-decoration:none;}

.link3 a {color:#000000;text-decoration:underline; }
.link3 a:hover {text-decoration:none;}

.link4 a {color:#ffffff;text-decoration:underline; }
.link4 a:hover {text-decoration:none;}

.link5 a {color:#ffffff;text-decoration:none; }
.link5 a:hover {text-decoration:underline;}


.line1{background:url(../img/regalos/line1.gif) repeat-x top; height:1px;}
/******************-lists-**********************************/
ul {margin:0; padding:0; list-style:none}
li {background: url(../img/regalos/pimp2.gif) no-repeat  0px 7px; padding-left:15px; line-height:20px; color:#ffffff;}
li a {color:#ffffff; text-decoration:underline; line-height:20px;}
li a:hover {text-decoration:none;}

.sub_list {background:none; color:#000000;}
.sub_list a{background:none; color:#000000; text-decoration:underline;}
.sub_list a:hover {text-decoration:none;}

.list1 li {background: url(../img/regalos/pimp3.gif) no-repeat  0px 7px; padding-left:13px; line-height:18px; color:#ffffff;}
.list1 li a {color:#ffffff; text-decoration:none; line-height:18px;}
.list1 li a:hover {text-decoration:underline;}


/*********************-forms-*******************************/
form {margin:0; padding:0;}
.form_total{margin:0; padding:0 0 0 3px; vertical-align:middle;
font-family:Tahoma; background:#ffffff; font-size:10px; color:#000000;  height:17px;}
.form_1 {width:109px; color:#35A9CE; border:solid 1px #83D2EA;}
.form_2 {width:139px; color:#616161; font-size:10px; border:solid 1px #44A4CA;}
.form_3 {width:119px; height:20px; font-size:11px; color:#8B8B8B;}
.form_4 {width:159px; height:20px; font-size:11px; color:#8B8B8B;}
.form_5 {width:40px; height:18px; font-size:10px; color:#000000; text-align:right; border:solid 1px #DADADA;}


/****************************************************/
.title_txt{color:#353535; font-size:12px; font-weight:bold; line-height:18px; text-transform:uppercase; background:url(../img/regalos/tt_left_back2.gif) no-repeat left; padding-left:19px;}
.title1_txt{color:#F7F7F7; font-size:12px; font-weight:bold; background:url(../img/regalos/pimp1.gif) no-repeat left; padding-left:21px;}
.title2_txt{color:#2790bc; font-size:12px; font-weight:bold; text-transform:uppercase; line-height:18px;}

.price_txt{ color:#373737; font-weight:bold; text-transform:uppercase; font-size:15px;}
.price_txt_strice{}

.txt_cart{color:#414141; font-weight:bold; font-size:12px; line-height:16px;}

.txt1{ color:#FFFFFF;}
.txt2{color:#FFF990; font-weight:bold;}
.txt3{color:#95E7FF;}
.txt4{color:#35A9CE;}
.txt5{color:#8B8B8B; line-height:16px; font-size:12px;}
.txt6{color:#FFFFFF; font-size:14px; font-weight:bold;}
.txt7{color:#000000; line-height:13px;}
.txt8{color:#003382; font-weight:bold;}
.txt9{color:#FFFFFF;}

.result{ margin:22px 0 17px 0;}
.result_right{text-align:left; width:auto;}
.result_right b{color:#00BAF3;}

/*page4*/
.p4_t1_c1{text-align:right; padding-right:26px;}

.producto {
  border-radius:14px;background-color:#ffffff;
}
.titulo {
    border-radius: 10px; background-color: rgb(238, 238, 238); vertical-align: middle; padding: 9px 0px 9px 21px;
}
.boton-comprar {
    border-radius: 4px; background-color: #2790bc; color:#FFFFFF; display: inline-block; padding: 5px; font-size: 12px; font-weight: bold; text-decoration: none; margin-bottom: 10px;
}
#form_compra table td {
    padding: 4px;
    font-size: 14px;
}
#form_compra input, #form_compra select, #form_compra textarea {
    color: #333333;
    font-size: 14px;
    font-family: Tahoma;
    padding: 2px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    width: 300px;
}
input#clublavoz {
    width: inherit;
}
#form_compra select {
    width: 144px;
}
#form_compra option{
    padding: 2px;
}
#form_compra textarea {
    height: 60px;
}
#form_compra .detalles{
    font-size: 10px;
    color: #333333;
}