/* region-page-columna-derecha */

div.region-page-columna-derecha .block { margin-bottom: 15px; }
div.region-page-columna-derecha .content .box .Sombra {background: none;}
div.region-page-columna-derecha .content .box h2 { font-size:20px; font-weight:600; text-transform:uppercase;}
div.region-page-columna-derecha .content .box p { font-size:14px; font-weight:400; color: #333; line-height: 1.2;}
div.region-page-columna-derecha .content .box strong { font-size:18px; font-weight:900; color:#008ACF; }