/* region-login-superior */

div.region-login-superior {width: 128px; float: left; background-color: #273E9F; padding-left: 15px; padding-right: 15px; height: 70px; margin-left: 20px; display: none; }
div.region-login-superior .title {display: none; }

div.region-login-superior #user-login-form .form-item label {display: none; }
div.region-login-superior #user-login-form .form-item {width:135px;height:27px;padding-right:6px;float:left; background-repeat: no-repeat;background-position: 0 0;margin-right: 5px;}
div.region-login-superior #user-login-form input.form-submit {width:94px;height:30px;border:0;padding:0;margin:0;float:left;cursor:pointer;background-repeat: no-repeat;background-position: 0 0; text-indent: 100px;} 
div.region-login-superior #user-login-form input.form-submit {margin-top: 14px; width: 28px !important;
	background-attachment: scroll;
	background-color: #008ACF;
	background-image: url(../img/login_btn.jpg);
	background-repeat: no-repeat;
	background-position: center center !important;} 
div.region-login-superior #user-login-form .item-list ul li { list-style: none; background-image: none;}
div.region-login-superior #user-login-form .item-list ul li.last { margin-left: -166px; margin-top: 6px;}
div.region-login-superior #user-login-form .item-list ul li.last a { display: block; width: 134px;}
div.region-login-superior #user-login-form .form-item .form-text {width:132px;height:24px;padding:4px 2px 0 5px;margin-top: 2px; border: 1px solid #CCCCCC; background:transparent; float:left; z-index: 1000; -moz-border-radius: 3px; -webkit-border-radius: 3px; line-height: 24px;}

div.region-login-superior #user-login-form .item-list {float:left;}

.Solapas #block-user-0 {display: none;}
#block-user-0 .title {color: #333; font-size: 21px; padding-bottom: 15px; text-align:center;  margin-top: 15px;}
#block-user-0 {padding: 10px; height: 290px;}
#block-user-0 .form-item {width: 100%; float: left;}
#block-user-0 .form-item label {float: left; width: 100%; text-align: left; color: #333333; font-size: 14px; padding-bottom: 5px; font-weight: normal;}
#block-user-0 .form-text {background-color: #FFFFFF!important;
	-webkit-box-shadow: 0 0 0 1000px white inset;

    border: 1px solid #CCCCCC;
    color: #666666 !important;
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 30px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 316px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
#block-user-0 .form-submit {float: right; background-color: #A92319;}
#block-user-0 .item-list ul li {
	float: left;
	text-align: left;
	list-style-type: none;
	padding-top: 10px;
  margin-left: -11px;
}
#block-user-0 .item-list ul li a {font-size: 12px; color: #333}
#block-user-0 .item-list ul li a:hover {text-decoration: underline;}