/*Resultado Busqueda*/

.CD .Titulo { font-size:22px; margin-bottom:7px; margin-top:5px; line-height: 27px;}
.section-search .CD .Titulo, .section-category .CD .Titulo{color:#333; font-size:20px; font-weight:bold;}
.CD .Sombra {background-image:url(../img/CajaAviso_sombra.gif);background-position:center bottom;background-repeat:no-repeat;padding-bottom:7px;}
.CD .Select { width:110px; font-size:12px; margin-bottom:0; margin-top:12px;}
.CD .Desplegado .utilidades .Vistaprevia {margin-left:8px;background-image: url(../img/ico_flearriba.gif);background-repeat: no-repeat;background-position: left top;padding-left:18px;}
.CD .Desplegado .Preview .Sombra {background-image:url(../img/SombraS_fdtrans.png);margin-bottom:5px;padding-bottom:15px; background-position:center bottom;background-repeat:no-repeat; text-align:left; width:282px; padding-left:20px;}
.CD .Desplegado .Preview .Left { width:282px;}
.CD .Desplegado .Preview ul {color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:12px;}
.CD .Desplegado .Preview li {line-height:17px;}
.CD .Desplegado .Preview li span.label {color:#666666;display:inline-block;text-align:left;width:142px;}
.CD .Desplegado .Preview li span.dato {color:#000000;display:inline-block;text-align:left;}
.CD .Desplegado .Preview .Boton {float:none;margin-left:auto;margin-right:auto;position:relative;width:85px;}
.CD .Desplegado .Preview .BotonInput  { font-size:12px; height:24px; width:85px;}
.CD .Espacio-8 .Preview {background-color:#FFFBE4;border:1px solid #D3D3D1;margin-top:10px;padding:15px 13px 10px 5px;position:relative;}
.CD .Espacio-8 .Preview .flecha {background-image:url(../img/RBvistaprevia_flecha.gif);background-position:left top;background-repeat:no-repeat;display:block;height:8px;position:absolute;top:-8px;
width:737px;}
.CD .Espacio-6 .Preview {background-color:#FFF;border:1px solid #D3D3D1;margin-top:10px;padding:15px 13px 10px 5px;position:relative;}
.CD .Espacio-6 .Preview .flecha {background-image:url(../img/RBvistaprevia_flechaBasico.gif);background-position:left top;background-repeat:no-repeat;display:block;height:8px;position:absolute;top:-8px;
width:737px;}
.CD .Espacio-7 .Preview,
.CD .Espacio-346709 .Preview,
.CD .Espacio-341178 .Preview
{background-color:#F9F9F9;border:1px solid #D3D3D1;margin-top:10px;padding:15px 13px 10px 5px;position:relative;}
.CD .Espacio-7 .Preview .flecha,
.CD .Espacio-346709 .Preview .flecha,
.CD .Espacio-341178 .Preview .flecha
{background-image:url(../img/RBvistaprevia_flechaDestacado.gif);background-position:left top;background-repeat:no-repeat;display:block;height:8px;position:absolute;top:-8px;width:737px;}
.CD .Herramientas { margin-top:20px;}
.CD .Herramientas .Ver {background-image:url(../img/ico_mapa.gif);background-position:left top;background-repeat:no-repeat;height:30px;line-height:28px;padding-left:40px; font-size:13px;}
.CD .Herramientas .Select { margin-top:5px;}
.CD .float-left
{
	float:left;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}
.CD .negro-bg {color:#008ACE; font-weight:bold;}
.CD .Boton {margin-top: 55px;}
.FiltroModelos .Borde {font-weight:bold; color:#008ACE; text-transform:uppercase; border:0 none;}
.ColModelos li{float:left; width:43px; font-weight:bold; text-decoration: none; color:#323943;}
.ColModelos li.last{width:56px;}
.ColModelos .item-list ul {margin:0; float: right}
.ColModelos .item-list ul li{list-style: none;}
.ColModelos .Borde .Left{font-weight:bold; }
.ColModelos li img{ height: 12px; margin-left: 4px; margin-top: 11px; position: absolute; width: 12px;/*padding-left:5px;*/}
.ColModelos li a{color:#323943;}
.ColModelos li.combustible{width:87px;}
.fondoConcesionaria{background:url(../img/fd_sombra_970.jpg) no-repeat bottom center; padding-bottom:10px; height:165px;}
.fondoConcesionaria .Borde{background:url(../img/fd_concesionaria.jpg)repeat-x bottom left; min-height:160px;}
.fondoConcesionaria .Borde .Logo{background:url(../img/fd_sombra_logo.jpg) no-repeat right center; width:210px; height:160px; overflow:hidden; }
.fondoConcesionaria .Borde .Info{padding-left:20px; width:375px; font-size:12px; padding-top:20px;}
.fondoConcesionaria .Borde .Info h1{font-size:22px; font-weight:bold; margin-bottom:10px; line-height:24px;}
.fondoConcesionaria .Borde .Info h3{font-size:12px;}
.fondoConcesionaria .Borde .formAgencia{background:url(../img/fd_form_agencia.gif) no-repeat left top; min-height:130px; font-size:12px; padding-left:20px;}
.fondoConcesionaria .Borde .formAgencia .input-contactar{width:200px;background-color:#FFFFFF;
border-color:#ADACB1 #E1E8EE #E1E8EE;
border-style:solid;
border-width:1px; }
.fondoConcesionaria .Borde .formAgencia label{width:75px; float:left; display:block; padding-right:10px; text-align:right;}
.fondoConcesionaria .Borde .formAgencia fieldset{padding-bottom:5px;}
.fondoConcesionaria .Borde .formAgencia fieldset.boton{padding-left:85px;}
.fondoConcesionaria .Borde .formAgencia h3{font-size:13px; color:#008ACE; font-weight:bold; margin-bottom:10px;}
.fondoConcesionaria .Borde .formAgencia .boton-naranja {margin-right:0;}

/* Resultado vacio */
#content-area .box .content ul.sin-resultado{background-attachment: scroll; background-color: #D7E6FD; background-image: none; background-position: 0 0; background-repeat: repeat; color: #000; font-size: 14px; padding: 10px; position: relative; text-align: left; margin-top: 20px;}
#content-area .box .content ul.sin-resultado a{color: #000; text-decoration: none;}

/* Formulario de busqueda*/
#search-form{border: 1px solid #D1D0CE; padding: 10px;}
#search-form .form-item label{font-weight: bold; color: #008ACE; border-top: 0 none; float: left; margin-right: 10px; margin-top: 6px; *margin-top: 10px;}
#search-form .form-item #edit-submit{font-size: 12px; color: white; border: none; font-weight: bold; text-align: center; line-height: 26px; font-family: Arial, Helvetica, sans-serif; margin-right: 0px; background: #008ACE; width: 90px; cursor: pointer; height: 28px;}

#orden {width: 296px; }
#orden .item-list ul li {margin: 0px; width: 65px; text-align: center;}
#orden .item-list ul li:last-child img{ margin-left: 13px;}
.cantidadResultados{margin-bottom:10px;}

/* INPUT BUSQUEDA EN RESULTADOS */
.block-search #search-block-form .container-inline{padding-bottom: 12px;top: 12px;}
#block-clasificados_apachesolr-filter_precio .form-submit{float: left; padding-left: 5px; padding-right: 6px;   margin-top: -25px; padding-bottom: 0px; padding-top: 0px; width: 25px; height: 25px; border: 0;}
#block-clasificados_apachesolr-filter_precio #edit-reset.form-submit {margin-top: 5px;}

/* Bloque filtro precios */
#edit-precio-desde-wrapper, #edit-precio-hasta-wrapper{margin-top: -0.9em; margin-bottom: 0.1em;}
.search-results .banner { margin-bottom: 10px;}

.search-results .banner.resultProducto {float: left}

/* Destacados Micrositio */
.section-search .CajaAviso.new {width: 230px; height: 190px;}
.section-search .CajaAviso.new.primera{margin-left: 10px;}
.section-search .CajaAviso.new .AvisoDescripcion {width: 220px; top: 129px;}

/* Ajustes listado CARDS */
.paginado.cards .pager {padding-top: 20px;}
.search-results .CajaAviso {height: 284px; margin-bottom: 10px; margin-top: 0px;}
.search-results .CajaAviso .AvisoDescripcion {padding-top: 0px;}
.search-results .CajaAviso .AvisoDescripcion .precio {font-size: 20px; display: block; margin-bottom: 5px; float: left;}
.search-results .CajaAviso .AvisoDescripcion span.precio_anterior {float: left; font-size: 14px; color: #666;  text-decoration: line-through; margin-top: 5px; margin-left: 11px;}
.search-results .CajaAviso .AvisoDescripcion span.descuento {
  float: right; 
  color: #E11920;
  margin-top: 4px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 4px;
  font-size: 14px;
  background-color: #eee;
  border-radius: 10px;
  padding: 4px;
}
.search-results .CajaAviso .AvisoDescripcion h2,
.search-results .CajaAviso .AvisoDescripcion h3,
.search-results .CajaAviso .AvisoDescripcion h5
 {font-size: 7px; color: #3D3D3D; margin-bottom: 2px; font-weight: normal; line-height: 9px; float: left;}
.search-results .CajaAviso .AvisoDescripcion h2 a {font-size: 14px; font-weight: bold; line-height: 18px; color: #000;}
.search-results .CajaAviso .AvisoDescripcion a.link-tienda {font-size: 14px; line-height: 18px;  margin-top: 5px; margin-bottom: 5px; float: left; width: 100%; color: #666; text-align: center; height: 18px; overflow: hidden;}
.search-results .CajaAviso .AvisoDescripcion .entrega {clear: both; font-size: 14px; color: #666666; height: 18px;}
.search-results .CajaAviso .etiqueta {background-image: url(../img/sprite.png); background-repeat: no-repeat; background-position: 600px 600px; width: 90px; height: 81px; display: block; position: absolute; top: -6px; left: -8px; z-index: 900; overflow: hidden;}
.search-results .CajaAviso .etiqueta.aEstrenar {background-position: -301px -120px;}
.search-results .CajaAviso .etiqueta.imperdible {background-position:0 -119px;}
.search-results .CajaAviso .etiqueta.comoNuevo {background-position:-101px -119px}
.search-results .CajaAviso .etiqueta.unico {background-position:-207px -119px}
.search-results .CajaAviso .etiqueta.categoria {background-position:-301px -224px}

/* PROMO DIA DE LA MADRE FIORANI */
#content  h1.promo-fiorani {color: #E10019; font-weight: bold; font-size: 1.9em; margin-top: 0px; margin-bottom: 10px; text-transform: uppercase;}
.texto-promo-fiorani  {margin-top: 10px; font-size: 1.4em; line-height: 20px;}
.legales-promo-fiorani  {color: #3D3D3D; font-size: 0.8em; margin-top: 10px;}

/* ALOJAMIENTOS */
#block-alojamientos_principal-buscador_alojamientos {
  height: 97px;
  line-height: 97px;
  background-color: #f1f1f1;
}
#edit-buscador-ubicacion-wrapper {top: 17px;}
#block-alojamientos_principal-buscador_alojamientos .container-inline-date .fa,
#block-alojamientos_principal-buscador_alojamientos #edit-buscador-huespedes-wrapper .fa {top: 35px;}
.search-alojamientos .CL {width: 240px; margin-right: 20px;}
.search-alojamientos .CD {width: 720px;}
.search-alojamientos .Header {height: 227px}
#content .search-main h1 {
  font-size: 18px;
  line-height: 22px;
  color: #333;
  margin: 0px;
}
.fl-left {float: left;}
.fl-right {float: right;}
#content .search-main h1.search-title {
  padding-bottom: 25px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  border-bottom: 1px solid #ebebeb;
}
.search-main .search-order {
  padding: 10px 0;
  display: inline-block;
}
.search-main .search-order p {
  font-size: 15px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  line-height: 44px;
  color: #333;
}
.search-main .search-order ul {
  line-height: 40px;
}
.search-main .search-order ul li {
  padding: 0 0 0 15px;
  color: #666;
}
.search-main .search-order ul li:first-child {
  padding-right: 17px;
  border-right: 1px solid #ebebeb;
}
.search-main .search-order ul li a {
  font-size: 15px;
  vertical-align: middle;
  color: #666;
}
.search-main .search-order ul li .fa {
  margin: 0 0 0 7px;
  color: #666;
}
.search-main .search-pagination {
  width: 100%;
  margin: 20px 0 0;
  display: inline-block;
  text-align: center;
  margin-bottom: 25px;
}
.search-main .search-pagination p {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}
.search-main .search-pagination li {
  display: inline-block;
  margin: 0px;
}
.search-main .search-pagination li.pager-current {
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 15px;
  padding: 10px 10px 12px 10px;
}
.search-main .search-pagination li a {
  color: #0089cf;
  font-size: 15px;
}
.region-page-columna-izquierda .mapa-preview {
    margin-bottom: 25px;
}
.region-page-columna-izquierda .mapa-preview .link-ver-mapa {
  font-size: 16px;
  padding: 18px 10px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  color: #fff;
  background: #333;
}
.region-page-columna-izquierda .mapa-preview .link-ver-mapa .fa-expand {
  margin-right: 3px;
  color: #0089cf;
  margin-top: -4px;
  font-size: 22px;
  color: #fff;
  float: right;
}
.region-page-columna-izquierda .filtros-busqueda {
  font-size: 16px;
  padding: 18px 10px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  color: #545454;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.search-alojamientos .block-facetapi, 
.search-alojamientos .block-clasificados_apachesolr, 
.search-alojamientos .block-inmuebles_apachesolr, 
.search-alojamientos .block-autos_apachesolr {
  margin: 0px;
  padding: 15px 10px;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  background-color: #f5f5f5;
}
.search-alojamientos .block-facetapi .title, 
.search-alojamientos .block-clasificados_apachesolr .title, 
.search-alojamientos .block-inmuebles_apachesolr .title, 
.search-alojamientos .block-autos_apachesolr .title {
  margin-bottom: 15px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background: none;
  padding: 0px;
  height: initial;
}
.search-alojamientos .block-facetapi ul li, 
.search-alojamientos .block-clasificados_apachesolr ul li, 
.search-alojamientos .block-inmuebles_apachesolr ul li, 
.search-alojamientos .block-autos_apachesolr ul li {
  margin: 0 0 6px 1px;
}
.search-alojamientos .block-facetapi ul.facetapi-facet-im_valoracion li {height: 17px;}
.search-alojamientos #edit-precio-desde-wrapper,
.search-alojamientos #edit-precio-hasta-wrapper {width: 105px;}
.search-alojamientos #edit-precio-desde-wrapper .form-text, 
.search-alojamientos #edit-precio-hasta-wrapper .form-text {width: 85px;}
.search-alojamientos #block-clasificados_apachesolr-filter_precio .form-submit {margin-top: -3px;}
.search-alojamientos #block-clasificados_apachesolr-filter_precio #edit-reset.form-submit {margin-top: -3px; margin-left: 10px;}

.fivestar-widget-static-vote {float: left; margin-right: 5px;}
.search-alojamientos .search-item:before, .search-main .search-item:after {
  display: table;
  content: '';
}
.search-alojamientos .search-item:after {clear: both;}
.search-alojamientos .search-item {
  margin-bottom: 35px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.search-alojamientos .search-item img {float: left; }
.search-alojamientos .search-item .sc-item-content {
  width: 56%;
  padding: 15px 20px;
}
.search-alojamientos .search-item .sc-it-left {width: 63.5%;}
.search-alojamientos .search-item .sc-it-right {text-align: center;}
.search-alojamientos .search-item .value {
  width: 100%;
  margin-top: 17px;
  padding-top: 12px;
  display: inline-block;
  clear: both;
  border-top: 1px solid #e1e1e1;
}
.search-alojamientos .search-item h4 {
  font-size: 18px;
  line-height: 22px;
  color: #333;
  font-family: 'OpenSansLight', Arial, sans-serif;
}
.search-alojamientos .search-item p,
.search-alojamientos .search-item h2,
.search-alojamientos .search-item h3,
.search-alojamientos .search-item h5 {
  line-height: 140%;
  margin-top: 15px;
  font-family: 'OpenSansLight', Arial, sans-serif;
  font-size: 13px;
  color: #666;
}
.search-alojamientos .search-item .fa-map-marker {
  font-size: 22px;
  color: #666;
  margin-right: 3px;
}
.search-alojamientos .search-item .sc-it-right h6.price {
  margin-top: 13px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 30px;
  color: #666;
  height: 24px;
}
.search-alojamientos .search-item .sc-it-right h5 {
  font-size: 20px;
  text-decoration: line-through;
  color: #ccc;
}
.search-alojamientos .search-item .sc-it-right .sc-desc {
  color: #999;
  margin-top: 0;
}
.search-alojamientos .search-item .btn-primary {
  border-radius: 5px;
  color: #fff;
  background-color: #0089cf;
  margin-top: 15px;
  padding: 9px 13px;
  display: inline-block;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
.search-alojamientos .search-item .value p {
  color: #999;
  margin: 0;
}
.search-alojamientos .search-item .value .rating {
  margin: 0 10px;
  line-height: 100%;
  margin-top: 4px;
}
.search-alojamientos .search-item .value .fa {
  color: #0089cf;
  margin: 0 1px;
  font-size: 12px;
}
.search-alojamientos .banner {
  margin-left: 33px;
  margin-bottom: 35px;
}
.search-alojamientos #dfp-rectangle_1_parent {
  margin-left: -60px;
}

/* Mapa Busqueda */
#box-map-big {width: 97%; height: 92%; position: absolute; top: 14px; left: 14px; z-index: 10000; display: none;}
.search-alojamientos .lista-mapa-grande {
  border: 6px solid #666;
  border-radius: 5px;
}
.search-alojamientos .cerra-map-big {
  position: absolute;
  color: #000;
  top: -6px;
  right: -19px;
  z-index: 9999;
  background-image: url(../img/alojamiento/cerrar-72.png);
  width: 24px;
  height: 24px;
}
.section-search .region-page-columna-izquierda .lista-mapa-grande h4 {
  font-family: 'OpenSansLight', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  background: none;
}
.section-search .region-page-columna-izquierda .lista-mapa-grande p.extra-mapa {
  color: #999;
  font-size: 13px;
}
.section-search .region-page-columna-izquierda .lista-mapa-grande .precio-mapa {
  position: absolute;
  top: 162px;
  color: #333;
  background-color: #FFF;
  padding: 5px;
  width: 85px;
  height: 39px;
  text-align: center;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.section-search .region-page-columna-izquierda .lista-mapa-grande .precio-mapa h5 {
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

/* MODAL BIENVENIDA */
#modal_bienvenida_buscador .modal-title {
  padding: 37px;
  font-family: 'OpenSansLight', Arial, sans-serif;
  text-align: center;
  background: #0089cf;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  line-height: 100%;
}
#modal_bienvenida_buscador .modal-content {
  padding: 50px 100px;
  text-align: center;
}
#modal_bienvenida_buscador .modal-content p {
  margin: 20px 0;
  margin: 20px 0;
  padding: 20px 0;
  font-size: 20px;
  line-height: 23px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.Espacio-1009 a.link-search-contacto {
  top: 105px;
}
a.link-search-contacto, #modal-contactar-buscador .form-submit {
  text-transform: capitalize;
  
  background: none repeat scroll 0 0 #A92319;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  margin-right: -78px;
  text-align: center;
  margin-left: auto;
  
  border-radius: 1px;
  margin-top: 33px;
}
#modal-contactar-buscador .form-submit {
  margin-top: 10px;
  font-size: 15px;
  width: 110px;
  padding-bottom: 5px;
  padding-top: 5px;
}
a.link-search-contacto {
  position: absolute;
  right: 86px;
  top: 70px;
  display: inline-block;
  font-size: 12px;
  width: 75px;
  padding-bottom: 3px;
  padding-top: 3px;
  border-radius: 4px;
}
a.link-search-contacto.search-producto {
  position: relative;
  right: 0;
  float: right;
  top: 0;
  margin: 0px;
  margin-top: 5px;
}

.Espacio-1009 a.link-search-contacto {margin-top: 0px;}

#modal-contactar-buscador .contacto-header {
  clear: both;
  color: #666666;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
  text-align: center;
}
#modal-contactar-buscador .contacto-header #contacto-titulo {
  font-weight: 100;
}
#modal-contactar-buscador .form-text, #modal-contactar-buscador .form-textarea {
  font-size: 13px;
  border-radius: 3px;
  border: solid 1px #e5e5e5;
  margin: 0;
  box-shadow: none;
  height: 25px;
  padding: 0 10px;
  width: 280px;
}
#modal-contactar-buscador .form-textarea {
  height: initial;
}

