@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	}
p{
	/*font-size: 11px;
	line-height: 14px;*/
	}
h1 {
	font-size: 20px;
	color:#333;
	font-weight: bold;
	}
	h1 span{
	font-size: 20px;
	color: #F7841F;
	font-weight: bold;
	}
h1 span.doce {
	font-size: 12px;
	color:#333;
	}
h2 {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	line-height: 18px;
	position:relative;
	}
h2 span{
	color: #F00;
	}
h3 {
	font-size: 13px;
	color: #333;
	font-weight: bold;
	}
h3 span{
	font-size: 13px;
	color: #F7841F;
	font-weight: bold;
	}
.small {
	font-size: 10px;
	color: #999;
	font-weight: normal;
	margin: 0px;
	padding:0px; line-height: 14px;}
h4 {	
	font-size: 12px;
	color: #333;
	font-weight: bold;}
h5, h5 a {
	font-size: 13px;
	color: #F7841F;
	font-weight: bold;}
h6, h6 a {
	font-size: 11px;
	color:#666;
	line-height: 14px;
	}
a {
	text-decoration: none;
	color: #333;
	/*position: relative;*/
	}
a:hover {
	text-decoration: none;
	color: #333;
	}
ul {
/*padding-left: 10px;	*/}
li {
	/*list-style-image: url(img/li.gif);*/
	}
ul.no-img li {
	list-style:none;
	list-style-image: none;
	margin: 0px;
	padding: 0px;}


.top-menu li a, .menu-noticias li, .menu-noticias li a{
	font-size: 13px;
	font-weight: bold;
	color:#333;
	line-height: 50px!important;
	line-height: 40px;
	text-align: center;
	}
.negro-bg {
	background: #333;
	color: #FFF;
	}
.gris-bg {
	background: #d3d3d3;
	color: #333;
	}
.grisclaro-bg {
	background: #f1f1f1;
	color: #333;
	}
.info p {
	font-size: 12px;
	line-height: 16px;
	padding-top: 8px;
	color: #333;}

.info {
	
	padding-bottom:15px;
	
	}
	
	
	
.info p strong{

	color: #000;}

/*forms*/
.select, .input, .input-contactar, .textarea-contactar {
	font-size: 12px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	}
.select-negro, .select-negro1,.select-negro2, .select-filtro, .select-negro_conse {
	font-size: 15px;
	font-weight: normal;

}
.btn-rojo {
	font-size: 11px;
	color:#FFF;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 26px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	}
.btn-rojo2 {
	font-size: 10px;
	color:#FFF;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 11px;
	padding-top: 3px;
	}
.btn-naranja {
	font-size: 11px;
	color:#FFF;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	}
.btn-negro {
		font-size: 10px;
	color:#FFF;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	line-height: 14px;
	}
/*commons*/
.lh-13 {
	line-height: 13px;
	}
.upc{
	text-transform: uppercase;
	}
.strong {
	font-weight: bold;}
	
/*pagina de ayuda*/
p.help_link { color:#333333;font-family: Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;}
p.help_link a:hover { text-decoration:none; color:#FF870F}
/*.ayuda .info { width:808px;}*/
.ayuda div.Title h2 { font-family:arial;font-weight:bold; color:#111; font-size:24px}
.ayuda .box_links { width:780px; height:60px; border:1px solid #E0E0E0; margin-top:10px; padding:13px;background-image:url("../img/Sombra_Caja.jpg");}
.ayuda .box_links .left { float:left; border-right:1px solid #E0E0E0; width:235px;}
.ayuda .box_links .middle { float:left; border-right:1px solid #E0E0E0; width:255px; margin-left:30px; margin-right:30px;}
.ayuda .box_links .right { float:left}
.ayuda .box_links h3 { margin-bottom:4px; font-size:14px; color:#333; font-weight:bold}
.ayuda .box_links h4 a { font-size:13px; color:#555; font-weight:normal}
.ayuda .box_links h4 a:hover { text-decoration:none; color:#FF870F}
.ayuda .pregunta {background-position:center 20px;
background-repeat:no-repeat;
border-bottom:1px solid #E0E0E0;
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:16px;
font-weight:bold;
height:26px;
margin-top:15px;
margin-bottom:0;}
.borde .pregunta {background-position:center 20px;
background-repeat:no-repeat;
border-bottom:1px solid #E0E0E0;
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:16px;
font-weight:bold;
height:26px;
margin-top:15px;
margin-bottom:10px;}
.ayuda .pregunta h2 {height:25px;color:#333333;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:16px;font-weight:bold;margin-top:15px}
.ayuda .texto p { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#222; padding:0}
.ayuda .texto p a { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#222; padding:0}
.ayuda .texto h4 {color:#FF870F;font-family: Arial, Helvetica, sans-serif;font-size:15px;font-style: italic; font-weight:bold; padding-top:13px;}
.ayuda .texto h4 a {color:#FF870F}
.ayuda .busqueda_left { border:1px solid #CCCCCC;clear:both;float:left;margin-bottom:10px;width:320px;height:197px;}
.ayuda .busqueda_right { float:right; width:320px;border:1px solid #CCCCCC; margin-bottom:10px;height:197px;}
.content_avisos { height:575px;}
.bg_avisos { background-image: url(/img/publicar/bg_content_avisos.gif);background-repeat: no-repeat; height:395px;}
.content_avisos .left {	float:left;	width:282px;padding-left:17px;padding-top:8px; padding-right:8px; background-image: url(/img/publicar/divisor.gif);background-repeat: no-repeat;background-position: right top; height:210px; position:relative; margin-top:12px;}
.content_avisos .middle {float:left;width:282px;padding-left:14px;padding-top:8px; padding-right:9px; background-image: url(/img/publicar/divisor.gif);background-repeat: no-repeat;background-position: right top; height:210px; position:relative; margin-top:12px;}
.content_avisos .right { float:left; padding-top:8px; height:210px; padding-left:14px; position:relative; margin-top:12px;}
.content_avisos h1 { font-size:22px; color:#222; font-family:Arial, Helvetica, sans-serif}
.content_avisos ul { margin-top:15px; margin-left:6px;}
.content_avisos li {color:#444;	font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height: 140%;list-style-position: outside;	list-style-image: url(/img/publicar/ico_li.gif);}
.content_avisos .ver_ejemplo { position:absolute; bottom:0}
.busqueda_left .Linea {background:none repeat scroll 0 0 #DDDDDD;font-size:0;height:7px;line-height:0;padding-left:7px;}
.busqueda_right .Linea {background:none repeat scroll 0 0 #DDDDDD;font-size:0;height:7px;line-height:0;padding-left:7px;}
.busqueda_left .Linea .Blanco {background:none repeat scroll 0 0 #FFFFFF;display:block;font-size:0;height:7px;line-height:0;width:3px;}
.busqueda_right .Linea .Blanco {background:none repeat scroll 0 0 #FFFFFF;display:block;font-size:0;height:7px;line-height:0;width:3px;}
.busqueda_left .texto {padding:10px;}
.busqueda_right .texto {padding:5px 10px 10px;}

/* FAQ */
.ContactoAutos {
  margin-left: 15px;
}
.Contenido .Columnas .CD .Content {margin-bottom: 25px;}
.info {padding-bottom: 0px;}
/*.borde {padding: 20px 20px 0;}*/

.pregunta2 {
    background: url("../img/ayuda/ico_close.gif") no-repeat scroll left top #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 20px;
}
.opened {
  background: #ffffff url(../img/ayuda/ico_down.gif) no-repeat left top;
}
.closed {
  background: #ffffff url(../img/ayuda/ico_close.gif) no-repeat left top;
}
.busqueda_left .pregunta2, .busqueda_right .pregunta2 {
  padding-left: 25px;
  background-position: 5px 0px;
}
