@charset "utf-8";
/* CSS Document */

.top {
	float: right;
	height: 25px;
	margin-left: 5px;
	background-color: #e1e1e1;
	padding: 5px 5px 0px 5px;
	}
.header {
	height: 60px;
	clear: both;
	}
.logo {
	height: 89px;
	width: 289px;
	float: left;
	margin-top:-33px;
	margin-left:10px;
	}
.main-module {
	margin-bottom: 10px;
	}
.blanco {
	background: #FFF;
/*padding: 10px;*/
	}
.main-module-content{
	padding-left: 300px;
	}
.con-pestania{
	}
.pestania {
	background: url(../img/pestania.png) no-repeat;
	width: 89px;
	height: 20px;
	padding: 0px 10px;
	}
.pestania2 {
	background: url(../img/pestania2.png) no-repeat;
	width: 215px;
	height: 20px;
	padding: 0px 10px;
	}
.flecha {
	background: url(../img/flecha_btn.gif) left top no-repeat;
	height:30px;
	margin-top: -5px;
	position: absolute;
	z-index: 99;
	padding-left: 30px;
	}
.columns {
	width: 990px;
	margin: 0 auto;
	}
	
.columns1 {
	width: 990px;
	padding-top: 10px; 
	margin: 0 auto;
	}	
.main-column {
	width: 680px;
	float: left;
	margin-right: 10px;
	}
.main-column_1 {
	width: 680px;
	float: left;
	padding-top:10px;
	margin-right: 10px;
	}	

.widthFix {
	/*width: 55.5em;*/
	_width: 55.9595em;
	}
.right-column {
	width: 300px;
	float: right;
	}
/*.right-column {
	width: 250px;
	float: right;
	}*/
.main-module-header{
	background: url(../img/right_module_bg.png) no-repeat;
	}
.destacado {
	border-bottom: 1px solid #ccc;
	/*background: #F0F0F0;*/
	}
.destacado img {
	/*border: 3px solid #ccc;*/
	}
.noticia {
	width: 153px;
	height: 285px;
	float: left;
	}

.noticia h3 a:hover {
	color: #000;}
.destacado-top {
	width:305px;
	}
.destacado-top img {
	border: 3px solid #333;
	clear: left;
	margin-right: 3px;
	}
.module-lista{	}
.module-lista img {
	/*border: 3px solid #333;*/
	margin-right: 3px;
	}
.module-lista.bg-gris {
	background: #FFFFD9;}
.mapa {
	}
.mapa ul {
	margin-left: 12px;
	}
	.mapa ul li {
		list-style-image: url(../img/li_mapa.gif);
		}
		.mapa ul li.ext{
		list-style-image: url(../img/li_mapa2.gif);}
	.mapa ul li a:hover{
		background-color: #e3e3e3; padding: 0px 3px;}
		ul.no-img li a:hover{
		}

#avanzada {
	display: none;}

/*menu*/	
.top-menu {
	float: right;
	height: 40px;
	/*width: 460px;*/
	width: 414px;
	background: url(../img/menu_bg.png);
	padding: 0px;
	}
.top-menu ul {
	margin: 0px;
	padding: 0px;
	}
.top-menu ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	/*width: 92px;*/
	width: 103px;
	height: 40px;
	display: block;
	float: left;
	}

.top-menu li a{
	/*width: 72px;*/
	width: 83px;
	height: 40px;
	padding: 0px 10px;
	float: left;
	display: block;
	}
.top-menu ul li a:hover {
	background: url(../img/menu_bg_over.gif);
	/*width: 72px;*/
	width: 83px;
	height: 40px;
	padding: 0px 10px;
	float: left;
	display: block;
	}
.top-menu ul li .active {
	background: url(../img/menu_bg_active.png);
	}
.top-menu ul li a.active , .top-menu ul li a:hover.active  {
	background: url(../img/menu_bg_active.png);
	cursor: default;
	}
/*Menu-noticias*/
.menu-noticias{
	margin: 0px;
	padding: 0px;
	height: 40px;
	}
.menu-noticias ul{
	margin: 0px;
	padding: 0px;
	height: 40px;
	}
.menu-noticias li {
	background: url(../img/menu_noticias_l.png) top left no-repeat;
	padding-left: 20px;
	list-style: none;
	height: 40px;
	float:left;
	display: inline;
	}
.menu-noticias li a {
	background: url(../img/menu_noticias_r.png) top right no-repeat;
	height: 40px;
	list-style: none;
	float:left;
	padding-right: 20px;
	}
.menu-noticias li a.active{
	background: url(../img/menu_noticias_active_r.png) top right no-repeat;
	margin-left: -20px;
	padding-left: 20px;
	}
.menu-noticias li a.active img{
	float: left;
	margin-left: -20px;
	
	}
	
/*footer*/
#footer {
	clear: both;
	height: 47px;
	background: url(../img/pie/pie_cuerpo.gif) repeat-x;
	margin: 0px
}
#footer h3 {
	float: left;
	background: url(../img/pie/pie_left.gif) no-repeat;
	padding: 13px 8px 5px 15px;
	font-size: 9px;
	font-weight: normal;
}
#footer ul {
	background: url(../img/pie/pie_sep_1.gif) no-repeat 0 16px;
	list-style: none;
	float: left;
}
#footer ul li {
	float: left;
	margin-top: 20px;
	padding: 1px 9px 9px 9px;
	list-style: none;
	list-style-image: none;
	background: url(../img/pie/pie_sep_2.gif) no-repeat;
}
#footer ul li.first {
	background: none;
}
#footer ul li a {
	font: 10px/11px Tahoma, Arial, Helvetica, sans-serif;
	color: #afafaf;
	text-decoration: none;
}
#footer ul li img.soft {margin-left: 115px;}
#footer ul li a:hover {
	text-decoration: underline;
}
#footer ul.logos {
	background: url(../img/pie/pie_right.gif) no-repeat top right;
	float: right;
}
#footer ul.logos li {
	float: left;
	margin-top: 16px;
	padding: 1px 11px 6px 11px;
	background: url(../img/pie/pie_sep_1.gif) no-repeat;
}
#footer ul.logos li a {
	display: block;
	height: 24px
}
#footer ul.logos li.rss a {
	background: url(../img/pie/logo_rss.gif) no-repeat;
	width: 16px;
}

#footer ul.logos li.rss a:HOVER {
	background: url(../img/pie/logo_rss.gif) no-repeat;
	text-decoration: underline;
	width: 16px;
}

#footer ul.logos li.certifica a {
	background: url(../img/pie/logo_certifica.gif) no-repeat;
	width: 102px;
}

#footer ul.logos li.certifica a:HOVER {
	background: url(../img/pie/logo_certifica.gif) no-repeat;
	text-decoration: underline;
	width: 102px;
}

#footer ul.logos li.bureau a {
	background: url(../img/pie/logo_bureau.gif) no-repeat;
	width: 76px;
}

#footer ul.logos li.bureau a:HOVER {
	background: url(../img/pie/logo_bureau.gif) no-repeat;
	text-decoration: underline;
	width: 76px;
}

#footer ul.logos li.cuatro a {
	background: url(../img/pie/logo_451.gif) no-repeat;
	width: 46px;
	margin-right: 5px;
}

#footer ul.logos li.cuatro a:HOVER {
	background: url(../img/pie/logo_451.gif) no-repeat;
	text-decoration: underline;
	width: 46px;
	margin-right: 5px;
}

#footer ul.logos li a span {
	display: none;
}
#footer p {
	clear: left;
	text-align: center;
	color: #b2b2b2;
	padding: 15px;
}
	
/*formularios*/
.input {

	background: #FFF;
	border: none;
	padding: 2px 3px;
	}
.input-contactar {
	background: #e1e1e1;
	border:1px solid #CCC;

	}
.textarea-contactar {
	background: #e1e1e1;
	border:1px solid #CCC;
		width: 600px;
		height: 80px;
	}
.select {

	background: #FFF;
	border: none;
	padding: 1px 3px;

	}
.btn-flecha {
	background: url(../img/flechita.gif);
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	}
.select-negro {
	width: 260px;
	padding: 2px 3px;
	border: none;
	/*margin: 5px 0px 0px 0px;*/
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}


.select-negro1 {
	width: 207px;
	margin-left: 5px;
	padding: 2px 3px;
	background: #333;
	border: none;
	/*margin: 5px 0px 0px 0px;*/
}




.select-negro_conse {
	width: 213px;
	padding: 2px 3px;
	background: #333;
	border: none;
	margin: 5px 0px 0px 0px;
}



.select-negro2 {
	padding: 2px 3px;
	border: none;
	/*margin: 5px 0px 0px 0px;*/
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.select-filtro {
	width: 60px;
	padding: 2px 3px;
	background: #333;
	border: none;
}
.btn-rojo {
	background: url(../img/btn_rojo.png);
	width: 143px;
	height: 26px;
	border: none;
	cursor: pointer;
	margin: 5px 0px 0px 0px;
	}
.btn-rojo2{
	background: url(../img/btn_rojo.png);
	height: 23px;
	border: none;
	cursor: pointer;
	margin: 5px auto 0px auto;
	padding-top: 4px;
	width: 143px;
	}
.btn-naranja {
	background: url(../img/btn_naranja.gif);
	width: 97px;
	height: 20px;
	border: none;
	cursor: pointer;
	}
.btn-negro {
	width: 73px;
	height: 14px;
	border: none;
	cursor: pointer;
	background: url(../img/bg_btn_negro.png) center no-repeat;
	margin-top: 10px;
	}
	
	
	/*scrollable*/

/*ESTO ES LO NUEVO*/

div.scrollable {
	float:left;	
}


a.prev, a.next, a.prevPage, a.nextPage {
	display:block;
	width:28px;
	height:28px;
	margin:0px 0px;
	cursor:pointer;
	font-size:1px;
}
a.prev {
	float: left;
	margin-left: -35px !important;
	margin-left: -18px;
	top: 40px;
	background: url(../img/flecha_noticias_l.png) no-repeat;
	}
	
a.next {
	float: right; 
	margin-right: -31px!important;
		margin-right: -18px;
	top: 40px;
	background: url(../img/flecha_noticias_r.png) no-repeat;
	}


a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
	background-position:0px 0px;
}


a.disabled {
	visibility:hidden !important;		
}




a.next, a.nextPage {

	clear:right;	
}

/*ESTO ES LO NUEVO*/

/*scrollable*/

div.scrollable {
	position:relative;
	overflow:hidden;	 	
	width: 607px;	
	height:275px;	
}
div.scrollable div.items {	
	width:20000em;	
	position:absolute;
	clear:both;
}
div.scrollable div.items div {
	float:left;
	}

div.scrollable div.items div.active {
	background-color: #FFC;
}

/*commons*/

.clear {
	clear: both;
	}
.clear0 {
	clear: both;
	line-height: 0px;
	font-size: 0px;
	height: 0px;
	}
.hr {
	height: 1px;
	line-height: 1px;
	border-bottom: 1px solid #CCC;
	width: auto;
	}
.float-left {
	float: left;
	
	}
.float-left1 {
	float: left;
	margin-right: 20px;
	}	
	
.float-right {
	float: right;
	}
.padding5{
	padding: 5px;
	}
	.padding05{
	padding: 0px 5px;
	}
	.padding50{
	padding: 5px 0px;
	}
.padding10{
	padding: 10px;
	}
	
.padding10bis{
	padding: 5px;
	text-align:center;
	}	
.padding-l-5{
	padding-left: 5px;
	}
.padding-l-10
{
	padding-left: 10px; important!
    padding-left: 5px;
	}
.padding-t-10{
	padding-top: 10px;
	}
	
.padding-t-10bis{
	
	}	
.margin-t-5{
	margin-top: 5px;
	}
.padding-r-15{
	padding-right: 15px;
	}
padding-r-5{
	padding-right: 5px;
	}
.padding-b-30{
	padding-bottom: 30px;
	}
.padding-b-10{
	padding-bottom: 10px;
	}
	
.margin10 {
margin: 10px;
}
.margin-b-10{
	margin-bottom: 10px;
	}
.margin-t-20{
	margin-top: 20px !important;
	margin-top: 21px;
	}
.margin-t-10{
	margin-top: 10px;
	}
.margin-l-10{
	margin-left: 10px;
	}
.margin-r-10{
	margin-right: 10px;
	}
.margin-r-5{
	margin-right: 5px;
	}
.margin-center {
	margin: 0px auto;}
.border1 {
	border: 1px solid #D1D0CE;}
.border-bottom {
	border-bottom: 1px solid #D1D0CE;}
.border-right {
	border-right: 1px solid #D1D0CE;}
.center {
	text-align: center;
	}
.w970 {
	width: 970px;
	margin: 0 auto;
	margin-bottom: 10px;
	}
	
.w720 {
	width: 670px;
	}
.w600 {
	width: 600px;
	}	
	
.w710 {
	width: 660px;
	}
.w690 {
	width: 650px;
	}
.w690_print {
	width: 690px;
	}
.w680 {
	width: 670px;
	}	
	
.w570 {
	width: 570px;
	}
.w640 {
	width: 640px;
	height: 77px;
	}	
	
.w517 {
	width: 517px;
	}	
	
.w570b {
	width: 520px;
	}
.w590 {
	width: 590px;
	}
.w350 {
	width: 350px;
	}
.w340 {
	width: 315px;
	}
.w330 {
	width: 280px;
	}
.w330b {
	width: 330px;
	}
.w370 {
	width: 370px;
	}
.w200 {
	width: 200px;}
.w225 {
	width: 180px;}
.w225b {
	width: 270px;}
.w226 {
	width:226px;
}
.w660 {
	width: 660px;
	}

.w270 {
	width: 270px;}
.w164{
	width: 164px;
	}
.w90{
	width: 90px;
	}
.w70{
	width: 64px;
	}
.w950 {
width: 950px;}
.h50{
	height: 50px;
	}
	
.h20{
	height: 20px;
	}
.p-relative {
	position: relative;
	}
table td {
	vertical-align: top;
	}
/* Added by OMRAD*/
.h177
{
    height:177px;
    }
    
.publish_content
{
    width: 150px;
    float:left;
    padding: 1px;
    margin: 3px 6px;
    _margin:3px 4px;
    }
    
.h70{
    height:70px;
    }
    
.h110{
    height:110px;
    }

.padding-10
{
    padding: 10px;
    }
    
.banner_content embed,  .banner_content object
{
	margin-bottom: 10px;
	}
	
.muni {
width:50px;
height:100px;
float:left;
margin-right:20px;
}
.margin-b-05{
margin-bottom:5px;
}	
.module-lista-d{background-color:#F7E4D1; border-bottom:1px #FFFFFF solid; padding:3px; display:inline-block;border-top: 3px #F7E4D1 solid;}	
.blanco-bg{background-color:#FFFFFF;}
.module-lista-d img.bordeimg{	border: 3px solid #FFF;
	margin-right: 3px;}
.module-lista-d	.margenes{margin:5px;}
.module-lista-d .premium{font-weight:bold; color:#000000;}
.module-lista-d .w435{width:435px;}
.module-lista-d .icono{width:24px; }
.module-lista-d .icono img{border:#F7E4D1;margin:5px;}
#ColumnasABCTop .ColumnaABC {
background-image:url("../img/sombra_970.jpg");
background-position:100% 42px;
background-repeat:no-repeat;
height:61px;
width:950px;
}
.borde { }
