.sf-navbar{position:relative;}
.sf-navbar li{/*height:30px;*/position:static;}
.sf-navbar a{border-top:none;font-size:12px;font-weight:bold;color:#ffffff; }
.sf-navbar li ul{/*width:117em; background:#EDEDED;*/width:970px;}
.sf-navbar li li{/*background:#D6D6D6;*/position:relative;}
.sf-navbar li li ul{width:13em;}
.sf-navbar li li li{width:100%;}
.sf-navbar ul li{width:auto;float:left;/*height:21px;*/line-height:19px;}
.sf-navbar a, .sf-navbar a:visited{border:none;/*padding:6px 14px;*/padding:6px 10px; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.sf-navbar li.current{/*background:#FFFFFF;*/}
.sf-navbar li.current a{background:#FFFFFF;}
/*.sf-navbar li:hover, .sf-navbar li.sfHover, .sf-navbar li li.current, .sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active{background:#FFFFFF;}*/
.sf-navbar ul li:hover, .sf-navbar ul li.sfHover, ul.sf-navbar ul li:hover li, ul.sf-navbar ul li.sfHover li, .sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active{/*background:#D6D6D6;*/padding-bottom:0px;text-decoration:none;}
ul.sf-navbar li li li:hover, ul.sf-navbar li li li.sfHover, .sf-navbar li li.current li.current, .sf-navbar ul li li a:focus, .sf-navbar ul li li a:hover, .sf-navbar ul li li a:active{/*background:#FFFFFF;*/text-decoration:none;}
ul.sf-navbar .current ul, ul.sf-navbar ul li:hover ul, ul.sf-navbar ul li.sfHover ul{top:30px; padding:5px 14px;}
ul.sf-navbar .current ul ul{top:-999em;}
.sf-navbar li li.current > a{font-weight:bold;}
.sf-navbar ul .sf-sub-indicator{background-position:-10px -100px;}
.sf-navbar ul a > .sf-sub-indicator{background-position:0 -100px;}
.sf-navbar ul a:focus > .sf-sub-indicator, .sf-navbar ul a:hover > .sf-sub-indicator, .sf-navbar ul a:active > .sf-sub-indicator, .sf-navbar ul li:hover > a > .sf-sub-indicator, .sf-navbar ul li.sfHover > a > .sf-sub-indicator{background-position:-10px -100px;}
.sf-navbar > li > ul{/*background:#EDEDED;*/padding:0;-moz-border-radius-bottomleft:0;-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:0;}
.sf-navbar li.comunidades{padding-left:40px;_padding-left:20px;}
.sf-navbar li li.last{position:relative;margin-right:10px;}
.sf-navbar li li.last a:hover{background:url("../img/Hd/fd_puntaGris.gif") no-repeat scroll right 0 #D6D6D6;position:relative;}
.sf-navbar li li.taxo{/*background:#EDEDED;*/position:relative; float:right;}
.sf-navbar li li.taxo a{font-weight:normal;}
.sf-navbar li li.taxo a:hover{/*background:#EDEDED;*/}
/*.sf-navbar li#menuNoticias a:hover, .sf-navbar li#menuNoticias a:active{color:#E10303;}
.sf-navbar li#menuCiudadanos a:hover, .sf-navbar li#menuCiudadanos a:active{color:#943139;}
.sf-navbar li#menuOpinion a:hover, .sf-navbar li#menuOpinion a:active {color:#073E8E;}
.sf-navbar li#menuMundoD a:hover, .sf-navbar .current li#menuMundoD a, .sf-navbar li#menuMundoD a:active{color:#859800;}

.sf-navbar li#menuVos a:hover{color:#E15C03;}*/
.sf-navbar li#menuComunidades a:hover,.sf-navbar li#menuUsuarios a:hover{color:#3A81EB;}
.sf-navbar li.comunidades a,.sf-navbar li.usuarios a{font-weight:normal;}

.HdComunidad .sf-menu li.current a,.HdComunidad .sf-navbar li.current a .HdComunidad  li.current a:visited, .HdComunidad  li.current a:selected{color:#3A81EB;}
